Repository elastic/security-docs, pull requests merged in 2021-06, with the labels that each got.

#724 [DOCS] Add beta admonition to docs about Elastic Agent and Fleet
  docs/getting-started/install-endpoint.asciidoc
Labels: TEAM:Docs, v7.13.0

#740 [7.13] Added beta tag to top of topic. (#724)
  docs/getting-started/install-endpoint.asciidoc
Labels: backport, v7.13.0

#739 [7.x] Added beta tag to top of topic. (#724)
  docs/getting-started/install-endpoint.asciidoc
Labels: backport, v8.0.0

#744 [BUG] Agent status field missing in host details in a flyout panel in elastic guide
  docs/management/admin/images/host-flyout.png
Labels: TEAM:Docs, bug, v7.14.0

#754 [7.13] Updating outdated host flyout screenshot. (#744)
  docs/management/admin/images/host-flyout.png
Labels: TEAM:Docs, backport, bug, v7.13.0

#753 [7.x] Updating outdated host flyout screenshot. (#744)
  docs/management/admin/images/host-flyout.png
Labels: TEAM:Docs, backport, bug, v8.0.0

#743 [BUG] Screenshot for the Agent status on the Policy tab should be updated
  docs/management/admin/images/integration-pg.png
Labels: TEAM:Docs, bug, v7.14.0

#756 [7.13] Updating outdated image. (#743)
  docs/management/admin/images/integration-pg.png
Labels: TEAM:Docs, backport, bug, v7.13.0

#755 [7.x] Updating outdated image. (#743)
  docs/management/admin/images/integration-pg.png
Labels: TEAM:Docs, backport, bug, v8.0.0

#745 [BUG] Microsoft Teams actions Information is missing in Actions
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/images/available-action-types.png
  docs/detections/rules-ui-create.asciidoc
Labels: TEAM:Docs, bug, v7.14.0

#759 [7.x] [BUG] Microsoft Teams actions Information is missing in Actions (#745)
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/images/available-action-types.png
  docs/detections/rules-ui-create.asciidoc
Labels: TEAM:Docs, backport, bug, v7.13.0

#760 [7.13] [BUG] Microsoft Teams actions Information is missing in Actions (#745)
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/images/available-action-types.png
  docs/detections/rules-ui-create.asciidoc
Labels: TEAM:Docs, backport, bug, v7.13.0

#757 [BUG] Missing Alert Case Sync Functionality in Elastic Guide
  docs/cases/cases-overview.asciidoc
Labels: TEAM:Docs, bug, v7.14.0

#762 [7.13] Adding a step to the Open a new case section. (#757)
  docs/cases/cases-overview.asciidoc
Labels: TEAM:Docs, backport, bug, v7.13.0

#761 [7.x] Adding a step to the Open a new case section. (#757)
  docs/cases/cases-overview.asciidoc
Labels: TEAM:Docs, backport, bug, v7.13.0

#765 [BUG] Add #102146 to the 7.13.2 RN as a known issue
  docs/release-notes.asciidoc
Labels: TEAM:Docs, bug, release-notes, v7.13.2

#767 [7.x] [BUG] Add #102146 to the 7.13.2 RN as a known issue (#765)
  docs/release-notes.asciidoc
Labels: TEAM:Docs, backport, release-notes, v8.0.0

#768 [7.13] [BUG] Add #102146 to the 7.13.2 RN as a known issue (#765)
  docs/release-notes.asciidoc
Labels: TEAM:Docs, backport, release-notes, v7.13.2

#766 [detection-rules] Add 7.13 auto-generated rule files
  prebuilt-rules-scripts/diff-files/final-files/final-rule-file-7.13.0.json
  prebuilt-rules-scripts/diff-files/gen-files/json-from-docs-7.13.0.json
  prebuilt-rules-scripts/orig-rules-json-files/7.13.0-prebuilt-rule.json
Labels: v7.13.0

#769 Add docs for 0.13.1 fleet rules package
  docs/detections/detections-index.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-anomalous-process-for-a-linux-population.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-anomalous-process-for-a-windows-population.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-anomalous-windows-process-creation.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-apple-script-execution-followed-by-network-connection.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-attempts-to-brute-force-a-microsoft-365-user-account.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-attempts-to-brute-force-an-okta-user-account.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-aws-ec2-vm-export-failure.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-command-prompt-network-connection.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-component-object-model-hijacking.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-connection-to-external-network-via-telnet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-connection-to-internal-network-via-telnet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-dns-activity-to-the-internet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-high-number-of-okta-user-password-reset-or-unlock-attempts.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-macos-installer-spawns-network-event.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-modification-of-amsienable-registry-key.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-network-connection-via-certutil.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-network-connection-via-compiled-html-file.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-network-connection-via-msxsl.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-network-connection-via-registration-utility.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-network-connection-via-signed-binary.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-network-traffic-to-rare-destination-country.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-rdp-remote-desktop-protocol-from-the-internet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-roshal-archive-rar-or-powershell-file-downloaded-from-the-internet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-rpc-remote-procedure-call-from-the-internet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-rpc-remote-procedure-call-to-the-internet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-spike-in-firewall-denies.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-spike-in-network-traffic-to-a-country.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-spike-in-network-traffic.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-suspicious-dll-loaded-for-persistence-or-privilege-escalation.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-suspicious-execution-from-a-mounted-device.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-linux-network-port-activity.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-linux-process-calling-the-metadata-service.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-linux-user-calling-the-metadata-service.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-linux-username.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-network-connection-via-dllhost.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-network-connection-via-rundll32.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-process-for-a-linux-host.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-process-for-a-windows-host.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-windows-network-activity.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-windows-path-activity.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-windows-process-calling-the-metadata-service.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-windows-user-calling-the-metadata-service.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-windows-username.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-vnc-virtual-network-computing-from-the-internet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-vnc-virtual-network-computing-to-the-internet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rules-0-13-1-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rules-0-13-1-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: v7.13.0

#771 [7.13] Add docs for 0.13.1 fleet rules package (#769)
  docs/detections/detections-index.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-anomalous-process-for-a-linux-population.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-anomalous-process-for-a-windows-population.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-anomalous-windows-process-creation.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-apple-script-execution-followed-by-network-connection.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-attempts-to-brute-force-a-microsoft-365-user-account.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-attempts-to-brute-force-an-okta-user-account.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-aws-ec2-vm-export-failure.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-command-prompt-network-connection.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-component-object-model-hijacking.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-connection-to-external-network-via-telnet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-connection-to-internal-network-via-telnet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-dns-activity-to-the-internet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-high-number-of-okta-user-password-reset-or-unlock-attempts.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-macos-installer-spawns-network-event.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-modification-of-amsienable-registry-key.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-network-connection-via-certutil.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-network-connection-via-compiled-html-file.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-network-connection-via-msxsl.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-network-connection-via-registration-utility.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-network-connection-via-signed-binary.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-network-traffic-to-rare-destination-country.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-rdp-remote-desktop-protocol-from-the-internet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-roshal-archive-rar-or-powershell-file-downloaded-from-the-internet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-rpc-remote-procedure-call-from-the-internet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-rpc-remote-procedure-call-to-the-internet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-spike-in-firewall-denies.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-spike-in-network-traffic-to-a-country.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-spike-in-network-traffic.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-suspicious-dll-loaded-for-persistence-or-privilege-escalation.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-suspicious-execution-from-a-mounted-device.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-linux-network-port-activity.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-linux-process-calling-the-metadata-service.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-linux-user-calling-the-metadata-service.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-linux-username.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-network-connection-via-dllhost.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-network-connection-via-rundll32.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-process-for-a-linux-host.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-process-for-a-windows-host.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-windows-network-activity.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-windows-path-activity.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-windows-process-calling-the-metadata-service.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-windows-user-calling-the-metadata-service.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-unusual-windows-username.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-vnc-virtual-network-computing-from-the-internet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rule-0-13-1-vnc-virtual-network-computing-to-the-internet.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rules-0-13-1-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/0-13-1/prebuilt-rules-0-13-1-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: backport

#758 [BUG] Document the feature that allows users to add alerts to cases
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/images/add-alert-to-case.gif
  docs/detections/images/add-alert-to-existing-case.png
  docs/detections/images/add-alert-to-new-case.png
Labels: TEAM:Docs, bug, v7.14.0

#775 [7.13] [BUG] Document the feature that allows users to add alerts to cases (#758)
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/images/add-alert-to-case.gif
  docs/detections/images/add-alert-to-existing-case.png
  docs/detections/images/add-alert-to-new-case.png
Labels: TEAM:Docs, backport, bug, v7.13.0

#774 [7.x] [BUG] Document the feature that allows users to add alerts to cases (#758)
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/images/add-alert-to-case.gif
  docs/detections/images/add-alert-to-existing-case.png
  docs/detections/images/add-alert-to-new-case.png
Labels: TEAM:Docs, backport, bug, v8.0.0

#781 [7.13] Modified download prebuilt rules steps. (#777)
  docs/detections/images/install-prebuilt-rules.png
  docs/detections/images/install-prebuilt-settings.png
  docs/detections/rules-ui-manage.asciidoc
Labels: backport

#780 [7.x] Modified download prebuilt rules steps. (#777)
  docs/detections/images/install-prebuilt-rules.png
  docs/detections/images/install-prebuilt-settings.png
  docs/detections/rules-ui-manage.asciidoc
Labels: backport
