Repository elastic/security-docs, pull requests merged in 2021-04, with the labels that each got.

#592 Correcting spelling from Window to Windows
  docs/getting-started/ingest-data.asciidoc
Labels: v7.12.0, v7.13.0, v8.0.0

#603 [7.x] Backport #592 7.x
  docs/getting-started/ingest-data.asciidoc
Labels: backport

#602 [8.0] Correcting spelling from Window to Windows (#592)
  docs/getting-started/ingest-data.asciidoc
Labels: backport

#593 Update rules-api-export.asciidoc
  docs/detections/api/rules/rules-api-export.asciidoc
Labels: TEAM:Docs, v7.12.0, v7.13.0, v8.0.0

#605 [DOCS] Update rules-api-export.asciidoc (#593)
  docs/detections/api/rules/rules-api-export.asciidoc
Labels: backport

#610 [DOCS] Updating 7.12.0 RN to include #91597 as a known issue
  docs/release-notes.asciidoc
Labels: TEAM:Docs, v7.12.0

#629 [7.x] Clarify large value list exceptions depend on rule type (#627)
  docs/detections/detections-ui-exceptions.asciidoc
Labels: backport

#630 [7.12] Clarify large value list exceptions depend on rule type (#627)
  docs/detections/detections-ui-exceptions.asciidoc
Labels: backport

#600 [Timeline] Update Timeline Template Documentation
  docs/events/timeline-templates.asciidoc
Labels: TEAM:Docs, documentation, v7.13.0

#633 [DOCS] Fixing QA-Reported Doc Bugs in 7.12.0 Docs
  docs/cases/cases-ui-integrations.asciidoc
  docs/detections/detections-ui-exceptions.asciidoc
  docs/detections/images/endpoint-add-exp.png
  docs/detections/images/nested-exp.png
  docs/detections/prebuilt-rules/images/process-exception.png
  docs/detections/prebuilt-rules/images/process-specific-exception.png
  docs/detections/prebuilt-rules/tune-rule-signals.asciidoc
  docs/events/images/create-template-ui.png
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/images/config-status.png
  docs/management/hosts/hosts-overview.asciidoc
Labels: TEAM:Docs, v7.13.0

#635 [7.x] [DOCS] Fixing QA-Reported Doc Bugs in 7.12.0 Docs (#633)
  docs/cases/cases-ui-integrations.asciidoc
  docs/detections/detections-ui-exceptions.asciidoc
  docs/detections/images/endpoint-add-exp.png
  docs/detections/images/nested-exp.png
  docs/detections/prebuilt-rules/images/process-exception.png
  docs/detections/prebuilt-rules/images/process-specific-exception.png
  docs/detections/prebuilt-rules/tune-rule-signals.asciidoc
  docs/events/images/create-template-ui.png
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/images/config-status.png
  docs/management/hosts/hosts-overview.asciidoc
Labels: backport, v7.12.0

#636 [7.12] [DOCS] Fixing QA-Reported Doc Bugs in 7.12.0 Docs (#633)
  docs/cases/cases-ui-integrations.asciidoc
  docs/detections/detections-ui-exceptions.asciidoc
  docs/detections/images/endpoint-add-exp.png
  docs/detections/images/nested-exp.png
  docs/detections/prebuilt-rules/images/process-exception.png
  docs/detections/prebuilt-rules/images/process-specific-exception.png
  docs/detections/prebuilt-rules/tune-rule-signals.asciidoc
  docs/events/images/create-template-ui.png
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/images/config-status.png
  docs/management/hosts/hosts-overview.asciidoc
Labels: backport, v7.12.0

#617 [DOCS] Updated screenshots as per issues #611, #615, and #616
  docs/detections/images/all-rules.png
  docs/detections/images/detections-ui.png
  docs/events/images/timeline-ui-updated.png
  docs/events/images/timeline-ui.png
  docs/events/timeline-ui-overview.asciidoc
  docs/getting-started/images/register-as-antivirus.png
  docs/management/hosts/hosts-overview.asciidoc
  docs/management/hosts/images/drop-to-timeline.png
  docs/management/hosts/images/inline-actions.png
Labels: TEAM:Docs, v7.13.0

#638 [7.x] [DOCS] Updated screenshots as per issues #611, #615, and #616 (#617)
  docs/detections/images/all-rules.png
  docs/detections/images/detections-ui.png
  docs/events/images/timeline-ui-updated.png
  docs/events/images/timeline-ui.png
  docs/events/timeline-ui-overview.asciidoc
  docs/getting-started/images/register-as-antivirus.png
  docs/management/hosts/hosts-overview.asciidoc
  docs/management/hosts/images/drop-to-timeline.png
  docs/management/hosts/images/inline-actions.png
Labels: TEAM:Docs, backport

#639 [7.12] [DOCS] Updated screenshots as per issues #611, #615, and #616 (#617)
  docs/detections/images/all-rules.png
  docs/detections/images/detections-ui.png
  docs/events/images/timeline-ui-updated.png
  docs/events/images/timeline-ui.png
  docs/events/timeline-ui-overview.asciidoc
  docs/getting-started/images/register-as-antivirus.png
  docs/management/hosts/hosts-overview.asciidoc
  docs/management/hosts/images/drop-to-timeline.png
  docs/management/hosts/images/inline-actions.png
Labels: backport, v7.12.0

#637 [DOCS] Removed the beta tag from all docs about detections and cases
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
  docs/cases/api/cases-api/cases-api.asciidoc
  docs/cases/cases-overview.asciidoc
  docs/detections/api/rules/rules-api-overview.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-changelog.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-reference.asciidoc
  docs/events/api/timeline-api-overview.asciidoc
  docs/getting-started/install-endpoint.asciidoc
Labels: TEAM:Docs, v7.12.0

#640 [7.x] [DOCS] Removed the beta tag from all docs about detections and cases (#637)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
  docs/cases/api/cases-api/cases-api.asciidoc
  docs/cases/cases-overview.asciidoc
  docs/detections/api/rules/rules-api-overview.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-changelog.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-reference.asciidoc
  docs/events/api/timeline-api-overview.asciidoc
  docs/getting-started/install-endpoint.asciidoc
Labels: TEAM:Docs, backport

#641 [7.12] [DOCS] Removed the beta tag from all docs about detections and cases (#637)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
  docs/cases/api/cases-api/cases-api.asciidoc
  docs/cases/cases-overview.asciidoc
  docs/detections/api/rules/rules-api-overview.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-changelog.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-reference.asciidoc
  docs/events/api/timeline-api-overview.asciidoc
  docs/getting-started/install-endpoint.asciidoc
Labels: TEAM:Docs, backport, v7.12.0

#607 [DOCS] 7.12.1 release notes
  docs/release-notes.asciidoc
Labels: TEAM:Docs, v7.12.1

#651 [7.x] [DOCS] 7.12.1 release notes (#607)
  docs/release-notes.asciidoc
Labels: TEAM:Docs, backport, v8.0.0

#652 [7.13] [DOCS] 7.12.1 release notes (#607)
  docs/release-notes.asciidoc
Labels: TEAM:Docs, backport, v7.13.0

#653 [7.12] [DOCS] 7.12.1 release notes (#607)
  docs/release-notes.asciidoc
Labels: TEAM:Docs, backport, v7.12.0, v7.12.1

#644 [DOCS] Editorial review of topics that were updated to resolve QA-reported doc bugs
  docs/cases/cases-overview.asciidoc
  docs/cases/cases-ui-integrations.asciidoc
  docs/detections/detections-ui-exceptions.asciidoc
  docs/detections/prebuilt-rules/tune-rule-signals.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/events/timeline-templates.asciidoc
Labels: TEAM:Docs, v7.12.0, v7.13.0

#656 [7.12] [DOCS] Editorial review of topics that were updated to resolve QA-reported doc bugs (#644)
  docs/cases/cases-overview.asciidoc
  docs/cases/cases-ui-integrations.asciidoc
  docs/detections/detections-ui-exceptions.asciidoc
  docs/detections/prebuilt-rules/tune-rule-signals.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/events/timeline-templates.asciidoc
Labels: backport

#655 [7.13] [DOCS] Editorial review of topics that were updated to resolve QA-reported doc bugs (#644)
  docs/cases/cases-overview.asciidoc
  docs/cases/cases-ui-integrations.asciidoc
  docs/detections/detections-ui-exceptions.asciidoc
  docs/detections/prebuilt-rules/tune-rule-signals.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/events/timeline-templates.asciidoc
Labels: backport

#654 [7.x] [DOCS] Editorial review of topics that were updated to resolve QA-reported doc bugs (#644)
  docs/cases/cases-overview.asciidoc
  docs/cases/cases-ui-integrations.asciidoc
  docs/detections/detections-ui-exceptions.asciidoc
  docs/detections/prebuilt-rules/tune-rule-signals.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/events/timeline-templates.asciidoc
Labels: backport

#643 [DOCS] Resolving additional QA-reported doc bugs
  docs/cases/cases-overview.asciidoc
  docs/detections/images/analyze-event-view.png
  docs/detections/images/event-details.png
  docs/detections/images/event-type.png
  docs/detections/images/full-screen-analyzer.png
  docs/detections/images/graphical-view.png
  docs/detections/images/kql-agent-type.png
  docs/detections/images/process-list.png
  docs/detections/images/process-schema.png
  docs/detections/visual-event-analyzer.asciidoc
  docs/getting-started/install-endpoint.asciidoc
  docs/management/admin/images/integration-pg.png
Labels: TEAM:Docs, v7.12.0, v7.13.0

#658 [7.13] [DOCS] Resolving additional QA-reported doc bugs (#643)
  docs/cases/cases-overview.asciidoc
  docs/detections/images/analyze-event-view.png
  docs/detections/images/event-details.png
  docs/detections/images/event-type.png
  docs/detections/images/full-screen-analyzer.png
  docs/detections/images/graphical-view.png
  docs/detections/images/kql-agent-type.png
  docs/detections/images/process-list.png
  docs/detections/images/process-schema.png
  docs/detections/visual-event-analyzer.asciidoc
  docs/getting-started/install-endpoint.asciidoc
  docs/management/admin/images/integration-pg.png
Labels: TEAM:Docs, backport, v7.13.0

#659 [7.12] [DOCS] Resolving additional QA-reported doc bugs (#643)
  docs/cases/cases-overview.asciidoc
  docs/detections/images/analyze-event-view.png
  docs/detections/images/event-details.png
  docs/detections/images/event-type.png
  docs/detections/images/full-screen-analyzer.png
  docs/detections/images/graphical-view.png
  docs/detections/images/kql-agent-type.png
  docs/detections/images/process-list.png
  docs/detections/images/process-schema.png
  docs/detections/visual-event-analyzer.asciidoc
  docs/getting-started/install-endpoint.asciidoc
  docs/management/admin/images/integration-pg.png
Labels: TEAM:Docs, backport, v7.12.0

#657 [7.x] [DOCS] Resolving additional QA-reported doc bugs (#643)
  docs/cases/cases-overview.asciidoc
  docs/detections/images/analyze-event-view.png
  docs/detections/images/event-details.png
  docs/detections/images/event-type.png
  docs/detections/images/full-screen-analyzer.png
  docs/detections/images/graphical-view.png
  docs/detections/images/kql-agent-type.png
  docs/detections/images/process-list.png
  docs/detections/images/process-schema.png
  docs/detections/visual-event-analyzer.asciidoc
  docs/getting-started/install-endpoint.asciidoc
  docs/management/admin/images/integration-pg.png
Labels: TEAM:Docs, backport, v8.0.0

#594 Adding e-learning videos to Detections and Cases docs
  docs/cases/cases-ui-integrations.asciidoc
  docs/detections/rules-ui-manage.asciidoc
Labels: TEAM:Docs, v7.12.0, v7.13.0, v8.0.0

#662 [7.13] Adding e-learning videos to Detections and Cases docs (#594)
  docs/cases/cases-ui-integrations.asciidoc
  docs/detections/rules-ui-manage.asciidoc
Labels: backport, v7.13.0

#661 [7.x] Adding e-learning videos to Detections and Cases docs (#594)
  docs/cases/cases-ui-integrations.asciidoc
  docs/detections/rules-ui-manage.asciidoc
Labels: backport, v8.0.0
