Repository elastic/security-docs, pull requests merged in 2021-12, with the labels that each got.

#1186 [DOCS] New default query for IM rules
  docs/detections/detection-engine-intro.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: Team:Docs, v8.0.0, Team:Threat Hunting, Team:CTI, v7.16.0

#1249 [DOCS] Alerts page updates (7.16)
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/images/add-alert-to-case.gif
  docs/detections/images/additional-filters.png
  docs/detections/images/alert-change-status.gif
  docs/detections/images/alert-page.png
  docs/detections/images/alert-table-toolbar-buttons.png
  docs/detections/images/event-rendered-view.png
  docs/detections/images/inline-actions-menu.gif
  docs/detections/images/timeline-button.png
  docs/detections/images/view-alert-details.png
Labels: Team:Docs, v8.0.0, Team:Detections/Response, Team:Threat Hunting, v7.16.0

#1228 [DOCS] Update text to include name for the new transform in the transform troubleshooting docs
  docs/troubleshooting/images/transforms-start.png
  docs/troubleshooting/management/ts-management.asciidoc
Labels: Team:Docs, v8.0.0, Team:OLM, v7.16.0

#1226 [DOCS] Building block detection alerts hidden in Security Overview page
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/building-block-rule.asciidoc
Labels: Team:Docs, v8.0.0, Team:Detections/Response, v7.16.0

#1240 [DOCS] Trusted Apps by Policy
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/images/install-endpoint/add-elastic-endpoint-security.png
  docs/getting-started/images/install-endpoint/memory-protection.png
  docs/getting-started/images/install-endpoint/security-integration.png
  docs/getting-started/images/register-as-antivirus.png
  docs/getting-started/index.asciidoc
  docs/getting-started/install-endpoint.asciidoc
  docs/getting-started/uninstall-endpoint.asciidoc
  docs/management/admin/images/trusted-apps-list.png
  docs/management/admin/trusted-apps.asciidoc
Labels: Team:Docs, v8.0.0, Team:OLM, Feature: Policy, QA:Validated, v7.16.0

#1157 [DOCS] Security telemetry settings
  docs/getting-started/advanced-setting.asciidoc
Labels: v8.0.0, v7.16.0

#1268 [DOCS] Github style markdown causes issues during upgrade
  docs/release-notes/7.15.asciidoc
Labels: Team:Docs, release-notes, v7.15.0

#1235 [DOCS] New artifact card format in Manage pages
  docs/management/admin/event-filters.asciidoc
  docs/management/admin/images/event-filter.png
Labels: Team:Docs, v8.0.0, Team:OLM, QA:Validated, v7.16.0

#1188 [DOCS] ServiceNow ITSM & SecOps Connector and Application Docs
  docs/cases/cases-ui-integrations.asciidoc
  docs/cases/images/cases-change-default-connector.png
  docs/cases/images/cases-modify-connector.png
  docs/cases/images/cases-ui-connector.png
  docs/detections/images/available-action-types.png
  docs/detections/rules-ui-create.asciidoc
  docs/post-upgrade/images/cases-deprecated-sn-connector.png
  docs/post-upgrade/post-upgrade-deprecated-sn-connector.asciidoc
  docs/post-upgrade/post-upgrade-intro.asciidoc
Labels: Team:Docs, v8.0.0, Team:Threat Hunting, QA:Validated, v7.16.0

#1261 [DOCS] Host risk score data
  docs/experimental-features/experimental-features-intro.asciidoc
  docs/experimental-features/host-risk-score.asciidoc
  docs/experimental-features/images/data-tables.png
  docs/experimental-features/images/full-dashboard.png
  docs/experimental-features/images/go-to-dashboard.png
  docs/experimental-features/images/go-to-host-view.png
  docs/experimental-features/images/go-to-host.png
  docs/experimental-features/images/histogram.png
  docs/experimental-features/images/host-score-overview.png
  docs/experimental-features/images/score-in-flyout.png
  docs/experimental-features/images/select-dashboard.png
  docs/index.asciidoc
Labels: v8.0.0, v7.16.0

#1264 [DOCS] Update detection rule actions import/export docs
  docs/detections/api/rules/rules-api-export.asciidoc
  docs/detections/api/rules/rules-api-import.asciidoc
  docs/detections/rules-ui-manage.asciidoc
Labels: Team:Docs, v8.0.0, Team:Detections/Response, readyforQA, v7.16.0

#1210 [DOCS]7.16.0 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/7.16.asciidoc
Labels: release-notes, v7.16.0

#1300 [BUG] Remove discrete tags at the top of the 7.15 RN page
  docs/release-notes.asciidoc
  docs/release-notes/7.15.asciidoc
Labels: Team:Docs, release-notes, v7.15.0

#1301 [BUG] Remove discrete tags at the top of the 7.16 RN page
  docs/release-notes.asciidoc
  docs/release-notes/7.15.asciidoc
  docs/release-notes/7.16.asciidoc
Labels: Team:Docs, release-notes, v7.16.0

#1295 [DOCS] Move Known issues section to top of page
  docs/release-notes/7.15.asciidoc
Labels: Team:Docs, release-notes, v7.15.0

#1246 [BUG] Security ingest data seems missing integrations without Endpoint Security
  docs/es-overview.asciidoc
  docs/getting-started/images/add-integrations.png
  docs/getting-started/ingest-data.asciidoc
Labels: bug, Team:Docs, v8.0.0, Team:OLM, v7.16.0

#1281 [DOCS] Update security doc ML requirements
  docs/getting-started/ml-req.asciidoc
Labels: bug, Team:Docs, backport-skip

#1330 [7.9] [DOCS] Update security doc ML requirements (#1281)
  docs/getting-started/ml-req.asciidoc
Labels: backport

#1329 [7.10] [DOCS] Update security doc ML requirements (#1281)
  docs/getting-started/ml-req.asciidoc
Labels: backport

#1328 [7.11] [DOCS] Update security doc ML requirements (#1281)
  docs/getting-started/ml-req.asciidoc
Labels: backport

#1327 [7.12] [DOCS] Update security doc ML requirements (#1281)
  docs/getting-started/ml-req.asciidoc
Labels: backport

#1326 [7.13] [DOCS] Update security doc ML requirements (#1281)
  docs/getting-started/ml-req.asciidoc
Labels: backport

#1325 [7.14] [DOCS] Update security doc ML requirements (#1281)
  docs/getting-started/ml-req.asciidoc
Labels: backport

#1324 [7.15] [DOCS] Update security doc ML requirements (#1281)
  docs/getting-started/ml-req.asciidoc
Labels: backport

#1323 [7.16] [DOCS] Update security doc ML requirements (#1281)
  docs/getting-started/ml-req.asciidoc
Labels: backport

#1322 [8.0] [DOCS] Update security doc ML requirements (#1281)
  docs/getting-started/ml-req.asciidoc
Labels: backport

#1306 [BUG] Update trusted applications screenshot to use mock examples [7.15]
  docs/management/admin/images/trusted-apps-list.png
Labels: bug, Team:Docs, v7.15.0

#1307 [BUG] Update trusted applications screenshot to use mock examples [7.14]
  docs/getting-started/images/trusted-apps-page.png
  docs/management/admin/images/trusted-apps-list.png
Labels: bug, Team:Docs, v7.14.0

#1308 [BUG] Update trusted applications screenshot to use mock examples [7.13]
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/images/trusted-apps-list.png
Labels: bug, Team:Docs, v7.13.0

#1309 [BUG] Update trusted applications screenshot to use mock examples [7.12]
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/images/trusted-apps-list.png
Labels: bug, Team:Docs, v7.12.0

#1311 [BUG] Update trusted applications screenshot to use mock examples [7.10]
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/images/trusted-apps-list.png
Labels: bug, Team:Docs, v7.10.0

#1333 [DOCS] 7.16.1 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/7.16.asciidoc
Labels: v7.16.0

#1337 [7.16] [DOCS] Github style markdown causes issues during upgrade (#1268)
  docs/release-notes/7.15.asciidoc
Labels: backport

#1338 [7.16] [DOCS] Move Known issues section to top of page (#1295)
  docs/release-notes/7.15.asciidoc
  package-lock.json
Labels: backport, v7.16.0

#1318 [BUG] Update ML job settings screenshot with new Alerts page
  docs/detections/machine-learning/images/ml-ui.png
Labels: bug, Team:Docs, v8.0.0, v7.16.0

#1319 [BUG] Update timeline screenshot with new action buttons
  docs/management/hosts/images/drop-to-timeline.png
Labels: bug, Team:Docs, v8.0.0, v7.16.0

#1339 [BUG] Update screenshot to remove OR operator from the Event Filter flyout
  docs/management/admin/images/event-filter.png
Labels: bug, Team:Docs, v8.0.0, Team:OLM, QA:Validated, v7.16.0

#1340 [BUG] Update endpoint activity log screenshot for UI changes
  docs/management/admin/images/activity-log.png
Labels: bug, Team:Docs, v8.0.0, Team:OLM, QA:Validated, v7.16.0

#1320 [BUG] Old Threat Intelligence screen-shoot under Elastic Security UI
  docs/getting-started/images/threat-intelligence-card.png
  docs/getting-started/security-ui.asciidoc
Labels: Team:Docs, v8.0.0, Team:CTI, v7.16.0, v7.17.0

#1362 [DOCS] Add 7.16.2 release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.16.asciidoc
Labels: v7.17.0, v7.16.2

#1197 [DOCS] Event analyzer available by default for events that can be analyzed
  docs/detections/images/analyze-event-button.png
  docs/detections/images/analyze-event-timeline.png
  docs/detections/images/analyze-event-view.png
  docs/detections/images/analyze-event.gif
  docs/detections/images/analyzer_KQL_query.png
  docs/detections/images/event-details.png
  docs/detections/images/event-type.png
  docs/detections/images/full-screen-analyzer.png
  docs/detections/images/graphical-view.png
  docs/detections/images/kql-agent-type.png
  docs/detections/images/node-legend.png
  docs/detections/images/process-details.png
  docs/detections/images/process-list.png
  docs/detections/visual-event-analyzer.asciidoc
Labels: Team:Docs, v8.0.0, Team:Threat Hunting, v7.15.0, v7.16.0, v7.17.0
