Repository elastic/security-docs, pull requests merged in 2022-11, with the labels that each got.

#2519 [DOCS] 8.5 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/8.5.asciidoc
Labels: release-notes, v8.5.0

#2648 [8.5] Adjusted Adversary Behavior - Detected - Elastic Endgame
  docs/detections/prebuilt-rules/rule-details/adversary-behavior-detected-elastic-endgame.asciidoc
  prebuilt-rules-scripts/orig-rules-json-files/8.3.0-prebuilt-rule.json
  prebuilt-rules-scripts/orig-rules-json-files/8.4.0-prebuilt-rule.json
  prebuilt-rules-scripts/orig-rules-json-files/8.5.0-prebuilt-rule.json
Labels: v8.3.0, Feature: Prebuilt rules, v8.4.0, v8.5.0

#2620 [DOCS] Troubleshooting: no suggested values when creating exceptions
  docs/troubleshooting/detections/detection-rules.asciidoc
Labels: v8.0.0, Team:Security Platform, troubleshooting, v7.17.0, v8.1.0, v8.2.0, v8.3.0, Feature: Rules, v8.4.0, v8.5.0, v8.6.0

#2625 [DOCS] Consolidates KSPM FAQs into one page
  docs/cloud-native-security/benchmark-rules.asciidoc
  docs/cloud-native-security/cloud-nat-sec-posture-dashboard.asciidoc
  docs/cloud-native-security/cloud-native-security-index.asciidoc
  docs/cloud-native-security/findings.asciidoc
  docs/cloud-native-security/kspm-faq.asciidoc
  docs/cloud-native-security/kspm.asciidoc
Labels: Team:Cloud Security Posture, v8.5.0

#2682 Update links to agent monitoring docs
  docs/detections/alerts-run-osquery.asciidoc
  docs/detections/invest-guide-run-osquery.asciidoc
  docs/detections/osquery-response-action.asciidoc
Labels: backport, v8.5.0

#2677 [DOCS] Adds known endpoint bug
  docs/release-notes/8.5.asciidoc
Labels: v8.5.0

#2698 [BUG] [8.4] Old screenshot is displaying under set up rules that run on alert indices
  docs/detections/building-block-rule.asciidoc
  docs/detections/images/alert-indices-ui.png
Labels: bug, Team:Docs, Team:Detections/Response, v8.4.0

#2699 [BUGS] [DOCS] Fix more QA bugs in 8.5
  docs/detections/images/analyze-event-timeline.png
  docs/experimental-features/images/hrs-all-hosts.png
  docs/management/hosts/images/hosts-ov-pg.png
Labels: bug, Team:Docs, v8.5.0

#2697 [BUG] Indicator page requires an Enterprise license
  docs/cases/indicators-of-compromise.asciidoc
  docs/release-notes/8.5.asciidoc
Labels: Team:Docs, Team:Protections Experience, Feature: Threat intel, v8.5.0, v8.6.0

#2679 [DOCS] 8.5.1 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.5.asciidoc
Labels: Team:Docs, release-notes, v8.5.0, v8.5.1

#2680 [DOCS]Assignee field not showing in create case form
  docs/detections/alerts-add-to-cases.asciidoc
  docs/detections/images/add-alert-to-new-case.png
Labels: bug, Team:Docs, Feature: Cases, Team:ResponseOps, v8.5.0

#2710 [DOCS] Updates image on Benchmark rules page
  docs/cloud-native-security/images/benchmark-rules.png
Labels: v8.5.0

#2707 updates to KSPM FAQ
  docs/cloud-native-security/kspm-faq.asciidoc
Labels: backport, v8.5.0

#2708 [DOCS] Reorganize Osquery topics
  docs/index.asciidoc
  docs/osquery/alerts-run-osquery.asciidoc
  docs/osquery/images/available-response-actions.png
  docs/osquery/images/case-button-osquery.png
  docs/osquery/images/discover-button-osquery.png
  docs/osquery/images/lens-button-osquery.png
  docs/osquery/images/osquery-button.png
  docs/osquery/images/osquery-investigation-guide.png
  docs/osquery/images/osquery-results-tab.png
  docs/osquery/images/pack-expand-button-osquery.png
  docs/osquery/images/pack-query-results.png
  docs/osquery/images/run-query-investigation-guide.png
  docs/osquery/images/setup-osquery-investigation-guide.png
  docs/osquery/images/setup-query.png
  docs/osquery/images/setup-single-query.png
  docs/osquery/images/single-query-results.png
  docs/osquery/images/timeline-button-osquery.png
  docs/osquery/invest-guide-run-osquery.asciidoc
  docs/osquery/osquery-index.asciidoc
  docs/osquery/osquery-response-action.asciidoc
  docs/osquery/use-osquery.asciidoc
  docs/osquery/view-osquery-results.asciidoc
Labels: Team:Docs, Team:Asset Mgmt, Feature: Osquery, v8.5.0, v8.6.0

#2678 [DOCS] Remove alerts from cases
  docs/cases/cases-manage.asciidoc
  docs/cases/images/cases-summary.png
  docs/getting-started/cases-req.asciidoc
Labels: Feature: Cases, v8.6.0

#2674 [DOCS] Upgrade Elastic Security (8.5)
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.5.0, Feature: Upgrading

#2730 [DOCS] Fixes K8s dashboard docs bug
  docs/dashboards/kubernetes-dashboard.asciidoc
Labels: v8.5.0, v8.6.0

#2717 [DOCS] 8.5.2 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.5.asciidoc
Labels: Team:Docs, release-notes, v8.5.0, v8.6.0, v8.5.2

#2736 [DOCS] Reformat requirements callouts in Elastic Defend topics
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/install-endpoint.asciidoc
Labels: Team:Docs, edit, v8.5.0, v8.6.0, Feature: Elastic Defend

#2727 [DOCS] Rename "Technical preview" toggle on Rules page
  docs/detections/images/all-rules.png
  docs/detections/images/monitor-table.png
  docs/detections/rules-ui-manage.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
Labels: Team:Docs, Team:Detections/Response, Feature: Rules, v8.6.0

#2741 KSPM Getting-started requirements update
  docs/cloud-native-security/get-started-with-kspm.asciidoc
Labels: Team:Cloud Security Posture, v8.5.0, v8.6.0

#2629 [DOCS] New section for AWP docs
  docs/cloud-native-security/cloud-nat-sec-kubernetes-dashboard.asciidoc
  docs/cloud-native-security/cloud-native-security-index.asciidoc
  docs/cloud-native-security/cloud-workload-protection.asciidoc
  docs/cloud-native-security/session-view.asciidoc
  docs/detections/detections-index.asciidoc
Labels: Team:AWP, v8.5.0, v8.6.0
