Repository elastic/security-docs, pull requests merged in 2022-12, with the labels that each got.

#2750 [DOCS] Attach alert and Osquery results to cases
  docs/osquery/view-osquery-results.asciidoc
Labels: Team:Docs, Team:Asset Mgmt, Feature: Osquery, v8.6.0

#2748 [DOCS] Exception enhancements in 8.6
  docs/detections/add-exceptions.asciidoc
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/detection-engine-intro.asciidoc
  docs/detections/detections-index.asciidoc
  docs/detections/detections-ui-exceptions.asciidoc
  docs/detections/images/actions-exception-list.png
  docs/detections/images/add-exception-ui.png
  docs/detections/images/associated-shared-exception-list.png
  docs/detections/images/default-rule-list.png
  docs/detections/images/endpoint-add-exp.png
  docs/detections/images/exception-item-example.png
  docs/detections/images/exceptions-page.png
  docs/detections/images/manage-default-rule-list.png
  docs/detections/images/nested-exp.png
  docs/detections/images/rule-default-list.png
  docs/detections/images/rule-exceptions-page.png
  docs/detections/images/view-filter-shared-exception.png
  docs/detections/prebuilt-rules/images/process-exception.png
  docs/detections/prebuilt-rules/images/process-specific-exception.png
  docs/detections/prebuilt-rules/tune-rule-signals.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/detections/rules-ui-manage.asciidoc
  docs/detections/shared-exception-lists.asciidoc
  docs/detections/value-list-exceptions.asciidoc
  docs/getting-started/detections-req.asciidoc
  docs/getting-started/images/manage-pg.png
  docs/getting-started/security-ui.asciidoc
  docs/whats-new.asciidoc
Labels: Team:Docs, Team:Detections/Response, Feature: Exceptions, v8.6.0

#2756 [DOCS] 8.5.3 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.5.asciidoc
Labels: Team:Docs, release-notes, v8.5.0, v8.5.3

#2765 [DOCS] Adds requirements for Session Output
  docs/cloud-native-security/session-view.asciidoc
Labels: Feature: Kubernetes, v8.6.0

#2764 [DOCS] Adds instructions for deleting K8s DaemonSet
  docs/cloud-native-security/cloud-nat-sec-kubernetes-dashboard.asciidoc
  docs/dashboards/kubernetes-dashboard.asciidoc
Labels: Feature: Kubernetes, v8.6.0

#2792 Apply edits from #2781
  docs/detections/query-alert-indices.asciidoc
Labels: Team:Docs, edit, v8.6.0

#2782 [DOCS] Move detections and alerts terminology to glossary
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/api/rules/rules-api-overview.asciidoc
  docs/detections/api/signals-migration-api.asciidoc
  docs/detections/detection-engine-intro.asciidoc
  docs/events/timeline-ui-overview.asciidoc
  docs/getting-started/detections-req.asciidoc
  docs/getting-started/network-page-overview.asciidoc
  docs/getting-started/siem-ui.asciidoc
  docs/getting-started/users-page.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
Labels: v8.6.0, v8.7.0
