Repository elastic/security-docs, pull requests merged in 2022-03, with the labels that each got.

#1619 [DOCS] Exceptions flyout: update screenshots and procedure
  docs/detections/detections-ui-exceptions.asciidoc
  docs/detections/images/add-exception-ui.png
  docs/detections/images/endpoint-add-exp.png
  docs/detections/images/exceptions-ui-list.png
  docs/detections/images/manage-value-list.png
  docs/detections/images/nested-exp.png
  docs/detections/images/upload-lists-ui.png
Labels: Team:Docs, Team:Detections/Response, v8.1.0

#1634 [8.1] API documentation for Endpoint Trusted Applications
  docs/management/api/_exceptions-api-reusable-content.asciidoc
  docs/management/api/management-api-index.asciidoc
  docs/management/api/trusted-apps-api.asciidoc
Labels: Team:OLM, API, v8.1.0, OLM Sprint

#1317 [Security Solution][Detections]Rules _bulk_action edit API
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
Labels: Team:Docs, Team:Detections/Response, API, v8.1.0

#1641 [DOCS] Add instructions to turn off Endpoint diagnostic data
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/endpoint-diagnostic-data.asciidoc
  docs/getting-started/index.asciidoc
Labels: Team:Docs, v8.0.0, Team:OLM, v8.1.0

#1615 [DOCS] Event filters and Host isolation exceptions by Policy
  docs/getting-started/configure-integration-policy.asciidoc
  docs/management/admin/event-filters.asciidoc
  docs/management/admin/host-isolation-exceptions.asciidoc
  docs/management/admin/host-isolation-ov.asciidoc
  docs/management/admin/images/event-filter.png
  docs/management/admin/images/event-filters-list.png
  docs/management/admin/images/host-isolation-exceptions-ui.png
  docs/management/admin/trusted-apps.asciidoc
Labels: Team:Docs, Team:OLM, Feature: Policy, v8.1.0

#1645 [BUG] Crop outdated Timeline template images
  docs/events/images/create-a-timeline-filter.png
  docs/events/images/create-template-ui.png
Labels: bug, Team:Docs, v8.0.0, Team:Threat Hunting, v8.1.0

#1620 [DOCS] Update default indicator index query
  docs/detections/detection-engine-intro.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: Team:Docs, Team:Detections/Response, Team:CTI, v8.1.0

#1650 [DOCS] Update permissions needed for Endpoint Management
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/event-filters.asciidoc
  docs/management/admin/host-isolation-exceptions.asciidoc
  docs/management/admin/host-isolation-ov.asciidoc
  docs/management/admin/trusted-apps.asciidoc
Labels: Team:Docs, Team:OLM, v8.1.0

#1636 [DOCS] [8.1] Update Timelines topic
  docs/events/images/timeline-ui-filter-options.png
  docs/events/images/timeline-ui-renderer.png
  docs/events/images/timeline-ui-updated.png
  docs/events/timeline-ui-overview.asciidoc
Labels: Team:Threat Hunting, v8.1.0

#1649 [DOCS] [8.1] Add references to Maps permissions, update map screenshot
  docs/getting-started/images/network-ui.png
  docs/getting-started/net-map-req.asciidoc
  docs/getting-started/network-page-overview.asciidoc
Labels: Team:Threat Hunting, v8.1.0

#1637 [DOCS] Clarify note about exported case alerts
  docs/cases/cases-overview.asciidoc
Labels: v8.0.0, Team:Threat Hunting, Feature: Cases, v7.16.0, v7.17.0, v8.1.0

#1621 [DOCS] Rules page: advanced sorting and bulk editing
  docs/detections/images/all-rules.png
  docs/detections/images/install-prebuilt-rules.png
  docs/detections/images/install-prebuilt-settings.png
  docs/detections/images/monitor-table.png
  docs/detections/rules-ui-manage.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
  docs/post-upgrade/post-upgrade-req-cti-alerts.asciidoc
  docs/release-notes/8.0.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: Team:Docs, Team:Detections/Response, v8.1.0

#1675 Timeline overview topic — two minor fixes
  docs/events/timeline-ui-overview.asciidoc
Labels: v8.1.0

#1663 [DOCS] Edit to Upgrade Security
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.1.0

#1640 [DOCS] Alert details flyout & alerts histogram field selection
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/images/add-alert-to-case.gif
  docs/detections/images/additional-filters.png
  docs/detections/images/alert-change-status.gif
  docs/detections/images/alert-details-flyout.png
  docs/detections/images/alert-page.png
  docs/detections/images/alert-table-toolbar-buttons.png
  docs/getting-started/images/live-feed-ov-page.png
  docs/getting-started/images/overview-pg.png
Labels: Team:Docs, Team:Detections/Response, v8.1.0

#1633 [DOCS] 8.1.0 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/8.1.asciidoc
Labels: Team:Docs, release-notes, v8.1.0

#1680 [DOCS] Whats new [8.1]
  docs/whats-new.asciidoc
  docs/whats-new/images/8.1/alert-details.gif
  docs/whats-new/images/8.1/bulk-actions.png
  docs/whats-new/images/8.1/cases-kpis.png
  docs/whats-new/images/8.1/column-sort.gif
  docs/whats-new/images/8.1/counts-table.gif
Labels: backport-skip, highlights

#1685 [BUG] Updates manage alerts permission reqs in 7.x
  docs/getting-started/detections-req.asciidoc
Labels: Team:Detections/Response, backport-skip

#1684 Tiny typo
  docs/cases/cases-ui-integrations.asciidoc
Labels: v8.1.0, v8.2.0, v8.0.1

#1686 [7.16] Updates manage alerts permission reqs. (#1685)
  docs/getting-started/detections-req.asciidoc
Labels: backport

#1687 [7.15] Updates manage alerts permission reqs. (#1685)
  docs/getting-started/detections-req.asciidoc
Labels: backport

#1688 [7.14] Updates manage alerts permission reqs. (#1685)
  docs/getting-started/detections-req.asciidoc
Labels: backport

#1689 [7.13] Updates manage alerts permission reqs. (#1685)
  docs/getting-started/detections-req.asciidoc
Labels: backport

#1691 [8.0] Tiny typo (#1684)
  docs/cases/cases-ui-integrations.asciidoc
Labels: backport

#1695 [BUG] Example response in "Find Cases by Alert" topic is outdated
  docs/cases/api/cases-api/cases-api-find-cases-by-alert.asciidoc
Labels: Team:Docs, v8.0.0, Team:Threat Hunting, API, v7.14.0, v7.15.0, v7.16.0, v7.17.0, v8.1.0

#1697 [DOCS] Update Elastic Agent installation to match new Fleet UI in 8.1
  docs/getting-started/images/install-endpoint/add-agent.png
  docs/getting-started/images/install-endpoint/add-elastic-endpoint-security.png
  docs/getting-started/images/install-endpoint/endpoint-configuration.png
  docs/getting-started/install-endpoint.asciidoc
Labels: Team:Docs, Team:Endpoint, v8.1.0

#1717 [BUG] Screenshot bugs for 8.1
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/images/host-flyout.png
  docs/management/admin/images/integration-pg.png
  docs/management/admin/images/isolated-host.png
Labels: bug, Team:Docs, Team:OLM, v8.1.0

#1731 [DOCS] Backport Upgrade Security topic to 8.0.1
  docs/upgrade/upgrade-security.asciidoc
Labels: backport-skip

#1733 [8.0] Backport Upgrade Security topic (#1731)
  docs/upgrade/upgrade-security.asciidoc
Labels: backport

#1732 [8.1] Backport Upgrade Security topic (#1731)
  docs/upgrade/upgrade-security.asciidoc
Labels: backport

#1718 [BUGS] Fixing outdated screenshots
  docs/cases/cases-overview.asciidoc
  docs/cases/images/cases-export-button.png
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/images/add-alert-to-new-case.png
  docs/detections/images/analyze-event-button.png
  docs/detections/images/analyze-event-timeline.png
  docs/detections/images/analyzer_KQL_query.png
  docs/detections/visual-event-analyzer.asciidoc
  docs/getting-started/images/timeline-accessiblity-event-renderers.gif
  docs/getting-started/images/timeline-accessiblity-keyboard-focus.gif
  docs/getting-started/images/timeline-accessiblity-page-up-n-down.gif
  docs/getting-started/images/timeline-ui-accessiblity-drag-n-drop.gif
  docs/getting-started/security-ui.asciidoc
Labels: bug, Team:Docs, v8.1.0

#1737 Correct minor typo in advanced-setting.asciidoc (#1735)
  docs/getting-started/advanced-setting.asciidoc
Labels: backport-skip

#1727 [DOCS] [8.1] [BUG] Timeline schema topic - update UI and add dataViewId field
  docs/reference/images/timeline-object-ui.png
  docs/reference/timeline-schema.asciidoc
Labels: v8.1.0

#1741 [DOCS] Host risk score updates
  docs/experimental-features/experimental-features-intro.asciidoc
  docs/experimental-features/host-risk-score.asciidoc
  docs/experimental-features/images/hosts-by-risk-details-page.png
  docs/experimental-features/images/hosts-by-risk-tab.png
  docs/experimental-features/images/hrs-all-hosts.png
  docs/experimental-features/images/hrs-overview-section.png
Labels: v8.0.0, Team:Threat Hunting, v7.16.0, v7.17.0, v8.1.0, v8.2.0

#1730 [DOCS] Sync attributes globally
  docs/index.asciidoc
Labels: v8.2.0

#1739 [DOCS] Rename toggle label on rule details page to "Enable"
  docs/detections/prebuilt-rules/images/process-exception.png
  docs/detections/prebuilt-rules/images/process-specific-exception.png
  docs/detections/prebuilt-rules/images/rule-details-page.png
  docs/troubleshooting/images/rules-ts-ml-job-stopped.png
Labels: Team:Docs, Team:Detections/Response, v8.2.0

#1743 [BUG] Refresh the "Find connectors" cases API topic
  docs/cases/api/cases-api/cases-api-find-connectors.asciidoc
Labels: bug, Team:Docs, Team:Threat Hunting, Feature: Cases, v8.2.0

#1747 [DOCS] Explain Signature option for Trusted Applications
  docs/management/admin/trusted-apps.asciidoc
Labels: Team:Docs, v8.0.0, Team:OLM, edit, v8.1.0, v8.2.0

#1763 [DOCS] Retroactive Endpoint 8.1.1 release notes
  docs/release-notes/8.1.asciidoc
Labels: Team:Docs, release-notes, v8.1.0

#1756 [DOCS] Add overwrite_exceptions parameter to Import rules API
  docs/detections/api/rules/rules-api-import.asciidoc
Labels: Team:Docs, v8.0.0, Team:Detections/Response, v8.1.0, v8.2.0

#1762 [DOCS] Doc privs needed to import rules with actions
  docs/detections/api/rules/rules-api-import.asciidoc
  docs/detections/rules-ui-manage.asciidoc
  docs/getting-started/detections-req.asciidoc
Labels: Team:Docs, v8.0.0, Team:Detections/Response, v7.17.0, v8.1.0, v8.2.0

#1744 [DOCS] Cases created in Kibana or Observability are not visible in Security
  docs/cases/api/cases-api/cases-api.asciidoc
  docs/cases/cases-overview.asciidoc
Labels: Team:Docs, Team:Threat Hunting, v8.1.0, v8.2.0

#1786 [DOCS] Adds upgrade disclaimer for 8.1.1.
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.1.0, v8.2.0, 8.1.1

#1750 [DOCS] 7.17.2 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: Team:Docs, release-notes, v7.17.0

#1782 [DOCS] Add known issue to 8.0.1 release notes
  docs/release-notes/8.0.asciidoc
Labels: Team:Docs, v8.0.0, release-notes, v8.1.0, v8.2.0

#1778 [DOCS] 8.1.2 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/8.1.asciidoc
Labels: Team:Docs, release-notes, v8.1.0, v8.2.0, v8.1.2
