Repository elastic/security-docs, pull requests merged in 2022-10, with the labels that each got.

#2530 [DOCS] Create stub page for Endpoint artifacts clarification page
  docs/management/admin/endpoint-artifacts.asciidoc
  docs/management/manage-intro.asciidoc
Labels: Team:Docs, Team:OLM, Feature: Onboarding, v8.5.0

#2502 [DOCS] 8.4.3 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.4.asciidoc
Labels: Team:Docs, release-notes, v8.4.0, v8.5.0, v8.4.3

#2528 [DOCS] Fixes minor bugs on overview Dashboard doc
  docs/dashboards/overview-dashboard.asciidoc
  docs/getting-started/images/live-feed-ov-page.png
  docs/getting-started/images/overview-pg.png
Labels: Feature: Dashboards, v8.4.0, v8.5.0

#2531 [DOCS] Adds kibana.alert.new_terms field to alert schema
  docs/reference/alert-schema.asciidoc
Labels: API, Feature: Alerts, v8.4.0, v8.5.0

#2527 [DOCS] Alerts related by session ID and Alerts related by process ancestry no longer beta and don't require a feature flag
  docs/detections/alerts-view-details.asciidoc
Labels: Team:Docs, Team:Threat Hunting, Feature: Alerts, v8.5.0

#2538 [DOCS] Feature flag enabled by default for feature that displays alerts in the process tree
  docs/detections/visual-event-analyzer.asciidoc
Labels: Team:Docs, Team:Threat Hunting, v8.5.0

#2533 [DOCS] Adds info about custom dashboards to dashboards landing page doc
  docs/dashboards/dashboards-overview.asciidoc
  docs/dashboards/images/custom-dashboard-setup.png
Labels: Feature: Dashboards, v8.4.0, v8.5.0

#2546 [DOCS] New exceptions UI/UX
  docs/detections/detections-ui-exceptions.asciidoc
  docs/detections/images/exception-affects-multiple-rules.png
  docs/detections/images/rule-exception-tab.png
Labels: Team:Docs, Team:Security Platform, v8.5.0, Feature: Exceptions

#2576 [DOCS] Alert counts added to Explore pages
  docs/getting-started/images/IP-detail-pg.png
  docs/getting-started/images/users/user-details-pg.png
  docs/getting-started/images/users/users-page.png
  docs/getting-started/network-page-overview.asciidoc
  docs/getting-started/users-page.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
  docs/management/hosts/images/hosts-detail-pg.png
Labels: Team:Threat Hunting, readyforQA, QA:Validated, v8.5.0, Feature: Entity Analytics

#2558 [DOCS] Host and user risk score alert enrichments
  docs/detections/alerts-view-details.asciidoc
  docs/detections/images/enriched-host-user-rs.png
Labels: Team:Docs, Team:Security Platform, readyforQA, QA:Validated, v8.5.0, Feature: Host Risk Score, Feature: User Risk Score

#2562 [DOCS] Value list exceptions for all rule types
  docs/detections/detections-ui-exceptions.asciidoc
Labels: Team:Docs, Team:Detections/Response, QA:Validated, Feature: Rules, v8.5.0, Feature: Exceptions

#2540 [DOCS] Reason statement shown in alert rendered view
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/alerts-view-details.asciidoc
  docs/detections/images/alert-details-flyout.png
  docs/detections/images/event-rendered-view.png
  docs/detections/images/insights-section.png
Labels: Team:Docs, Team:Threat Hunting, QA:Validated, v8.5.0

#2549 [DOCS] 7.17.7 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: Team:Docs, release-notes, v7.17.7

#2526 [DOCS] Threat Intelligence - Indicators Page and Indicator Details
  docs/cases/cases-index.asciidoc
  docs/cases/indicators-of-compromise.asciidoc
  docs/events/images/indicator-details-flyout.png
  docs/events/images/indicator-in-timeline.png
  docs/events/images/indicators-table.png
  docs/events/images/interact-with-indicators-table.gif
  docs/events/index.asciidoc
  docs/getting-started/security-ui.asciidoc
Labels: Team:Docs, QA:Validated, Team:Protections Experience, v8.5.0

#2569 [DOCS] Updates install endpoint doc for Guided Onboarding epic
  docs/getting-started/images/install-endpoint/endpoint-cloud-sec-add-agent-detail.png
  docs/getting-started/images/install-endpoint/endpoint-cloud-sec-add-agent.png
  docs/getting-started/images/install-endpoint/endpoint-cloud-sec-integrations-page.png
  docs/getting-started/images/install-endpoint/endpoint-cloud-security-configuration.png
  docs/getting-started/install-endpoint.asciidoc
Labels: Team:OLM, Feature: Onboarding, QA:Validated, Team:AWP, v8.5.0

#2516 [DOCS] Endpoint artifact docs clarification
  docs/management/admin/blocklist.asciidoc
  docs/management/admin/endpoint-artifacts.asciidoc
  docs/management/admin/event-filters.asciidoc
  docs/management/admin/images/trusted-apps-list.png
  docs/management/admin/trusted-apps.asciidoc
Labels: Team:Docs, Team:OLM, Feature: Onboarding, edit, readyforQA, v8.5.0

#2559 [DOCS] "Create rule" updates: rule preview, saved queries
  docs/detections/images/create-new-rule.png
  docs/detections/images/indicator-rule-example.png
  docs/detections/images/preview-rule.png
  docs/detections/images/rule-preview-refresh-arrow.png
  docs/detections/images/rule-preview-refresh-circle.png
  docs/detections/images/rule-query-example.png
  docs/detections/images/saved-query-menu.png
  docs/detections/images/view-details-icon.png
  docs/detections/rules-ui-create.asciidoc
Labels: Team:Docs, Team:Detections/Response, QA:Validated, Feature: Rules, v8.5.0

#2567 [DOCS] Bulk edit rules updates (rule schedules, actions)
  docs/detections/rules-ui-manage.asciidoc
Labels: Team:Docs, Team:Detections/Response, QA:Validated, Feature: Rules, v8.5.0

#2566 [DOCS] Add Terminal output view information to Session view doc
  docs/detections/images/session-view-exec-user-change-badge.png
  docs/detections/images/session-view-output-badge.png
  docs/detections/images/session-view-output-viewer.png
  docs/detections/images/session-view-terminal-labeled.png
  docs/detections/session-view.asciidoc
Labels: readyforQA, QA:Validated, Team:AWP, Feature: Session View, v8.5.0

#2608 Adds coming tags to the 7.17.7 release notes
  docs/release-notes/7.17.asciidoc
Labels: Team:Docs, release-notes, v7.17.0, v7.17.7

#2615 [BUG] Update rules table & exceptions screenshots
  docs/detections/images/all-rules.png
  docs/detections/images/monitor-table.png
  docs/detections/images/rule-execution-logs.png
Labels: bug, Team:Docs, Feature: Rules, v8.5.0

#2580 [DOCS] Risk score enhancements
  docs/experimental-features/host-risk-score.asciidoc
  docs/experimental-features/images/enable-hrs-details-pg.gif
  docs/experimental-features/images/enable-hrs.png
  docs/experimental-features/images/enable-urs.png
  docs/experimental-features/images/feature-flag.png
  docs/experimental-features/images/hosts-by-risk-details-page.png
  docs/experimental-features/images/hosts-by-risk-tab.png
  docs/experimental-features/images/hrs-alerts-table.png
  docs/experimental-features/images/restart-hrs.png
  docs/experimental-features/images/restart-urs.png
  docs/experimental-features/images/score-in-flyout.png
  docs/experimental-features/images/select-hrs-dashboard.png
  docs/experimental-features/images/select-urs-dashboard.png
  docs/experimental-features/images/urs-alerts-table.png
  docs/experimental-features/images/urs-overview-section.png
  docs/experimental-features/images/urs-score-flyout.png
  docs/experimental-features/images/users-by-risk-details-page.png
  docs/experimental-features/user-risk-score.asciidoc
Labels: Team:Threat Hunting, readyforQA, v8.5.0, Feature: Host Risk Score, Feature: User Risk Score

#2565 [DOCS] Entity dashboard
  docs/dashboards/dashboards-overview.asciidoc
  docs/dashboards/entity-dashboard.asciidoc
  docs/dashboards/images/anomalies-table.png
  docs/dashboards/images/entity-dashboard.png
  docs/dashboards/images/host-score-data.png
  docs/dashboards/images/user-score-data.png
Labels: Team:Threat Hunting, readyforQA, Feature: Dashboards, v8.5.0, Feature: Entity Analytics

#2610 [DOCS] Remove coming tags from 7.17.7 release notes
  docs/release-notes/7.17.asciidoc
Labels: Team:Docs, release-notes, v7.17.0, v7.17.7

#2584 [DOCS] Adds content to the KSPM section
  docs/cloud-native-security/benchmark-rules.asciidoc
  docs/cloud-native-security/cloud-nat-sec-posture-dashboard.asciidoc
  docs/cloud-native-security/findings.asciidoc
  docs/cloud-native-security/get-started-with-kspm.asciidoc
  docs/cloud-native-security/images/findings-page.png
  docs/cloud-native-security/kspm.asciidoc
  docs/dashboards/cloud-posture.asciidoc
Labels: Team:Cloud Security Posture, v8.5.0

#2624 [DOCS] Updates DaemonSet manifest download URL
  docs/dashboards/kubernetes-dashboard.asciidoc
Labels: Team:AWP, v8.5.0

#2617 [DOCS] Reformat requirements callouts in "Endpoint management"
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/blocklist.asciidoc
  docs/management/admin/event-filters.asciidoc
  docs/management/admin/host-isolation-exceptions.asciidoc
  docs/management/admin/host-isolation-ov.asciidoc
  docs/management/admin/response-actions.asciidoc
  docs/management/admin/trusted-apps.asciidoc
Labels: Team:Docs, Feature: Administration, edit, v8.5.0, Feature: Elastic Defend

#2630 [BUG] Fixed subscription link
  docs/detections/alerts-view-details.asciidoc
Labels: bug, Team:Docs, v8.5.0

#2632 [BUG][8.4] Refresh screenshot showing IM rule
  docs/detections/images/indicator-rule-example.png
Labels: Team:Docs, v8.4.0

#2633 [BUG][8.3] Refresh screenshot showing IM rule
  docs/detections/images/indicator-rule-example.png
Labels: bug, Team:Docs

#2634 [BUG][8.0][8.1][8.2] Refresh screenshot showing IM rule
  docs/detections/images/indicator-rule-example.png
Labels: Team:Docs, v8.0.0, v8.1.0, v8.2.0

#2635 [8.0] [BUG][8.0][8.1][8.2] Refresh screenshot showing IM rule (#2634)
  docs/detections/images/indicator-rule-example.png
  docs/detections/rules-ui-create.asciidoc
Labels: backport

#2636 [8.1] [BUG][8.0][8.1][8.2] Refresh screenshot showing IM rule (#2634)
  docs/detections/images/indicator-rule-example.png
Labels: backport

#2638 [8.2] [BUG] Redo - Refresh screenshot showing IM rule
  docs/detections/images/indicator-rule-example.png
Labels: bug, Team:Docs, v8.2.0

#2561 [DOCS] Osquery features in 8.5
  docs/detections/alerts-run-osquery.asciidoc
  docs/detections/alerts-view-details.asciidoc
  docs/detections/detections-index.asciidoc
  docs/detections/images/available-action-types.png
  docs/detections/images/available-response-actions.png
  docs/detections/images/case-button-osquery.png
  docs/detections/images/osquery-button.png
  docs/detections/images/osquery-investigation-guide.png
  docs/detections/images/osquery-results-tab.png
  docs/detections/images/pack-query-results.png
  docs/detections/images/rule-actions.png
  docs/detections/images/run-query-investigation-guide.png
  docs/detections/images/setup-osquery-investigation-guide.png
  docs/detections/images/setup-single-query.png
  docs/detections/images/single-query-results.png
  docs/detections/invest-guide-run-osquery.asciidoc
  docs/detections/osquery-response-action.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/detections/use-osquery.asciidoc
  docs/detections/view-osquery-results.asciidoc
  docs/index.asciidoc
Labels: Team:Docs, Team:Asset Mgmt, readyforQA, Feature: Osquery, v8.5.0

#2643 [DOCS] [RE-DO v2] Update prebuilt rules before upgrading Kibana to 8.x +
  docs/upgrade/upgrade-security.asciidoc
Labels: Team:Docs, v8.0.0, v8.1.0, Feature: Rules, Feature: Prebuilt rules

#2644 [8.0] [DOCS] [RE-DO v2] Update prebuilt rules before upgrading Kibana to 8.x +
  docs/upgrade/upgrade-security.asciidoc
Labels: backport

#2637 [DOCS] Whats new 8.5
  docs/whats-new.asciidoc
  docs/whats-new/images/8.5/affects-rule.png
  docs/whats-new/images/8.5/alert-counts.png
  docs/whats-new/images/8.5/elastic-defend-config.png
  docs/whats-new/images/8.5/elastic-defend.png
  docs/whats-new/images/8.5/ioc.png
  docs/whats-new/images/8.5/render-view.png
  docs/whats-new/images/8.5/response-history.png
  docs/whats-new/images/8.5/rule-preview.png
Labels: highlights, v8.5.0
