Repository elastic/security-docs, pull requests merged in 2022-07, with the labels that each got.

#2181 [DOCS] Document bug where alerting rules created/edited in 8.2 will stop running on upgrade
  docs/release-notes/8.3.asciidoc
Labels: release-notes, v8.3.0, v8.3.1

#2179 [DOCS] 8.3.2 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.3.asciidoc
Labels: Team:Docs, release-notes, v8.3.0, v8.3.2

#2185 [BUG] Fixes typo in 8.3.2 release notes
  docs/release-notes/8.3.asciidoc
Labels: Team:Docs, release-notes, v8.3.0, v8.3.2

#2195 [BUG] Remove #135842 from the 8.3.2 release notes
  docs/release-notes/8.3.asciidoc
Labels: bug, Team:Docs, release-notes, v8.3.0, v8.3.2

#2216 [8.2] Update configure-integration-policy.asciidoc (#2176)
  docs/getting-started/configure-integration-policy.asciidoc
Labels: backport

#2217 [8.1] Update configure-integration-policy.asciidoc (#2176)
  docs/getting-started/configure-integration-policy.asciidoc
Labels: backport

#2218 [8.0] Update configure-integration-policy.asciidoc (#2176)
  docs/getting-started/configure-integration-policy.asciidoc
Labels: backport

#2219 [DOCS] Add deletion sub feature privilege for cases
  docs/cases/images/case-feature-privs.png
  docs/getting-started/cases-req.asciidoc
Labels: Team:Docs, Feature: Cases, Team:ResponseOps, v8.4.0

#2204 [BUG] Refresh section about refining Timeline results
  docs/events/timeline-ui-overview.asciidoc
Labels: Team:Docs, Feature: Data Views, v8.3.0, Feature: Timeline

#2202 [DOCS] 8.3.3 Release notes
  docs/release-notes/8.2.asciidoc
  docs/release-notes/8.3.asciidoc
Labels: Team:Docs, release-notes, v8.2.0, v8.3.0, v8.3.1, v8.3.2, v8.3.3

#2230 [DOCS] Added summary for 136340.
  docs/release-notes/8.2.asciidoc
Labels: release-notes, v8.2.0
