Repository elastic/security-docs, pull requests merged in 2022-08, with the labels that each got.

#2200 [DOCS] Reorganize "Managing detection alerts" topic
  docs/detections/alerts-add-to-cases.asciidoc
  docs/detections/alerts-run-osquery.asciidoc
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/alerts-view-details.asciidoc
  docs/detections/detections-index.asciidoc
  docs/detections/images/add-alert-to-existing-case.png
  docs/detections/images/additional-filters.png
  docs/detections/images/event-rendered-view.png
Labels: Team:Docs, revision, Feature: Alerts, v8.4.0

#2210 [Security Solution][Detections]Adds dry_run mode description to _bulk_action API
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
Labels: Team:Docs, Team:Detections/Response, API, Feature: Rules, v8.4.0

#2203 [DOCS] Add instructions for creating runtime fields from Timeline
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/detections-index.asciidoc
  docs/events/timeline-ui-overview.asciidoc
  docs/reference/images/create-field-flyout.png
  docs/reference/images/fields-browser.png
  docs/reference/ref-index.asciidoc
  docs/reference/runtime-fields.asciidoc
Labels: bug, Team:Docs, Team:Threat Hunting, v8.3.0, Feature: Timeline, v8.4.0

#2253 [BUG] Update jump list to include runtime fields topic
  docs/reference/ref-intro.asciidoc
Labels: bug, Team:Docs, Team:Threat Hunting, v8.3.0, Feature: Timeline, v8.4.0

#2282 [DOCS] Add stub pages for endpoint docs links
  docs/management/admin/response-actions.asciidoc
  docs/management/manage-intro.asciidoc
  docs/troubleshooting/management/ts-management.asciidoc
Labels: Team:Docs, Team:Endpoint, Team:OLM, Feature: Administration, troubleshooting, v8.4.0

#2281 [DOCS] Removes outdated KSPM experimental feature page and ToC ref
  docs/experimental-features/experimental-features-intro.asciidoc
  docs/experimental-features/security-posture-management.asciidoc
  docs/whats-new.asciidoc
Labels: v8.4.0, Kubernetes

#2269 [Endpoint][Response Actions] API docs for Action Details and Action List
  docs/management/api/get-action-api.asciidoc
  docs/management/api/list-actions-api.asciidoc
  docs/management/api/management-api-index.asciidoc
Labels: Team:OLM, v8.4.0, v8.5.0

#2292 [DOCS] Endpoint high CPU known issue in 8.3.3
  docs/release-notes/8.3.asciidoc
Labels: Team:Docs, release-notes, v8.3.0, v8.3.3

#2294 [BUG] Adding link to 8.3.3 release notes
  docs/release-notes.asciidoc
Labels: Team:Docs, release-notes, v8.3.0

#2290 Improve contribution instructions in README file
  README.md
Labels: Team:Docs, backport-skip

#2244 [DOCS] Grouped navigation menu - JBP
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-export.asciidoc
  docs/detections/api/rules/rules-api-import.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
  docs/detections/building-block-rule.asciidoc
  docs/detections/detection-engine-intro.asciidoc
  docs/detections/detections-ui-exceptions.asciidoc
  docs/detections/prebuilt-rules/tune-rule-signals.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/detections/rules-ui-manage.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
  docs/detections/session-view.asciidoc
  docs/detections/visual-event-analyzer.asciidoc
  docs/getting-started/install-endpoint.asciidoc
  docs/management/admin/host-isolation-ov.asciidoc
Labels: Team:Docs, Team:Threat Hunting, Feature: New Navigation, UI, v8.4.0

#2288 [DOCS] Add notes about security for ML anomaly detection job results
  docs/detections/machine-learning/machine-learning.asciidoc
  docs/getting-started/ml-req.asciidoc
Labels: Feature: Machine Learning, v7.17.5, v8.4.0, v8.3.3, v8.5.0

#2302 [8.3] [DOCS] Add notes about security for ML anomaly detection job results (#2288)
  docs/detections/machine-learning/machine-learning.asciidoc
  docs/getting-started/ml-req.asciidoc
Labels: backport

#2303 [7.17] [DOCS] Add notes about security for ML anomaly detection job results (#2288)
  docs/detections/machine-learning/machine-learning.asciidoc
  docs/getting-started/ml-req.asciidoc
Labels: backport

#2295 [DOCS] Updates to Explore pages
  docs/getting-started/images/IP-detail-pg.png
  docs/getting-started/images/network-ui.png
  docs/getting-started/images/users/users-page.png
  docs/getting-started/network-page-overview.asciidoc
  docs/getting-started/users-page.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
  docs/management/hosts/images/events-table.png
  docs/management/hosts/images/hosts-detail-pg.png
  docs/management/hosts/images/hosts-ov-pg.png
Labels: Team:Threat Hunting, v8.4.0

#2251 [DOCS] Advanced rule query preview option available
  docs/detections/images/preview-rule.png
  docs/detections/rules-ui-create.asciidoc
Labels: Team:Docs, Team:Detections/Response, QA:Validated, Feature: Rules, v8.4.0

#2315 [DOCS] Creates stubs for new KSPM pages
  docs/cloud-native-security/benchmark-rules.asciidoc
  docs/cloud-native-security/cloud-native-security-index.asciidoc
  docs/cloud-native-security/kspm.asciidoc
  docs/dashboards/cloud-posture.asciidoc
  docs/dashboards/dashboards-overview.asciidoc
  docs/index.asciidoc
Labels: Team:Cloud Security Posture, v8.4.0, Feature: Kubernetes

#2232 add docs for response action apis
  docs/management/api/host-isolation-api.asciidoc
  docs/management/api/host-isolation-release-api.asciidoc
  docs/management/api/kill-process-api.asciidoc
  docs/management/api/management-api-index.asciidoc
  docs/management/api/running-procs-api.asciidoc
  docs/management/api/suspend-process-api.asciidoc
Labels: Team:OLM, v8.4.0

#2279 [DOCS] Grouped nav menu updates (BIG edition)
  docs/getting-started/grouped-nav-ui.asciidoc
  docs/getting-started/ingest-data.asciidoc
  docs/troubleshooting/detections/detection-rules.asciidoc
Labels: Feature: New Navigation, v8.4.0

#2212 [DOCS] Detection engine wildcard exceptions
  docs/detections/api/exceptions/api-create-exception-item.asciidoc
  docs/detections/detections-ui-exceptions.asciidoc
Labels: Team:Docs, Team:Detections/Response, QA:Validated, Feature: Alerts, Feature: Rules, v8.4.0

#2266 [DOCS] Attack surface reduction / credential hardening
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/images/install-endpoint/attack-surface-reduction.png
Labels: Team:Docs, Team:Endpoint, Feature: Policy, QA:Validated, v8.4.0

#2297 [DOCS] Add Webhook connector to case and connector docs #2221
  docs/cases/cases-overview.asciidoc
  docs/cases/cases-ui-integrations.asciidoc
Labels: Team:Docs, Team:Threat Hunting, Feature: Cases, QA:Validated, Team:ResponseOps, v8.4.0

#2308 Updating Host Risk Score documentation with new enablement process
  docs/experimental-features/host-risk-score.asciidoc
  docs/experimental-features/images/go-to-dashboard.png
  docs/experimental-features/images/host-risk-score-dev-tools-console.png
  docs/experimental-features/images/host-risk-score-enable-dev-tools.png
  docs/experimental-features/images/host-risk-score-import-dashboard.png
  docs/experimental-features/images/score-in-flyout.png
  docs/experimental-features/images/select-dashboard.png
Labels: Team:Threat Hunting, revision, QA:Validated, v8.4.0

#2333 [DOCS][KSPM] Adds section for Findings to the Elastic Sec UI overview
  docs/cloud-native-security/images/findings-page.png
  docs/getting-started/security-ui.asciidoc
Labels: Team:Cloud Security Posture, v8.4.0, Feature: Kubernetes

#2328 [DOCS] Bulk action handling for detection rules
  docs/detections/rules-ui-manage.asciidoc
Labels: Team:Docs, Team:Detections/Response, readyforQA, Feature: Rules, v8.4.0

#2329 [DOCS] Rule execution logs tab renamed to Execution results
  docs/detections/images/exception-histogram.png
  docs/detections/images/rule-execution-logs.png
  docs/detections/rules-ui-monitor.asciidoc
Labels: Team:Docs, Team:Detections/Response, QA:Validated, Feature: Rules, v8.4.0

#2263 [DOCS] Grouped navigation menu - NS
  docs/cases/cases-manage.asciidoc
  docs/events/timeline-templates.asciidoc
  docs/getting-started/threat-intel-integrations.asciidoc
  docs/post-upgrade/post-upgrade-req-cti-alerts.asciidoc
Labels: Team:Docs, Feature: New Navigation, QA:Validated, UI, v8.4.0

#2298 [DOCS] Changes to Alert details flyout and new Insights section
  docs/detections/alerts-view-details.asciidoc
  docs/detections/images/alert-details-flyout.png
  docs/detections/images/insights-section.png
Labels: Team:Docs, Team:Threat Hunting, QA:Validated, Feature: Alerts, v8.4.0

#2309 [DOCS] Alerts now shown in process tree
  docs/detections/images/alert-pill.png
  docs/detections/visual-event-analyzer.asciidoc
Labels: Team:Docs, Team:Threat Hunting, Feature: Analyze Event, QA:Validated, v8.4.0

#2249 [DOCS] New option for users to run query packs from alert
  docs/detections/alerts-run-osquery.asciidoc
  docs/detections/images/discover-button-osquery.png
  docs/detections/images/lens-button-osquery.png
  docs/detections/images/pack-expand-button-osquery.png
  docs/detections/images/pack-query-results.png
  docs/detections/images/query-results.png
  docs/detections/images/setup-query.png
  docs/detections/images/single-query-results.png
  docs/detections/images/timeline-button-osquery.png
Labels: Team:Docs, QA:Validated, Feature: Osquery, v8.4.0

#2289 [DOCS] Response console UI for endpoint actions
  docs/detections/alerts-ui-manage.asciidoc
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/host-isolation-ov.asciidoc
  docs/management/admin/images/activity-log.png
  docs/management/admin/images/add-command-icon.png
  docs/management/admin/images/help-icon.png
  docs/management/admin/images/host-flyout.png
  docs/management/admin/images/response-console-actions-log.png
  docs/management/admin/images/response-console-help-panel.png
  docs/management/admin/images/response-console.png
  docs/management/admin/response-actions.asciidoc
  docs/management/manage-intro.asciidoc
  docs/troubleshooting/management/ts-management.asciidoc
Labels: Team:Docs, Team:OLM, Feature: Administration, QA:Validated, v8.4.0

#2267 [DOCS] Endpoint self-healing rollback
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/index.asciidoc
  docs/getting-started/self-healing-rollback.asciidoc
  docs/management/admin/admin-pg-ov.asciidoc
Labels: Team:Docs, Team:Endpoint, Feature: Policy, QA:Validated, v8.4.0

#2314 [DOCS] 8.4 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.4.asciidoc
Labels: Team:Docs, release-notes, v8.4.0

#2350 [DOCS] 7.17.6 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, v7.17.0, v7.17.6

#2360 [BUG] Minor doc bugs in event analyzer topic
  docs/detections/alerts-view-details.asciidoc
  docs/detections/visual-event-analyzer.asciidoc
Labels: Team:Docs, v8.4.0

#2339 [DOCS] Create rule updates 8.4
  docs/detections/images/create-new-rule.png
  docs/detections/images/saved-query-menu.png
  docs/detections/rules-ui-create.asciidoc
Labels: Team:Detections/Response, readyforQA, Feature: Rules, v8.4.0

#2332 [DOCS][KSPM] Benchmark rules - new doc
  docs/cloud-native-security/benchmark-rules.asciidoc
  docs/cloud-native-security/images/benchmark-rules.png
Labels: Team:Cloud Security Posture, v8.4.0, Feature: Kubernetes

#2331 [DOCS][KSPM] Cloud Posture dashboard - new doc
  docs/dashboards/cloud-posture.asciidoc
  docs/dashboards/images/cloud-sec-dashboard.png
Labels: readyforQA, Team:Cloud Security Posture, v8.4.0, Feature: Kubernetes

#2330 [DOCS][KSPM] KSPM page - new doc
  docs/cloud-native-security/images/kspm-add-agent-wizard.png
  docs/cloud-native-security/kspm.asciidoc
Labels: readyforQA, Team:Cloud Security Posture, v8.4.0, Feature: Kubernetes

#2243 [DOCS][AWP] New page for Kubernetes dashboard
  docs/dashboards/dashboards-overview.asciidoc
  docs/dashboards/images/kubernetes-dashboard.png
  docs/dashboards/images/metadata-tab.png
  docs/dashboards/images/session-data-config.png
  docs/dashboards/kubernetes-dashboard.asciidoc
  docs/detections/session-view.asciidoc
Labels: readyforQA, Team:AWP, v8.4.0, Feature: Kubernetes

#2371 [BUG] Leftover text in table for detection privs
  docs/getting-started/detections-req.asciidoc
Labels: Team:Docs, Team:Detections/Response, v7.17.0

#2369 Update K8s Dashboard Docs with the correct URL
  docs/dashboards/kubernetes-dashboard.asciidoc
Labels: Team:AWP, v8.4.0, Feature: Kubernetes

#2317 [DOCS] "Unhealthy" Agent status and integration policy errors
  docs/getting-started/images/install-endpoint/endpoint-cloud-sec-integrations-page.png
  docs/getting-started/images/install-endpoint/endpoint-cloud-security-configuration.png
  docs/getting-started/install-endpoint.asciidoc
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/images/config-status.png
  docs/troubleshooting/images/unhealthy-agent-fleet.png
  docs/troubleshooting/management/ts-management.asciidoc
Labels: Team:Docs, Team:OLM, Feature: Administration, Feature: Policy, readyforQA, troubleshooting, v8.4.0

#2349 [DOCS][Data Views] - Include docs on import/export behavior of data views
  docs/detections/rules-ui-manage.asciidoc
Labels: Team:Docs, Team:Security Platform, Feature: Data Views, Team:SecuritySolution, Feature: Rules, v8.4.0

#2380 [DOCS] What's new in 8.4
  docs/whats-new.asciidoc
  docs/whats-new/images/8.4/cases-privs.png
  docs/whats-new/images/8.4/cloud-sec-dashboard.png
  docs/whats-new/images/8.4/credential-hardening.png
  docs/whats-new/images/8.4/insights.png
  docs/whats-new/images/8.4/ksp-integration.png
  docs/whats-new/images/8.4/new-nav.gif
  docs/whats-new/images/8.4/new-terms.png
  docs/whats-new/images/8.4/osquery.png
  docs/whats-new/images/8.4/response-console.png
  docs/whats-new/images/8.4/rule-preview.png
  docs/whats-new/images/8.4/treemap-view.png
Labels: highlights, v8.4.0

#2069 [DOCS] New rule fields for prerequisites: Related Integrations, Required Fields, and Setup
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-find.asciidoc
  docs/detections/api/rules/rules-api-get.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
  docs/detections/images/all-rules.png
  docs/detections/images/monitor-table.png
  docs/detections/images/rule-details-prerequisites.png
  docs/detections/images/rules-table-related-integrations.png
  docs/detections/rules-ui-manage.asciidoc
  docs/getting-started/advanced-setting.asciidoc
  docs/release-notes/8.3.asciidoc
Labels: enhancement, Team:Docs, Team:Detections/Response, API, v8.3.0, Team:SecuritySolution, Feature: Rules, v8.4.0

#2384 [DOCS] Prebuilt rules prerequisites: Update Release Notes and What's New in 8.4
  docs/release-notes/8.4.asciidoc
  docs/whats-new.asciidoc
  docs/whats-new/images/8.4/host-risk-score-enable-dev-tools-wn.png
  docs/whats-new/images/8.4/rule-details-prerequisites.png
Labels: enhancement, Team:Docs, Team:Detections/Response, release-notes, Team:SecuritySolution, Feature: Rules, v8.4.0

#2327 [DOCS] Prebuilt rules prerequisites: Add new section to What's New in 8.3
  docs/whats-new.asciidoc
  docs/whats-new/images/8.3/rule-details-prerequisites.png
Labels: enhancement, Team:Docs, Team:Detections/Response, highlights, v8.3.0, Team:SecuritySolution, Feature: Rules

#2388 [BUG] Fix nav directions
  docs/cases/cases-ui-integrations.asciidoc
  docs/detections/rules-ui-manage.asciidoc
Labels: bug, Team:Docs, Feature: New Navigation, v8.4.0

#2379 [DOCS] 8.4.1 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.4.asciidoc
Labels: Team:Docs, release-notes, v8.4.0, v8.4.1

#2375 Add KSPM support for EKS to release notes
  docs/release-notes/8.4.asciidoc
Labels: Team:Docs, release-notes, v8.4.0

#2391 Auto-generate preview links for PRs
  .github/workflows/docs-preview-links.yml
Labels: enhancement, Team:Docs, v8.4.0, v8.5.0

#2423 [8.3] Adds GitHub action to create preview links (#2391)
  .github/workflows/docs-preview-links.yml
Labels: backport

#2424 [8.2] Adds GitHub action to create preview links (#2391)
  .github/workflows/docs-preview-links.yml
Labels: backport

#2425 [8.1] Adds GitHub action to create preview links (#2391)
  .github/workflows/docs-preview-links.yml
Labels: backport

#2426 [8.0] Adds GitHub action to create preview links (#2391)
  .github/workflows/docs-preview-links.yml
Labels: backport

#2427 [7.17] Adds GitHub action to create preview links (#2391)
  .github/workflows/docs-preview-links.yml
Labels: backport
