Repository elastic/security-docs, pull requests merged in 2022-02, with the labels that each got.

#1415 [DOCS] 7.17.0 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: Team:Docs, release-notes, v7.17.0

#1417 [DOCS] Revamped ECS field reference
  docs/reference/field-ref.asciidoc
Labels: v8.0.0, ECS

#1450 [DOCS] Rules page UI updates
  docs/detections/images/all-rules.png
  docs/detections/images/monitor-table.png
  docs/detections/rules-ui-monitor.asciidoc
Labels: Team:Docs, v8.0.0, Team:Detections/Response

#1454 [DOCS] Pre-configured connectors can no longer be used within Cases
  docs/cases/cases-ui-integrations.asciidoc
Labels: Team:Docs, v8.0.0, Team:Threat Hunting, v7.17.0

#1470 [DOCS] Host Isolation notifications
  docs/management/admin/host-isolation-ov.asciidoc
  docs/management/admin/images/host-isolated-notif.png
  docs/management/admin/images/host-released-notif.png
  docs/management/admin/images/isolated-host.png
Labels: Team:Docs, v8.0.0, Team:Endpoint, edit, v8.1.0

#1425 [DOCS] 8.0-rc2 release notes
  docs/release-notes/8.0.asciidoc
Labels: Team:Docs, v8.0.0, release-notes

#1466 [DOCS] Document new behavior for displaying all historical alerts when viewing Rule Details
  docs/detections/alerts-ui-manage.asciidoc
Labels: Team:Docs, v8.0.0, Team:Detections/Response, v8.1.0

#1484 [DOCS] Threat intel data grouped under new "Enriched data" section on Overview tab
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/images/document-summary-section.png
  docs/detections/images/enriched-data-info-icon.png
  docs/detections/images/matched-indicator-sub-sec.png
  docs/detections/images/reason-section.png
  docs/detections/images/threat-intel-fields.png
  docs/detections/images/threat-intel-sub-sec.png
Labels: Team:Docs, v8.0.0, Team:CTI, v8.1.0

#1455 [DOCS] Threat Intel Card uses Fleet TI integrations
  docs/getting-started/images/threat-intelligence-card.png
  docs/getting-started/images/threat-intelligence-view.png
  docs/getting-started/index.asciidoc
  docs/getting-started/security-ui.asciidoc
  docs/getting-started/threat-intel-integrations.asciidoc
Labels: Team:Docs, v8.0.0, Team:CTI, v8.1.0

#1503 [BUG] Missing detail in response example SN connector
  docs/cases/api/cases-api/cases-api-find-connectors.asciidoc
Labels: bug, Team:Docs, v8.0.0, Team:Threat Hunting, v7.16.0, v7.17.0, v8.1.0

#1486 [BUG] API Connector Doc Issues
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
  docs/cases/api/cases-api/case-api-update-connector.asciidoc
  docs/cases/api/cases-api/cases-api-assign-connector.asciidoc
  docs/cases/api/cases-api/cases-api-update.asciidoc
Labels: Team:Docs, v8.0.0, Team:Threat Hunting, v7.14.0, v7.15.0, v7.16.0, v7.17.0, v8.1.0

#1487 [DOCS] Document rec to avoid scheduling IM rules to run faster than an hour
  docs/detections/prebuilt-rules/tune-rule-signals.asciidoc
Labels: Team:Docs, v8.0.0, Team:CTI, v8.1.0

#1444 [DOCS] Support for ECS 1.11 indicator data
  docs/detections/rules-ui-create.asciidoc
  docs/getting-started/advanced-setting.asciidoc
  docs/getting-started/images/adv-settings.png
  docs/getting-started/images/advanced-settings.png
Labels: Team:Docs, v8.0.0, Team:CTI, v8.1.0

#1443 [DOCS] Update case priv docs
  docs/cases/images/case-feature-privs.png
  docs/getting-started/cases-req.asciidoc
  docs/getting-started/sec-app-requirements.asciidoc
Labels: Team:Docs, v8.0.0, Team:Threat Hunting, v8.1.0

#1442 [DOCS] UI updates to Case feature
  docs/cases/cases-overview.asciidoc
  docs/cases/cases-ui-integrations.asciidoc
  docs/cases/images/cases-create-case-button.png
Labels: Team:Docs, v8.0.0, Team:Threat Hunting, v8.1.0

#1502 [BUG] Updates needed to the Actions API topic
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: Team:Docs, v8.0.0, Team:Threat Hunting, v7.16.0, v7.17.0, v8.1.0

#1456 [DOCS] Alert schema 8.0
  docs/reference/alert-schema.asciidoc
  docs/reference/ref-index.asciidoc
  docs/reference/ref-intro.asciidoc
Labels: v8.0.0, Team:Detections/Response, v8.1.0, ECS

#1481 [DOCS] Updates to detection permissions
  docs/getting-started/detections-req.asciidoc
  docs/getting-started/images/sec-admin-user.png
Labels: v8.0.0, Team:Detections/Response, v8.1.0

#1501 [DOCS] Full Disk Access updates [8.0]
  docs/getting-started/endgame-sensor-FDA.asciidoc
  docs/getting-started/images/fda/allow-kernel-ext.png
  docs/getting-started/images/fda/fda-7-16.png
  docs/getting-started/images/fda/lock-button.png
  docs/getting-started/images/fda/sec-privacy-pane.png
  docs/getting-started/images/fda/select-endpoint-ext.png
  docs/getting-started/images/fda/select-fda.png
  docs/getting-started/images/fda/sys-ext-blocked.png
  docs/getting-started/images/install-endpoint/allow-system-ext.png
  docs/getting-started/images/install-endpoint/filter-network-content.png
  docs/getting-started/images/install-endpoint/lock-button.png
  docs/getting-started/images/install-endpoint/system-ext-blocked.png
  docs/getting-started/index.asciidoc
  docs/getting-started/install-elastic-endpoint.asciidoc
  docs/getting-started/install-endpoint.asciidoc
  docs/getting-started/sec-app-requirements.asciidoc
  docs/getting-started/sensor-full-disk-access.asciidoc
Labels: v8.0.0, Team:Endpoint, v8.1.0

#1544 [DOCS] Upgrade Elastic Security
  docs/index.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.0.0, v8.1.0

#1527 [DOCS] New page: Best practices for querying alerts
  docs/detections/detections-index.asciidoc
  docs/detections/query-alert-indices.asciidoc
Labels: v8.0.0, v8.1.0

#1492 [DOCS] 8.0.0 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/8.0.asciidoc
Labels: Team:Docs, v8.0.0, release-notes, v8.1.0

#1532 [DOCS] What's new in 8.0
  docs/whats-new.asciidoc
  docs/whats-new/images/8.0/data-view.png
  docs/whats-new/images/8.0/rule-monitor-table.png
  docs/whats-new/images/8.0/threat-intel.png
Labels: v8.0.0

#1567 Add a missing [discrete tag]
  docs/detections/query-alert-indices.asciidoc
Labels: v8.0.0, v8.1.0

#1572 [DOCS] Add pull attribute definition to breaking changes snippet
  docs/release-notes/8.0.asciidoc
Labels: Team:Docs, backport-skip

#1578 [DOCS] Change links to full URLs on What's New page
  docs/whats-new.asciidoc
Labels: backport-skip

#1586 [Docs] Fix link title in the security docs reference section intro
  docs/reference/ref-intro.asciidoc
Labels: v8.0.0, v8.1.0

#1588 [DOCS] Preview rules privilege update
  docs/detections/rules-ui-create.asciidoc
Labels: v8.0.0, Team:Detections/Response, v8.1.0

#1595 [8.0] [DOCS] Add snippet tags to 8.0 release notes file (#1564)
  docs/release-notes/8.0.asciidoc
Labels: backport

#1594 [8.1] [DOCS] Add snippet tags to 8.0 release notes file (#1564)
  docs/release-notes/8.0.asciidoc
Labels: backport

#1601 [8.0] Add snippet tags to What's New topic (#1575)
  docs/whats-new.asciidoc
Labels: backport

#1602 [8.1] Add snippet tags to What's New topic (#1575)
  docs/whats-new.asciidoc
Labels: backport

#1603 [8.0] [DOCS] Change links to full URLs on What's New page (#1578)
  docs/whats-new.asciidoc
Labels: backport

#1605 [8.1] [DOCS] Update What's New to match 8.0 and main, fix URLs
  docs/whats-new.asciidoc
  docs/whats-new/images/8.0/data-view.png
  docs/whats-new/images/8.0/rule-monitor-table.png
  docs/whats-new/images/8.0/threat-intel.png
Labels: backport

#1558 [DOCS] Document known issue: Rule import fails if exceptions contain comments
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
  docs/release-notes/8.0.asciidoc
Labels: Team:Docs, v8.0.0, Team:Detections/Response, release-notes, v8.1.0

#1585 [DOCS] Rename "Exceptions" page to "Exceptions lists"
  docs/cases/images/cases-change-default-connector.png
  docs/cases/images/cases-home-page.png
  docs/cases/images/cases-ui-connector.png
  docs/cases/images/cases-ui-open.png
  docs/detections/detections-ui-exceptions.asciidoc
  docs/detections/images/exceptions-page.png
  docs/detections/machine-learning/images/ml-ui.png
  docs/detections/machine-learning/machine-learning.asciidoc
  docs/events/images/timeline-ui.png
  docs/experimental-features/images/host-score-overview.png
  docs/getting-started/images/collapse-side-nav-button.gif
  docs/getting-started/images/live-feed-ov-page.png
  docs/getting-started/images/network-ui.png
  docs/getting-started/images/overview-pg.png
  docs/getting-started/images/timeline-ui.png
  docs/getting-started/security-ui.asciidoc
  docs/management/admin/images/event-filters-list.png
  docs/management/admin/images/host-isolation-exceptions-ui.png
  docs/management/admin/images/trusted-apps-list.png
  docs/management/hosts/images/hosts-ov-pg.png
Labels: Team:Docs, revision, v8.1.0

#1580 [DOCS] Enhancements to Upgrade Elastic Security topic
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.0.0, v8.1.0, v8.0.1

#1612 [DOCS] 7.17.1 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: Team:Docs, release-notes, v7.17.0

#1608 [DOCS] 8.0.1 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/8.0.asciidoc
Labels: Team:Docs, v8.0.0, release-notes, v8.1.0

#1627 [BUG][7.17.0 & 7.16.0] Host risk score image is outdated
  docs/experimental-features/images/host-score-overview.png
Labels: bug, Team:Docs, Team:Threat Hunting, v7.16.0, v7.17.0

#1625 [BUG][8.1.0 & 8.0.0] Host risk score image is outdated
  docs/experimental-features/images/host-score-overview.png
Labels: bug, Team:Docs, v8.0.0, Team:Threat Hunting, v8.1.0

#1630 [7.16] [BUG][7.17.0 & 7.16.0] Host risk score image is outdated (#1627)
  docs/experimental-features/images/host-score-overview.png
Labels: backport

#1631 [8.0] [BUG][8.1.0 & 8.0.0] Host risk score image is outdated (#1625)
  docs/experimental-features/images/host-score-overview.png
Labels: backport
