Repository elastic/security-docs, pull requests merged in 2022-05, with the labels that each got.

#1930 [DOCS] Endpoint Management docs: consistency fixes, prerequisite callout
  docs/detections/detections-ui-exceptions.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
  docs/management/admin/blocklist.asciidoc
  docs/management/admin/event-filters.asciidoc
  docs/management/admin/host-isolation-exceptions.asciidoc
  docs/management/admin/trusted-apps.asciidoc
  docs/troubleshooting/management/ts-management.asciidoc
Labels: Team:Docs, Team:OLM, Feature: Onboarding, v8.2.0

#1828 [DOCS] 8.2.0 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/8.2.asciidoc
Labels: Team:Docs, release-notes, QA:Validated, v8.2.0

#1935 [DOCS] What's new in 8.2
  docs/whats-new.asciidoc
  docs/whats-new/images/8.2/alert-prevalance.png
  docs/whats-new/images/8.2/blocklist-page.png
  docs/whats-new/images/8.2/dga.png
  docs/whats-new/images/8.2/getting-started.png
  docs/whats-new/images/8.2/policies-page.png
  docs/whats-new/images/8.2/preview-rules.png
  docs/whats-new/images/8.2/rule-exec-logs.png
  docs/whats-new/images/8.2/run-osquery.png
  docs/whats-new/images/8.2/session-view.png
  docs/whats-new/images/8.2/users-page.png
Labels: v8.2.0, highlights

#1900 Document 'execution_summary' response part of detection APIs
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
  docs/detections/api/rules/rules-api-find.asciidoc
  docs/detections/api/rules/rules-api-get.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: Team:Docs, Team:Detections/Response, v8.1.0, v8.2.0, v8.3.0

#1938 [DOCS] Remove procedure for manually enabling event analyzer
  docs/post-upgrade/post-upgrade-intro.asciidoc
Labels: Team:Docs, v8.0.0, Team:Detections/Response, v8.1.0, v8.2.0

#1966 [BUG] Users page bug fixes for 8.2
  docs/getting-started/images/collapse-side-nav-button.gif
  docs/getting-started/security-ui.asciidoc
Labels: bug, Team:Docs, readyforQA, v8.2.0

#1960 [BUG] Screenshot bugs for 8.2
  docs/detections/images/indicator-rule-example.png
  docs/detections/images/indicator_value_list.png
  docs/management/admin/images/integration-pg.png
Labels: bug, Team:Docs, readyforQA, v8.2.0

#1968 [DOCS][8.2][BUGFIX] Updates analyze-event-timeline.png
  docs/detections/images/analyze-event-timeline.png
Labels: Feature: Analyze Event, v8.2.0

#1967 [DOCS][8.2][BUGFIX] Update Timeline schema topic screenshot
  docs/reference/images/timeline-object-ui.png
Labels: Team:Threat Hunting, QA:Validated, v8.2.0, Feature: Timeline

#1979 [DOCS][8.2][bug]
  docs/detections/session-view.asciidoc
Labels: bug, v8.2.0, Team:AWP, Feature: Session View

#1971 [BUG] Add release notes summary for new Timeline templates
  docs/release-notes/8.2.asciidoc
Labels: bug, Team:Docs, release-notes, v8.2.0, Feature: Timeline

#1961 [BUG]Missing newly added template in 8.2.0 are missing under template doc
  docs/events/timeline-templates.asciidoc
Labels: Team:Docs, Team:Threat Hunting, v8.2.0, Feature: Timeline

#1990 Add note on detection rule alert telemetry privacy
  docs/getting-started/advanced-setting.asciidoc
Labels: Team:Docs, edit, v8.3.0, Feature: Prebuilt rules

#1998 [DOCS] Remove broken links to discontinued anomaly detection jobs
  docs/detections/rules-ui-monitor.asciidoc
Labels: v8.3.0

#1987 [BUG] Revise API examples for consistent tone
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
  docs/detections/api/exceptions/api-create-exception-container.asciidoc
  docs/detections/api/exceptions/api-create-exception-item.asciidoc
  docs/detections/api/exceptions/api-find-exception-containers.asciidoc
  docs/detections/api/exceptions/api-find-exception-items.asciidoc
  docs/detections/api/exceptions/api-get-exception-containers.asciidoc
  docs/detections/api/exceptions/api-get-exception-items.asciidoc
  docs/detections/api/exceptions/api-update-exception-container.asciidoc
  docs/detections/api/exceptions/api-update-exception-item.asciidoc
  docs/detections/api/lists/api-create-list-item.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/events/api/timeline-api-create.asciidoc
Labels: bug, Team:Docs, v8.0.0, API, v8.1.0, v8.2.0

#1989 [BUG] Recorded Future integration can be added to Threat Intelligence module
  docs/getting-started/threat-intel-integrations.asciidoc
Labels: bug, Team:Docs, Team:CTI, v8.1.0, v8.2.0

#1994 [DOCS] [8.0-8.2] Add release note for networking on macOS with Endpoint enabled
  docs/release-notes/8.0.asciidoc
  docs/release-notes/8.1.asciidoc
  docs/release-notes/8.2.asciidoc
Labels: Team:Docs, v8.0.0, Team:Endpoint, release-notes, v8.1.0, v8.2.0

#1997 [DOCS] [7.17] Add release note for networking on macOS with Endpoint enabled
  docs/release-notes/7.17.asciidoc
Labels: Team:Docs, Team:Endpoint, release-notes, v7.17.0

#1993 [BUG] Update Endpoint self-protection OS support for Windows 11, Windows Server 2022, macOS 12
  docs/es-overview.asciidoc
Labels: bug, Team:Docs, v8.0.0, Team:Endpoint, v7.16.0, v7.17.0, v8.1.0, v8.2.0

#1916 [DOCS][7.17.4] Remove note that pre-configured connectors are not supported on cases
  docs/cases/cases-ui-integrations.asciidoc
Labels: Team:Docs, Team:Threat Hunting, Feature: Cases, v7.17.0

#1986 [DOCS] [8.2.1] Remove note that pre-configured connectors are not supported on cases
  docs/cases/cases-ui-integrations.asciidoc
Labels: Team:Docs, Team:Threat Hunting, Feature: Cases, v8.2.0, v8.2.1

#1898 [DOCS] 7.17.4 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: Team:Docs, release-notes, v7.17.4

#1985 [DOCS] 8.2.1 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/8.2.asciidoc
Labels: Team:Docs, release-notes, v8.2.0, v8.2.1

#2019 [DOCS] 8.2.2 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/8.2.asciidoc
Labels: Team:Docs, release-notes, v8.2.0, v8.2.2

#2000 [DOCS] Add note about `meta` field behavior
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: Team:Docs, Team:Detections/Response, edit, v8.1.0, v8.2.0, v8.3.0

#1977 [DOCS] Add note that binary fields are not supported in detection rule exceptions
  docs/detections/detections-ui-exceptions.asciidoc
Labels: Team:Docs, v8.0.0, Team:Detections/Response, v8.1.0, v8.2.0, v8.3.0, Feature: Rules
