Repository elastic/security-docs, pull requests merged in 2022-09, with the labels that each got.

#2430 Revise preview section in README.md
  README.md
Labels: enhancement, Team:Docs, v8.0.0, v7.17.0, v8.1.0, v8.2.0, v8.3.0, v8.4.0, v8.5.0

#2431 Correct 8.4.1 release notes
  docs/release-notes/8.4.asciidoc
Labels: bug, documentation, v8.4.0, v8.4.1

#2422 [DOCS] [BUG] Old Alert page is displaying in screenshot under manage machine learning screenshot
  docs/detections/machine-learning/images/ml-ui.png
Labels: bug, Team:Docs, v8.4.0

#2415 [DOCS] [BUG] Old screenshot under Filter out uncommon application alerts
  docs/detections/prebuilt-rules/images/rule-details-page.png
  docs/detections/prebuilt-rules/tune-rule-signals.asciidoc
Labels: bug, Team:Docs, v8.4.0

#2321 Update index-api-overview.asciidoc
  docs/detections/api/rules/index-api-overview.asciidoc
Labels: v8.3.0, v8.4.0

#2420 [BUG] Old screenshot is displaying under visual event analyzer
  docs/detections/images/analyze-event-button.png
  docs/detections/images/analyzer_KQL_query.png
  docs/detections/visual-event-analyzer.asciidoc
Labels: Team:Docs, Feature: Analyze Event, v8.4.0

#2417 [DOCS] Consolidates info for mapped case fields
  docs/cases/cases-ui-integrations.asciidoc
Labels: Team:Docs, Feature: Connectors, v8.4.0

#2446 [DOCS] Linux deadlock troubleshooting & reference
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/index.asciidoc
  docs/getting-started/linux-file-monitoring.asciidoc
  docs/troubleshooting/management/ts-management.asciidoc
Labels: Team:Docs, Team:Endpoint, Team:OLM, troubleshooting, v8.4.0

#2468 [DOCS] Update screenshots for Timeline templates
  docs/events/images/create-a-timeline-filter.png
  docs/events/images/create-template-ui.png
Labels: Team:Docs, Team:Threat Hunting, Feature: Timeline, v8.4.0

#2482 [DOCS] Remove redundant connector APIs
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
  docs/cases/api/cases-api/cases-api.asciidoc
Labels: v8.5.0

#2357 [DOCS] Document breaking changes in Lucene that caused EQL rule issues
  docs/release-notes/8.0.asciidoc
  docs/release-notes/8.1.asciidoc
  docs/release-notes/8.2.asciidoc
  docs/release-notes/8.3.asciidoc
  docs/release-notes/8.4.asciidoc
Labels: Team:Docs, v8.0.0, release-notes, v8.1.0, v8.2.0, v8.3.0, v8.4.0

#2451 [DOCS] Security UI update 8.4
  docs/getting-started/advanced-setting.asciidoc
  docs/getting-started/images/collapse-side-nav-button.gif
  docs/getting-started/images/dashboards-pg.png
  docs/getting-started/images/manage-pg.png
  docs/getting-started/images/nav-overview.gif
  docs/getting-started/images/side-button.png
  docs/getting-started/security-ui.asciidoc
Labels: UI, v8.4.0, v8.5.0

#2489 [BUG] Correct statement about wildcard support in exceptions
  docs/detections/detections-ui-exceptions.asciidoc
Labels: bug, Team:Docs, v8.4.0, v8.5.0, Feature: Exceptions

#2492 [DOCS] 7.17.6 & 7.17.5 Windows Endpoints may wind up in a non-running state
  docs/release-notes/7.17.asciidoc
Labels: Team:Docs, Team:Endpoint, release-notes, v7.17.0

#2491 [DOCS] 8.4.x Windows Endpoints may wind up in a non-running state
  docs/release-notes/8.4.asciidoc
Labels: Team:Docs, Team:Endpoint, v8.4.0, v8.5.0

#2501 [BUG] Minor typo in rn summary for 138331
  docs/release-notes/8.4.asciidoc
Labels: release-notes, v8.4.0, v8.5.0

#2507 [8.4][DOCS] Remove redundant connector APIs (#2482)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
  docs/cases/api/cases-api/cases-api.asciidoc
Labels: backport

#2509 [DOCS] Add Webhook - Case Management connector to cases API list
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: Feature: Cases, v8.5.0, v8.6.0, v8.4.3

#2511 [8.4][DOCS] Add Webhook - Case Management connector to cases API list (#2509)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: backport

#2476 [DOCS] Update attributes and text references for Elastic Defend integration
  docs/dashboards/kubernetes-dashboard.asciidoc
  docs/dashboards/overview-dashboard.asciidoc
  docs/detections/alerts-view-details.asciidoc
  docs/detections/session-view.asciidoc
  docs/detections/visual-event-analyzer.asciidoc
  docs/es-overview.asciidoc
  docs/getting-started/advanced-setting.asciidoc
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/endpoint-diagnostic-data.asciidoc
  docs/getting-started/images/solution-advanced-settings.png
  docs/getting-started/index.asciidoc
  docs/getting-started/ingest-data.asciidoc
  docs/getting-started/install-elastic-endpoint.asciidoc
  docs/getting-started/install-endpoint.asciidoc
  docs/getting-started/linux-file-monitoring.asciidoc
  docs/getting-started/security-ui.asciidoc
  docs/getting-started/self-healing-rollback.asciidoc
  docs/index.asciidoc
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/blocklist.asciidoc
  docs/management/admin/event-filters.asciidoc
  docs/management/admin/host-isolation-exceptions.asciidoc
  docs/management/admin/images/advanced-settings.png
  docs/management/admin/images/endpoints-pg.png
  docs/management/admin/images/filter-endpoints.png
  docs/management/admin/images/host-flyout.png
  docs/management/admin/images/integration-advanced-settings.png
  docs/management/admin/images/integration-pg.png
  docs/management/admin/images/policy-list.png
  docs/management/admin/policy-list.asciidoc
  docs/management/admin/response-actions.asciidoc
  docs/management/admin/trusted-apps.asciidoc
  docs/management/api/blocklist-api.asciidoc
  docs/management/api/event-filters-api.asciidoc
  docs/management/api/get-endpoint-api.asciidoc
  docs/management/api/host-isolation-api.asciidoc
  docs/management/api/host-isolation-exceptions-api.asciidoc
  docs/management/api/kill-process-api.asciidoc
  docs/management/api/list-endpoints-api.asciidoc
  docs/management/api/management-api-index.asciidoc
  docs/management/api/running-procs-api.asciidoc
  docs/management/api/suspend-process-api.asciidoc
  docs/management/api/trusted-apps-api.asciidoc
  docs/troubleshooting/images/endpoints-transform-failed.png
  docs/troubleshooting/images/unhealthy-agent-fleet.png
  docs/troubleshooting/management/ts-management.asciidoc
Labels: Team:Docs, Team:OLM, v8.5.0, Feature: Elastic Defend

#2520 [DOCS] Update screenshot for Elastic Defend
  docs/management/admin/images/isolated-host.png
Labels: Team:Docs, Team:OLM, v8.5.0, Feature: Elastic Defend

#2506 Add Docs for Bulk Update Schedule and Rule Actions
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
Labels: Team:Docs, Team:Detections/Response, API, Feature: Rules, v8.5.0
