Repository elastic/security-docs, pull requests merged in 2022-04, with the labels that each got.

#1784 [BUG] Case API for adding comment is incorrect
  docs/cases/api/cases-api/cases-api-add-comment.asciidoc
Labels: bug, Team:Docs, API, Feature: Cases, v8.1.0, v8.2.0

#1810 [BUG] Missing breaking change notice for preconfigured connectors in cases
  docs/release-notes/7.17.asciidoc
Labels: bug, Team:Docs, release-notes, v7.17.0

#1808 [DOCS] Indicator match rule preview
  docs/detections/rules-ui-create.asciidoc
Labels: Team:Docs, Team:CTI, v8.2.0

#1811 [DOCS] Blocklist
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/images/install-endpoint/malware-protection.png
  docs/getting-started/security-ui.asciidoc
  docs/management/admin/blocklist.asciidoc
  docs/management/admin/images/blocklist.png
  docs/management/manage-intro.asciidoc
Labels: Team:Docs, Team:OLM, v8.2.0

#1805 [DOCS] 7.17.3 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: Team:Docs, release-notes, v7.17.3

#1806 [DOCS] 8.1.3 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/8.1.asciidoc
Labels: Team:Docs, release-notes, v8.1.0, v8.2.0, v8.1.3

#1848 [8.1] [DOCS] 8.1.3 Release Notes (#1806)
  docs/release-notes.asciidoc
  docs/release-notes/8.1.asciidoc
Labels: backport

#1850 [BUG] Style fix for RN summary in 8.1.3
  docs/release-notes/8.1.asciidoc
Labels: bug, Team:Docs, v8.1.0, v8.2.0, v8.1.3

#1829 [DOCS] Advanced Settings: CCS privileges warning
  docs/getting-started/advanced-setting.asciidoc
  docs/getting-started/images/advanced-settings.png
Labels: Team:Docs, Team:Detections/Response, QA:Validated, v8.2.0

#1823 [DOCS] Wildcards and "matches" operator in Event Filters
  docs/management/admin/event-filters.asciidoc
Labels: Team:Docs, Team:OLM, readyforQA, v8.2.0

#1846 [DOCS] [8.2] Endpoint integration policy: Event collection section to include Session data (Beta)
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/images/install-endpoint/event-collection.png
Labels: Feature: Policy, QA:Validated, v8.2.0

#1887 [DOCS] Blocklist follow-up
  docs/getting-started/configure-integration-policy.asciidoc
  docs/management/admin/blocklist.asciidoc
Labels: Team:Docs, Team:OLM, Feature: Onboarding, v8.2.0

#1809 [DOCS] Changes to message shown in TI card
  docs/getting-started/images/threat-intelligence-view.png
  docs/getting-started/threat-intel-integrations.asciidoc
Labels: Team:Docs, Team:CTI, QA:Validated, v8.2.0

#1854 [DOCS] Add Take action menu to Alert details flyout in Timeline
  docs/events/timeline-ui-overview.asciidoc
Labels: Team:Docs, Team:Threat Hunting, readyforQA, v8.2.0, Feature: Timeline

#1880 [8.2] Adds Blocklist API documentation
  docs/management/api/blocklist-api.asciidoc
  docs/management/api/management-api-index.asciidoc
Labels: Team:OLM, v8.2.0

#1890 [8.2][DOCS] Add warning messages to deprecated APIs
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
Labels: Team:Docs, Team:Detections/Response, v8.2.0

#1886 [BUG] Update Agent installation steps per updated UI
  docs/getting-started/images/install-endpoint/add-agent.png
  docs/getting-started/images/install-endpoint/endpoint-configuration.png
  docs/getting-started/install-endpoint.asciidoc
Labels: bug, Team:Docs, Team:OLM, Feature: Onboarding, QA:Validated, v8.2.0

#1858 [DOCS] New "Getting Started" landing page
  docs/getting-started/images/getting-started-pg.png
  docs/getting-started/ingest-data.asciidoc
  docs/getting-started/security-ui.asciidoc
Labels: Team:Docs, Team:Threat Hunting, Feature: New Navigation, readyforQA, UI, v8.2.0

#1836 [DOCS] New option to "Run Osquery" from the Alert "Take action" button and assoc doc updates
  docs/detections/alerts-run-osquery.asciidoc
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/detections-index.asciidoc
  docs/detections/images/query-results.png
  docs/detections/images/setup-query.png
Labels: Team:Docs, Team:Detections/Response, readyforQA, v8.2.0, Osquery

#1838 [DOCS] Alerts table in rule preview
  docs/detections/images/preview-rule.png
  docs/detections/rules-ui-create.asciidoc
Labels: Team:Docs, Team:Detections/Response, QA:Validated, v8.2.0, Feature: Rules

#1812 [DOCS] Policies page
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/security-ui.asciidoc
  docs/management/admin/images/policy-list.png
  docs/management/admin/policy-list.asciidoc
  docs/management/manage-intro.asciidoc
Labels: Team:Docs, Team:OLM, readyforQA, v8.2.0

#1844 [DOCS][8.2]Update Timeline UI images to include Session View
  docs/events/images/correlation-tab-eql-query.png
  docs/events/images/timeline-ui-filter-options.png
  docs/events/images/timeline-ui-renderer.png
  docs/events/images/timeline-ui-updated.png
  docs/events/timeline-ui-overview.asciidoc
Labels: Team:Threat Hunting, QA:Validated, v8.2.0, Feature: Timeline

#1842 [DOCS] Bulk Editing Rules: Timeline Template
  docs/detections/rules-ui-manage.asciidoc
Labels: Team:Docs, Team:Detections/Response, QA:Validated, v8.2.0, Feature: Rules

#1843 [DOCS] Rules search and filtering: index pattern, MITRE ATT&CK
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/images/all-rules.png
  docs/detections/images/monitor-table.png
  docs/detections/rules-ui-create.asciidoc
  docs/detections/rules-ui-manage.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
  docs/post-upgrade/post-upgrade-req-cti-alerts.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: Team:Docs, Team:Detections/Response, QA:Validated, v8.2.0, Feature: Rules

#1908 [8.2] [DOCS] Field browser and runtime fields on Alerts table (55a23a85)
  docs/detections/alerts-runtime-fields.asciidoc
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/detections-index.asciidoc
  docs/detections/images/create-field-flyout.png
  docs/detections/images/fields-browser.png
Labels: Team:Docs, backport, Team:Threat Hunting, QA:Validated, Feature: Alerts

#1918 [main] [8.2] [DOCS] Field browser and runtime fields on Alerts table (55a23a85) (#1908)
  docs/detections/alerts-runtime-fields.asciidoc
Labels: backport, backport-skip

#1919 [BUG] Fix broken link
  docs/detections/alerts-run-osquery.asciidoc
Labels: bug, documentation, Team:Docs, v8.2.0, feature: Osquery

#1824 [DOCS] [AWP] [8.2] Session View topic
  docs/detections/detections-index.asciidoc
  docs/detections/images/session-view-action-icon-detail.png
  docs/detections/images/session-view-exec-user-change-badge.png
  docs/detections/images/session-view-hosts-page-sessions-tab-labeled.png
  docs/detections/images/session-view-script-button.png
  docs/detections/images/session-view-terminal-labeled.png
  docs/detections/session-view.asciidoc
Labels: QA:Validated, v8.2.0, Team:AWP

#1882 [DOCS] Users page
  docs/getting-started/explore-intro.asciidoc
  docs/getting-started/images/users/chart-menu.png
  docs/getting-started/images/users/events-table.png
  docs/getting-started/images/users/users-page.png
  docs/getting-started/network-page-overview.asciidoc
  docs/getting-started/users-page.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
Labels: Team:Threat Hunting, v8.2.0

#1925 [BUG] Rename alert status action to "Mark as open"
  docs/detections/alerts-ui-manage.asciidoc
Labels: bug, Team:Docs, v8.0.0, Team:Detections/Response, v8.1.0, Feature: Alerts
