Repository elastic/security-docs, pull requests merged in 2022-06, with the labels that each got.

#2055 [BUG] Fixes typo in 8.2 What's New page
  docs/whats-new.asciidoc
Labels: bug, Team:Docs, v8.2.0, v8.3.0

#2038 [DOCS] Refresh screenshots that show outdated KQL bar design - JP
  docs/getting-started/images/add-filter-icon.png
  docs/getting-started/images/collapse-side-nav-button.gif
  docs/getting-started/images/live-feed-ov-page.png
  docs/getting-started/images/network-ui.png
  docs/getting-started/images/overview-pg.png
  docs/getting-started/images/saved-query-menu-icon.png
  docs/getting-started/images/search-bar.png
  docs/getting-started/images/timeline-accessiblity-tab-keys.gif
  docs/getting-started/images/timeline-ui-accessiblity-drag-n-drop.gif
  docs/getting-started/images/users/users-page.png
  docs/getting-started/security-ui.asciidoc
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/images/endpoints-pg.png
  docs/management/admin/images/filter-endpoints.png
  docs/management/admin/images/isolated-host.png
Labels: Team:Docs, v8.3.0

#2049 [DOCS] Update screenshot of the "Getting started" page
  docs/getting-started/images/getting-started-pg.png
  docs/getting-started/security-ui.asciidoc
Labels: Team:Docs, Team:Threat Hunting, UI, v8.3.0

#2033 [DOCS][8.3] Update note on API page
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
  docs/cases/api/cases-api/cases-api.asciidoc
  docs/detections/api/exceptions/api-create-exception-container.asciidoc
  docs/detections/api/exceptions/api-create-exception-item.asciidoc
  docs/detections/api/exceptions/api-delete-exception-container.asciidoc
  docs/detections/api/exceptions/api-delete-exception-item.asciidoc
  docs/detections/api/exceptions/api-find-exception-containers.asciidoc
  docs/detections/api/exceptions/api-find-exception-items.asciidoc
  docs/detections/api/exceptions/api-get-exception-containers.asciidoc
  docs/detections/api/exceptions/api-get-exception-items.asciidoc
  docs/detections/api/exceptions/api-summary-exception-container.asciidoc
  docs/detections/api/exceptions/api-update-exception-container.asciidoc
  docs/detections/api/exceptions/api-update-exception-item.asciidoc
  docs/detections/api/exceptions/exceptions-api-overview.asciidoc
  docs/detections/api/exceptions/lists-index-api-overview.asciidoc
  docs/detections/api/lists/api-create-list-container.asciidoc
  docs/detections/api/lists/api-create-list-item.asciidoc
  docs/detections/api/lists/api-delete-list-container.asciidoc
  docs/detections/api/lists/api-delete-list-item.asciidoc
  docs/detections/api/lists/api-export-list-item.asciidoc
  docs/detections/api/lists/api-find-list-containers.asciidoc
  docs/detections/api/lists/api-find-list-items.asciidoc
  docs/detections/api/lists/api-get-list-containers.asciidoc
  docs/detections/api/lists/api-get-list-items.asciidoc
  docs/detections/api/lists/api-import-list-items.asciidoc
  docs/detections/api/lists/api-update-list-container.asciidoc
  docs/detections/api/lists/api-update-list-item.asciidoc
  docs/detections/api/lists/lists-api-overview.asciidoc
  docs/detections/api/rules/index-api-overview.asciidoc
  docs/detections/api/rules/privileges-api-overview.asciidoc
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-delete.asciidoc
  docs/detections/api/rules/rules-api-export.asciidoc
  docs/detections/api/rules/rules-api-find.asciidoc
  docs/detections/api/rules/rules-api-get.asciidoc
  docs/detections/api/rules/rules-api-import.asciidoc
  docs/detections/api/rules/rules-api-overview.asciidoc
  docs/detections/api/rules/rules-api-prebuilt.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
  docs/detections/api/rules/signals-api-overview.asciidoc
  docs/detections/api/rules/tags-api-overview.asciidoc
  docs/detections/api/signals-migration-api.asciidoc
  docs/events/api/timeline-api-create.asciidoc
  docs/events/api/timeline-api-delete.asciidoc
  docs/events/api/timeline-api-get.asciidoc
  docs/events/api/timeline-api-import.asciidoc
  docs/events/api/timeline-api-overview.asciidoc
  docs/events/api/timeline-api-update.asciidoc
  docs/management/api/blocklist-api.asciidoc
  docs/management/api/event-filters-api.asciidoc
  docs/management/api/get-endpoint-api.asciidoc
  docs/management/api/host-isolation-api.asciidoc
  docs/management/api/host-isolation-exceptions-api.asciidoc
  docs/management/api/host-isolation-release-api.asciidoc
  docs/management/api/list-endpoints-api.asciidoc
  docs/management/api/management-api-index.asciidoc
  docs/management/api/trusted-apps-api.asciidoc
  docs/siem-apis.asciidoc
Labels: Team:Detections/Response, v8.3.0

#2047 [DOCS] Refresh screenshots that show outdated KQL bar design - NS
  docs/detections/images/analyze-event-timeline.png
  docs/detections/images/analyzer_KQL_query.png
  docs/events/images/all-actions-timeline-ui.png
  docs/events/images/correlation-tab-eql-query.png
  docs/events/images/create-a-timeline-filter.png
  docs/events/images/create-template-ui.png
  docs/events/images/timeline-ui-filter-options.png
  docs/events/images/timeline-ui-renderer.png
  docs/events/images/timeline-ui-updated.png
  docs/events/timeline-ui-overview.asciidoc
Labels: Team:Docs, QA:Validated, v8.3.0

#2074 [DOCS] Revise workaround for aggregated fields in threshold rules
  docs/detections/rules-ui-create.asciidoc
Labels: Team:Docs, v8.0.0, Team:Detections/Response, QA:Validated, v8.1.0, v8.2.0, v8.3.0, Team: SecuritySolution, Feature: Alerts

#2075 [DOCS][8.3] Updates "Endpoint Security" to "Endpoint and Cloud Security" screenshots
  docs/getting-started/images/install-endpoint/add-agent.png
  docs/getting-started/images/install-endpoint/add-elastic-endpoint-security.png
  docs/getting-started/images/install-endpoint/endpoint-cloud-sec-add-agent-detail.png
  docs/getting-started/images/install-endpoint/endpoint-cloud-sec-add-agent.png
  docs/getting-started/images/install-endpoint/endpoint-cloud-sec-integrations-page.png
  docs/getting-started/images/install-endpoint/endpoint-cloud-security-configuration.png
  docs/getting-started/images/install-endpoint/endpoint-configuration.png
  docs/getting-started/images/install-endpoint/security-integration.png
  docs/getting-started/install-endpoint.asciidoc
Labels: Team:OLM, QA:Validated, UI, v8.3.0

#2084 [DOCS] Update Import rules API sample return: new `rules_count` field
  docs/detections/api/rules/rules-api-import.asciidoc
Labels: Team:Docs, Team:Detections/Response, API, QA:Validated, v8.3.0, Team: SecuritySolution

#2061 [DOCS] Add new EQL search configuration options
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
  docs/detections/images/eql-rule-query-example.png
  docs/detections/images/eql-settings-icon.png
  docs/detections/rules-ui-create.asciidoc
Labels: Team:Docs, Team:Detections/Response, QA:Validated, v8.3.0, Feature: Rules

#2128 [DOCS] Removed ref to Stack GS
  docs/getting-started/sec-app-requirements.asciidoc
Labels: documentation, Team:Docs, backport, v8.3.0, v8.4.0

#2034 [DOCS][New Page] Creates topic for data views in Elastic Security
  docs/getting-started/data-views-in-sec.asciidoc
  docs/getting-started/images/dataview-button-highlighted.png
  docs/getting-started/images/dataview-filter-example.gif
  docs/getting-started/index.asciidoc
Labels: Team:Docs, v8.0.0, Team:Threat Hunting, readyforQA, v8.1.0, v8.2.0, v8.3.0

#2048 [DOCS] OAuth authentication added to SN connectors
  docs/cases/cases-ui-integrations.asciidoc
Labels: Team:Docs, QA:Validated, v8.3.0, Team:ResponseOps, Feature: Connectors

#2093 [DOCS] 7.17.5 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: Team:Docs, release-notes, v7.17.5

#2067 [DOCS] Add session ID to highlighted fields section in alert details flyout
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/images/alert-details-flyout.png
Labels: Team:Docs, Team:Threat Hunting, QA:Validated, v8.3.0, Feature: Alerts

#2077 [DOCS] Add the "investigate in timeline" button to the alert prevalence section
  docs/detections/alerts-ui-manage.asciidoc
Labels: Team:Docs, Team:Threat Hunting, QA:Validated, v8.3.0, Feature: Alerts

#2059 [DOCS] Update attributes and text references that mention Endpoint Security integration
  docs/detections/detections-ui-exceptions.asciidoc
  docs/detections/session-view.asciidoc
  docs/detections/visual-event-analyzer.asciidoc
  docs/es-overview.asciidoc
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/endpoint-diagnostic-data.asciidoc
  docs/getting-started/index.asciidoc
  docs/getting-started/ingest-data.asciidoc
  docs/getting-started/install-elastic-endpoint.asciidoc
  docs/getting-started/security-ui.asciidoc
  docs/index.asciidoc
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/blocklist.asciidoc
  docs/management/admin/event-filters.asciidoc
  docs/management/admin/host-isolation-exceptions.asciidoc
  docs/management/admin/policy-list.asciidoc
  docs/management/admin/trusted-apps.asciidoc
  docs/management/api/blocklist-api.asciidoc
  docs/management/api/event-filters-api.asciidoc
  docs/management/api/get-endpoint-api.asciidoc
  docs/management/api/host-isolation-api.asciidoc
  docs/management/api/host-isolation-exceptions-api.asciidoc
  docs/management/api/list-endpoints-api.asciidoc
  docs/management/api/management-api-index.asciidoc
  docs/management/api/trusted-apps-api.asciidoc
  docs/troubleshooting/management/ts-management.asciidoc
  docs/whats-new.asciidoc
Labels: Team:Docs, Team:OLM, QA:Validated, v8.3.0

#2085 [DOCS] New page: Detection & Response dashboard
  docs/dashboards/dashboards-overview.asciidoc
  docs/dashboards/detection-response-dashboard.asciidoc
  docs/dashboards/overview-dashboard.asciidoc
  docs/detections/images/detection-response-dashboard.png
  docs/getting-started/images/collapse-side-nav-button.gif
  docs/getting-started/security-ui.asciidoc
  docs/index.asciidoc
Labels: Team:Docs, Team:Threat Hunting, QA:Validated, v8.3.0, Feature: Dashboards

#2088 [DOCS] New grouped navigation side menu
  docs/getting-started/advanced-setting.asciidoc
  docs/getting-started/grouped-nav-ui.asciidoc
  docs/getting-started/images/group-icon.png
  docs/getting-started/images/grouped-nav-ui.png
  docs/getting-started/security-ui.asciidoc
Labels: Team:Docs, Feature: New Navigation, QA:Validated, UI, v8.3.0

#2130 [DOCS] Fix the docs for `/api/detection_engine/rules/_bulk_action` endpoint
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
Labels: Team:Docs, Team:Detections/Response, v8.3.0, Feature: Rules

#2087 [DOCS] Osquery enhancements to the Alerts table and alert details flyout
  docs/detections/alerts-run-osquery.asciidoc
  docs/detections/images/query-results.png
  docs/detections/images/setup-query.png
  docs/detections/images/timeline-button-osquery.png
Labels: Team:Docs, QA:Validated, v8.3.0, feature: Osquery

#2089 [DOCS][8.3] Create CSPM / KSPM page
  docs/experimental-features/experimental-features-intro.asciidoc
  docs/experimental-features/images/kspm-1.png
  docs/experimental-features/images/kspm-2.png
  docs/experimental-features/security-posture-management.asciidoc
Labels: readyforQA, v8.3.0, Team:Cloud Security Posture

#2157 [BUG] Fixing broken ref in breaking changes section
  docs/release-notes/8.3.asciidoc
Labels: Team:Docs, release-notes, v8.3.0

#2163 [DOCS] 8.3.1 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.3.asciidoc
Labels: Team:Docs, release-notes, v8.3.0, v8.3.1

#2174 [BUG] Fixes typo in the "Add an alert to a new case" docs
  docs/detections/alerts-ui-manage.asciidoc
Labels: Team:Docs, v8.2.0, Feature: Alerts
