Repository elastic/security-docs, pull requests merged in 2023-10, with the labels that each got.

#4000 [DOCS] Rename Generative AI connector to OpenAI
  docs/assistant/security-assistant.asciidoc
  docs/release-notes/8.8.asciidoc
Labels: Team: ResponseOps, Feature: GenAI, v8.11.0

#3983 Updates kibana MITRE version reference to `v13.1`
  docs/detections/rules-coverage.asciidoc
Labels: Team: Detections/Response, Feature: Rules, v8.10.0, v8.11.0, v8.10.3

#4010 7.17.14 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, v7.17.14

#4011 8.10.3 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.10.asciidoc
Labels: release-notes, v8.10.0, v8.11.0, v8.10.3

#4007 8.10 bugfixes
  docs/cloud-native-security/cspm-benchmark-rules.asciidoc
  docs/cloud-native-security/cspm-cloud-posture-dashboard.asciidoc
  docs/cloud-native-security/cspm-faq.asciidoc
  docs/cloud-native-security/cspm.asciidoc
  docs/cloud-native-security/images/cnvm-findings-grouped.png
  docs/cloud-native-security/images/cnvm-findings-page.png
  docs/cloud-native-security/images/findings-page.png
  docs/cloud-native-security/images/vuln-management-dashboard.png
  docs/cloud-native-security/kspm-benchmark-rules.asciidoc
  docs/cloud-native-security/kspm-cloud-posture-dashboard.asciidoc
  docs/cloud-native-security/kspm-faq.asciidoc
  docs/cloud-native-security/kspm-get-started.asciidoc
  docs/cloud-native-security/kspm.asciidoc
  docs/cloud-native-security/security-posture-management.asciidoc
  docs/dashboards/cloud-posture.asciidoc
  docs/dashboards/images/kubernetes-dashboard.png
Labels: bug, v8.10.0, v8.11.0

#4027 Adds release note for top command
  docs/release-notes/8.9.asciidoc
Labels: release-notes, v8.9.0, v8.10.0, v8.11.0

#4012 ESQL rule docs stub
  docs/detections/rules-ui-create.asciidoc
Labels: Feature: Rules, Team: Detection Engine, v8.11.0

#4056 adds note about security update to 8.10.4 RNs
  docs/release-notes/8.10.asciidoc
Labels: bug, Team: Endpoint, release-notes, v8.10.0, v8.11.0, v8.10.4

#4051 [BUG] Wrong details in Session Viewer preview for non session alert in documentation
  docs/detections/images/visualizations-section-rp.png
Labels: bug, Team: Threat Hunting, Feature: Alerts, v8.10.0, v8.11.0

#4037 [DOCS] Refresh case settings screenshots
  docs/cases/cases-index.asciidoc
  docs/cases/cases-ui-integrations.asciidoc
  docs/cases/images/cases-home-page.png
  docs/cases/images/cases-settings.png
  docs/cases/images/cases-ui-connector.png
Labels: Feature: Cases, v8.11.0

#4054 Indicators of compromise minor fixes
  docs/cases/indicators-of-compromise.asciidoc
Labels: bug, Feature: Threat intel, Priority: Low, Effort: Small, v8.11.0

#4022 Document a known issue about detection rules being duplicated upon update
  docs/release-notes/8.6.asciidoc
  docs/release-notes/8.7.asciidoc
  docs/release-notes/8.8.asciidoc
  docs/release-notes/8.9.asciidoc
Labels: release-notes, v8.6.0, v8.7.0, v8.8.0, known-issue, v8.9.0, v8.10.0, v8.11.0

#4053 Updates data views gif
  docs/getting-started/data-views-in-sec.asciidoc
  docs/getting-started/images/dataview-filter-example.gif
Labels: bug, Feature: Data Views, Team: Detection Engine, Priority: Medium, Effort: Small, v8.11.0

#4074 Documents steps for deleting the user & host risk score modules
  docs/experimental-features/host-risk-score.asciidoc
  docs/experimental-features/images/delete-hrs-saved-objects.png
  docs/experimental-features/images/delete-hrs-tag.png
  docs/experimental-features/images/delete-urs-saved-objects.png
  docs/experimental-features/images/delete-urs-tag.png
  docs/experimental-features/user-risk-score.asciidoc
Labels: bug, Team: Threat Hunting, v8.5.0, v8.6.0, Feature: Host Risk Score, Feature: User Risk Score, Feature: Entity Analytics, v8.7.0, v8.8.0, v8.9.0, Priority: High, v8.10.0, Effort: Medium, v8.11.0, ESS/Classic

#4070 [DOCS] Add custom fields to cases
  docs/cases/cases-manage.asciidoc
  docs/cases/images/cases-add-custom-field.png
  docs/cases/images/cases-custom-field-settings.png
  docs/getting-started/cases-req.asciidoc
Labels: Feature: Cases, v8.11.0

#4085 [Docs][Rules] Remove custom highlighted fields params from Rule Creation API Docs in 8.10
  docs/detections/api/rules/rules-api-create.asciidoc
Labels: Team: Detection Engine, v8.10.0

#4023 [DE][Exceptions] Allow duplicate case sensitive values for match_any
  docs/detections/add-exceptions.asciidoc
Labels: Feature: Exceptions, Team: Detection Engine, v8.11.0

#4052 [Detection Engine] update API docs for new ES|QL rule
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: Feature: Rules, Team: Detection Engine, v8.11.0

#4071 Update AI Assistant doc to refer to new connector type
  docs/assistant/images/assistant-settings-menu.png
  docs/assistant/security-assistant.asciidoc
Labels: Feature:Elastic AI Assistant, v8.11.0

#4107 [8.11] Data Quality dashboard Same Family updates
  docs/dashboards/data-quality-dashboard.asciidoc
  docs/dashboards/images/data-qual-dash-detail.png
  docs/dashboards/images/data-qual-dash.png
Labels: data quality dashboard, v8.11.0

#4114 Revise reference to endpoints running the Stack [ESS/Classic]
  docs/getting-started/install-elastic-endpoint-ven.asciidoc
  docs/getting-started/install-elastic-endpoint.asciidoc
Labels: bug, v8.11.0, ESS/Classic

#4068 Updates API Authentication section
  docs/siem-apis.asciidoc
Labels: bug, v8.0.0, API, v8.1.0, v8.2.0, v8.3.0, v8.4.0, v8.5.0, v8.6.0, v8.7.0, v8.8.0, v8.9.0, Priority: Medium, v8.10.0, Effort: Small, v8.11.0

#4105 Adds link to Endpoint event documentation
  docs/reference/field-ref.asciidoc
Labels: Team: Endpoint, Priority: Medium, v8.10.0, Effort: Small, Serverless, v8.11.0, ESS/Classic

#4144 Fixes a typo
  docs/cloud-native-security/cspm-get-started-aws.asciidoc
Labels: v8.10.0, v8.11.0
