Repository elastic/security-docs, pull requests merged in 2023-07, with the labels that each got.

#3458 Revise RN summaries for bug that caused fields to appear as unknown
  docs/release-notes/8.8.asciidoc
Labels: Team: Threat Hunting, release-notes, v8.8.0, v8.9.0, Team: Detection Engine, v8.8.1

#3471 [Detection Engine] - Exceptions flyout not loading or extremely slow
  docs/release-notes/8.7.asciidoc
Labels: release-notes, Feature: Exceptions, v8.7.0, v8.8.0, v8.9.0, Team: Detection Engine

#3459 [Detection Engine] - Sourcerer not picking up aliases
  docs/release-notes/8.7.asciidoc
Labels: release-notes, Feature: Data Views, v8.7.0, v8.8.0, v8.9.0, Team: Detection Engine

#3519 [8.10] Endpoint API documentation for get/list endpoints
  docs/management/api/get-endpoint-api.asciidoc
  docs/management/api/list-endpoints-api.asciidoc
Labels: Team: Defend Workflows, API, v8.10.0

#3534 [BUG] Adds missing timeline templates
  docs/events/timeline-templates.asciidoc
Labels: bug, Team: Threat Hunting, Feature: Timeline, v8.7.0, v8.8.0, v8.9.0, Priority: Medium, Effort: Small

#3541 [DOCS] Add category field to cases
  docs/cases/cases-manage.asciidoc
  docs/cases/cases-overview.asciidoc
  docs/cases/images/cases-files.png
  docs/cases/images/cases-home-page.png
  docs/cases/images/cases-ui-open.png
  docs/detections/alerts-add-to-cases.asciidoc
  docs/detections/images/add-alert-to-existing-case.png
  docs/detections/images/add-alert-to-new-case.png
Labels: Feature: Cases, v8.9.0, v8.10.0

#3520 [Upload] Documentation for the `upload` response action api
  docs/management/api/management-api-index.asciidoc
  docs/management/api/upload-api.asciidoc
Labels: Team: Defend Workflows, API, v8.9.0

#3556 [DOCS] Add lens visualizations to cases from dashboards
  docs/cases/cases-manage.asciidoc
Labels: Feature: Cases, v8.9.0, v8.10.0

#3161 Update macOS Endpoint install and deploy documentation for Ventura
  docs/getting-started/elastic-endpoint-reqs.asciidoc
  docs/getting-started/endgame-sensor-FDA.asciidoc
  docs/getting-started/index.asciidoc
  docs/getting-started/install-elastic-endpoint-ven.asciidoc
  docs/getting-started/install-elastic-endpoint.asciidoc
  docs/getting-started/install-endpoint-ven/allow_fda_ven.png
  docs/getting-started/install-endpoint-ven/allow_full_disk_access_notification_ven.png
  docs/getting-started/install-endpoint-ven/allow_network_filter_ven.png
  docs/getting-started/install-endpoint-ven/allow_notifications_from_endpoint_ven.png
  docs/getting-started/install-endpoint-ven/allow_system_extension_ven.png
  docs/getting-started/install-endpoint-ven/enter_login_details_to_confirm_ven.png
  docs/getting-started/install-endpoint-ven/privacy_security_ven.png
  docs/getting-started/install-endpoint-ven/select_fda_ven.png
  docs/getting-started/install-endpoint-ven/system_extension_blocked_warning_ven.png
  docs/getting-started/install-endpoint-ven/verify_fed_granted_ven.png
  docs/getting-started/sec-app-requirements.asciidoc
Labels: Team: Endpoint, v8.7.0, v8.8.0, v8.9.0

#3567 [Detection Rules] Adding Documents for v8.7.9 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-a-scheduled-task-was-updated.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-abnormal-process-id-or-lock-file-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-attempt-to-disable-syslog-service.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-chkconfig-service-add.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-elastic-agent-service-terminated.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-first-time-seen-removable-device.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-high-number-of-process-terminations.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-incoming-execution-via-powershell-remoting.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-incoming-execution-via-winrm-remote-shell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-interactive-terminal-spawned-via-python.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-kernel-load-or-unload-via-kexec-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-linux-restricted-shell-breakout-via-linux-binary-s.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-modification-of-dynamic-linker-preload-shared-object.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-multiple-vault-web-credentials-read.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-code-execution-via-postgresql.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-external-linux-ssh-brute-force-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-internal-linux-ssh-brute-force-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-linux-ransomware-note-creation-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-network-scan-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-network-sweep-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-process-injection-via-ld-preload-environment-variable.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-reverse-shell-via-java.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-reverse-shell-via-suspicious-binary.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-reverse-shell-via-suspicious-child-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-reverse-shell-via-suspicious-parent-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-reverse-shell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-shadow-file-read-via-command-line-utilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-ssh-brute-force-detected-on-privileged-account.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-ssh-password-guessing.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-successful-linux-ftp-brute-force-attack-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-successful-linux-rdp-brute-force-attack-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-potential-syn-based-network-scan-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-rdp-enabled-via-registry.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-remotely-started-services-via-rpc.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-reverse-shell-created-via-named-pipe.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-suspicious-antimalware-scan-interface-dll.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-suspicious-content-extracted-or-decompressed-via-funzip.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-suspicious-data-encryption-via-openssl-utility.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-suspicious-dll-loaded-for-persistence-or-privilege-escalation.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-suspicious-file-changes-activity-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-suspicious-file-creation-in-etc-for-persistence.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-suspicious-modprobe-file-event.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-suspicious-network-connection-attempt-by-root.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-suspicious-powershell-engine-imageload.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-suspicious-proc-pseudo-file-system-enumeration.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-suspicious-sysctl-file-event.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-suspicious-system-commands-executed-by-previously-unknown-executable.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-unusual-file-creation-alternate-data-stream.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rule-8-7-9-wmi-incoming-lateral-movement.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rules-8-7-9-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-9/prebuilt-rules-8-7-9-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: backport-skip, Feature: Prebuilt rules, v8.7.0

#3568 [Detection Rules] Adding Documents for v8.8.7 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-a-scheduled-task-was-updated.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-abnormal-process-id-or-lock-file-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-attempt-to-disable-syslog-service.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-chkconfig-service-add.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-elastic-agent-service-terminated.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-first-time-seen-removable-device.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-high-number-of-process-terminations.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-incoming-execution-via-powershell-remoting.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-incoming-execution-via-winrm-remote-shell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-interactive-terminal-spawned-via-python.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-kernel-load-or-unload-via-kexec-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-linux-restricted-shell-breakout-via-linux-binary-s.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-modification-of-dynamic-linker-preload-shared-object.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-multiple-vault-web-credentials-read.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-code-execution-via-postgresql.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-external-linux-ssh-brute-force-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-internal-linux-ssh-brute-force-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-linux-ransomware-note-creation-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-network-scan-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-network-sweep-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-process-injection-via-ld-preload-environment-variable.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-reverse-shell-via-java.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-reverse-shell-via-suspicious-binary.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-reverse-shell-via-suspicious-child-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-reverse-shell-via-suspicious-parent-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-reverse-shell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-shadow-file-read-via-command-line-utilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-ssh-brute-force-detected-on-privileged-account.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-ssh-password-guessing.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-successful-linux-ftp-brute-force-attack-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-successful-linux-rdp-brute-force-attack-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-potential-syn-based-network-scan-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-rdp-enabled-via-registry.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-remotely-started-services-via-rpc.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-reverse-shell-created-via-named-pipe.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-suspicious-antimalware-scan-interface-dll.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-suspicious-content-extracted-or-decompressed-via-funzip.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-suspicious-data-encryption-via-openssl-utility.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-suspicious-dll-loaded-for-persistence-or-privilege-escalation.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-suspicious-file-changes-activity-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-suspicious-file-creation-in-etc-for-persistence.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-suspicious-lsass-process-access.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-suspicious-modprobe-file-event.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-suspicious-network-connection-attempt-by-root.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-suspicious-powershell-engine-imageload.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-suspicious-proc-pseudo-file-system-enumeration.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-suspicious-sysctl-file-event.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-suspicious-system-commands-executed-by-previously-unknown-executable.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-unusual-file-creation-alternate-data-stream.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rule-8-8-7-wmi-incoming-lateral-movement.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rules-8-8-7-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-7/prebuilt-rules-8-8-7-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: backport-skip, Feature: Prebuilt rules, v8.8.0

#3544 Auto fill exceptions from alert data
  docs/detections/add-exceptions.asciidoc
Labels: Feature: Exceptions, v8.9.0, Team: Detection Engine

#3570 [DOCS] Document the new rule execution status filter
  docs/detections/images/all-rules.png
  docs/detections/images/monitor-table.png
  docs/detections/rules-ui-manage.asciidoc
Labels: Team: Detections/Response, Feature: Rules, v8.9.0, Priority: Medium, Effort: Small

#3564 [BUG] Remove the steps for approving the Endpoint kernel extension
  docs/getting-started/install-elastic-endpoint.asciidoc
Labels: v8.0.0, v8.1.0, v8.2.0, v8.3.0, v8.4.0, v8.5.0, v8.6.0, v8.7.0, v8.8.0, v8.9.0

#3577 Updates around truncated error messages on execution logs
  docs/detections/images/rule-execution-logs.png
  docs/detections/rules-ui-monitor.asciidoc
Labels: Team: Detections/Response, Feature: Rules, v8.9.0, v8.8.1, Priority: Low, Effort: Small

#3557 7.17.12 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, v7.17.12

#3542 Alert tagging & close reason
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/api/rules/signals-api-overview.asciidoc
  docs/detections/images/bulk-apply-alert-tag.png
  docs/getting-started/advanced-setting.asciidoc
  docs/reference/alert-schema.asciidoc
Labels: Feature: Alerts, v8.9.0, Team: Detection Engine

#3546 Automated response actions for rules
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/alerts-view-details.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/images/alert-details-flyout.png
  docs/detections/images/available-response-actions.png
  docs/detections/rules-ui-create.asciidoc
  docs/management/admin/host-isolation-ov.asciidoc
  docs/management/admin/images/response-actions-history-console.png
  docs/management/admin/images/response-actions-history-page.png
  docs/management/admin/response-actions-history.asciidoc
  docs/management/admin/response-actions.asciidoc
  docs/osquery/images/available-response-actions-osquery.png
  docs/osquery/images/available-response-actions.png
  docs/osquery/images/osquery-results-tab.png
  docs/osquery/images/setup-single-query.png
  docs/osquery/osquery-response-action.asciidoc
Labels: Team: Defend Workflows, Feature: Rules, v8.9.0

#3598 Updates API docs that reference the need for superuser role
  docs/management/api/host-isolation-api.asciidoc
  docs/management/api/host-isolation-release-api.asciidoc
  docs/management/api/kill-process-api.asciidoc
  docs/management/api/running-procs-api.asciidoc
  docs/management/api/suspend-process-api.asciidoc
Labels: bug, Team: Defend Workflows, API, v8.7.0, v8.8.0, v8.9.0, Priority: Medium, Effort: Small

#3503 Interactive investigation guides enhancements in 8.9
  docs/detections/detections-index.asciidoc
  docs/detections/images/ig-alert-flyout.png
  docs/detections/images/ig-error-icon.png
  docs/detections/images/ig-filters-field-custom-value.png
  docs/detections/images/ig-investigate-icon.png
  docs/detections/images/ig-investigation-guide-editor.png
  docs/detections/images/ig-investigation-query-builder.png
  docs/detections/images/ig-timeline-query.png
  docs/detections/images/ig-timeline-template-fields.png
  docs/detections/images/ig-timeline.png
  docs/detections/investigation-guide-actions.asciidoc
  docs/experimental-features/experimental-features-intro.asciidoc
  docs/experimental-features/images/ig-alert-flyout.png
  docs/experimental-features/images/ig-insights-icon.png
  docs/experimental-features/images/ig-investigation-guide-editor.png
  docs/experimental-features/images/ig-investigation-query-builder.png
Labels: Team: Threat Hunting, v8.9.0, Priority: Medium, Effort: Small

#3555 Updates to vuln mangmt. page
  docs/cloud-native-security/images/cnvm-findings-grouped.png
  docs/cloud-native-security/images/cnvm-findings-page.png
  docs/cloud-native-security/vuln-management-findings.asciidoc
Labels: Team: Cloud Security, v8.9.0, Priority: High, Effort: Medium, Feature: Vulnerability management

#3579 CNVM FAQ Updates 8.9
  docs/cloud-native-security/vuln-management-faq.asciidoc
Labels: Team: Cloud Security, v8.9.0, Feature: Vulnerability management

#3592 8.8 CNVM FAQ updates
  docs/cloud-native-security/vuln-management-faq.asciidoc
Labels: Team: Cloud Security, v8.8.0, Feature: Vulnerability management

#3536 8.9.0 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.7.asciidoc
  docs/release-notes/8.9.asciidoc
Labels: release-notes, v8.9.0

#3599 [8.9] Adds CloudFormation deployment method to CSPM docs
  docs/cloud-native-security/cspm-get-started.asciidoc
  docs/cloud-native-security/images/cspm-cloudformation-template.png
Labels: Team: Cloud Security, v8.9.0, Feature: CSPM

#3553 [8.9] CNVM dash page
  docs/cloud-native-security/cloud-native-security-index.asciidoc
  docs/cloud-native-security/images/vuln-management-dashboard.png
  docs/cloud-native-security/kspm-cloud-posture-dashboard.asciidoc
  docs/cloud-native-security/vuln-management-dashboard.asciidoc
  docs/dashboards/cloud-posture.asciidoc
  docs/dashboards/dashboards-overview.asciidoc
  docs/dashboards/vuln-management-dashboard-dash.asciidoc
  docs/getting-started/images/dashboards-pg.png
Labels: Team: Cloud Security, v8.9.0, Priority: High, Effort: Large, Feature: Vulnerability management

#3552 Prebuilt detection rules: new UI for installing and upgrading
  docs/cloud-native-security/d4c-get-started.asciidoc
  docs/detections/detections-index.asciidoc
  docs/detections/images/install-prebuilt-settings.png
  docs/detections/images/prebuilt-rules-add-badge.png
  docs/detections/images/prebuilt-rules-add.png
  docs/detections/images/prebuilt-rules-update.png
  docs/detections/machine-learning/machine-learning.asciidoc
  docs/detections/prebuilt-rules-management.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/detections/rules-ui-manage.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
  docs/whats-new.asciidoc
Labels: Team: Detections/Response, Feature: Rules, Feature: Prebuilt rules, v8.9.0, Priority: High, Effort: Large

#3605 Remove tags for breaking changes
  docs/release-notes/8.8.asciidoc
  docs/release-notes/8.9.asciidoc
Labels: release-notes, v8.9.0, Priority: High, Effort: Small

#3625 Prebuilt rules tags documentation [8.8 - 8.5]
  docs/detections/rules-ui-manage.asciidoc
Labels: Feature: Rules, Feature: Prebuilt rules, v8.5.0, v8.6.0, v8.7.0, v8.8.0, Priority: Medium, Effort: Medium

#3600 Document the new Detection rule monitoring dashboard
  docs/dashboards/dashboards-overview.asciidoc
  docs/dashboards/images/dashboards-landing-page.png
  docs/dashboards/images/rule-monitoring-overview.png
  docs/dashboards/rule-monitoring-dashboard.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
Labels: Team: Detections/Response, Feature: Rules, v8.9.0, Priority: Medium, Effort: Medium

#3629 [8.6] Prebuilt rules tags documentation (backport #3625)
  docs/detections/rules-ui-manage.asciidoc
Labels: backport

#3627 [bugfix] [8.9] Adds [discrete] tags to CNVM Dashboard UI section
  docs/cloud-native-security/vuln-management-dashboard.asciidoc
  docs/dashboards/vuln-management-dashboard-dash.asciidoc
Labels: v8.9.0, Priority: High, Effort: Small, Feature: Vulnerability management

#3633 Whats new 8.9
  docs/whats-new.asciidoc
  docs/whats-new/images/8.9/AI-anonymous.png
  docs/whats-new/images/8.9/AI-system-prompt.gif
  docs/whats-new/images/8.9/CNVM-dashboard.png
  docs/whats-new/images/8.9/IG-UI.png
  docs/whats-new/images/8.9/alert-tags.png
  docs/whats-new/images/8.9/integrations.png
  docs/whats-new/images/8.9/prebuilt-rules.png
  docs/whats-new/images/8.9/rule-monitor-dashboard.png
Labels: highlights, v8.9.0

#3505 Backport updates to compatibility callout - investigation guides
  docs/experimental-features/investigation-guide-actions.asciidoc
Labels: Team: Threat Hunting, v8.6.0, v8.7.0, v8.8.0

#3611 [BUG] Refresh refs to the Endpoint install docs
  docs/getting-started/endgame-sensor-FDA.asciidoc
  docs/getting-started/install-endpoint.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.7.0, v8.8.0, v8.9.0

#3574 UI updated for unmapped fields and fields with type conflicts
  docs/detections/add-exceptions.asciidoc
  docs/troubleshooting/detections/detection-rules.asciidoc
  docs/troubleshooting/images/warning-icon-message.png
Labels: Feature: Exceptions, v8.9.0, Team: Detection Engine

#3651 Update siem-ui.asciidoc
  docs/getting-started/siem-ui.asciidoc
Labels: v8.9.0
