Repository elastic/security-docs, pull requests merged in 2023-08, with the labels that each got.

#3656 Remove breaking changes tags
  docs/release-notes/8.0.asciidoc
  docs/release-notes/8.1.asciidoc
  docs/release-notes/8.2.asciidoc
  docs/release-notes/8.3.asciidoc
  docs/release-notes/8.4.asciidoc
  docs/release-notes/8.5.asciidoc
  docs/release-notes/8.6.asciidoc
  docs/release-notes/8.8.asciidoc
  docs/release-notes/8.9.asciidoc
Labels: v8.9.0, v8.10.0

#3659 Removes outdated tutorials
  docs/cases/cases-ui-integrations.asciidoc
Labels: v8.9.0, Priority: Medium, Effort: Small

#3660 [7.17] Removes outdated tutorials
  docs/cases/cases-ui-integrations.asciidoc
  docs/detections/rules-ui-manage.asciidoc
Labels: v7.17.0, Priority: Medium, Effort: Small

#3668 Adds lateral movement snippet to highlights
  docs/whats-new.asciidoc
  docs/whats-new/images/8.9/lateral-movement.gif
Labels: highlights, v8.9.0

#3672 [BUG] Typos in Endpoint manual install instructions
  docs/getting-started/install-elastic-endpoint.asciidoc
Labels: v8.7.0, v8.8.0, v8.9.0

#3678 [BUG] Fix outdated screenshot of the response actions history tab
  docs/management/admin/images/response-actions-history-endpoint-details.png
Labels: bug, Team: Defend Workflows, v8.9.0

#3685 Fixes host vs user terminology in EA/Explore docs
  docs/dashboards/entity-dashboard.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
Labels: bug, Team: Threat Hunting, v8.6.0, Feature: Entity Analytics, v8.7.0, v8.8.0, v8.9.0, Priority: Medium, Effort: Small

#3398 Adds information about canary files and the quarantine process for malicious files
  docs/getting-started/configure-integration-policy.asciidoc
Labels: v8.7.0, v8.8.0, v8.9.0

#3648 Update ML page with anomaly detection jobs from Elastic integrations
  docs/detections/machine-learning/machine-learning.asciidoc
Labels: Feature: Machine Learning, v8.9.0

#3707 Add sorting to Endpoint Metadata routes
  docs/management/api/list-endpoints-api.asciidoc
Labels: Team: Defend Workflows, v8.10.0

#3683 [BUG] Mention limited preview options for Threshold and Event Correlation rules
  docs/detections/rules-ui-create.asciidoc
Labels: bug, v8.1.0, v8.2.0, v8.3.0, Feature: Rules

#3680 [BUG] Create role UI refreshed - screenshot outdated
  docs/getting-started/images/sec-admin-user.png
Labels: bug, v8.8.0, v8.9.0

#3644 [Release notes] Add known issue about Alerts table and nested file.name field
  docs/release-notes/8.8.asciidoc
  docs/release-notes/8.9.asciidoc
Labels: Team: Threat Hunting, release-notes, v8.8.0, v8.9.0

#3679 [Conditional actions] Expand description for hours field #3417
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
Labels: Feature: Rules, v8.8.0, v8.9.0

#3724 [DOCS] Remove content reuse for cases
  docs/cases/cases-manage.asciidoc
  docs/index.asciidoc
Labels: v8.10.0, v8.9.1

#3709 Negative correlation in event correlation (EQL) rules
  docs/detections/rules-ui-create.asciidoc
Labels: Feature: Rules, v8.9.0, Team: Detection Engine, v8.9.1

#3726 [Bugfix] CSPM doc typo
  docs/cloud-native-security/cspm-benchmark-rules.asciidoc
Labels: v8.9.0, Priority: Low, v8.10.0, Effort: Small

#3729 [8.9][DOCS] Remove content reuse for cases (#3724)
  docs/cases/cases-manage.asciidoc
  docs/index.asciidoc
Labels: backport

#3730 [8.8][DOCS] Remove content reuse for cases (#3724)
  docs/cases/cases-manage.asciidoc
  docs/index.asciidoc
Labels: backport

#3732 [8.6][DOCS] Remove content reuse for cases (#3724)
  docs/cases/cases-manage.asciidoc
  docs/index.asciidoc
Labels: backport

#3690 8.9.1 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.9.asciidoc
Labels: release-notes, v8.9.0, Priority: High, v8.10.0, Effort: Small, v8.9.1

#3736 Adds cross ref to 8.9.1 release notes
  docs/release-notes/8.9.asciidoc
Labels: release-notes, v8.9.0, v8.10.0, v8.9.1

#3653 Execute and Get File API documentation
  docs/management/api/execute-api.asciidoc
  docs/management/api/get-file-api.asciidoc
  docs/management/api/list-actions-api.asciidoc
  docs/management/api/management-api-index.asciidoc
Labels: Team: Defend Workflows, API, v8.9.0, v8.10.0

#3751 [Detection Rules] Update Downloadable Updates Description for 8.7.11 Package
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
Labels: Feature: Prebuilt rules, v8.7.0

#3752 [Detection Rules] Update Downloadable Updates Description for 8.9.4 Package
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
Labels: Feature: Prebuilt rules, v8.9.0

#3753 [Detection Rules] Update Downloadable Updates Description for 8.10.1 Package
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
Labels: Feature: Prebuilt rules, v8.10.0

#3745 [8.10] CNVM features go GA
  docs/cloud-native-security/vuln-management-dashboard.asciidoc
Labels: Feature: Kubernetes, Team: Cloud Security, Priority: High, v8.10.0, Effort: Small, Feature: Vulnerability management

#3661 Create an Elastic Defend policy through API
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/create-defend-policy-api.asciidoc
  docs/getting-started/index.asciidoc
Labels: Team: Defend Workflows, API, Feature: Elastic Defend, v8.8.0, v8.9.0, Priority: Medium, v8.10.0, Effort: Large

#3692 Adds missing Update Timeline & Timeline template API docs
  docs/events/api/timeline-api-index.asciidoc
  docs/events/api/timeline-template-api-update.asciidoc
Labels: v8.0.0, Team: Threat Hunting, API, v7.17.0, v8.1.0, v8.2.0, v8.3.0, Feature: Timeline, v8.4.0, v8.5.0, v8.6.0, v8.7.0, v8.8.0, v8.9.0, Priority: Medium, v8.10.0, Effort: Medium

#3681 [BUG][8.6] Re-add the beta tag to docs for the Alerts related by process ancestry section
  docs/detections/alerts-view-details.asciidoc
Labels: bug, Team: Threat Hunting, v8.6.0

#3682 [BUG][8.5] Re-add the beta tag to docs for the Alerts related by process ancestry section
  docs/detections/alerts-view-details.asciidoc
Labels: bug, Team: Threat Hunting, v8.5.0

#3722 Add a note in 8.8 docs about known legacy action migration issue
  docs/release-notes/8.8.asciidoc
  docs/release-notes/8.9.asciidoc
Labels: release-notes, v8.8.0, v8.9.0, Team: Detection Engine, v8.8.1, v8.8.2, v8.10.0

#3742 Change deep link to ES book for setting up remote clusters
  docs/detections/rules-cross-cluster-search.asciidoc
Labels: v8.10.0

#3710 Remove book-scoped attributes in AsciiDoc [Serverless]
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
  docs/cases/cases-ui-integrations.asciidoc
  docs/detections/api/rules/privileges-api-overview.asciidoc
  docs/detections/api/rules/rules-api-overview.asciidoc
  docs/detections/detection-engine-intro.asciidoc
  docs/detections/machine-learning/machine-learning.asciidoc
  docs/detections/prebuilt-rules-management.asciidoc
  docs/detections/prebuilt-rules/tune-rule-signals.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
  docs/es-overview.asciidoc
  docs/events/timeline-ui-overview.asciidoc
  docs/getting-started/advanced-setting.asciidoc
  docs/getting-started/detections-req.asciidoc
  docs/getting-started/siem-ui.asciidoc
  docs/index.asciidoc
  docs/post-upgrade/post-upgrade-req.asciidoc
  docs/release-notes/8.0.asciidoc
  docs/siem-apis.asciidoc
  docs/siem/installation.asciidoc
  docs/siem/overview.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.9.0, Priority: Medium, v8.10.0, Effort: Medium, Serverless

#3783 [DOCS] Connector shared attributes
  docs/assistant/security-assistant.asciidoc
  docs/cases/cases-manage.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: v8.8.0, v8.9.0, v8.10.0

#3800 [Detection Rules] Update security docs prebuilt rules 8.10.1 broken links
  docs/detections/prebuilt-rules/downloadable-packages/8-10-1/prebuilt-rules-8-10-1-appendix.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-changelog.asciidoc
  docs/detections/prebuilt-rules/rule-details/enumerating-domain-trusts-via-nltest.exe.asciidoc
Labels: Feature: Prebuilt rules, v8.10.0

#3803 CSPM Findings page 8.9 screenshot update
  docs/cloud-native-security/images/findings-page.png
Labels: v8.8.0, v8.9.0

#3805 [Detection Rules] Update more security docs prebuilt rules 8.10.1 broken links
  docs/detections/prebuilt-rules/downloadable-packages/8-10-1/prebuilt-rules-8-10-1-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-changelog.asciidoc
  docs/detections/prebuilt-rules/rule-desc-index.asciidoc
Labels: Feature: Prebuilt rules, v8.10.0

#3813 Create stub page for rules coverage page
  docs/detections/detections-index.asciidoc
  docs/detections/rules-coverage.asciidoc
Labels: Team: Detections/Response, Feature: Rules, Priority: Medium, v8.10.0, Effort: Small

#3739 Documents the Security Solution tag
  docs/dashboards/dashboards-overview.asciidoc
Labels: Team: Threat Hunting, Feature: Dashboards, v8.4.0, v8.5.0, v8.6.0, v8.7.0, v8.8.0, Priority: High, Effort: Small

#3712 Update issue templates for known issues.
  .github/ISSUE_TEMPLATE/known-issue.md
Labels: backport-skip

#3819 [API docs] Fixes URLs in the update exception container docs and create exception item docs
  docs/detections/api/exceptions/api-create-exception-item.asciidoc
  docs/detections/api/exceptions/api-update-exception-container.asciidoc
Labels: v8.0.0, API, v7.17.0, v8.1.0, v8.2.0, v8.3.0, v8.4.0, v8.5.0, Feature: Exceptions, v8.6.0, v8.7.0, v8.8.0, v8.9.0, v8.10.0

#3799 Updates EA screenshots
  docs/experimental-features/host-risk-score.asciidoc
  docs/experimental-features/images/hosts-by-risk-details-page.png
  docs/experimental-features/images/hosts-by-risk-tab.png
  docs/experimental-features/images/hrs-all-hosts.png
  docs/experimental-features/images/score-in-flyout.png
  docs/experimental-features/images/urs-overview-section.png
  docs/experimental-features/images/urs-score-flyout.png
  docs/experimental-features/images/users-by-risk-details-page.png
  docs/experimental-features/images/usr-details-usr-risk-tab.png
  docs/experimental-features/user-risk-score.asciidoc
  docs/getting-started/images/users/user-details-pg.png
  docs/getting-started/images/users/users-page.png
  docs/management/hosts/images/hosts-detail-pg.png
  docs/management/hosts/images/hosts-ov-pg.png
Labels: Team: Threat Hunting, Feature: Entity Analytics, v8.8.0, v8.9.0, Priority: Medium, v8.10.0, Effort: Medium

#3845 [DOCS] Removes // from filebeat links
  docs/getting-started/ingest-data.asciidoc
Labels: Team:Docs, backport, v7.17.0, v8.9.0, v8.10.0
