Repository elastic/security-docs, pull requests merged in 2023-06, with the labels that each got.

#3316 [v8.7] fix broken url
  docs/detections/api/rules/rules-api-create.asciidoc
Labels: v8.4.0, v8.5.0, v8.6.0, v8.7.0, v8.8.0

#3390 [bugfix] updates UI images for 8.8
  docs/getting-started/images/dashboards-pg.png
  docs/getting-started/images/manage-pg.png
Labels: v8.8.0

#3389 Cloud native security overview updates
  docs/cloud-native-security/cloud-native-security-index.asciidoc
Labels: Team: Cloud Security, v8.8.0

#3406 [Detection Rules] Adding Documents for v8.5.5 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-adding-hidden-file-attribute-via-attrib.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-application-added-to-google-workspace-domain.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-application-removed-from-blocklist-in-google-workspace.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-code-signing-policy-modification-through-built-in-tools.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-code-signing-policy-modification-through-registry.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-command-prompt-network-connection.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-delete-volume-usn-journal-with-fsutil.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-domain-added-to-google-workspace-trusted-domains.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-google-drive-ownership-transferred-via-google-workspace.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-google-workspace-2sv-policy-disabled.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-google-workspace-admin-role-assigned-to-a-user.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-google-workspace-admin-role-deletion.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-google-workspace-api-access-granted-via-domain-wide-delegation-of-authority.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-google-workspace-bitlocker-setting-disabled.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-google-workspace-custom-admin-role-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-google-workspace-custom-gmail-route-created-or-modified.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-google-workspace-password-policy-modified.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-google-workspace-restrictions-for-google-marketplace-modified-to-allow-any-app.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-google-workspace-role-modified.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-google-workspace-user-organizational-unit-changed.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-interactive-terminal-spawned-via-python.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-mfa-disabled-for-google-workspace-organization.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-msbuild-making-network-connections.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-network-connection-via-compiled-html-file.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-network-connection-via-registration-utility.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-network-connection-via-signed-binary.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-potential-evasion-via-filter-manager.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-potential-external-linux-ssh-brute-force-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-potential-internal-linux-ssh-brute-force-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-reverse-shell-created-via-named-pipe.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-service-control-spawned-via-script-interpreter.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-suspicious-certutil-commands.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-suspicious-service-was-installed-in-the-system.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-system-shells-via-services.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rule-8-5-5-untrusted-driver-loaded.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rules-8-5-5-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-5/prebuilt-rules-8-5-5-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: documentation, Feature: Prebuilt rules, v8.5.0

#3407 [Detection Rules] Adding Documents for v8.6.5 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-adding-hidden-file-attribute-via-attrib.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-application-added-to-google-workspace-domain.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-application-removed-from-blocklist-in-google-workspace.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-code-signing-policy-modification-through-built-in-tools.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-code-signing-policy-modification-through-registry.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-command-prompt-network-connection.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-delete-volume-usn-journal-with-fsutil.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-domain-added-to-google-workspace-trusted-domains.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-first-time-seen-driver-loaded.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-google-drive-ownership-transferred-via-google-workspace.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-google-workspace-2sv-policy-disabled.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-google-workspace-admin-role-assigned-to-a-user.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-google-workspace-admin-role-deletion.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-google-workspace-api-access-granted-via-domain-wide-delegation-of-authority.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-google-workspace-bitlocker-setting-disabled.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-google-workspace-custom-admin-role-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-google-workspace-custom-gmail-route-created-or-modified.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-google-workspace-password-policy-modified.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-google-workspace-restrictions-for-google-marketplace-modified-to-allow-any-app.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-google-workspace-role-modified.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-google-workspace-user-organizational-unit-changed.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-interactive-terminal-spawned-via-python.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-mfa-disabled-for-google-workspace-organization.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-msbuild-making-network-connections.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-network-connection-via-compiled-html-file.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-network-connection-via-registration-utility.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-network-connection-via-signed-binary.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-potential-evasion-via-filter-manager.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-potential-external-linux-ssh-brute-force-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-potential-internal-linux-ssh-brute-force-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-reverse-shell-created-via-named-pipe.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-service-control-spawned-via-script-interpreter.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-suspicious-certutil-commands.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-suspicious-service-was-installed-in-the-system.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-system-shells-via-services.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rule-8-6-5-untrusted-driver-loaded.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rules-8-6-5-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-5/prebuilt-rules-8-6-5-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: documentation, backport-skip, Feature: Prebuilt rules, v8.6.0

#3408 [Detection Rules] Adding Documents for v8.7.5 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-adding-hidden-file-attribute-via-attrib.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-application-added-to-google-workspace-domain.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-application-removed-from-blocklist-in-google-workspace.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-code-signing-policy-modification-through-built-in-tools.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-code-signing-policy-modification-through-registry.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-command-prompt-network-connection.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-delete-volume-usn-journal-with-fsutil.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-domain-added-to-google-workspace-trusted-domains.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-first-time-seen-driver-loaded.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-google-drive-ownership-transferred-via-google-workspace.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-google-workspace-2sv-policy-disabled.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-google-workspace-admin-role-assigned-to-a-user.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-google-workspace-admin-role-deletion.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-google-workspace-api-access-granted-via-domain-wide-delegation-of-authority.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-google-workspace-bitlocker-setting-disabled.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-google-workspace-custom-admin-role-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-google-workspace-custom-gmail-route-created-or-modified.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-google-workspace-password-policy-modified.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-google-workspace-restrictions-for-google-marketplace-modified-to-allow-any-app.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-google-workspace-role-modified.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-google-workspace-user-organizational-unit-changed.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-interactive-terminal-spawned-via-python.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-mfa-disabled-for-google-workspace-organization.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-msbuild-making-network-connections.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-network-connection-via-compiled-html-file.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-network-connection-via-registration-utility.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-network-connection-via-signed-binary.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-potential-evasion-via-filter-manager.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-potential-external-linux-ssh-brute-force-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-potential-internal-linux-ssh-brute-force-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-reverse-shell-created-via-named-pipe.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-service-control-spawned-via-script-interpreter.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-suspicious-certutil-commands.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-suspicious-service-was-installed-in-the-system.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-system-shells-via-services.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rule-8-7-5-untrusted-driver-loaded.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rules-8-7-5-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-5/prebuilt-rules-8-7-5-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: documentation, backport-skip, Feature: Prebuilt rules, v8.7.0

#3409 [Detection Rules] Adding Documents for v8.8.3 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-adding-hidden-file-attribute-via-attrib.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-application-added-to-google-workspace-domain.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-application-removed-from-blocklist-in-google-workspace.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-code-signing-policy-modification-through-built-in-tools.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-code-signing-policy-modification-through-registry.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-command-prompt-network-connection.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-delete-volume-usn-journal-with-fsutil.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-domain-added-to-google-workspace-trusted-domains.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-first-time-seen-driver-loaded.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-google-drive-ownership-transferred-via-google-workspace.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-google-workspace-2sv-policy-disabled.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-google-workspace-admin-role-assigned-to-a-user.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-google-workspace-admin-role-deletion.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-google-workspace-api-access-granted-via-domain-wide-delegation-of-authority.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-google-workspace-bitlocker-setting-disabled.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-google-workspace-custom-admin-role-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-google-workspace-custom-gmail-route-created-or-modified.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-google-workspace-password-policy-modified.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-google-workspace-restrictions-for-google-marketplace-modified-to-allow-any-app.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-google-workspace-role-modified.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-google-workspace-user-organizational-unit-changed.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-interactive-terminal-spawned-via-python.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-mfa-disabled-for-google-workspace-organization.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-msbuild-making-network-connections.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-network-connection-via-compiled-html-file.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-network-connection-via-registration-utility.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-network-connection-via-signed-binary.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-potential-evasion-via-filter-manager.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-potential-external-linux-ssh-brute-force-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-potential-internal-linux-ssh-brute-force-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-reverse-shell-created-via-named-pipe.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-service-control-spawned-via-script-interpreter.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-suspicious-certutil-commands.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-suspicious-service-was-installed-in-the-system.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-system-shells-via-services.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rule-8-8-3-untrusted-driver-loaded.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rules-8-8-3-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-3/prebuilt-rules-8-8-3-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: documentation, backport-skip, Feature: Prebuilt rules, v8.8.0

#3422 Add stub page for Security Assistant
  docs/assistant/security-assistant.asciidoc
  docs/index.asciidoc
Labels: v8.8.0, v8.8.1, Severity:Medium, ChatAI

#3416 Fix link to obs guide topic about Splunk
  docs/getting-started/ingest-data.asciidoc
Labels: backport, v8.8.0

#3418 8.8.1 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.8.asciidoc
Labels: release-notes, v8.8.0, v8.8.1

#3425 Elastic Security Assistant initial docs (8.8.1)
  docs/assistant/images/assistant.gif
  docs/assistant/images/icon-add-note.png
  docs/assistant/images/icon-add-to-case.png
  docs/assistant/images/icon-add-to-timeline.png
  docs/assistant/images/icon-clear-red.png
  docs/assistant/images/icon-copy.png
  docs/assistant/images/icon-settings.png
  docs/assistant/images/icon-system-prompt.png
  docs/assistant/images/quick-prompts.png
  docs/assistant/images/system-prompt.gif
  docs/assistant/security-assistant.asciidoc
Labels: v8.8.0, v8.8.1, Severity:Medium, ChatAI

#3431 Remove 8.8.0 BC tag
  docs/release-notes/8.8.asciidoc
Labels: release-notes, v8.8.0, v8.8.1

#3392 Fix various QA bugs; add frontmatter
  docs/getting-started/defend-feature-privs.asciidoc
  docs/getting-started/images/endpoint-privileges.png
  docs/management/admin/images/response-console-help-panel.png
  docs/management/admin/images/response-console.png
  docs/management/admin/response-actions.asciidoc
Labels: bug, v8.8.0

#3388 QA bugs filed for 8.8
  docs/cases/images/indicator-added-to-case.png
  docs/cases/indicators-of-compromise.asciidoc
  docs/detections/images/selected-action-type.png
  docs/osquery/images/available-response-actions.png
Labels: bug, Feature: Cases, Feature: Rules, Feature: Connectors, Feature: Threat intel, v8.8.0

#3435 [DOCS] Fix Jira connector example
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: v7.9.0, v7.10.1, v7.11.3, v7.12.2, v7.13.3, v7.14.2, v7.15.2, v7.16.3, v8.0.1, v8.1.3, v8.2.3, v8.3.3, v7.17.11

#3437 [DOCS] Fix Jira connector example (#3435)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: backport, v8.2.0

#3441 [7.16][DOCS] Fix Jira connector example (#3435)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: backport

#3442 [7.15][DOCS] Fix Jira connector example (#3435)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: backport

#3438 [DOCS] Fix Jira connector example (#3435)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: backport, v8.1.0

#3443 [7.14][DOCS] Fix Jira connector example (#3435)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: backport, v7.14.0

#3439 [DOCS] Fix Jira connector example (#3435)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: backport, v8.0.0

#3444 [7.13][DOCS] Fix Jira connector example (#3435)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: backport, v7.13.3

#3446 [7.11][DOCS] Fix Jira connector example (#3435)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: backport, v7.11.3

#3447 [7.10][DOCS] Fix Jira connector example (#3435)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: backport, v7.10.1

#3440 [7.9][DOCS] Fix Jira connector example (#3435)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: backport, v7.9.0

#3445 [7.12][DOCS] Fix Jira connector example (#3435)
  docs/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: backport, v7.12.0, v7.12.2

#3394 Document a guidance for 8.5 constant loading rule edit/details page
  docs/release-notes/8.5.asciidoc
  docs/release-notes/8.6.asciidoc
Labels: v8.5.0, v8.6.0, v8.7.0, v8.8.0

#3463 [BUG] Remove advanced sorting toggle on Rules page [8.0]
  docs/detections/rules-ui-manage.asciidoc
Labels: bug, v8.0.0, v7.17.0, Feature: Rules

#3464 [7.17] Remove advanced sorting toggle on Rules page (#3463)
  docs/detections/rules-ui-manage.asciidoc
Labels: backport

#3465 [Detection Rules] Adding Documents for v8.5.6 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-5-6/prebuilt-rule-8-5-6-remote-system-discovery-commands.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-6/prebuilt-rule-8-5-6-suspicious-powershell-engine-imageload.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-6/prebuilt-rule-8-5-6-unusual-file-creation-alternate-data-stream.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-6/prebuilt-rule-8-5-6-wmi-incoming-lateral-movement.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-6/prebuilt-rules-8-5-6-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-6/prebuilt-rules-8-5-6-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: documentation, Feature: Prebuilt rules, v8.5.0

#3466 [Detection Rules] Adding Documents for v8.6.6 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-6-6/prebuilt-rule-8-6-6-cron-job-created-or-changed-by-previously-unknown-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-6/prebuilt-rule-8-6-6-new-systemd-service-created-by-previously-unknown-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-6/prebuilt-rule-8-6-6-new-systemd-timer-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-6/prebuilt-rule-8-6-6-remote-system-discovery-commands.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-6/prebuilt-rule-8-6-6-suspicious-powershell-engine-imageload.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-6/prebuilt-rule-8-6-6-unusual-file-creation-alternate-data-stream.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-6/prebuilt-rule-8-6-6-wmi-incoming-lateral-movement.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-6/prebuilt-rules-8-6-6-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-6/prebuilt-rules-8-6-6-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: documentation, Feature: Prebuilt rules, v8.6.0

#3467 [Detection Rules] Adding Documents for v8.7.6 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-7-6/prebuilt-rule-8-7-6-cron-job-created-or-changed-by-previously-unknown-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-6/prebuilt-rule-8-7-6-new-systemd-service-created-by-previously-unknown-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-6/prebuilt-rule-8-7-6-new-systemd-timer-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-6/prebuilt-rule-8-7-6-remote-system-discovery-commands.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-6/prebuilt-rule-8-7-6-suspicious-powershell-engine-imageload.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-6/prebuilt-rule-8-7-6-unusual-file-creation-alternate-data-stream.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-6/prebuilt-rule-8-7-6-wmi-incoming-lateral-movement.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-6/prebuilt-rules-8-7-6-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-6/prebuilt-rules-8-7-6-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: documentation, Feature: Prebuilt rules, v8.7.0

#3468 [Detection Rules] Adding Documents for v8.8.4 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-8-4/prebuilt-rule-8-8-4-cron-job-created-or-changed-by-previously-unknown-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-4/prebuilt-rule-8-8-4-new-systemd-service-created-by-previously-unknown-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-4/prebuilt-rule-8-8-4-new-systemd-timer-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-4/prebuilt-rule-8-8-4-remote-system-discovery-commands.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-4/prebuilt-rule-8-8-4-suspicious-powershell-engine-imageload.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-4/prebuilt-rule-8-8-4-unusual-file-creation-alternate-data-stream.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-4/prebuilt-rule-8-8-4-wmi-incoming-lateral-movement.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-4/prebuilt-rules-8-8-4-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-4/prebuilt-rules-8-8-4-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: documentation, Feature: Prebuilt rules, v8.8.0

#3476 Add ETag information to self-hosted artifact sections
  docs/getting-started/offline-endpoint.asciidoc
Labels: v8.6.0, v8.7.0, v8.8.0, v8.9.0

#3415 7.17.11 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, v7.17.11

#3472 8.8.2 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.8.asciidoc
Labels: release-notes, v8.8.2

#3512 [Detection Rules] Adding Documents for v8.5.8 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-5-8/prebuilt-rule-8-5-8-azure-full-network-packet-capture-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-8/prebuilt-rule-8-5-8-deprecated-threat-intel-filebeat-module-v8-x-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-8/prebuilt-rule-8-5-8-deprecated-threat-intel-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-8/prebuilt-rule-8-5-8-potential-antimalware-scan-interface-bypass-via-powershell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-8/prebuilt-rule-8-5-8-powershell-keylogging-script.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-8/prebuilt-rule-8-5-8-powershell-mailbox-collection-script.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-8/prebuilt-rule-8-5-8-powershell-script-with-encryption-decryption-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-8/prebuilt-rule-8-5-8-powershell-suspicious-script-with-clipboard-retrieval-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-8/prebuilt-rule-8-5-8-threat-intel-hash-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-8/prebuilt-rule-8-5-8-threat-intel-ip-address-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-8/prebuilt-rule-8-5-8-threat-intel-url-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-8/prebuilt-rule-8-5-8-threat-intel-windows-registry-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-8/prebuilt-rules-8-5-8-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-8/prebuilt-rules-8-5-8-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: documentation, Feature: Prebuilt rules, v8.5.0

#3511 [Detection Rules] Adding Documents for v8.8.6 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-8-6/prebuilt-rule-8-8-6-azure-full-network-packet-capture-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-6/prebuilt-rule-8-8-6-deprecated-threat-intel-filebeat-module-v8-x-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-6/prebuilt-rule-8-8-6-deprecated-threat-intel-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-6/prebuilt-rule-8-8-6-potential-antimalware-scan-interface-bypass-via-powershell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-6/prebuilt-rule-8-8-6-powershell-keylogging-script.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-6/prebuilt-rule-8-8-6-powershell-mailbox-collection-script.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-6/prebuilt-rule-8-8-6-powershell-script-with-encryption-decryption-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-6/prebuilt-rule-8-8-6-powershell-suspicious-script-with-clipboard-retrieval-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-6/prebuilt-rule-8-8-6-threat-intel-hash-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-6/prebuilt-rule-8-8-6-threat-intel-ip-address-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-6/prebuilt-rule-8-8-6-threat-intel-url-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-6/prebuilt-rule-8-8-6-threat-intel-windows-registry-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-6/prebuilt-rules-8-8-6-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-6/prebuilt-rules-8-8-6-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: documentation, Feature: Prebuilt rules, v8.8.0

#3514 [Detection Rules] Adding Documents for v8.9.1 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-9-1/prebuilt-rule-8-9-1-azure-full-network-packet-capture-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-9-1/prebuilt-rule-8-9-1-deprecated-threat-intel-filebeat-module-v8-x-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-9-1/prebuilt-rule-8-9-1-deprecated-threat-intel-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-9-1/prebuilt-rule-8-9-1-potential-antimalware-scan-interface-bypass-via-powershell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-9-1/prebuilt-rule-8-9-1-powershell-keylogging-script.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-9-1/prebuilt-rule-8-9-1-powershell-mailbox-collection-script.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-9-1/prebuilt-rule-8-9-1-powershell-script-with-encryption-decryption-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-9-1/prebuilt-rule-8-9-1-powershell-suspicious-script-with-clipboard-retrieval-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-9-1/prebuilt-rule-8-9-1-threat-intel-hash-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-9-1/prebuilt-rule-8-9-1-threat-intel-ip-address-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-9-1/prebuilt-rule-8-9-1-threat-intel-url-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-9-1/prebuilt-rule-8-9-1-threat-intel-windows-registry-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-9-1/prebuilt-rules-8-9-1-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-9-1/prebuilt-rules-8-9-1-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: documentation, Feature: Prebuilt rules, v8.9.0

#3510 [Detection Rules] Adding Documents for v8.7.8 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-7-8/prebuilt-rule-8-7-8-azure-full-network-packet-capture-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-8/prebuilt-rule-8-7-8-deprecated-threat-intel-filebeat-module-v8-x-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-8/prebuilt-rule-8-7-8-deprecated-threat-intel-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-8/prebuilt-rule-8-7-8-potential-antimalware-scan-interface-bypass-via-powershell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-8/prebuilt-rule-8-7-8-powershell-keylogging-script.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-8/prebuilt-rule-8-7-8-powershell-mailbox-collection-script.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-8/prebuilt-rule-8-7-8-powershell-script-with-encryption-decryption-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-8/prebuilt-rule-8-7-8-powershell-suspicious-script-with-clipboard-retrieval-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-8/prebuilt-rule-8-7-8-threat-intel-hash-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-8/prebuilt-rule-8-7-8-threat-intel-ip-address-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-8/prebuilt-rule-8-7-8-threat-intel-url-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-8/prebuilt-rule-8-7-8-threat-intel-windows-registry-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-8/prebuilt-rules-8-7-8-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-8/prebuilt-rules-8-7-8-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: documentation, Feature: Prebuilt rules, v8.7.0

#3509 [Detection Rules] Adding Documents for v8.6.8 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-6-8/prebuilt-rule-8-6-8-azure-full-network-packet-capture-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-8/prebuilt-rule-8-6-8-deprecated-threat-intel-filebeat-module-v8-x-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-8/prebuilt-rule-8-6-8-deprecated-threat-intel-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-8/prebuilt-rule-8-6-8-potential-antimalware-scan-interface-bypass-via-powershell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-8/prebuilt-rule-8-6-8-powershell-keylogging-script.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-8/prebuilt-rule-8-6-8-powershell-mailbox-collection-script.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-8/prebuilt-rule-8-6-8-powershell-script-with-encryption-decryption-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-8/prebuilt-rule-8-6-8-powershell-suspicious-script-with-clipboard-retrieval-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-8/prebuilt-rule-8-6-8-threat-intel-hash-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-8/prebuilt-rule-8-6-8-threat-intel-ip-address-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-8/prebuilt-rule-8-6-8-threat-intel-url-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-8/prebuilt-rule-8-6-8-threat-intel-windows-registry-indicator-match.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-8/prebuilt-rules-8-6-8-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-8/prebuilt-rules-8-6-8-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
  docs/whats-new.asciidoc
Labels: documentation, Feature: Prebuilt rules, v8.6.0

#3470 [Detection Engine] - Exceptions item update API
  docs/release-notes/8.7.asciidoc
  docs/release-notes/8.8.asciidoc
Labels: release-notes, v8.7.0, v8.8.0, v8.7.1, v8.8.1
