Repository elastic/security-docs, pull requests merged in 2023-03, with the labels that each got.

#3009 Exception also applies to threat indices in IM rule
  docs/detections/add-exceptions.asciidoc
Labels: Team: Security Platform, v8.6.0, v8.7.0, Team: Rules

#3018 [BUG] Exception "matches" operator example is incorrect and misleading
  docs/detections/add-exceptions.asciidoc
Labels: Team: Security Platform, Feature: Exceptions, v8.6.0, v8.7.0

#3026 Alert suppression time window
  docs/detections/alert-suppression.asciidoc
  docs/detections/images/alert-suppression-options.png
  docs/detections/rules-ui-create.asciidoc
Labels: Team: Detections/Response, Feature: Alerts, v8.7.0, Team: Alerts

#2998 Rules table UX enhancements for 8.7
  docs/detections/images/all-rules.png
  docs/detections/images/monitor-table.png
  docs/detections/rules-ui-manage.asciidoc
Labels: Team: Detections/Response, Feature: Rules, v8.7.0, Team: Rules

#3000 Resizeable rule preview
  docs/detections/images/collapse-right-icon.png
  docs/detections/images/preview-rule.png
  docs/detections/rules-ui-create.asciidoc
Labels: Team: Detections/Response, Feature: Alerts, Feature: Rules, v8.7.0, Team: Alerts

#3001 [BUG] Fix errors in the Host isolation exception topic
  docs/management/api/_exceptions-api-reusable-content.asciidoc
  docs/management/api/host-isolation-exceptions-api.asciidoc
Labels: Team: Defend Workflows, v8.6.0, v8.7.0

#3025 Adding warning to exceptions that describes field conflicts and mapping issues
  docs/detections/add-exceptions.asciidoc
  docs/troubleshooting/detections/detection-rules.asciidoc
  docs/troubleshooting/images/field-warning-icon.png
  docs/troubleshooting/images/warning-icon-message.png
  docs/troubleshooting/images/warning-type-conflicts.png
  docs/troubleshooting/images/warning-unmapped-fields.png
Labels: Team: Detections/Response, Feature: Exceptions, v8.7.0

#3052 Rule exceptions can expire and misc. exception UI changes
  docs/detections/add-exceptions.asciidoc
  docs/detections/api/exceptions/api-create-exception-item.asciidoc
  docs/detections/api/exceptions/api-update-exception-item.asciidoc
  docs/detections/images/actions-exception-list.png
  docs/detections/images/add-exception-ui.png
  docs/detections/images/default-rule-list.png
  docs/detections/images/exception-affects-multiple-rules.png
  docs/detections/images/manage-default-rule-list.png
  docs/detections/images/manage-value-list.png
  docs/detections/images/rule-exception-tab.png
  docs/detections/images/upload-lists-ui.png
  docs/detections/shared-exception-lists.asciidoc
  docs/detections/value-list-exceptions.asciidoc
Labels: Team: Detections/Response, Feature: Exceptions, v8.7.0

#3045 Placeholder fields and Osquery UI updates
  docs/osquery/alerts-run-osquery.asciidoc
  docs/osquery/invest-guide-run-osquery.asciidoc
  docs/osquery/osquery-index.asciidoc
  docs/osquery/osquery-placeholder-fields.asciidoc
  docs/osquery/osquery-response-action.asciidoc
Labels: Team: Defend Workflows, Feature: Osquery, v8.7.0

#3063 Env Var capture updates
  docs/cloud-native-security/environment-variable-capture.asciidoc
  docs/cloud-native-security/images/env-var-capture-detail.png
Labels: v8.6.0, v8.7.0, Team: Cloud Security

#3040 Endpoint management RBAC
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/defend-feature-privs.asciidoc
  docs/getting-started/images/endpoint-privileges.png
  docs/getting-started/install-endpoint.asciidoc
  docs/management/admin/admin-pg-ov.asciidoc
  docs/management/admin/blocklist.asciidoc
  docs/management/admin/event-filters.asciidoc
  docs/management/admin/host-isolation-exceptions.asciidoc
  docs/management/admin/policy-list.asciidoc
  docs/management/admin/trusted-apps.asciidoc
Labels: Team: Defend Workflows, Feature: Administration, v8.7.0

#3043 Get file - endpoint response action
  docs/management/admin/response-actions.asciidoc
Labels: Team: Defend Workflows, Feature: Response console, v8.7.0

#3058 Alerts table/page updates for 8.7
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/alerts-visualizations.asciidoc
  docs/detections/images/additional-filters.png
  docs/detections/images/alert-page-visualizations.png
  docs/detections/images/alert-page-viz-collapsed.png
  docs/detections/images/alert-page.png
  docs/detections/images/alert-table-toolbar-buttons.png
  docs/detections/images/alerts-viz-counts.png
  docs/detections/images/alerts-viz-summary.png
  docs/detections/images/alerts-viz-table.png
  docs/detections/images/alerts-viz-treemap.png
  docs/detections/images/alerts-viz-trend.png
  docs/detections/images/collapse-icon-horiz-down.png
  docs/detections/images/event-rendered-view.png
  docs/detections/images/expand-icon-vertical-right.png
  docs/detections/images/group-alerts-expand.png
  docs/detections/images/group-alerts.png
Labels: Team: Threat Hunting, Feature: Alerts, v8.7.0

#3022 Overview and Table tabs added to Indicator details flyout in cases
  docs/cases/indicators-of-compromise.asciidoc
Labels: Team: Protections Experience, v8.7.0

#3023 Create rule from Timeline
  docs/events/timeline-templates.asciidoc
  docs/events/timeline-ui-overview.asciidoc
Labels: Team: Threat Hunting, Feature: Timeline, v8.7.0

#3059 Data Quality dashboard
  docs/dashboards/dashboards-overview.asciidoc
  docs/dashboards/data-quality-dashboard.asciidoc
  docs/dashboards/images/data-qual-dash-detail.png
  docs/dashboards/images/data-qual-dash.png
Labels: Feature: Dashboards, v8.7.0

#3049 8.7 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/8.7.asciidoc
Labels: release-notes, v8.7.0

#3067 [BUG] Adding .internal indices permission necessity for rule preview feature permission docs
  docs/detections/rules-ui-create.asciidoc
  docs/getting-started/detections-req.asciidoc
Labels: v8.0.0, Team: Security Platform, v8.1.0, v8.2.0, v8.3.0, Feature: Rules, v8.4.0, v8.5.0, v8.6.0, v8.7.0

#3069 Elastic Defend installation/onboarding changes for 8.7
  docs/getting-started/images/install-endpoint/endpoint-cloud-sec-integrations-page.png
  docs/getting-started/images/install-endpoint/endpoint-cloud-security-configuration.png
  docs/getting-started/install-endpoint.asciidoc
Labels: Team: Defend Workflows, Feature: Onboarding, Feature: Elastic Defend, v8.7.0

#3024 IoCs can be added to blocklists
  docs/cases/indicators-of-compromise.asciidoc
Labels: Team: Protections Experience, v8.7.0

#3109 [Bug]Fixes bug in breaking changes
  docs/release-notes/8.7.asciidoc
Labels: release-notes, v8.7.0

#3112 updating 8.7 release note to include CSPM
  docs/release-notes/8.7.asciidoc
Labels: v8.7.0

#3120 [8.7] Adds known issue upgrading agents with Osquery Manager
  docs/release-notes/8.7.asciidoc
Labels: release-notes, v8.7.0

#3111 Whats new 8.7
  docs/whats-new.asciidoc
  docs/whats-new/images/8.7/cases-copy-case-id.png
  docs/whats-new/images/8.7/data-qual-dash.png
  docs/whats-new/images/8.7/endpoint-privileges.png
  docs/whats-new/images/8.7/field-warning-icon.png
  docs/whats-new/images/8.7/integrations.png
  docs/whats-new/images/8.7/timelines-create-rule.png
Labels: highlights, v8.7.0
