Repository elastic/security-docs, pull requests merged in 2023-04, with the labels that each got.

#3133 [bug] Image update
  docs/dashboards/images/custom-dashboard-setup.png
  docs/getting-started/images/dashboards-pg.png
Labels: v8.7.0

#3152 [BUGS] Fix 8.7 bugs, screenshots
  docs/detections/images/create-new-rule.png
  docs/detections/rules-ui-create.asciidoc
  docs/management/admin/images/response-console-help-panel.png
Labels: bug, Team:Docs, Feature: Rules, Feature: Response console, v8.7.0

#3156 Add Linux Elastic Defend 8.7.0 known issue doc
  docs/release-notes/8.7.asciidoc
Labels: bug, release-notes, Feature: Elastic Defend, v8.7.0

#3141 [DOCS] Update configure-integration-policy.asciidoc
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/images/install-endpoint/ransomware-protection.png
Labels: bug, Feature: Policy, Feature: Elastic Defend, v8.7.0

#3163 [main] [DOCS] Update configure-integration-policy.asciidoc (#3141)
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/images/install-endpoint/ransomware-protection.png
Labels: backport, backport-skip

#3173 [DOCS] Reformats `8.7` release notes
  docs/release-notes/8.7.asciidoc
Labels: release-notes, v8.7.0

#3138 7.17.10 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, v7.17.10

#3137 8.7.1 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.6.asciidoc
  docs/release-notes/8.7.asciidoc
Labels: release-notes, v8.7.0, v8.8.0, v8.7.1

#3195 [Detection Rules] Adding Documents for v8.4.5 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-component-object-model-hijacking.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-connection-to-commonly-abused-web-services.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-first-time-seen-google-workspace-oauth-login-from-third-party-application.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-google-workspace-object-copied-from-external-drive-and-access-granted-to-custom-application.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-linux-restricted-shell-breakout-via-linux-binary-s.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-multiple-logon-failure-from-the-same-source-address.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-potential-credential-access-via-windows-utilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-potential-defense-evasion-via-proot.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-potential-hidden-process-via-mount-hidepid.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-potential-linux-credential-dumping-via-unshadow.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-potential-process-injection-via-powershell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-powershell-script-with-token-impersonation-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-powershell-suspicious-discovery-related-windows-api-functions.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-powershell-suspicious-payload-encoded-and-compressed.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-third-party-backup-files-deleted-via-unexpected-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-unusual-linux-network-configuration-discovery.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rule-8-4-5-unusual-linux-user-discovery-activity.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rules-8-4-5-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-5/prebuilt-rules-8-4-5-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: Feature: Prebuilt rules, v8.4.0

#3196 [Detection Rules] Adding Documents for v8.5.3 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-component-object-model-hijacking.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-connection-to-commonly-abused-web-services.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-esxi-discovery-via-find.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-esxi-discovery-via-grep.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-esxi-timestomping-using-touch-command.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-first-time-seen-google-workspace-oauth-login-from-third-party-application.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-google-workspace-object-copied-from-external-drive-and-access-granted-to-custom-application.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-linux-restricted-shell-breakout-via-linux-binary-s.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-multiple-logon-failure-from-the-same-source-address.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-potential-credential-access-via-windows-utilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-potential-defense-evasion-via-proot.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-potential-hidden-process-via-mount-hidepid.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-potential-linux-credential-dumping-via-unshadow.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-potential-process-injection-via-powershell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-powershell-script-with-token-impersonation-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-powershell-suspicious-discovery-related-windows-api-functions.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-powershell-suspicious-payload-encoded-and-compressed.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-suspicious-renaming-of-esxi-files.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-suspicious-renaming-of-esxi-index-html-file.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-suspicious-termination-of-esxi-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-third-party-backup-files-deleted-via-unexpected-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-unusual-linux-network-configuration-discovery.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rule-8-5-3-unusual-linux-user-discovery-activity.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rules-8-5-3-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-3/prebuilt-rules-8-5-3-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: Feature: Prebuilt rules, v8.5.0

#3197 [Detection Rules] Adding Documents for v8.6.3 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-component-object-model-hijacking.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-connection-to-commonly-abused-web-services.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-esxi-discovery-via-find.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-esxi-discovery-via-grep.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-esxi-timestomping-using-touch-command.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-first-time-seen-google-workspace-oauth-login-from-third-party-application.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-google-workspace-object-copied-from-external-drive-and-access-granted-to-custom-application.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-linux-restricted-shell-breakout-via-linux-binary-s.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-multiple-logon-failure-from-the-same-source-address.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-potential-credential-access-via-windows-utilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-potential-defense-evasion-via-proot.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-potential-hidden-process-via-mount-hidepid.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-potential-linux-credential-dumping-via-unshadow.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-potential-process-injection-via-powershell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-powershell-script-with-token-impersonation-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-powershell-suspicious-discovery-related-windows-api-functions.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-powershell-suspicious-payload-encoded-and-compressed.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-suspicious-renaming-of-esxi-files.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-suspicious-renaming-of-esxi-index-html-file.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-suspicious-termination-of-esxi-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-third-party-backup-files-deleted-via-unexpected-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-unusual-linux-network-configuration-discovery.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rule-8-6-3-unusual-linux-user-discovery-activity.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rules-8-6-3-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-3/prebuilt-rules-8-6-3-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: Feature: Prebuilt rules, v8.6.0

#3198 [Detection Rules] Adding Documents for v8.7.3 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-component-object-model-hijacking.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-connection-to-commonly-abused-web-services.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-esxi-discovery-via-find.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-esxi-discovery-via-grep.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-esxi-timestomping-using-touch-command.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-first-time-seen-google-workspace-oauth-login-from-third-party-application.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-google-workspace-object-copied-from-external-drive-and-access-granted-to-custom-application.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-linux-restricted-shell-breakout-via-linux-binary-s.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-multiple-logon-failure-from-the-same-source-address.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-potential-credential-access-via-windows-utilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-potential-defense-evasion-via-proot.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-potential-hidden-process-via-mount-hidepid.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-potential-linux-credential-dumping-via-unshadow.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-potential-process-injection-via-powershell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-powershell-script-with-token-impersonation-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-powershell-suspicious-discovery-related-windows-api-functions.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-powershell-suspicious-payload-encoded-and-compressed.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-suspicious-renaming-of-esxi-files.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-suspicious-renaming-of-esxi-index-html-file.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-suspicious-termination-of-esxi-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-third-party-backup-files-deleted-via-unexpected-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-unusual-linux-network-configuration-discovery.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rule-8-7-3-unusual-linux-user-discovery-activity.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rules-8-7-3-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-3/prebuilt-rules-8-7-3-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: Feature: Prebuilt rules, v8.7.0

#3199 [Detection Rules] Adding Documents for v8.8.1 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-component-object-model-hijacking.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-connection-to-commonly-abused-web-services.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-container-workload-protection.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-esxi-discovery-via-find.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-esxi-discovery-via-grep.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-esxi-timestomping-using-touch-command.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-first-time-seen-google-workspace-oauth-login-from-third-party-application.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-google-workspace-object-copied-from-external-drive-and-access-granted-to-custom-application.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-linux-restricted-shell-breakout-via-linux-binary-s.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-multiple-logon-failure-from-the-same-source-address.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-potential-credential-access-via-windows-utilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-potential-defense-evasion-via-proot.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-potential-hidden-process-via-mount-hidepid.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-potential-linux-credential-dumping-via-unshadow.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-potential-process-injection-via-powershell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-powershell-script-with-token-impersonation-capabilities.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-powershell-suspicious-discovery-related-windows-api-functions.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-powershell-suspicious-payload-encoded-and-compressed.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-suspicious-renaming-of-esxi-files.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-suspicious-renaming-of-esxi-index-html-file.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-suspicious-termination-of-esxi-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-third-party-backup-files-deleted-via-unexpected-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-unusual-linux-network-configuration-discovery.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rule-8-8-1-unusual-linux-user-discovery-activity.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rules-8-8-1-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-8-1/prebuilt-rules-8-8-1-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: Feature: Prebuilt rules, v8.8.0

#3200 [DOCS] Update Entity Dashboard image
  docs/dashboards/images/entity-dashboard.png
Labels: Feature: Entity Analytics, v8.7.0, v8.8.0
