Repository elastic/security-docs, pull requests merged in 2023-09, with the labels that each got.

#3821 7.17.13 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, v7.17.13

#3820 8.9.2 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.9.asciidoc
Labels: release-notes, v8.9.0, v8.10.0, v8.9.2

#3565 Updates docs for enabling FDA for the Endgame sensor
  docs/getting-started/endgame-sensor-FDA-ven.asciidoc
  docs/getting-started/endgame-sensor-FDA.asciidoc
  docs/getting-started/endgame-sensor-reqs.asciidoc
  docs/getting-started/images/fda/allow_sys_ext_endgame-sen-ven.png
  docs/getting-started/images/fda/enable-fda-endgame-sensor-ven.png
  docs/getting-started/images/fda/endgame-allow-network-filter-ven.png
  docs/getting-started/images/fda/endgame-allow-sys-ext-ven.png
  docs/getting-started/images/fda/endgame-enter-login-details-to-confirm-ven.png
  docs/getting-started/images/fda/endgame-sys-ext-blocked-ven.png
  docs/getting-started/index.asciidoc
Labels: Team: Endpoint, v8.7.0, v8.8.0, v8.9.0, v8.10.0

#3867 [BUG] Minor typo in Osquery docs
  docs/osquery/view-osquery-results.asciidoc
Labels: bug, Feature: Osquery, v8.5.0, v8.6.0, v8.7.0, v8.8.0, v8.9.0, v8.10.0

#3786 Fixes new integration names
  docs/whats-new.asciidoc
Labels: highlights, v8.9.0, Feature: Integrations, v8.10.0

#3844 Clarify options for managing quarantined files
  docs/getting-started/configure-integration-policy.asciidoc
Labels: Team: Endpoint, Feature: Exceptions, Feature: Response actions, v8.9.0, Priority: Medium, v8.10.0, Effort: Small

#3693 Detection rules content reorg
  docs/detections/about-rules.asciidoc
  docs/detections/detections-index.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/events/timeline-templates.asciidoc
Labels: Team: Detections/Response, revision, Feature: Rules, Priority: Medium, v8.10.0, Effort: Large

#3850 Prebuilt rule details flyout
  docs/detections/images/prebuilt-rules-add.png
  docs/detections/images/prebuilt-rules-update.png
  docs/detections/prebuilt-rules-management.asciidoc
Labels: Team: Detections/Response, Feature: Rules, Feature: Prebuilt rules, Priority: High, v8.10.0, Effort: Medium

#3862 Fixes formatting of privilege settings
  docs/getting-started/cases-req.asciidoc
Labels: bug, Priority: Low, v8.10.0, Effort: Small

#3856 Clarifies that `expire_time` is not available for endpoint exceptions
  docs/detections/api/exceptions/api-create-exception-item.asciidoc
  docs/detections/api/exceptions/api-update-exception-item.asciidoc
Labels: API, Feature: Exceptions, v8.7.0, v8.8.0, v8.9.0, Team: Detection Engine, Priority: Low, v8.10.0, Effort: Small

#3818 Revise cross-cluster search docs per ES changes
  docs/detections/rules-cross-cluster-search.asciidoc
Labels: Feature: Rules, v8.10.0

#3881 Document the new MITRE ATT&CK Coverage page
  docs/detections/images/rules-coverage.png
  docs/detections/rules-coverage.asciidoc
  docs/getting-started/security-ui.asciidoc
Labels: Team: Detections/Response, Feature: Rules, Priority: High, v8.10.0, Effort: Large

#3855 Documents reputation service
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/images/install-endpoint/behavior-protection.png
Labels: Team: Defend Workflows, Feature: Policy, Priority: Medium, v8.10.0, Effort: Medium

#3884 Moves Rules up in Security side nav
  docs/getting-started/images/nav-overview.gif
  docs/getting-started/security-ui.asciidoc
Labels: Team: Threat Hunting, UI, Priority: High, v8.10.0, Effort: Small

#3857 Adds links from threat intel integrations guide to IoC page
  docs/cases/indicators-of-compromise.asciidoc
  docs/getting-started/threat-intel-integrations.asciidoc
Labels: Team: Threat Hunting, Feature: Threat intel, Priority: Medium, v8.10.0, Effort: Small

#3816 [Expandable flyout] Task 1: Alert details flyout rewrite and doc new advanced setting
  docs/detections/alerts-view-details.asciidoc
  docs/detections/images/about-section-rp.png
  docs/detections/images/alert-details-flyout-left-panel.png
  docs/detections/images/alert-details-flyout-preview-panel.gif
  docs/detections/images/alert-details-flyout-right-panel.png
  docs/detections/images/correlations-overview.png
  docs/detections/images/entities-overview.png
  docs/detections/images/expand-details-button.png
  docs/detections/images/expanded-correlations-view.png
  docs/detections/images/expanded-entities-view.png
  docs/detections/images/expanded-prevalence-view.png
  docs/detections/images/expanded-threat-intelligence-view.png
  docs/detections/images/insights-section-rp.png
  docs/detections/images/investigation-section-rp.png
  docs/detections/images/open-alert-details-flyout.gif
  docs/detections/images/response-action-rp.png
  docs/detections/images/threat-intelligence-overview.png
  docs/detections/images/visualizations-section-rp.png
  docs/getting-started/advanced-setting.asciidoc
Labels: Team: Threat Hunting, Feature: Alerts, Priority: High, v8.10.0, Effort: Large

#3456 [API docs] Expands on docs for finding exception containers
  docs/detections/api/exceptions/api-find-exception-containers.asciidoc
Labels: v8.5.0, Feature: Exceptions, v8.6.0, v8.7.0, v8.8.0, v8.9.0, v8.10.0

#3854 [Expandable flyout] Task 2: Update references to the alert details flyout and refresh screenshots
  docs/cloud-native-security/session-view.asciidoc
  docs/detections/alert-suppression.asciidoc
  docs/detections/images/ig-alert-flyout-invest-tab.png
  docs/detections/images/ig-alert-flyout.png
  docs/detections/images/suppressed-alerts-details.png
  docs/detections/investigation-guide-actions.asciidoc
  docs/detections/visual-event-analyzer.asciidoc
  docs/experimental-features/host-risk-score.asciidoc
  docs/experimental-features/images/score-in-flyout.png
  docs/experimental-features/images/urs-score-flyout.png
  docs/experimental-features/user-risk-score.asciidoc
  docs/management/admin/host-isolation-ov.asciidoc
  docs/osquery/images/osquery-results-tab.png
  docs/osquery/osquery-response-action.asciidoc
Labels: Team: Threat Hunting, Feature: Alerts, Priority: High, v8.10.0, Effort: Medium

#3852 Custom highlighted fields
  docs/detections/add-exceptions.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: Feature: Alerts, Feature: Rules, Team: Detection Engine, v8.10.0

#3809 Mentions the new RBAC permission as a requirement for AI Assistant
  docs/assistant/security-assistant.asciidoc
Labels: v8.10.0, Feature:Elastic AI Assistant

#3775 Changes docs to deprecate the K8s dashboard data ingest method
  docs/cloud-native-security/cloud-nat-sec-kubernetes-dashboard.asciidoc
  docs/cloud-native-security/cloud-native-security-index.asciidoc
  docs/cloud-native-security/d4c-get-started.asciidoc
  docs/cloud-native-security/d4c-overview.asciidoc
  docs/cloud-native-security/vuln-management-findings.asciidoc
  docs/dashboards/kubernetes-dashboard.asciidoc
Labels: Feature: Kubernetes, Team: Cloud Security, v8.10.0, Effort: Medium, Priority: Urgent

#3784 Updates images and documents new dashboards and filters
  docs/dashboards/dashboards-overview.asciidoc
  docs/dashboards/images/dashboards-landing-page.png
  docs/getting-started/images/dashboards-pg.png
  docs/getting-started/security-ui.asciidoc
Labels: Team: Threat Hunting, Feature: Dashboards, v8.10.0

#3806 8.10 CSPM onboarding updates
  docs/cloud-native-security/cloud-native-security-index.asciidoc
  docs/cloud-native-security/cspm-findings.asciidoc
  docs/cloud-native-security/cspm-get-started-aws.asciidoc
  docs/cloud-native-security/cspm-get-started-gcp.asciidoc
  docs/cloud-native-security/cspm.asciidoc
  docs/cloud-native-security/images/cspm-cloudshell-trust.png
  docs/cloud-native-security/kspm-findings.asciidoc
  docs/dashboards/images/cloud-sec-dash-aws-version.png
  docs/dashboards/images/cloud-sec-dashboard.png
Labels: Team: Cloud Security, Feature: CSPM, v8.10.0

#3781 8.10.0 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.10.asciidoc
Labels: release-notes, v8.10.0

#3901 What's new 8.10
  docs/whats-new.asciidoc
  docs/whats-new/images/8.10/ai-assistant-privilege.png
  docs/whats-new/images/8.10/custom-highlighted-fields.png
  docs/whats-new/images/8.10/nav-overview.gif
  docs/whats-new/images/8.10/open-alert-details-flyout.gif
  docs/whats-new/images/8.10/prebuilt-rule-details-flyout.png
  docs/whats-new/images/8.10/rules-coverage.png
Labels: highlights, v8.10.0

#3922 Update AI Assistant statement
  docs/assistant/images/ai-assistant-button.png
  docs/assistant/security-assistant.asciidoc
Labels: Priority: High, Feature: GenAI, v8.10.0, Effort: Small, Feature:Elastic AI Assistant

#3861 Adds missing features to Elastic Security UI page
  docs/getting-started/security-ui.asciidoc
Labels: Team: Defend Workflows, Feature: Administration, Feature: Response actions, Team: Cloud Security, v8.8.0, v8.9.0, Priority: Low, v8.10.0, Effort: Small

#3944 [BUG] Incorrect hyperlink for ticket id in 8.10 New Feature List
  docs/release-notes/8.10.asciidoc
Labels: bug, release-notes, v8.10.0

#3879 Alert suppression clarification
  docs/detections/alert-suppression.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: Team: Detections/Response, Feature: Alerts, v8.6.0, v8.7.0, v8.8.0, v8.9.0, Team: Detection Engine, Priority: Medium, v8.10.0, Effort: Small

#3943 Clarifies note in new terms rule
  docs/detections/rules-ui-create.asciidoc
Labels: Team: Detections/Response, Feature: Rules, v8.6.0, v8.7.0, v8.8.0, v8.9.0, Priority: Medium, v8.10.0, Effort: Small

#3942 Adds a blog post link to release highlights
  docs/whats-new.asciidoc
Labels: highlights, Priority: Medium, v8.10.0, Effort: Small

#3962 8.10.1 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.10.asciidoc
Labels: release-notes, v8.10.0, v8.10.1

#3959 Fixes breaking changes links in Upgrade guide
  docs/upgrade/upgrade-security.asciidoc
Labels: bug, Feature: Upgrading, v8.8.0, v8.9.0, v8.10.0

#3946 [BUG] Fix QA bugs with AI Assistant
  docs/assistant/images/assistant.gif
  docs/detections/images/ig-timeline.png
  docs/events/images/correlation-tab-eql-query.png
  docs/events/images/create-a-timeline-filter.png
  docs/events/images/create-template-ui.png
  docs/events/images/timeline-ui-updated.png
  docs/getting-started/images/install-endpoint/event-collection.png
Labels: bug, v8.10.0

#3914 Add new terms rule type to Detections API create/update rule docs
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: v8.4.0, v8.5.0, v8.6.0, v8.7.0, v8.8.0, v8.9.0, Team: Detection Engine, v8.10.0, v8.11.0

#3982 8.10.2 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.10.asciidoc
  docs/release-notes/8.9.asciidoc
Labels: release-notes, v8.9.0, v8.10.0, v8.9.2, v8.10.1

#3990 CSPM onboarding updates
  docs/cloud-native-security/cspm-get-started-aws.asciidoc
  docs/cloud-native-security/cspm-get-started-gcp.asciidoc
Labels: Team: Cloud Security, Feature: CSPM, v8.10.0

#3994 Modifies description of `new_terms_fields`
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: API, Feature: Rules, v8.4.0, v8.5.0, Priority: Medium, Effort: Small

#4003 Defend artifact control: create stub page
  docs/getting-started/artifact-control.asciidoc
  docs/getting-started/index.asciidoc
Labels: Team: Defend Workflows, Feature: Elastic Defend, v8.11.0

#4004 Fix title of artifact control page
  docs/getting-started/artifact-control.asciidoc
Labels: bug, Team: Defend Workflows, Feature: Elastic Defend, v8.11.0
