Repository elastic/security-docs, pull requests merged in 2023-05, with the labels that each got.

#3119 Cross-cluster search and detection rules
  docs/detections/detections-index.asciidoc
  docs/detections/images/ccs-local-role.png
  docs/detections/images/ccs-remote-role.png
  docs/detections/images/ccs-rule-source.png
  docs/detections/rules-cross-cluster-search.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: enhancement, Team: Detections/Response, Team: Security Solution, Feature: Rules, v8.6.0, v8.7.0, v8.8.0

#3214 Create placeholder stub page for uninstalling Elastic Agent
  docs/getting-started/index.asciidoc
  docs/getting-started/uninstall-agent.asciidoc
Labels: Team: Endpoint, Team: Defend Workflows, v8.8.0

#3203 Adds the minimum kernel version req to the K8s dashboard docs
  docs/cloud-native-security/cloud-nat-sec-kubernetes-dashboard.asciidoc
  docs/dashboards/kubernetes-dashboard.asciidoc
Labels: v8.6.0, v8.7.0, v8.8.0

#3178 [BUG] The output_index field is not supported in 8.x
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-find.asciidoc
  docs/detections/api/rules/rules-api-get.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/post-upgrade/template-script.asciidoc
  docs/release-notes/8.0.asciidoc
Labels: v8.0.0, v8.1.0, v8.2.0, v8.3.0, v8.4.0, v8.5.0, v8.6.0, v8.7.0, v8.8.0

#3218 Revert "[8.8] Create placeholder stub page for uninstalling Elastic Agent (backport #3214)"
  docs/getting-started/index.asciidoc
  docs/getting-started/uninstall-agent.asciidoc
Labels: Team: Endpoint, Team: Defend Workflows, v8.8.0

#3236 [DOCS] Case file attachments
  docs/cases/cases-manage.asciidoc
  docs/cases/images/cases-alert-tab.png
  docs/cases/images/cases-files.png
  docs/cases/images/cases-manage-comments.png
  docs/cases/images/cases-summary.png
  docs/cases/images/cases-ui-open.png
Labels: v8.8.0, v8.9.0

#3249 Shared exception lists can be duplicated
  docs/detections/shared-exception-lists.asciidoc
Labels: Team: Security Platform, Feature: Exceptions, v8.8.0

#3248 Options in the duplicate rule modal updated
  docs/detections/rules-ui-manage.asciidoc
Labels: Team: Security Platform, Feature: Exceptions, v8.8.0

#3255 Install / Configure — Minor change
  docs/getting-started/install-endpoint.asciidoc
Labels: v8.5.0, v8.6.0, v8.7.0, v8.8.0

#3179 Revisiting new exceptions flows
  docs/detections/add-exceptions.asciidoc
  docs/detections/detections-ui-exceptions.asciidoc
Labels: v8.6.0, v8.7.0, v8.8.0

#3261 [BUG] Document required Security privs for cases
  docs/getting-started/cases-req.asciidoc
Labels: v8.0.0, Feature: Cases, v8.1.0, v8.2.0, v8.3.0, Team: ResponseOps, v8.4.0, v8.5.0, v8.6.0, v8.7.0, v8.8.0

#3205 Alert suppression options for missing suppression fields
  docs/detections/alert-suppression.asciidoc
  docs/detections/images/alert-suppression-options.png
Labels: Team: Detections/Response, Feature: Alerts, Feature: Rules, v8.8.0

#3302 [BUG] Re-add note about escaping special characters
  docs/detections/add-exceptions.asciidoc
Labels: v8.7.0, v8.8.0

#3217 Snoozing alert notifications for detection rules
  docs/detections/images/rule-snoozing.png
  docs/detections/rules-ui-manage.asciidoc
Labels: Team: Detections/Response, Feature: Rules, v8.8.0

#3306 [Detection Rules] Adding Documents for v8.5.4 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-a-scheduled-task-was-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-a-scheduled-task-was-updated.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-abnormal-process-id-or-lock-file-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-access-to-a-sensitive-ldap-attribute.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-account-configured-with-never-expiring-password.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-account-password-reset-remotely.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-adding-hidden-file-attribute-via-attrib.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-adminsdholder-backdoor.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-adminsdholder-sdprop-exclusion-added.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-enumeration-of-privileged-local-groups-membership.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-file-made-immutable-by-chattr.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-first-time-seen-commonly-abused-remote-access-tool-execution.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-firsttime-seen-account-performing-dcsync.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-group-policy-abuse-for-privilege-addition.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-kerberos-pre-authentication-disabled-for-user.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-krbtgt-delegation-backdoor.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-lsass-memory-dump-handle-access.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-modification-of-standard-authentication-module-or-configuration.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-modification-of-the-mspkiaccountcredentials.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-multiple-logon-failure-followed-by-logon-success.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-multiple-logon-failure-from-the-same-source-address.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-multiple-vault-web-credentials-read.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-potential-credential-access-via-dcsync.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-potential-linux-credential-dumping-via-proc-filesystem.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-potential-linux-ransomware-note-creation-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-potential-powershell-hacktool-script-by-function-names.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-potential-privileged-escalation-via-samaccountname-spoofing.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-potential-remote-code-execution-via-web-server.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-potential-remote-credential-access-via-registry.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-potential-shadow-credentials-added-to-ad-object.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-potential-shell-via-web-server.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-privileged-account-brute-force.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-process-creation-via-secondary-logon.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-remote-computer-account-dnshostname-update.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-remote-logon-followed-by-scheduled-task-creation.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-remote-windows-service-installed.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-scheduled-task-execution-at-scale-via-gpo.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-sensitive-privilege-seenabledelegationprivilege-assigned-to-a-user.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-service-creation-via-local-kerberos-authentication.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-startup-logon-script-added-to-group-policy-object.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-startup-or-run-key-registry-modification.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-suspicious-file-changes-activity-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-suspicious-file-creation-in-etc-for-persistence.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-suspicious-process-spawned-from-motd-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-suspicious-remote-registry-access-via-sebackupprivilege.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-suspicious-service-was-installed-in-the-system.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-system-information-discovery-via-windows-command-shell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-temporarily-scheduled-task-creation.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-user-account-exposed-to-kerberoasting.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-user-added-to-privileged-group.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-windows-event-logs-cleared.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rule-8-5-4-windows-service-installed-via-an-unusual-client.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rules-8-5-4-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-4/prebuilt-rules-8-5-4-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: Feature: Prebuilt rules, v8.5.0

#3307 [Detection Rules] Adding Documents for v8.6.4 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-a-scheduled-task-was-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-a-scheduled-task-was-updated.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-abnormal-process-id-or-lock-file-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-access-to-a-sensitive-ldap-attribute.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-account-configured-with-never-expiring-password.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-account-password-reset-remotely.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-adding-hidden-file-attribute-via-attrib.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-adminsdholder-backdoor.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-adminsdholder-sdprop-exclusion-added.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-enumeration-of-privileged-local-groups-membership.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-file-made-immutable-by-chattr.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-first-time-seen-aws-secret-value-accessed-in-secrets-manager.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-first-time-seen-commonly-abused-remote-access-tool-execution.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-firsttime-seen-account-performing-dcsync.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-group-policy-abuse-for-privilege-addition.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-kerberos-pre-authentication-disabled-for-user.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-krbtgt-delegation-backdoor.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-lsass-memory-dump-handle-access.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-modification-of-standard-authentication-module-or-configuration.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-modification-of-the-mspkiaccountcredentials.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-multiple-logon-failure-followed-by-logon-success.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-multiple-logon-failure-from-the-same-source-address.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-multiple-vault-web-credentials-read.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-potential-credential-access-via-dcsync.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-potential-linux-credential-dumping-via-proc-filesystem.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-potential-linux-ransomware-note-creation-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-potential-persistence-through-init-d-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-potential-persistence-through-motd-file-creation-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-potential-powershell-hacktool-script-by-function-names.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-potential-privileged-escalation-via-samaccountname-spoofing.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-potential-remote-code-execution-via-web-server.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-potential-remote-credential-access-via-registry.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-potential-shadow-credentials-added-to-ad-object.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-potential-shell-via-web-server.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-privileged-account-brute-force.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-process-creation-via-secondary-logon.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-remote-computer-account-dnshostname-update.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-remote-logon-followed-by-scheduled-task-creation.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-remote-windows-service-installed.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-scheduled-task-execution-at-scale-via-gpo.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-sensitive-privilege-seenabledelegationprivilege-assigned-to-a-user.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-service-creation-via-local-kerberos-authentication.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-startup-logon-script-added-to-group-policy-object.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-startup-or-run-key-registry-modification.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-suspicious-file-changes-activity-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-suspicious-file-creation-in-etc-for-persistence.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-suspicious-process-spawned-from-motd-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-suspicious-remote-registry-access-via-sebackupprivilege.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-suspicious-service-was-installed-in-the-system.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-system-information-discovery-via-windows-command-shell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-temporarily-scheduled-task-creation.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-user-account-exposed-to-kerberoasting.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-user-added-to-privileged-group.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-windows-event-logs-cleared.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-windows-service-installed-via-an-unusual-client.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rules-8-6-4-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rules-8-6-4-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: Feature: Prebuilt rules, v8.6.0

#3317 [Detection Rules] Adding Documents for v8.7.4 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-6-4/prebuilt-rule-8-6-4-first-time-seen-aws-secret-value-accessed-in-secrets-manager.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-a-scheduled-task-was-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-a-scheduled-task-was-updated.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-abnormal-process-id-or-lock-file-created.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-access-to-a-sensitive-ldap-attribute.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-account-configured-with-never-expiring-password.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-account-password-reset-remotely.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-adding-hidden-file-attribute-via-attrib.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-adminsdholder-backdoor.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-adminsdholder-sdprop-exclusion-added.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-enumeration-of-privileged-local-groups-membership.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-file-made-immutable-by-chattr.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-first-time-seen-aws-secret-value-accessed-in-secrets-manager.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-first-time-seen-commonly-abused-remote-access-tool-execution.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-firsttime-seen-account-performing-dcsync.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-group-policy-abuse-for-privilege-addition.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-kerberos-pre-authentication-disabled-for-user.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-krbtgt-delegation-backdoor.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-lsass-memory-dump-handle-access.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-modification-of-standard-authentication-module-or-configuration.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-modification-of-the-mspkiaccountcredentials.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-multiple-logon-failure-followed-by-logon-success.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-multiple-logon-failure-from-the-same-source-address.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-multiple-vault-web-credentials-read.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-potential-credential-access-via-dcsync.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-potential-linux-credential-dumping-via-proc-filesystem.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-potential-linux-ransomware-note-creation-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-potential-persistence-through-init-d-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-potential-persistence-through-motd-file-creation-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-potential-powershell-hacktool-script-by-function-names.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-potential-privileged-escalation-via-samaccountname-spoofing.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-potential-remote-code-execution-via-web-server.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-potential-remote-credential-access-via-registry.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-potential-shadow-credentials-added-to-ad-object.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-potential-shell-via-web-server.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-privileged-account-brute-force.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-process-creation-via-secondary-logon.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-remote-computer-account-dnshostname-update.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-remote-logon-followed-by-scheduled-task-creation.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-remote-windows-service-installed.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-scheduled-task-execution-at-scale-via-gpo.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-sensitive-privilege-seenabledelegationprivilege-assigned-to-a-user.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-service-creation-via-local-kerberos-authentication.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-startup-logon-script-added-to-group-policy-object.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-startup-or-run-key-registry-modification.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-suspicious-file-changes-activity-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-suspicious-file-creation-in-etc-for-persistence.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-suspicious-process-spawned-from-motd-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-suspicious-remote-registry-access-via-sebackupprivilege.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-suspicious-service-was-installed-in-the-system.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-system-information-discovery-via-windows-command-shell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-temporarily-scheduled-task-creation.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-user-account-exposed-to-kerberoasting.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-user-added-to-privileged-group.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-windows-event-logs-cleared.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rule-8-7-4-windows-service-installed-via-an-unusual-client.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rules-8-7-4-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-4/prebuilt-rules-8-7-4-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: Feature: Prebuilt rules, v8.7.0

#3253 Document the new Maintenance Windows feature
  docs/detections/rules-ui-manage.asciidoc
Labels: Feature: Rules, v8.8.0

#3310 [BUG][8.8] Add note that alerts attached to cases are not exported
  docs/cases/cases-manage.asciidoc
Labels: Feature: Cases, Team: ResponseOps, v8.8.0

#3298 Visualizations & Lens embeddables being added throughout Security app
  docs/dashboards/images/inspect-icon.png
  docs/dashboards/images/live-feed-ov-page.png
  docs/dashboards/images/overview-pg.png
  docs/dashboards/overview-dashboard.asciidoc
  docs/detections/alerts-visualizations.asciidoc
  docs/detections/images/alerts-viz-counts.png
  docs/detections/images/alerts-viz-trend.png
  docs/getting-started/images/inspect-icon-context.png
  docs/getting-started/images/viz-options-menu-open.png
  docs/getting-started/security-ui.asciidoc
Labels: Team: Threat Hunting, v8.8.0

#3246 Update "Register Elastic Security as antivirus" section
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/images/register-as-antivirus.png
Labels: Feature: Elastic Defend, v8.8.0

#3258 Data quality dash 8.8 updates
  docs/dashboards/data-quality-dashboard.asciidoc
  docs/dashboards/images/data-qual-dash-detail.png
  docs/dashboards/images/data-qual-dash.png
Labels: Feature: Dashboards, v8.8.0, data quality dashboard

#3244 Response action: `execute`
  docs/getting-started/defend-feature-privs.asciidoc
  docs/management/admin/response-actions.asciidoc
Labels: Team: Defend Workflows, Feature: Elastic Defend, Feature: Response console, v8.8.0

#3300 [DOCS] Update Upgrade guide
  docs/upgrade/upgrade-security.asciidoc
Labels: Feature: Upgrading, v8.7.0, v8.8.0

#3299 Adds details to CSPM AWS auth recommended method
  docs/cloud-native-security/cspm-get-started.asciidoc
  docs/cloud-native-security/images/cspm-aws-auth-1.png
  docs/cloud-native-security/images/cspm-aws-auth-2.png
  docs/cloud-native-security/images/cspm-aws-auth-3.png
Labels: Team: Cloud Security, v8.8.0, Feature: CSPM

#3311 [BUG][8.3-8.7] Add note that alerts attached to cases are not exported
  docs/cases/cases-manage.asciidoc
Labels: v8.3.0, v8.5.0, v8.6.0, v8.7.0

#3312 Refreshes dataviews in security images
  docs/getting-started/images/dataview-button-highlighted.png
  docs/getting-started/images/dataview-filter-example.gif
Labels: Feature: Data Views, v8.4.0, v8.5.0, v8.6.0, v8.7.0, v8.8.0

#3345 [8.6] [BUG][8.8] Add note that alerts attached to cases are not exported (#3310)
  docs/cases/cases-manage.asciidoc
Labels: backport

#3348 [8.3] [BUG][8.8] Add note that alerts attached to cases are not exported (#3310)
  docs/cases/cases-manage.asciidoc
Labels: backport

#3347 [8.4] [BUG][8.8] Add note that alerts attached to cases are not exported (#3310)
  docs/cases/cases-manage.asciidoc
Labels: backport

#3346 [8.5] [BUG][8.8] Add note that alerts attached to cases are not exported (#3310)
  docs/cases/cases-manage.asciidoc
Labels: backport

#3283 Nested grouping and beta label removed from grouping
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/images/group-alerts.png
Labels: Team: Threat Hunting, Feature: Alerts, v8.8.0

#3256 Alerts page drop-down filter controls
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/images/add-icon-blue.png
  docs/detections/images/alert-page-dropdown-controls.png
  docs/detections/images/alert-page-visualizations.png
  docs/detections/images/alert-page-viz-collapsed.png
  docs/detections/images/alert-page.png
  docs/detections/images/handle-icon.png
  docs/detections/images/pencil-icon.png
  docs/detections/images/red-x-icon.png
  docs/detections/images/save-icon-blue.png
  docs/detections/images/three-dot-icon-blue.png
  docs/detections/visual-event-analyzer.asciidoc
Labels: Team: Threat Hunting, Feature: Alerts, v8.8.0

#3313 Documents revision field and adds a description of version field
  docs/reference/alert-schema.asciidoc
Labels: v8.8.0, Feature: Alert Schema

#3162 [8.8] Vulnerability management integration docs
  docs/cloud-native-security/cloud-native-security-index.asciidoc
  docs/cloud-native-security/cspm-findings.asciidoc
  docs/cloud-native-security/images/cnvm-findings-page.png
  docs/cloud-native-security/kspm-findings.asciidoc
  docs/cloud-native-security/vuln-management-faq.asciidoc
  docs/cloud-native-security/vuln-management-findings.asciidoc
  docs/cloud-native-security/vuln-management-get-started.asciidoc
  docs/cloud-native-security/vuln-management-overview.asciidoc
  docs/dashboards/images/cnvm-cloudformation.png
  docs/dashboards/images/cnvm-setup-1.png
Labels: Team: Cloud Security, v8.8.0

#3355 Document a change to the Detection Engine's "Delete Index" API
  docs/detections/api/rules/index-api-overview.asciidoc
Labels: API, Feature: Rules, v8.8.0, Team: Detection Engine

#3309 Expands the cloud native security doc section's landing page
  docs/cloud-native-security/cloud-native-security-index.asciidoc
Labels: Team: Cloud Security, v8.8.0

#3282 8.8 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.8.asciidoc
Labels: release-notes, v8.8.0

#3320 Update rule APIs for conditional actions
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: API, Feature: Rules, v8.8.0

#3363 What's new in 8.8
  docs/whats-new.asciidoc
  docs/whats-new/images/8.8/action-frequency.png
  docs/whats-new/images/8.8/add-files-case.png
  docs/whats-new/images/8.8/alert-controls.png
  docs/whats-new/images/8.8/dashboard-filter-alerts.gif
  docs/whats-new/images/8.8/group-alerts.png
  docs/whats-new/images/8.8/inline-actions-menu.png
  docs/whats-new/images/8.8/inspect-icon.png
  docs/whats-new/images/8.8/share-alert.png
  docs/whats-new/images/8.8/three-dot-menu.png
Labels: highlights, v8.8.0

#3362 Hardcodes breaking changes 8.8 links and adds note
  docs/release-notes/8.8.asciidoc
Labels: release-notes, v8.8.0

#3370 [BUG] Adding discrete tag to 8.0 header
  docs/release-notes/8.8.asciidoc
Labels: release-notes, v8.8.0

#3358 Entity Analytics: Notable Anomalies section renamed to Anomalies
  docs/dashboards/entity-dashboard.asciidoc
  docs/dashboards/images/anomalies-table.png
  docs/dashboards/images/entity-dashboard.png
  docs/dashboards/images/host-score-data.png
  docs/dashboards/images/run-job.png
  docs/dashboards/images/user-score-data.png
Labels: Team: Threat Hunting, Feature: Dashboards, Feature: Entity Analytics, v8.8.0

#3373 Change 'ISO timezone' to 'IANA timezone' in conditional actions docs
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
Labels: v8.8.0

#3376 Fields browser is causing all field types to display as the "unknown"
  docs/release-notes/8.8.asciidoc
Labels: release-notes, v8.8.0

#3279 [v8.6] fix "must be set to" for field #3278
  docs/management/api/blocklist-api.asciidoc
Labels: Team: Defend Workflows, API, v8.6.0, v8.7.0, v8.8.0

#3393 Users can now use FQDN names for their hosts
  docs/release-notes/8.8.asciidoc
Labels: release-notes, v8.8.0
