Repository elastic/security-docs, pull requests merged in 2023-01, with the labels that each got.

#2731 Document the new skipped response parameter of the _bulk_action endpoint
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
Labels: Team:Docs, Team: Detections/Response, API, Team: Security Solution, Feature: Rules, v8.7.0

#2811 [8.6] Changes 'in-progress' to 'acknowledged'
  docs/detections/api/rules/signals-api-overview.asciidoc
Labels: v8.6.0

#2732 [DOCS] New Terms rule type - allow multiple fields
  docs/detections/rules-ui-create.asciidoc
Labels: Team:Docs, Team: Detections/Response, QA:Validated, Feature: Alerts, Feature: Rules, v8.6.0

#2809 [BUG] Clarify that Elastic Defend requries Fleet
  docs/getting-started/install-endpoint.asciidoc
Labels: bug, v8.4.0, v8.5.0, v8.6.0, Feature: Elastic Defend

#2806 [DOCS] Bulk actions in security cases
  docs/cases/cases-manage.asciidoc
  docs/cases/cases-overview.asciidoc
  docs/cases/images/cases-home-page.png
Labels: Feature: Cases, v8.6.0, v8.7.0

#2802 [8.6] New page for environment variable capture
  docs/cloud-native-security/cloud-native-security-index.asciidoc
  docs/cloud-native-security/cloud-workload-protection.asciidoc
  docs/cloud-native-security/environment-variable-capture.asciidoc
  docs/cloud-native-security/images/env-var-capture.png
Labels: QA:Validated, Feature: Session View, v8.6.0, Team: Cloud Security

#2804 [DOCS] Notify assignees when assigned to a case
  docs/cases/cases-manage.asciidoc
  docs/index.asciidoc
Labels: Feature: Cases, v8.6.0, v8.7.0

#2810 [8.6] Session view page File and Network alerts update
  docs/cloud-native-security/images/sess-view-file-alert-icon.png
  docs/cloud-native-security/images/sess-view-network-alert-icon.png
  docs/cloud-native-security/images/sess-view-process-alert-icon.png
  docs/cloud-native-security/images/session-view-alert-types-badge.png
  docs/cloud-native-security/session-view.asciidoc
  docs/detections/images/session-view-terminal-labeled.png
Labels: Feature: Session View, v8.6.0

#2822 Bulk add alerts to Timeline
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/images/bulk-add-alerts-to-timeline.png
Labels: Team: Threat Hunting, v8.6.0

#2778 Alert suppression on query type rules
  docs/detections/alert-suppression.asciidoc
  docs/detections/alerts-view-details.asciidoc
  docs/detections/detections-index.asciidoc
  docs/detections/images/suppressed-alerts-details.png
  docs/detections/images/suppressed-alerts-table-column.png
  docs/detections/images/suppressed-alerts-table.png
  docs/detections/prebuilt-rules/tune-rule-signals.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: Team: Detections/Response, QA:Validated, Feature: Alerts, Feature: Rules, v8.6.0

#2766 [DOCS] Indicator enhancements in 8.6
  docs/cases/cases-manage.asciidoc
  docs/cases/images/indicator-added-to-case.png
  docs/cases/images/indicator-details-flyout.png
  docs/cases/images/indicator-in-timeline.png
  docs/cases/images/indicators-table.png
  docs/cases/images/interact-with-indicators-table.gif
  docs/cases/images/remove-indicator.png
  docs/cases/indicators-of-compromise.asciidoc
  docs/events/images/indicator-details-flyout.png
  docs/events/images/indicators-table.png
  docs/events/images/interact-with-indicators-table.gif
Labels: Team:Docs, QA:Validated, Team: Protections Experience, v8.6.0

#2769 [DOCS] Tines connector
  docs/detections/images/available-action-types.png
Labels: Team:Docs, Team: Threat Hunting, QA:Validated, v8.6.0

#2807 [DOCS] Button to view indicators added to Threat Intelligence card
  docs/dashboards/overview-dashboard.asciidoc
  docs/getting-started/images/threat-intelligence-view.png
  docs/getting-started/threat-intel-integrations.asciidoc
Labels: Team: Protections Experience, Feature: Threat intel, v8.6.0

#2813 [8.6] CSPM dashboard updates for 8.6
  docs/cloud-native-security/cloud-nat-sec-posture-dashboard.asciidoc
  docs/dashboards/cloud-posture.asciidoc
  docs/dashboards/images/cloud-sec-dashboard-individual-row.png
  docs/dashboards/images/cloud-sec-dashboard.png
Labels: Feature: Kubernetes, v8.6.0, Team: Cloud Security

#2762 [DOCS][8.6] Release notes version 8.6
  docs/release-notes.asciidoc
  docs/release-notes/8.6.asciidoc
Labels: v8.6.0

#2772 [DOCS] MITRE ATT&CK being added to alert details flyout and alert reason re-named
  docs/detections/alerts-view-details.asciidoc
  docs/detections/images/alert-details-flyout.png
Labels: Team: Threat Hunting, QA:Validated, Feature: Alerts, v8.6.0

#2783 ML job management improvements for prebuilt rules/jobs
  docs/detections/machine-learning/images/rules-table-error-icon.png
  docs/detections/machine-learning/images/rules-table-ml-job-error.png
  docs/detections/machine-learning/machine-learning.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/detections/rules-ui-manage.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
  docs/troubleshooting/detections/detection-rules.asciidoc
  docs/troubleshooting/images/rules-ts-ml-job-stopped.png
Labels: Team: Detections/Response, QA:Validated, Feature: Rules, Feature: Machine Learning, v8.6.0

#2763 [DOCS] Document response actions RBAC, Kibana privileges
  docs/getting-started/defend-feature-privs.asciidoc
  docs/getting-started/endpoint-management-req.asciidoc
  docs/getting-started/images/endpoint-privileges.png
  docs/getting-started/index.asciidoc
  docs/management/admin/host-isolation-ov.asciidoc
  docs/management/admin/response-actions-history.asciidoc
  docs/management/admin/response-actions.asciidoc
Labels: Team:Docs, Team: Defend Workflows, Feature: Onboarding, QA:Validated, v8.6.0

#2837 [DOCS] Entity enhancements
  docs/dashboards/entity-dashboard.asciidoc
  docs/dashboards/images/entity-dashboard.png
  docs/dashboards/images/host-score-data.png
  docs/dashboards/images/launch-timeline.gif
  docs/dashboards/images/run-job.png
  docs/dashboards/images/user-score-data.png
Labels: Team: Threat Hunting, v8.6.0, Feature: Entity Analytics

#2839 Fixes pull definition in 8.5 release notes breaking changes section
  docs/release-notes/8.5.asciidoc
Labels: release-notes, v8.5.0

#2842 [DOCS] Adding link to 8.6 RN to index page
  docs/release-notes.asciidoc
Labels: release-notes, v8.6.0

#2844 [8.6] [DOCS] 8.5.3 Release notes (#2756)
  docs/release-notes.asciidoc
  docs/release-notes/8.5.asciidoc
Labels: backport

#2780 Duplicate rules API update
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
Labels: Team: Detections/Response, API, Feature: Rules, v8.6.0

#2777 adds api documentation for the import exception list api
  docs/detections/api/exceptions-api-index.asciidoc
  docs/detections/api/exceptions/api-import-exception-list.asciidoc
Labels: Team:Docs, API, Team: Security Platform, Feature: Exceptions, v8.6.0

#2779 create shared exception list api
  docs/detections/api/exceptions-api-index.asciidoc
  docs/detections/api/exceptions/api-create-shared-exception-list.asciidoc
Labels: Team: Detections/Response, API, v8.6.0

#2850 [8.6][bugfix] Fixes breaking changes snippet in Stack docs
  docs/release-notes/8.6.asciidoc
Labels: v8.6.0

#2852 [DOCS] Whats new in 8.6
  docs/whats-new.asciidoc
  docs/whats-new/images/8.6/DED-integration.png
  docs/whats-new/images/8.6/TI-card.png
  docs/whats-new/images/8.6/add-alerts.png
  docs/whats-new/images/8.6/alert-flyout.png
  docs/whats-new/images/8.6/cloud-dashboard.png
  docs/whats-new/images/8.6/default-rule-list.png
  docs/whats-new/images/8.6/entity-dashboard.png
  docs/whats-new/images/8.6/rbac.png
  docs/whats-new/images/8.6/rule-exceptions-page.png
  docs/whats-new/images/8.6/tines-connector.png
  docs/whats-new/images/8.6/trend-chart.png
Labels: highlights, v8.6.0

#2874 [DOCS] Fixed outdated Osquery and response action images
  docs/osquery/images/available-response-actions.png
  docs/osquery/images/osquery-results-tab.png
  docs/osquery/images/pack-query-results.png
  docs/osquery/images/setup-query.png
  docs/osquery/images/setup-single-query.png
  docs/osquery/images/view-osquery-details.png
  docs/osquery/view-osquery-results.asciidoc
Labels: bug, Team: Asset Mgmt, v8.6.0

#2876 [BUG] Assignee filter not showing for existing case modal
  docs/detections/alerts-add-to-cases.asciidoc
  docs/detections/images/add-alert-to-existing-case.png
  docs/detections/images/add-alert-to-new-case.png
Labels: Feature: Cases, Feature: Alerts, v8.6.0

#2881 [DOCS] Adds fix related to Ransonware Canary files
  docs/release-notes/8.6.asciidoc
Labels: Team: Endpoint, release-notes, v8.6.0

#2791 Add instructions for offline Endpoint global artifact updates
  docs/getting-started/images/offline-adv-settings.png
  docs/getting-started/images/offline-endpoint-version-discover.png
  docs/getting-started/index.asciidoc
  docs/getting-started/offline-endpoint.asciidoc
Labels: Team: Endpoint, v8.6.0

#2890 [DOCS] Adds note about disabled Endpoint features in K8s
  docs/cloud-native-security/cloud-nat-sec-kubernetes-dashboard.asciidoc
  docs/dashboards/kubernetes-dashboard.asciidoc
Labels: Feature: Kubernetes, v8.5.0, v8.6.0

#2903 Updates elastic-defend.yaml version
  docs/cloud-native-security/cloud-nat-sec-kubernetes-dashboard.asciidoc
  docs/dashboards/kubernetes-dashboard.asciidoc
Labels: Feature: Kubernetes, v8.6.0

#2821 Interactive investigation guides
  docs/experimental-features/experimental-features-intro.asciidoc
  docs/experimental-features/images/ig-alert-flyout.png
  docs/experimental-features/images/ig-error-icon.png
  docs/experimental-features/images/ig-investigation-guide-editor.png
  docs/experimental-features/images/ig-timeline-query.png
  docs/experimental-features/images/ig-timeline-template-fields.png
  docs/experimental-features/images/ig-timeline.png
  docs/experimental-features/investigation-guide-actions.asciidoc
Labels: Team: Threat Hunting, Feature: Alerts, Feature: Rules, Feature: Timeline, v8.6.0

#2911 8.6.1 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.6.asciidoc
Labels: release-notes, v8.6.0, v8.6.1

#2919 [8.3] Adding Documents for v8.3.4 Pre-Built Detection Rules Integration Release
  docs/detections/prebuilt-rules/downloadable-packages/8-3-4/prebuilt-rule-8-3-4-exchange-mailbox-export-via-powershell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-3-4/prebuilt-rule-8-3-4-exporting-exchange-mailbox-via-powershell.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-3-4/prebuilt-rule-8-3-4-multiple-alerts-in-different-att-ck-tactics-on-a-single-host.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-3-4/prebuilt-rule-8-3-4-multiple-alerts-involving-a-user.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-3-4/prebuilt-rule-8-3-4-suspicious-werfault-child-process.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-3-4/prebuilt-rules-8-3-4-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-3-4/prebuilt-rules-8-3-4-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: backport, v8.3.0, Feature: Prebuilt rules, v8.4.0, v8.5.0, v8.6.0

#2929 [BUG] Hosts, Users pages: broken links to subscription pricing
  docs/getting-started/users-page.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
Labels: bug, v8.5.0, v8.6.0, Feature: Host Risk Score, Feature: User Risk Score, v8.7.0

#2900 Close all alert that match this exception and were generated by selected rule/s checkbox is not showing
  docs/detections/add-exceptions.asciidoc
Labels: Feature: Exceptions, v8.6.0

#2934 Replace outdated ingest-guide attribute
  docs/es-overview.asciidoc
  docs/getting-started/advanced-setting.asciidoc
  docs/getting-started/install-endpoint.asciidoc
  docs/management/admin/admin-pg-ov.asciidoc
Labels: Team:Docs, v7.9.0

#2938 [BUG] Update .alerts-security.alerts-default index name
  docs/getting-started/detections-req.asciidoc
Labels: v8.0.0, Team: Detections/Response, v8.1.0, v8.2.0, v8.3.0, v8.4.0, v8.5.0, v8.6.0

#2946 fix air-gapped artifact download commands
  docs/getting-started/offline-endpoint.asciidoc
Labels: bug, Team: Endpoint, v8.6.0, v8.6.1

#2915 7.17.9 release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, v7.17.9
