Repository elastic/security-docs, pull requests merged in 2023-02, with the labels that each got.

#2961 Update .backportrc.json for 8.7
  .backportrc.json
Labels: backport-skip

#2960 Remove mentions of the "Advanced sorting" toggle
  docs/detections/images/all-rules.png
  docs/detections/rules-ui-manage.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
Labels: Team: Threat Hunting, Feature: Rules, v8.7.0

#2971 8.6.2 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.6.asciidoc
Labels: release-notes, v8.6.0, v8.7.0, v8.6.2

#2982 [BUG] Fix errors in the Event filters topic
  docs/management/api/_exceptions-api-reusable-content.asciidoc
  docs/management/api/event-filters-api.asciidoc
Labels: Team: Defend Workflows, Feature: Exceptions, v8.6.0, v8.7.0

#2987 [Cloud Posture] Add note regarding supported Kibana space
  docs/cloud-native-security/get-started-with-kspm.asciidoc
Labels: v8.5.0, v8.6.0, v8.7.0

#3008 [bug] Add 5 missing fields to Alerts schema
  docs/reference/alert-schema.asciidoc
Labels: bug, v8.6.0, v8.7.0

#2972 ML job names used in place of job IDs
  docs/dashboards/entity-dashboard.asciidoc
  docs/dashboards/images/anomalies-table.png
  docs/dashboards/images/run-job.png
  docs/detections/machine-learning/images/ml-ui.png
  docs/detections/machine-learning/images/rules-table-ml-job-error.png
  docs/troubleshooting/images/rules-ts-ml-job-stopped.png
Labels: Team: Detections/Response, Team: Threat Hunting, Feature: Machine Learning, Feature: Entity Analytics, v8.7.0, Team: Rules
