Repository elastic/security-docs, pull requests merged in 2024-03, with the labels that each got.

#4835 [BUG] Minor ordering fix
  docs/detections/add-exceptions.asciidoc
Labels: backport-skip, Feature: Exceptions, Priority: Medium, Effort: Small

#4789 [Request] Refresh screenshots and docs that describe the tabs on the Explore pages
  docs/advanced-entity-analytics/images/hosts-hr-data.png
  docs/advanced-entity-analytics/images/hosts-hr-level.png
  docs/getting-started/images/network-ui.png
  docs/getting-started/images/users/users-page.png
  docs/getting-started/network-page-overview.asciidoc
  docs/getting-started/users-page.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
  docs/management/hosts/images/hosts-ov-pg.png
Labels: Team: Threat Hunting, Priority: High, Effort: Small, v8.13.0

#4871 Prebuilt rule customization - per-field rule diffs (classic ESS)
  docs/detections/images/prebuilt-rules-update-diff.png
  docs/detections/prebuilt-rules-management.asciidoc
Labels: Team: Detections/Response, Feature: Rules, Feature: Prebuilt rules, Docset: ESS, v8.13.0

#4836 Update CSPM docs
  docs/cloud-native-security/cspm-faq.asciidoc
  docs/cloud-native-security/cspm.asciidoc
Labels: v8.12.0, v8.13.0

#4870 Adds Agent–Endpoint troubleshooting doc
  docs/troubleshooting/management/ts-management.asciidoc
Labels: Team: Endpoint, troubleshooting, Priority: High, Effort: Medium, Docset: ESS, v8.13.0

#4883 Update configure-integration-policy.asciidoc
  docs/getting-started/configure-integration-policy.asciidoc
Labels: edit, Feature: Elastic Defend, Docset: ESS, v8.13.0

#4882 Get Timeline API docs enhancements
  docs/events/api/timeline-api-get.asciidoc
Labels: enhancement, Team: Threat Hunting, API, Feature: Timeline, Priority: Medium, Effort: Medium, v8.13.0

#4900 [DOCS] Case custom field default values
  docs/cases/cases-manage.asciidoc
  docs/cases/images/cases-add-custom-field.png
Labels: Feature: Cases, v8.13.0, v8.14.0

#4756 [BUG] Alerts can be deleted in the case history
  docs/detections/alerts-add-to-cases.asciidoc
Labels: Feature: Cases, v8.1.0, v8.4.0, v8.6.0, v8.7.0, v8.8.0, v8.9.0, Priority: Low, v8.10.0, Effort: Small, v8.11.0, v8.12.0

#4894 [ESS][8.13] Doc filters that change the event analyzer data view and time range
  docs/detections/images/alert-pill.png
  docs/detections/images/data-view-selection.png
  docs/detections/images/date-range-selection.png
  docs/detections/images/event-details.png
  docs/detections/images/event-type.png
  docs/detections/images/full-screen-analyzer.png
  docs/detections/images/graphical-view.png
  docs/detections/images/node-legend.png
  docs/detections/images/process-details.png
  docs/detections/images/process-list.png
  docs/detections/images/process-schema.png
  docs/detections/visual-event-analyzer.asciidoc
Labels: Team: Threat Hunting, Feature: Analyze Event, Priority: High, Effort: Small, v8.13.0

#4919 [8.1] [Redo][7.17-8.5] Highlight that rule exceptions are case-sensitive (#4806)
  docs/detections/detections-ui-exceptions.asciidoc
Labels: backport

#4920 [8.0] [Redo][7.17-8.5] Highlight that rule exceptions are case-sensitive (#4806)
  docs/detections/detections-ui-exceptions.asciidoc
Labels: backport

#4922 [8.9] [Known Issue] Add docs to describe a known issue/limitation of EQL rule cross-cluster search (#4813)
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: backport

#4923 [8.8] [Known Issue] Add docs to describe a known issue/limitation of EQL rule cross-cluster search (#4813)
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: backport

#4924 [8.7] [Known Issue] Add docs to describe a known issue/limitation of EQL rule cross-cluster search (#4813)
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: backport

#4925 [8.6] [Known Issue] Add docs to describe a known issue/limitation of EQL rule cross-cluster search (#4813)
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: backport

#4926 [8.5] [Known Issue] Add docs to describe a known issue/limitation of EQL rule cross-cluster search (#4813)
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: backport

#4890 Automated endpoint response actions on rules (kill/suspend process)
  docs/detections/images/available-response-actions.png
  docs/detections/rules-ui-create.asciidoc
  docs/management/admin/automated-response-actions.asciidoc
  docs/management/admin/host-isolation-ov.asciidoc
  docs/management/manage-intro.asciidoc
Labels: Team: EDR Workflows, Feature: Response actions, Feature: Rule Actions, Docset: ESS, v8.13.0

#4885 SentinelOne bidirectional actions - response console & history (classic/ESS)
  docs/index.asciidoc
  docs/management/admin/host-isolation-ov.asciidoc
  docs/management/admin/response-actions-config.asciidoc
  docs/management/admin/response-actions-history.asciidoc
  docs/management/admin/response-actions.asciidoc
  docs/management/admin/third-party-actions.asciidoc
  docs/management/manage-intro.asciidoc
Labels: Team: EDR Workflows, Feature: Response actions, Docset: ESS, v8.13.0

#4935 [ESS][8.12&8.13] Updating list of available rule actions
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: API, Feature: Rules, Priority: Low, Effort: Small, v8.12.0, v8.13.0

#4930 [Known Issue] Please add docs for a known issue where users unable to create/edit/delete filters while creating/editing security rules
  docs/release-notes/8.12.asciidoc
Labels: release-notes, Feature: Rules, Team: Detection Engine, Priority: High, Effort: Small, v8.12.0, v8.12.1, v8.12.2

#4888 [ESS][8.13] Indicator match rule alert suppression docs
  docs/detections/alert-suppression.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: Feature: Rules, Team: Detection Engine, Priority: High, Effort: Small, v8.13.0

#4918 [Request] Doc size constraints for value list uploads
  docs/detections/api/lists/api-import-list-items.asciidoc
Labels: v7.17.0, Team: Detection Engine, Priority: Medium, Effort: Small, v8.12.0, v8.13.0

#4942 Adds note that KSPM doesn't support govcloud
  docs/cloud-native-security/kspm-get-started.asciidoc
  docs/cloud-native-security/kspm.asciidoc
Labels: v8.11.0, v8.12.0, v8.13.0

#4934 Manual prebuilt rule updates support notice
  docs/detections/prebuilt-rules-management.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.0.0, v7.17.0, v8.1.0, v8.2.0, v8.3.0, Feature: Prebuilt rules, v8.4.0, v8.5.0, v8.6.0, Feature: Upgrading, v8.7.0, v8.8.0, v8.9.0, v8.10.0, v8.11.0, Docset: ESS, v8.12.0, v8.13.0

#4970 updates FAQ
  docs/cloud-native-security/cspm-faq.asciidoc
  docs/cloud-native-security/kspm-faq.asciidoc
Labels: Team: Cloud Security, v8.10.0, v8.11.0, v8.12.0, v8.13.0

#4939 User/host details flyouts + Asset criticality
  docs/advanced-entity-analytics/advanced-entity-analytics-overview.asciidoc
  docs/advanced-entity-analytics/analyze-risk-score-data.asciidoc
  docs/advanced-entity-analytics/asset-criticality.asciidoc
  docs/advanced-entity-analytics/entity-risk-scoring.asciidoc
  docs/advanced-entity-analytics/images/ac-sort-by-host-risk-score.png
  docs/advanced-entity-analytics/images/alerts-table-rs.png
  docs/advanced-entity-analytics/images/asset-criticality-impact.png
  docs/advanced-entity-analytics/images/assign-asset-criticality-host-details.png
  docs/advanced-entity-analytics/images/assign-asset-criticality-host-flyout.png
  docs/advanced-entity-analytics/images/assign-asset-criticality-timeline.png
  docs/advanced-entity-analytics/images/filter-by-asset-criticality.png
  docs/advanced-entity-analytics/images/filter-by-host-risk-level.png
  docs/advanced-entity-analytics/images/group-by-asset-criticality.png
  docs/advanced-entity-analytics/images/group-by-host-risk-level.png
  docs/advanced-entity-analytics/images/host-details-overview.png
  docs/advanced-entity-analytics/images/hrl-sort-by-host-risk-score.png
  docs/advanced-entity-analytics/images/risk-summary.png
  docs/advanced-entity-analytics/turn-on-risk-engine.asciidoc
  docs/detections/alerts-ui-manage.asciidoc
  docs/getting-started/advanced-setting.asciidoc
  docs/getting-started/ers-req.asciidoc
  docs/getting-started/images/users/user-asset-criticality.png
  docs/getting-started/images/users/user-details-flyout.png
  docs/getting-started/images/users/user-details-pg.png
  docs/getting-started/images/users/user-observed-data.png
  docs/getting-started/images/users/user-risk-inputs.png
  docs/getting-started/users-page.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
  docs/management/hosts/images/host-asset-criticality.png
  docs/management/hosts/images/host-details-flyout.png
  docs/management/hosts/images/host-observed-data.png
  docs/management/hosts/images/host-risk-inputs.png
  docs/management/hosts/images/hosts-detail-pg.png
Labels: Feature: Entity Analytics, Team: Entity Analytics, v8.13.0

#4931 7.17.19 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v7.17.19

#4953 [8.13] Data Quality persistence
  docs/dashboards/data-quality-dashboard.asciidoc
  docs/dashboards/images/data-qual-dash-detail.png
  docs/dashboards/images/data-qual-dash.png
Labels: v8.13.0

#4936 [cloud][8.13] Enable / Disable benchmark rules
  docs/cloud-native-security/cspm-benchmark-rules.asciidoc
  docs/cloud-native-security/images/benchmark-rules.png
  docs/cloud-native-security/kspm-benchmark-rules.asciidoc
  docs/getting-started/security-ui.asciidoc
Labels: enhancement, Team: Cloud Security, Priority: High, Effort: Medium, v8.13.0

#4937 [8.13][cloud] CNVM Findings page enhancements
  docs/cloud-native-security/cspm-findings.asciidoc
  docs/cloud-native-security/images/cnvm-findings-grouped.png
  docs/cloud-native-security/images/cnvm-findings-page.png
  docs/cloud-native-security/images/findings-page.png
  docs/cloud-native-security/kspm-findings.asciidoc
  docs/cloud-native-security/vuln-management-findings.asciidoc
Labels: Team: Cloud Security, Effort: Large, v8.13.0

#4869 8.13 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.13.asciidoc
Labels: release-notes, Priority: High, Effort: Large, v8.13.0

#4979 What's new 8.13
  docs/whats-new.asciidoc
  docs/whats-new/images/8.13/alert-details-flyout-right-panel.png
  docs/whats-new/images/8.13/assign-asset-criticality-host-details.png
  docs/whats-new/images/8.13/automated-response-actions.png
  docs/whats-new/images/8.13/benchmark-rules.png
  docs/whats-new/images/8.13/cnvm-findings-grouped.png
  docs/whats-new/images/8.13/data-qual-dash.png
  docs/whats-new/images/8.13/data-view-selection.png
  docs/whats-new/images/8.13/date-range-selection.png
  docs/whats-new/images/8.13/event-details.png
  docs/whats-new/images/8.13/host-details-flyout.png
  docs/whats-new/images/8.13/prebuilt-rules-update-diff.png
Labels: highlights, v8.13.0

#4989 Max number of alerts per entity processed by risk scoring engine
  docs/advanced-entity-analytics/entity-risk-scoring.asciidoc
Labels: Feature: Entity Analytics, Priority: Medium, Effort: Small, Docset: ESS, Team: Entity Analytics, v8.14.0

#4988 Updates EA dashboard behavior
  docs/advanced-entity-analytics/asset-criticality.asciidoc
  docs/dashboards/entity-dashboard.asciidoc
  docs/getting-started/users-page.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
Labels: Feature: Dashboards, Feature: Entity Analytics, Priority: Medium, Effort: Small, Docset: ESS, Team: Entity Analytics, v8.14.0

#5002 Fix 8.13 bugs
  docs/getting-started/images/getting-started-pg.png
  docs/getting-started/security-ui.asciidoc
  docs/management/admin/trusted-apps.asciidoc
Labels: bug, v8.13.0

#5000 [BUG] Refreshed alerts page image
  docs/detections/images/alert-page.png
Labels: bug, Team: Detection Engine, Priority: Medium, Effort: Small, v8.12.0, v8.13.0

#5003 [Enhancement][ESS] Add a note in Manage detection alerts -> Edit drop-down filter controls
  docs/detections/alerts-ui-manage.asciidoc
Labels: Team: Threat Hunting, Feature: Alerts, v8.9.0, Priority: High, v8.10.0, Effort: Small, v8.11.0, v8.12.0, v8.13.0

#5015 [bugfix] Removes extra "the"s
  docs/detections/prebuilt-rules/downloadable-packages/8-4-3/prebuilt-rule-8-4-3-host-files-system-changes-via-windows-subsystem-for-linux.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-3/prebuilt-rule-8-4-3-suspicious-execution-via-windows-subsystem-for-linux.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-4-3/prebuilt-rules-8-4-3-summary.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-1/prebuilt-rule-8-5-1-host-files-system-changes-via-windows-subsystem-for-linux.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-1/prebuilt-rule-8-5-1-suspicious-execution-via-windows-subsystem-for-linux.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-5-1/prebuilt-rules-8-5-1-summary.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-1/prebuilt-rule-8-6-1-host-files-system-changes-via-windows-subsystem-for-linux.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-1/prebuilt-rule-8-6-1-suspicious-execution-via-windows-subsystem-for-linux.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-6-1/prebuilt-rules-8-6-1-summary.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-1/prebuilt-rule-8-7-1-host-files-system-changes-via-windows-subsystem-for-linux.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-1/prebuilt-rule-8-7-1-suspicious-execution-via-windows-subsystem-for-linux.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-7-1/prebuilt-rules-8-7-1-summary.asciidoc
  docs/release-notes/8.13.asciidoc
Labels: v8.9.0, v8.10.0, v8.11.0, v8.12.0, v8.13.0
