Repository elastic/security-docs, pull requests merged in 2024-05, with the labels that each got.

#5140 7.17.21 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v7.17.21

#5148 Creates new page detailing Bedrock connector setup
  docs/assistant/connect-to-bedrock.asciidoc
  docs/assistant/security-assistant.asciidoc
Labels: Priority: Urgent, Feature: Elastic AI Assistant, v8.13.0, v8.14.0

#5032 [ESS][8.14] ES|QL rule is GA'ing
  docs/detections/about-rules.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: Team: Detection Engine, Priority: High, Effort: Small, v8.14.0

#5168 [Detection Rules] Adding Documents for v8.13.6 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-13-6/prebuilt-rule-8-13-6-aws-bedrock-detected-multiple-attempts-to-use-denied-models-by-a-single-user.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-13-6/prebuilt-rule-8-13-6-aws-bedrock-guardrails-detected-multiple-policy-violations-within-a-single-blocked-request.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-13-6/prebuilt-rule-8-13-6-aws-bedrock-guardrails-detected-multiple-violations-by-a-single-user-over-a-session.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-13-6/prebuilt-rule-8-13-6-aws-s3-bucket-enumeration-or-brute-force.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-13-6/prebuilt-rule-8-13-6-potential-abuse-of-resources-by-high-token-count-and-large-response-sizes.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-13-6/prebuilt-rule-8-13-6-unusual-high-confidence-misconduct-blocks-detected.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-13-6/prebuilt-rules-8-13-6-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-13-6/prebuilt-rules-8-13-6-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-reference.asciidoc
  docs/detections/prebuilt-rules/rule-desc-index.asciidoc
  docs/detections/prebuilt-rules/rule-details/aws-bedrock-detected-multiple-attempts-to-use-denied-models-by-a-single-user.asciidoc
  docs/detections/prebuilt-rules/rule-details/aws-bedrock-guardrails-detected-multiple-policy-violations-within-a-single-blocked-request.asciidoc
  docs/detections/prebuilt-rules/rule-details/aws-bedrock-guardrails-detected-multiple-violations-by-a-single-user-over-a-session.asciidoc
  docs/detections/prebuilt-rules/rule-details/aws-s3-bucket-enumeration-or-brute-force.asciidoc
  docs/detections/prebuilt-rules/rule-details/potential-abuse-of-resources-by-high-token-count-and-large-response-sizes.asciidoc
  docs/detections/prebuilt-rules/rule-details/unusual-high-confidence-misconduct-blocks-detected.asciidoc
  docs/index.asciidoc
Labels: Feature: Prebuilt rules, v8.13.0

#5169 [Detection Rules] Adding Documents for v8.12.11 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-12-11/prebuilt-rules-8-12-11-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-12-11/prebuilt-rules-8-12-11-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: Feature: Prebuilt rules, v8.12.0

#5171 [Detection Rules] Adding Documents for v8.10.18 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-10-18/prebuilt-rules-8-10-18-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-10-18/prebuilt-rules-8-10-18-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: Feature: Prebuilt rules, v8.10.0

#5170 [Detection Rules] Adding Documents for v8.11.15 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-11-15/prebuilt-rules-8-11-15-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-11-15/prebuilt-rules-8-11-15-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/index.asciidoc
Labels: Feature: Prebuilt rules, v8.11.0

#5154 Adds kibana namespace requirement to CNVM and CSPM
  docs/cloud-native-security/cspm-get-started-aws.asciidoc
  docs/cloud-native-security/cspm-get-started-azure.asciidoc
  docs/cloud-native-security/cspm-get-started-gcp.asciidoc
  docs/cloud-native-security/cspm.asciidoc
  docs/cloud-native-security/vuln-management-get-started.asciidoc
  docs/cloud-native-security/vuln-management-overview.asciidoc
Labels: Team: Cloud Security, v8.8.0, v8.9.0, v8.10.0, v8.11.0, v8.12.0, v8.13.0, v8.14.0

#5160 8.13.4 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.13.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.14.0, v8.13.4

#5105 [Request][ESS][8.14] Update docs to convey release state of AI Assistant's ES|QL-query-generating functionality
  docs/assistant/security-assistant.asciidoc
Labels: Priority: High, Effort: Small, Feature: Elastic AI Assistant, v8.14.0, Feature: ES|QL

#5139 [Request][ESS][8.14] ES|QL Timeline tab enabled by default and moved to GA
  docs/advanced-entity-analytics/images/assign-asset-criticality-timeline.png
  docs/cases/images/indicator-query-timeline.png
  docs/detections/images/analyze-event-timeline.png
  docs/detections/images/ig-timeline.png
  docs/events/images/correlation-tab-eql-query.png
  docs/events/images/create-a-timeline-filter.png
  docs/events/images/esql-tab.png
  docs/events/images/timeline-ui-updated.png
  docs/events/timeline-ui-overview.asciidoc
  docs/getting-started/images/dataview-filter-example.gif
  docs/reference/images/timeline-object-ui.png
Labels: Feature: Timeline, Priority: High, Effort: Small, v8.14.0, Feature: ES|QL

#5199 Documents OpenAI Connector setup
  docs/assistant/connect-to-openai.asciidoc
  docs/assistant/security-assistant.asciidoc
Labels: Team: GenAI, v8.13.0, v8.14.0

#5167 [Request][ESS] Update ES|QL rule type metadata operator syntax
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: Team: Detection Engine, Priority: High, Effort: Small, v8.14.0, Feature: ES|QL

#5197 Defend - Sync antivirus option
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/images/register-as-antivirus.png
Labels: Team: EDR Workflows, Feature: Policy, Feature: Elastic Defend, Docset: ESS, v8.14.0

#5196 Defend - Malware scanning on modification toggle
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/images/install-endpoint/malware-protection.png
Labels: Team: EDR Workflows, Feature: Policy, Feature: Elastic Defend, Docset: ESS, v8.14.0

#5194 Elastic Defend event capture explainer
  docs/management/admin/endpoint-event-capture.asciidoc
  docs/management/manage-intro.asciidoc
Labels: enhancement, Team: Endpoint, Team: EDR Workflows, Feature: Elastic Defend, Docset: ESS, v8.12.0, v8.13.0, v8.14.0, v8.15.0

#5203 Update configure-integration-policy.asciidoc
  docs/getting-started/configure-integration-policy.asciidoc
Labels: Feature: Policy, Feature: Elastic Defend, Docset: ESS, v8.14.0

#5190 Update API docs for `required_fields`
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-find.asciidoc
  docs/detections/api/rules/rules-api-get.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: Team: Detections/Response, API, Feature: Rules, Docset: ESS, v8.15.0

#5209 Adds note to legacy risk scoring docs
  docs/experimental-features/host-risk-score.asciidoc
  docs/experimental-features/user-risk-score.asciidoc
Labels: Feature: Host Risk Score, Feature: User Risk Score, Feature: Entity Analytics, Priority: Medium, Effort: Small, v8.11.0, Docset: ESS, Team: Entity Analytics, v8.12.0, v8.13.0, v8.14.0, v8.15.0

#5195 [ESS][8.14] Documentation for Value list modal
  docs/detections/api/rules/rules-api-export.asciidoc
  docs/detections/api/rules/rules-api-import.asciidoc
  docs/detections/images/all-rules.png
  docs/detections/images/cancel-value-list-item-changes.png
  docs/detections/images/edit-value-list-item.png
  docs/detections/images/edit-value-lists.png
  docs/detections/images/export-value-list.png
  docs/detections/images/manage-value-list.png
  docs/detections/images/monitor-table.png
  docs/detections/images/prebuilt-rules-add-badge.png
  docs/detections/images/prebuilt-rules-update.png
  docs/detections/images/remove-value-list-item.png
  docs/detections/images/remove-value-list.png
  docs/detections/images/save-value-list-item-changes.png
  docs/detections/images/upload-lists-ui.png
  docs/detections/rules-ui-create.asciidoc
  docs/detections/rules-ui-manage.asciidoc
  docs/detections/value-list-exceptions.asciidoc
Labels: Feature: Rules, Team: Detection Engine, Priority: High, Effort: Small, v8.14.0

#5181 [Request][ESS] Document advanced setting that allows users to disable ES|QL in ESS
  docs/assistant/security-assistant.asciidoc
  docs/detections/about-rules.asciidoc
  docs/events/timeline-ui-overview.asciidoc
Labels: API, Feature: Rules, Feature: Timeline, Priority: High, Effort: Small, v8.14.0, Feature: ES|QL

#5182 [Request][8.14] improved ES|QL investigation (highlighted) fields
  docs/detections/rules-ui-create.asciidoc
Labels: Feature: Rules, Team: Detection Engine, Priority: High, Effort: Small, v8.14.0, Feature: ES|QL

#5122 [Enhancement][ESS] Only open or acknowledged alerts are considered for alert suppression
  docs/detections/alert-suppression.asciidoc
Labels: Feature: Rules, v8.7.0, v8.8.0, v8.9.0, Team: Detection Engine, Priority: High, v8.10.0, Effort: Small, v8.11.0, v8.12.0, v8.13.0, v8.14.0

#5001 [ESS][Pt. Duex] Adding value list file size constraints to UI docs
  docs/detections/value-list-exceptions.asciidoc
Labels: v7.17.0, Feature: Exceptions, Team: Detection Engine, Priority: Medium, Effort: Small, v8.12.0, v8.13.0, v8.14.0

#5236 [BUG][8.14] Help icon that opens in-product ES|QL docs has changed
  docs/detections/images/esql-help-ref-button.png
  docs/detections/images/esql-ref-button.png
  docs/detections/rules-ui-create.asciidoc
  docs/events/images/esql-ref-button.png
  docs/events/timeline-ui-overview.asciidoc
Labels: Team: Threat Hunting, Feature: Rules, Feature: Timeline, Team: Detection Engine, Priority: High, Effort: Small, Docset: ESS, v8.14.0, Feature: ES|QL

#5247 [8.14] Introduces AWS GovCloud support for CSPM
  docs/cloud-native-security/cspm-get-started-aws.asciidoc
  docs/cloud-native-security/cspm-get-started-azure.asciidoc
  docs/cloud-native-security/cspm-get-started-gcp.asciidoc
  docs/cloud-native-security/cspm.asciidoc
  docs/cloud-native-security/kspm-get-started.asciidoc
  docs/cloud-native-security/kspm.asciidoc
Labels: Team: Cloud Security, v8.14.0

#5259 Update docs-elastic-staging-publish.yml
  .github/CODEOWNERS
  .github/workflows/co-docs-builder.yml
  .github/workflows/docs-elastic-staging-publish.yml
Labels: backport-skip

#5261 Trigger builder
  docs/serverless/what-is-security-serverless.mdx
Labels: backport-skip, ci:doc-build

#5255 Update README to include serverless
  README.md
Labels: Team: Docs, backport-skip, Docset: ESS

#5186 Security upgrade guide 7.17-8.x
  docs/upgrade/upgrade-7.17-8.x.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: Feature: Upgrading, Priority: High, v8.10.0, Effort: Large, v8.11.0, Docset: ESS, v8.12.0, v8.13.0, v8.14.0, v8.15.0

#5280 [BUG] UI tweaks in Defend policy configuration for 8.14.0
  docs/cloud-native-security/session-view.asciidoc
  docs/detections/alerts-view-details.asciidoc
  docs/getting-started/images/install-endpoint/behavior-protection.png
  docs/getting-started/images/install-endpoint/event-collection.png
  docs/getting-started/images/install-endpoint/memory-protection.png
  docs/getting-started/images/install-endpoint/ransomware-protection.png
  docs/management/admin/blocklist.asciidoc
  docs/serverless/alerts/view-alert-details.mdx
  docs/serverless/cloud-native-security/session-view.mdx
  docs/serverless/edr-manage/blocklist.mdx
  docs/serverless/images/configure-endpoint-integration-policy/-getting-started-install-endpoint-behavior-protection.png
  docs/serverless/images/configure-endpoint-integration-policy/-getting-started-install-endpoint-event-collection.png
  docs/serverless/images/configure-endpoint-integration-policy/-getting-started-install-endpoint-memory-protection.png
  docs/serverless/images/configure-endpoint-integration-policy/-getting-started-install-endpoint-ransomware-protection.png
Labels: bug, Feature: Policy, Feature: Elastic Defend, Docset: Serverless, Docset: ESS, v8.14.0, ci:doc-build

#5227 What's new – 8.14
  docs/whats-new.asciidoc
  docs/whats-new/images/8.14/asset-criticality-file-upload.gif
  docs/whats-new/images/8.14/attack-discovery-full-card.png
  docs/whats-new/images/8.14/contribution-scores-per-alert.png
  docs/whats-new/images/8.14/edit-value-lists.png
  docs/whats-new/images/8.14/malware-protection.png
  docs/whats-new/images/8.14/register-as-antivirus.png
  docs/whats-new/images/8.14/setup-guide-field.png
  docs/whats-new/images/8.14/unassign-criticality.png
Labels: highlights, Priority: High, Effort: Medium, v8.14.0

#5262 updates cloud security section of billing page
  docs/serverless/billing.mdx
Labels: backport-skip, Team: Cloud Security, ci:doc-build
