Repository elastic/security-docs, pull requests merged in 2024-07, with the labels that each got.

#5193 [8.15] Documents risk score recalculation when asset criticality is changed
  docs/advanced-entity-analytics/asset-criticality.asciidoc
Labels: Feature: Entity Analytics, Priority: High, Effort: Small, Docset: ESS, Team: Entity Analytics, v8.15.0

#5499 SentinelOne `get-file` response action [classic]
  docs/management/admin/response-actions.asciidoc
  docs/management/admin/third-party-actions.asciidoc
Labels: Team: EDR Workflows, Feature: Response actions, Docset: ESS, v8.15.0

#5500 Update backport tool & Mergify configs for new 8.15 branch
  .backportrc.json
  .mergify.yml
Labels: Team: Docs, backport-skip

#5151 Edit related_integrations field for custom rules in UI [classic]
  docs/detections/prebuilt-rules-management.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/detections/rules-ui-manage.asciidoc
Labels: Team: Detections/Response, Feature: Rules, Docset: ESS, v8.15.0

#5106 Edit `max_signals` field for custom rules in UI [classic]
  docs/detections/alert-suppression.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: Team: Detections/Response, Feature: Rules, Docset: ESS, v8.15.0

#5287 Edit required_fields field for custom rules in UI [classic]
  docs/detections/rules-ui-create.asciidoc
  docs/serverless/rules/rules-ui-create.mdx
Labels: Team: Detections/Response, Feature: Rules, Docset: ESS, v8.15.0, ci:doc-build

#5183 Updates related_integrations field API docs
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-find.asciidoc
  docs/detections/api/rules/rules-api-get.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: Team: Detections/Response, API, Feature: Rules, Docset: ESS, v8.15.0

#5482 8.14.2 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.14.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.14.0, v8.14.2

#5496 Adds LM Studio connector guide
  docs/serverless/assistant/connect-to-byo-llm.mdx
  docs/serverless/assistant/images/lms-cli-welcome.png
  docs/serverless/assistant/images/lms-custom-logs-config.png
  docs/serverless/assistant/images/lms-edit-connector.png
  docs/serverless/assistant/images/lms-model-select.png
  docs/serverless/assistant/images/lms-ps-command.png
  docs/serverless/assistant/images/lms-studio-arch-diagram.png
  docs/serverless/assistant/images/lms-studio-model-loaded-msg.png
  docs/serverless/assistant/llm-connector-guides.mdx
  docs/serverless/serverless-security.docnav.json
Labels: backport-skip, Team: GenAI, ci:doc-build

#5519 [ESS] Adds beta tag to D4C
  docs/cloud-native-security/d4c-get-started.asciidoc
  docs/cloud-native-security/d4c-overview.asciidoc
Labels: Team: Cloud Security, v8.8.0, v8.9.0, v8.10.0, v8.11.0, v8.12.0, v8.13.0, v8.14.0, v8.15.0

#5520 [Serverless] Updates D4C badge from tech preview to beta
  docs/serverless/cloud-native-security/d4c-get-started.mdx
  docs/serverless/cloud-native-security/d4c-overview.mdx
Labels: backport-skip, ci:doc-build

#5512 [Serverless] [Attack discovery] twin PR for AI IA and AD note update
  docs/serverless/AI-for-security/ai-assistant-alert-triage.mdx
  docs/serverless/AI-for-security/ai-assistant-esql-queries.mdx
  docs/serverless/AI-for-security/ai-assistant.mdx
  docs/serverless/AI-for-security/ai-for-security-landing-pg.mdx
  docs/serverless/AI-for-security/ai-use-cases.mdx
  docs/serverless/AI-for-security/attack-discovery.mdx
  docs/serverless/AI-for-security/connect-to-azure-openai.mdx
  docs/serverless/AI-for-security/connect-to-bedrock.mdx
  docs/serverless/AI-for-security/connect-to-openai.mdx
  docs/serverless/AI-for-security/connect-to-vertex.mdx
  docs/serverless/AI-for-security/images/attck-disc-11-alerts-disc.png
  docs/serverless/AI-for-security/images/attck-disc-esql-query-gen-example.png
  docs/serverless/AI-for-security/llm-connector-guides.mdx
  docs/serverless/AI-for-security/llm-performance-matrix.mdx
  docs/serverless/AI-for-security/usecase-attack-disc-ai-assistant-incident-reporting.mdx
  docs/serverless/serverless-security.docnav.json
Labels: backport-skip, Team: GenAI, ci:doc-build

#5340 [CNVM] Adds notes about CNVM architecture support
  docs/cloud-native-security/vuln-management-faq.asciidoc
  docs/cloud-native-security/vuln-management-get-started.asciidoc
Labels: v8.8.0, v8.9.0, v8.10.0, v8.11.0, v8.12.0, v8.13.0, v8.14.0, v8.15.0

#5550 [serverless] Refactors the LM Studio connector guide
  docs/serverless/AI-for-security/connect-to-byo-llm.mdx
  docs/serverless/AI-for-security/images/lms-cli-welcome.png
  docs/serverless/AI-for-security/images/lms-custom-logs-config.png
  docs/serverless/AI-for-security/images/lms-edit-connector.png
  docs/serverless/AI-for-security/images/lms-model-select.png
  docs/serverless/AI-for-security/images/lms-ps-command.png
  docs/serverless/AI-for-security/images/lms-studio-arch-diagram.png
  docs/serverless/AI-for-security/images/lms-studio-model-loaded-msg.png
  docs/serverless/AI-for-security/llm-connector-guides.mdx
Labels: backport-skip, ci:doc-build

#5502 Backports upgrade guide to 7.17
  docs/index.asciidoc
  docs/upgrade/upgrade-7.17-8.x.asciidoc
Labels: v7.17.0, Feature: Upgrading

#5501 Update .backportrc.json: remove 7.x preset
  .backportrc.json
Labels: Team: Docs, backport-skip

#5497 Removes legacy risk scoring docs
  docs/advanced-entity-analytics/entity-risk-scoring.asciidoc
  docs/advanced-entity-analytics/turn-on-risk-engine.asciidoc
  docs/detections/alerts-view-details.asciidoc
  docs/experimental-features/beaconing-detection.asciidoc
  docs/experimental-features/experimental-features-intro.asciidoc
  docs/experimental-features/host-risk-score.asciidoc
  docs/experimental-features/images/beaconing-detection-1.png
  docs/experimental-features/images/beaconing-detection-2.png
  docs/experimental-features/images/dashboard.gif
  docs/experimental-features/images/data-tables.png
  docs/experimental-features/images/delete-hrs-saved-objects.png
  docs/experimental-features/images/delete-hrs-tag.png
  docs/experimental-features/images/delete-urs-saved-objects.png
  docs/experimental-features/images/delete-urs-tag.png
  docs/experimental-features/images/enable-hrs-details-pg.gif
  docs/experimental-features/images/enable-hrs.png
  docs/experimental-features/images/enable-urs.png
  docs/experimental-features/images/feature-flag.png
  docs/experimental-features/images/full-dashboard.png
  docs/experimental-features/images/go-to-host-view.png
  docs/experimental-features/images/go-to-host.png
  docs/experimental-features/images/histogram.png
  docs/experimental-features/images/host-risk-score-dev-tools-console.png
  docs/experimental-features/images/host-risk-score-enable-dev-tools.png
  docs/experimental-features/images/host-risk-score-import-dashboard.png
  docs/experimental-features/images/host-score-overview.png
  docs/experimental-features/images/hosts-by-risk-details-page.png
  docs/experimental-features/images/hrs-alerts-table.png
  docs/experimental-features/images/hrs-all-hosts.png
  docs/experimental-features/images/hrs-overview-section.png
  docs/experimental-features/images/kspm-1.png
  docs/experimental-features/images/kspm-2.png
  docs/experimental-features/images/restart-hrs.png
  docs/experimental-features/images/restart-urs.png
  docs/experimental-features/images/score-in-flyout.png
  docs/experimental-features/images/select-hrs-dashboard.png
  docs/experimental-features/images/select-urs-dashboard.png
  docs/experimental-features/images/urs-alerts-table.png
  docs/experimental-features/images/urs-details-page.png
  docs/experimental-features/images/urs-histogram.png
  docs/experimental-features/images/urs-overview-section.png
  docs/experimental-features/images/urs-score-flyout.png
  docs/experimental-features/images/urs-table.png
  docs/experimental-features/images/users-by-risk-details-page.png
  docs/experimental-features/images/usr-details-usr-risk-tab.png
  docs/experimental-features/user-risk-score.asciidoc
  docs/getting-started/users-page.asciidoc
  docs/index.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
Labels: Feature: Host Risk Score, Feature: User Risk Score, Priority: High, Effort: Small, Docset: ESS, Team: Entity Analytics, v8.15.0

#5554 Remove cloud shell editor deprecation notification
  docs/cloud-native-security/cspm-get-started-gcp.asciidoc
Labels: v8.10.0, v8.11.0, v8.12.0, v8.13.0, v8.14.0, v8.15.0

#5570 Serverless twin PR - adds CNVM requirement
  docs/serverless/cloud-native-security/vuln-management-faq.mdx
  docs/serverless/cloud-native-security/vuln-management-get-started.mdx
Labels: backport-skip, ci:doc-build

#5576 [8.15] [serverless] updates dashboard landing pg images
  docs/dashboards/images/dashboards-landing-page.png
  docs/serverless/images/dashboards-overview/-dashboards-dashboards-landing-page.png
  docs/serverless/images/es-ui-overview/-dashboards-dashboards-landing-page.png
Labels: v8.15.0, ci:doc-build

#5549 [8.15] creates Google vertex guide for ESS
  docs/AI-for-security/ai-for-security.asciidoc
  docs/AI-for-security/connect-to-vertex.asciidoc
  docs/AI-for-security/connector-guides-landing-pg.asciidoc
Labels: v8.15.0

#5513 (Doc+) Alerts UI cannot be CCS
  docs/getting-started/data-views-in-sec.asciidoc
Labels: enhancement, Feature: Alerts, Docset: ESS, v8.14.0, v8.15.0

#5582 (Doc+) Alerts UI cannot be CCS [serverless] + bonus fixes
  docs/getting-started/data-views-in-sec.asciidoc
  docs/serverless/explore/data-views-in-sec.mdx
Labels: bug, enhancement, Feature: Data Views, Feature: Alerts, Docset: Serverless, Docset: ESS, v8.14.0, v8.15.0, ci:doc-build

#5567 Add case templates for serverless
  docs/serverless/images/cases-settings/security-cases-connectors.png
  docs/serverless/images/cases-settings/security-cases-settings.png
  docs/serverless/images/cases-settings/security-cases-templates.png
  docs/serverless/images/cases-ui-integrations/-cases-add-connectors.png
  docs/serverless/images/cases-ui-integrations/-cases-cases-change-default-connector.png
  docs/serverless/images/cases-ui-integrations/-cases-cases-modify-connector.png
  docs/serverless/images/cases-ui-integrations/-cases-settings.png
  docs/serverless/investigate/cases-open-manage.mdx
  docs/serverless/investigate/cases-overview.mdx
  docs/serverless/investigate/cases-settings.mdx
  docs/serverless/serverless-security.docnav.json
  docs/serverless/settings/sec-requirements.mdx
Labels: backport-skip, Docset: Serverless, ci:doc-build

#5565 Add case templates
  docs/cases/cases-index.asciidoc
  docs/cases/cases-manage-settings.asciidoc
  docs/cases/cases-manage.asciidoc
  docs/cases/images/add-connectors.png
  docs/cases/images/cases-add-template.png
  docs/cases/images/cases-change-default-connector.png
  docs/cases/images/cases-modify-connector.png
  docs/cases/images/cases-settings.png
Labels: Feature: Cases, v8.15.0, v8.16.0

#5593 Remove unused anchors in case settings
  docs/cases/cases-manage-settings.asciidoc
  docs/serverless/investigate/cases-settings.mdx
Labels: Feature: Cases, backport-skip

#5460 [DE Team][8.15][Serverless] Bulk-update a rule's custom highlighted fields
  docs/detections/alerts-view-details.asciidoc
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/detections/rules-ui-manage.asciidoc
  docs/serverless/alerts/view-alert-details.mdx
  docs/serverless/rules/rules-ui-create.mdx
  docs/serverless/rules/rules-ui-management.mdx
Labels: Feature: Rules, Team: Detection Engine, Priority: High, Effort: Small, v8.15.0, ci:doc-build

#5505 [8.15 & Serverless] Update the Security Timeline Documentation in accordance with new Unified Timeline changes
  docs/detections/images/ig-timeline.png
  docs/events/images/add-field-button.png
  docs/events/images/correlation-tab-eql-query.png
  docs/events/images/create-a-timeline-filter.png
  docs/events/images/create-a-timeline-template-field.png
  docs/events/images/customize-event-renderers.png
  docs/events/images/remove-field-button.png
  docs/events/images/timeline-sidebar.png
  docs/events/images/timeline-ui-filter-options.png
  docs/events/images/timeline-ui-renderer.png
  docs/events/images/timeline-ui-updated.png
  docs/events/timeline-templates.asciidoc
  docs/events/timeline-ui-overview.asciidoc
  docs/reference/images/create-runtime-fields-timeline.png
  docs/reference/images/timeline-object-ui.png
  docs/reference/runtime-fields.asciidoc
  docs/serverless/explore/runtime-fields.mdx
  docs/serverless/images/interactive-investigation-guides/-detections-ig-timeline.png
  docs/serverless/images/runtime-fields/-reference-create-runtime-fields-timeline.png
  docs/serverless/images/timeline-object-schema/-reference-timeline-object-ui.png
  docs/serverless/images/timeline-templates-ui/-events-create-a-timeline-filter.png
  docs/serverless/images/timeline-templates-ui/-events-create-a-timeline-template-field.png
  docs/serverless/images/timelines-ui/-events-correlation-tab-eql-query.png
  docs/serverless/images/timelines-ui/-events-timeline-sidebar.png
  docs/serverless/images/timelines-ui/-events-timeline-ui-filter-options.png
  docs/serverless/images/timelines-ui/-events-timeline-ui-renderer.png
  docs/serverless/images/timelines-ui/-events-timeline-ui-updated.png
  docs/serverless/investigate/timeline-templates-ui.mdx
  docs/serverless/investigate/timelines-ui.mdx
Labels: Team: Threat Hunting, Feature: Timeline, Priority: High, Effort: Medium, Docset: Serverless, Docset: ESS, v8.15.0, ci:doc-build

#5599 [8.14.3] Adds link to the 8.14.3 RNs
  docs/release-notes.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.14.0, v8.15.0, v8.14.3

#5563 Scan response action [ESS]
  docs/getting-started/defend-feature-privs.asciidoc
  docs/getting-started/images/endpoint-privileges.png
  docs/management/admin/response-actions.asciidoc
Labels: Team: EDR Workflows, Feature: Elastic Defend, Feature: Response actions, Docset: ESS, v8.15.0

#5614 [8.14] [bug] Updates LLM Matrix
  docs/AI-for-security/llm-performance-matrix.asciidoc
  docs/serverless/AI-for-security/llm-performance-matrix.mdx
Labels: Team: GenAI, v8.14.0, v8.15.0, ci:doc-build

#5591 Case custom fields GA
  docs/cases/cases-manage-settings.asciidoc
  docs/cases/cases-manage.asciidoc
  docs/cases/images/cases-custom-field-settings.png
  docs/serverless/images/cases-settings/security-cases-custom-fields.png
  docs/serverless/investigate/cases-open-manage.mdx
  docs/serverless/investigate/cases-settings.mdx
Labels: Feature: Cases, v8.15.0, ci:doc-build, v8.16.0

#5603 7.17.23 release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v7.17.23

#5597 Revises IA of the getting started section
  docs/advanced-entity-analytics/advanced-entity-analytics-overview.asciidoc
  docs/advanced-entity-analytics/ers-req.asciidoc
  docs/advanced-entity-analytics/ml-req.asciidoc
  docs/cases/cases-index.asciidoc
  docs/cases/cases-req.asciidoc
  docs/detections/detections-index.asciidoc
  docs/detections/detections-req.asciidoc
  docs/getting-started/explore-intro.asciidoc
  docs/getting-started/index.asciidoc
  docs/index.asciidoc
Labels: v8.14.0, v8.15.0

#5622 Updates ESS LLM recommended model matrix
  docs/AI-for-security/llm-performance-matrix.asciidoc
Labels: v8.14.0, v8.15.0

#5579 Host isolation exceptions and VPN communication
  docs/management/admin/host-isolation-exceptions.asciidoc
  docs/serverless/edr-manage/host-isolation-exceptions.mdx
Labels: Team: Endpoint, Docset: Serverless, Docset: ESS, v8.15.0, ci:doc-build, v8.16.0

#5568 [Request][8.15 & Serverless] Alert suppression for ES|QL and ML rules
  docs/detections/alert-suppression.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/serverless/alerts/alert-suppression.mdx
  docs/serverless/rules/rules-ui-create.mdx
Labels: Feature: Rules, Priority: High, Effort: Small, Docset: Serverless, Docset: ESS, v8.15.0, ci:doc-build

#5605 [TH: Investigations][Serverless & 8.15] New previews in expandable flyout
  docs/detections/alerts-view-details.asciidoc
  docs/detections/images/expanded-correlations-view.png
  docs/detections/images/expanded-entities-view.png
  docs/serverless/alerts/view-alert-details.mdx
  docs/serverless/images/view-alert-details/-detections-expanded-correlations-view.png
  docs/serverless/images/view-alert-details/-detections-expanded-entities-view.png
Labels: Team: Threat Hunting, Priority: High, Effort: Small, Docset: Serverless, Docset: ESS, v8.15.0, ci:doc-build

#5615 [DE Team][Serverless] Case system action being added for rules
  docs/serverless/images/rules-ui-create/-detections-available-action-types.png
  docs/serverless/images/rules-ui-create/-detections-available-response-actions.png
  docs/serverless/rules/rules-ui-create.mdx
Labels: backport-skip, Feature: Rules, Feature: Connectors, Team: Detection Engine, Docset: Serverless, ci:doc-build

#5598 [Request][8.15 & Serverless] AI Assistant for rule creation
  docs/AI-for-security/ai-security-assistant.asciidoc
  docs/serverless/AI-for-security/ai-assistant.mdx
Labels: Feature: Rules, Team: Detection Engine, Priority: High, Effort: Small, Docset: Serverless, Feature: Elastic AI Assistant, Docset: ESS, v8.15.0, ci:doc-build
