Repository elastic/security-docs, pull requests merged in 2024-04, with the labels that each got.

#5013 8.13.1 release notes
  docs/release-notes/8.13.asciidoc
Labels: release-notes, v8.13.0

#4976 Switch to global attributes and remove section-scoped `pull` and `issue`
  docs/release-notes.asciidoc
  docs/release-notes/8.0.asciidoc
  docs/release-notes/8.1.asciidoc
  docs/release-notes/8.10.asciidoc
  docs/release-notes/8.11.asciidoc
  docs/release-notes/8.12.asciidoc
  docs/release-notes/8.2.asciidoc
  docs/release-notes/8.3.asciidoc
  docs/release-notes/8.4.asciidoc
  docs/release-notes/8.5.asciidoc
  docs/release-notes/8.6.asciidoc
  docs/release-notes/8.7.asciidoc
  docs/release-notes/8.8.asciidoc
  docs/release-notes/8.9.asciidoc
  docs/whats-new.asciidoc
Labels: backport-skip

#5058 8.13.2 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.13.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.13.0, v8.13.2

#5059 7.17.120 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v7.17.20

#5062 Add limit for number of alerts per case
  docs/cases/cases-manage.asciidoc
  docs/detections/alerts-add-to-cases.asciidoc
Labels: Feature: Cases, v8.14.0, v8.13.2

#5051 Remove prebuilt rules changelog
  docs/detections/detections-index.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-changelog.asciidoc
Labels: backport-skip

#4774 Update kibana MITRE version to `v14.1` [classic]
  docs/detections/rules-coverage.asciidoc
Labels: Team: Detections/Response, Feature: Rules, Feature: Prebuilt rules, Docset: ESS, v8.14.0

#5064 [8.13] Add limit for number of alerts per case (#5062)
  docs/cases/cases-manage.asciidoc
  docs/detections/alerts-add-to-cases.asciidoc
Labels: backport

#4915 Update supported k8s version for EKS
  docs/cloud-native-security/cspm-faq.asciidoc
  docs/cloud-native-security/kspm-faq.asciidoc
Labels: v8.5.0, v8.6.0, v8.7.0, v8.8.0, v8.9.0, v8.10.0, v8.11.0, v8.12.0, v8.13.0

#5038 EA doc enhancements
  docs/advanced-entity-analytics/analyze-risk-score-data.asciidoc
  docs/advanced-entity-analytics/asset-criticality.asciidoc
  docs/advanced-entity-analytics/entity-risk-scoring.asciidoc
  docs/advanced-entity-analytics/images/ac-sort-by-host-risk-score.png
  docs/getting-started/users-page.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
Labels: Feature: Entity Analytics, Priority: Medium, Effort: Medium, Docset: ESS, Team: Entity Analytics, v8.13.0, v8.14.0

#5031 [CIS GCP] Notify the user about cloud shell editor deprecation
  docs/cloud-native-security/cspm-get-started-gcp.asciidoc
  docs/cloud-native-security/images/cspm-cloudshell-old-editor.png
Labels: Team: Cloud Security, v8.12.0, v8.13.0, v8.14.0

#5091 Editable setup guide field for custom rules [classic]
  docs/detections/rules-ui-create.asciidoc
Labels: enhancement, Team: Detections/Response, Feature: Rules, Docset: ESS, v8.14.0

#5096 Updates docs for ability to unassign asset criticality
  docs/advanced-entity-analytics/asset-criticality.asciidoc
  docs/getting-started/ers-req.asciidoc
Labels: Feature: Entity Analytics, Priority: High, Effort: Small, Docset: ESS, Team: Entity Analytics, v8.14.0

#5071 Updates contribution scores info and screenshots in risk scoring docs
  docs/advanced-entity-analytics/images/asset-criticality-impact.png
  docs/getting-started/images/users/user-risk-inputs.png
  docs/getting-started/users-page.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
  docs/management/hosts/images/host-risk-inputs.png
Labels: Feature: Entity Analytics, Priority: High, Effort: Small, Docset: ESS, Team: Entity Analytics, v8.14.0

#5095 Updates `setup` guide field API docs
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: Team: Detections/Response, API, Feature: Rules, Docset: ESS, v8.14.0

#5116 [BUG][ESS][8.13-8.14] Add that suppression is supported for indicator match rules and other cleanup
  docs/detections/rules-ui-create.asciidoc
Labels: Feature: Rules, Team: Detection Engine, Priority: High, Effort: Small, v8.13.0, v8.14.0

#5119 Adds `refresh` field to value list API docs
  docs/detections/api/lists/api-create-list-item.asciidoc
  docs/detections/api/lists/api-delete-list-item.asciidoc
  docs/detections/api/lists/api-import-list-items.asciidoc
  docs/detections/api/lists/api-update-list-item.asciidoc
Labels: API, Feature: Exceptions, Team: Detection Engine, Priority: Medium, Effort: Medium, Docset: ESS, v8.14.0

#5057 [ESS][8.14] Alert suppression docs for EQL (non-seq) and new term rule types
  docs/detections/alert-suppression.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: Team: Detection Engine, Priority: High, Effort: Small, v8.14.0

#5114 [Request][Detection Engine][ESS][8.14] GA-ing alert suppression for custom query rule
  docs/detections/alert-suppression.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: Feature: Rules, Team: Detection Engine, Priority: High, Effort: Small, v8.14.0
