Repository elastic/security-docs, pull requests merged in 2024-10, with the labels that each got.

#5797 New rule types support automated response actions
  docs/management/admin/automated-response-actions.asciidoc
  docs/serverless/endpoint-response-actions/automated-response-actions.mdx
Labels: Team: EDR Workflows, Feature: Rules, Feature: Elastic Defend, Feature: Response actions, Feature: Rule Actions, Docset: Serverless, Docset: ESS, ci:doc-build, v8.16.0

#5884 [Known Issue][Detection Engine] Alert tags maintain state
  docs/release-notes/8.14.asciidoc
  docs/release-notes/8.15.asciidoc
Labels: release-notes, Feature: Alerts, known-issue, Priority: Medium, Effort: Small, v8.14.0, v8.15.0, v8.16.0

#5894 Removes 8.15 release notes from the 8.14 branch
  docs/release-notes/8.15.asciidoc
Labels: release-notes, v8.14.0

#5882 [bug] Fixes support matrix bug in k8s dashboard doc
  docs/dashboards/kubernetes-dashboard.asciidoc
  docs/serverless/dashboards/kubernetes-dashboard-dash.mdx
Labels: v8.14.0, v8.15.0, ci:doc-build

#5917 Get started with KSPM minor update
  docs/cloud-native-security/kspm-get-started.asciidoc
  docs/serverless/cloud-native-security/get-started-with-kspm.mdx
Labels: v8.15.0, ci:doc-build, v8.16.0

#5919 [serverless] Updates DQ dashboard page
  docs/serverless/dashboards/data-quality-dash.mdx
  docs/serverless/images/data-quality-dash/-dashboards-data-qual-dash-detail.png
  docs/serverless/images/data-quality-dash/-dashboards-data-qual-dash.png
  docs/serverless/images/data-quality-dash/history-tab.png
Labels: backport-skip, ci:doc-build

#5819 Permissions for alert suppression in machine learning rules
  docs/advanced-entity-analytics/ml-req.asciidoc
  docs/detections/alert-suppression.asciidoc
  docs/serverless/advanced-entity-analytics/ml-requirements.mdx
  docs/serverless/alerts/alert-suppression.mdx
Labels: Feature: Alerts, Feature: Rules, Feature: Machine Learning, Team: Detection Engine, Docset: Serverless, Docset: ESS, v8.15.0, ci:doc-build, v8.16.0

#5918 [doc] Noted blocklisted files are quarantined
  docs/getting-started/configure-integration-policy.asciidoc
  docs/serverless/edr-install-config/configure-endpoint-integration-policy.mdx
Labels: documentation, Team: Docs, v8.14.0, v8.15.0, ci:doc-build, v8.16.0

#5871 [Serverless][8.16] Logs request during preview rule execution
  docs/detections/rules-ui-create.asciidoc
  docs/serverless/rules/rules-ui-create.mdx
Labels: Feature: Rules, Team: Detection Engine, Priority: High, Effort: Small, Docset: Serverless, Docset: ESS, ci:doc-build, v8.16.0

#5589 [Serverless] Manual rule run docs
  docs/serverless/alerts/alert-schema.mdx
  docs/serverless/images/alerts-ui-monitor/-detections-manual-rule-run-table.png
  docs/serverless/images/alerts-ui-monitor/-detections-rule-execution-logs.png
  docs/serverless/rules/alerts-ui-monitor.mdx
  docs/serverless/rules/rules-ui-management.mdx
Labels: backport-skip, Feature: Rules, Team: Detection Engine, Priority: High, Effort: Large, Docset: Serverless, ci:doc-build

#5631 [8.16] Manual rule run docs
  docs/detections/api/rules/rules-api-bulk-actions.asciidoc
  docs/detections/images/manual-rule-run-table.png
  docs/detections/images/rule-execution-logs.png
  docs/detections/rules-ui-manage.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
  docs/reference/alert-schema.asciidoc
Labels: Feature: Rules, Team: Detection Engine, Priority: Medium, Effort: Medium, Docset: ESS, v8.16.0

#5942 Fixes list formatting for note in manual run docs
  docs/detections/rules-ui-manage.asciidoc
Labels: Feature: Rules, Docset: ESS, v8.16.0

#5905 8.15.3 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.14.asciidoc
  docs/release-notes/8.15.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.14.0, v8.15.0, v8.16.0, v8.15.3

#5931 Entity risk scoring available in multiple Kibana spaces
  docs/advanced-entity-analytics/ers-req.asciidoc
Labels: Feature: Entity Analytics, Priority: Medium, Effort: Small, Docset: ESS, Team: Entity Analytics, v8.16.0

#5924 Risk scoring recalculation after file upload
  docs/advanced-entity-analytics/asset-criticality.asciidoc
  docs/serverless/advanced-entity-analytics/asset-criticality.mdx
Labels: Feature: Entity Analytics, Priority: High, Effort: Small, Docset: Serverless, Docset: ESS, Team: Entity Analytics, ci:doc-build, v8.16.0

#5958 [8.17][Main] Update .mergify.yml
  .mergify.yml
Labels: v8.17.0

#5960 [Main] Update .backportrc.json
  .backportrc.json
Labels: backport-skip

#5959 [8.16] Update .mergify.yml
  .mergify.yml
Labels: backport-skip

#5956 [serverless] Attack Discovery UI updates
  docs/AI-for-security/attack-discovery.asciidoc
  docs/AI-for-security/images/attck-disc-select-model-empty-state.png
  docs/AI-for-security/images/select-model-empty-state.png
  docs/serverless/AI-for-security/attack-discovery.mdx
  docs/serverless/AI-for-security/images/attck-disc-alerts-number-menu.png
  docs/serverless/images/ai-assistant/assistant-kb-menu.png
  docs/serverless/images/attack-discovery/attck-disc-alerts-number-menu.png
  docs/serverless/images/attack-discovery/attck-disc-select-model-empty-state.png
Labels: backport-skip, ci:doc-build

#5944 7.17.25 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v7.17.25

#5957 [8.16]`excludedDataTiersForRuleExecution` advanced setting applies to ES|QL rules
  docs/getting-started/advanced-setting.asciidoc
Labels: Feature: Rules, Team: Detection Engine, Priority: High, Effort: Small, v8.16.0, v8.17.0

#5926 [Request][Serverless][8.16] GA-ing alert suppression for IM rule, Threshold rule, ML rule, ES|QL rule and New Terms rule
  docs/detections/alert-suppression.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/serverless/alerts/alert-suppression.mdx
  docs/serverless/rules/rules-ui-create.mdx
Labels: Feature: Rules, Team: Detection Engine, Priority: High, Effort: Small, Docset: Serverless, Docset: ESS, ci:doc-build, v8.16.0, v8.17.0

#5940 [Request][Serverless][8.16] Document the new `kibana.alert.rule.execution.type` field being added for manual runs
  docs/reference/alert-schema.asciidoc
  docs/serverless/alerts/alert-schema.mdx
Labels: Feature: Rules, Team: Detection Engine, Priority: High, Effort: Small, Docset: Serverless, Docset: ESS, ci:doc-build, v8.16.0, v8.17.0

#5853 Remove feature flag conditionals for serverless custom roles
  docs/serverless/advanced-entity-analytics/ers-req.mdx
  docs/serverless/edr-install-config/defend-feature-privs.mdx
  docs/serverless/explore/conf-map-ui.mdx
  docs/serverless/investigate/case-permissions.mdx
  docs/serverless/rules/detections-permissions-section.mdx
  docs/serverless/sec-requirements.mdx
Labels: backport-skip, Docset: Serverless, ci:doc-build

#5830 Revises 8.x-8.x upgrade guide
  docs/upgrade/upgrade-7.17-8.x.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: Feature: Upgrading, Priority: Medium, v8.10.0, Effort: Small, v8.11.0, Docset: ESS, v8.12.0, v8.13.0, v8.14.0, v8.15.0, v8.16.0, v8.17.0

#5945 Data qual dash 8.16 updates - ESS
  docs/dashboards/data-quality-dashboard.asciidoc
  docs/dashboards/images/data-qual-dash-detail.png
  docs/dashboards/images/data-qual-dash-history.png
  docs/dashboards/images/data-qual-dash.png
Labels: v8.16.0, v8.17.0

#5967 BYO LLM 8.16 updates
  docs/AI-for-security/connect-to-byo.asciidoc
  docs/AI-for-security/images/lms-edit-connector.png
  docs/serverless/AI-for-security/connect-to-byo-llm.mdx
  docs/serverless/AI-for-security/images/lms-edit-connector.png
Labels: Team: GenAI, ci:doc-build, v8.16.0, v8.17.0

#5990 Asset criticality navigation change
  docs/advanced-entity-analytics/asset-criticality.asciidoc
  docs/serverless/advanced-entity-analytics/asset-criticality.mdx
Labels: Feature: Entity Analytics, Priority: High, Effort: Small, Docset: Serverless, Docset: ESS, Team: Entity Analytics, ci:doc-build, v8.16.0, v8.17.0

#5963 [Request][Serverless][8.16] Visualizations in alert flyout - technical preview + advanced setting
  docs/detections/alerts-view-details.asciidoc
  docs/detections/images/visualize-tab-lp-alert-details.gif
  docs/detections/images/visualize-tab-lp.png
  docs/detections/visual-event-analyzer.asciidoc
  docs/getting-started/advanced-setting.asciidoc
  docs/serverless/alerts/view-alert-details.mdx
  docs/serverless/alerts/visual-event-analyzer.mdx
  docs/serverless/images/view-alert-details/-detections-visualize-tab-lp-alert-details.gif
  docs/serverless/images/view-alert-details/-detections-visualize-tab-lp.png
  docs/serverless/settings/advanced-settings.mdx
Labels: Team: Threat Hunting, Feature: Analyze Event, Feature: Alerts, Priority: High, Effort: Small, ci:doc-build, v8.16.0, v8.17.0

#5991 Asset criticality advanced setting removed
  docs/advanced-entity-analytics/api/asset-criticality-api-overview.asciidoc
  docs/advanced-entity-analytics/asset-criticality.asciidoc
  docs/advanced-entity-analytics/entity-risk-scoring.asciidoc
  docs/advanced-entity-analytics/ers-req.asciidoc
  docs/getting-started/advanced-setting.asciidoc
  docs/getting-started/users-page.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
  docs/serverless/advanced-entity-analytics/asset-criticality.mdx
  docs/serverless/advanced-entity-analytics/entity-risk-scoring.mdx
  docs/serverless/advanced-entity-analytics/ers-req.mdx
  docs/serverless/explore/hosts-overview.mdx
  docs/serverless/explore/users-page.mdx
  docs/serverless/settings/advanced-settings.mdx
Labels: Feature: Entity Analytics, Priority: High, Effort: Small, Docset: Serverless, Docset: ESS, Team: Entity Analytics, ci:doc-build, v8.16.0, v8.17.0

#5992 Add the ability to backport to `main`
  .mergify.yml
Labels: backport-skip
