Repository elastic/security-docs, pull requests merged in 2024-02, with the labels that each got.

#4736 Removes references to RAG from AI Assistant docs
  docs/assistant/security-assistant.asciidoc
Labels: Feature:Elastic AI Assistant, v8.11.0, v8.12.0

#4719 8.12.1 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.12.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.12.0, v8.12.1

#4750 7.17.18 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v7.17.18

#4758 [BUG][8.6-8.12]Fix note that describes how exceptions work with EQL rules
  docs/detections/add-exceptions.asciidoc
Labels: Feature: Rules, Feature: Exceptions, v8.6.0, v8.7.0, v8.8.0, v8.9.0, Team: Detection Engine, Priority: High, v8.10.0, Effort: Small, v8.11.0, v8.12.0

#4752 removes broken link in README
  README.md
Labels: backport-skip

#4751 [BUG] Add supported operating system to the tamper protection page [classic]
  docs/getting-started/agent-tamper-protection.asciidoc
Labels: bug, Team: Endpoint, v8.11.0, Docset: ESS, v8.12.0

#4777 Update docs-preview link
  README.md
Labels: backport-skip

#4528 Reworks the security docs landing page
  docs/detections/rules-ui-create.asciidoc
  docs/es-overview.asciidoc
  docs/management/admin/endpoint-self-protection.asciidoc
  docs/management/manage-intro.asciidoc
Labels: enhancement, Priority: Medium, Effort: Large, v8.12.0

#4792 Adds demo video to the AI Assistant docs
  docs/assistant/ai-alert-triage.asciidoc
Labels: Feature:Elastic AI Assistant, v8.12.0, v8.13.0

#4800 Removes model-specific (OpenAI) language from AI Assistant intro
  docs/assistant/security-assistant.asciidoc
Labels: Feature:Elastic AI Assistant, v8.12.0, v8.13.0

#4803 Adds instructions for updating AI Assistant knowledge base
  docs/assistant/security-assistant.asciidoc
Labels: Feature:Elastic AI Assistant, v8.12.0, v8.13.0

#4813 [Known Issue] Add docs to describe a known issue/limitation of EQL rule cross-cluster search
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: v8.0.0, v7.17.0, v8.1.0, v8.2.0, v8.3.0, Feature: Rules, v8.4.0, v8.5.0, v8.6.0, v8.7.0, v8.8.0, v8.9.0, Team: Detection Engine, v8.10.0, v8.11.0

#4820 [Known Issue][8.10-8.5] Add docs to describe a known issue/limitation of EQL rule cross-cluster search
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: v8.5.0, v8.6.0, v8.7.0, v8.8.0, v8.9.0, v8.10.0

#4812 Clarify GovCloud/commercial cloud support for CSPM
  docs/cloud-native-security/cspm-get-started-aws.asciidoc
  docs/cloud-native-security/cspm-get-started-azure.asciidoc
  docs/cloud-native-security/cspm-get-started-gcp.asciidoc
  docs/cloud-native-security/cspm.asciidoc
Labels: Team: Cloud Security, v8.11.0, v8.12.0, v8.13.0

#4805 [Redo][8.6-8.13] Highlight that rule exceptions are case-sensitive
  docs/detections/add-exceptions.asciidoc
Labels: v8.6.0, v8.7.0, v8.8.0, v8.9.0, v8.10.0, v8.11.0, v8.12.0, v8.13.0

#4806 [Redo][7.17-8.5] Highlight that rule exceptions are case-sensitive
  docs/detections/detections-ui-exceptions.asciidoc
Labels: v8.0.0, v7.17.0, v8.1.0, v8.2.0, v8.3.0, v8.4.0, v8.5.0

#4834 8.12.2 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.12.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.12.0, v8.13.0, v8.12.1

#4853 [8.13] Update Response Actions APIs as a result of introducing `agentType`
  docs/management/api/_common-reusable-content.asciidoc
  docs/management/api/_response-actions-api-reusable-content.asciidoc
  docs/management/api/execute-api.asciidoc
  docs/management/api/get-action-api.asciidoc
  docs/management/api/get-file-api.asciidoc
  docs/management/api/host-isolation-api.asciidoc
  docs/management/api/host-isolation-release-api.asciidoc
  docs/management/api/kill-process-api.asciidoc
  docs/management/api/list-actions-api.asciidoc
  docs/management/api/running-procs-api.asciidoc
  docs/management/api/suspend-process-api.asciidoc
  docs/management/api/upload-api.asciidoc
Labels: Team: EDR Workflows, v8.13.0
