Repository elastic/security-docs, pull requests merged in 2024-01, with the labels that each got.

#4483 [ESS] Timeline docs should be updated with the new UI
  docs/detections/images/ig-alert-flyout-invest-tab.png
  docs/detections/images/ig-alert-flyout.png
  docs/detections/images/ig-timeline-query.png
  docs/detections/images/ig-timeline-template-fields.png
  docs/detections/images/ig-timeline.png
  docs/detections/investigation-guide-actions.asciidoc
  docs/events/images/add-new-timeline-button.png
  docs/events/images/correlation-tab-eql-query.png
  docs/events/images/create-a-timeline-filter.png
  docs/events/images/favorite-icon.png
  docs/events/images/query-builder-button.png
  docs/events/images/timeline-ui-updated.png
  docs/events/timeline-templates.asciidoc
  docs/events/timeline-ui-overview.asciidoc
  docs/getting-started/images/dataview-filter-example.gif
  docs/reference/images/timeline-object-ui.png
  docs/reference/timeline-schema.asciidoc
Labels: Team: Threat Hunting, Feature: Timeline, Priority: High, Effort: Small, Docset: ESS, v8.12.0

#4467 Threshold rule alert suppression [Classic]
  docs/detections/alert-suppression.asciidoc
  docs/detections/alerts-reduce.asciidoc
  docs/detections/rules-ui-create.asciidoc
Labels: Feature: Rules, Team: Detection Engine, Docset: ESS, v8.12.0

#4554 [Request][REDO] Add warning against using ES|QL on production environmentsFirst draft
  docs/assistant/security-assistant.asciidoc
  docs/detections/about-rules.asciidoc
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/events/timeline-ui-overview.asciidoc
Labels: API, Feature: Rules, Feature: Timeline, Priority: High, Effort: Small, v8.11.0, v8.12.0

#4479 [Detection Engine] adds missing alert suppression API references
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: Feature: Rules, Team: Detection Engine, Docset: ESS, v8.12.0

#4526 Fixes get file API typo
  docs/management/api/get-file-api.asciidoc
Labels: Team: Defend Workflows, API, v8.9.0, v8.10.0, v8.11.0, v8.12.0

#4359 Adds new page about triaging alerts with AI Assistant
  docs/assistant/ai-alert-triage.asciidoc
  docs/assistant/images/ai-triage-add-to-case.png
  docs/assistant/security-assistant.asciidoc
Labels: Feature:Elastic AI Assistant, v8.11.0, v8.12.0

#4475 [Request] ESS docs for "Alert User Assignment" API
  docs/detections/api/rules/signals-api-overview.asciidoc
Labels: API, Feature: Rules, Team: Detection Engine, Priority: High, Effort: Small, v8.12.0

#4476 Docs for "Alert User Assignment" feature
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/alerts-view-details.asciidoc
  docs/detections/images/ai-assistant-chat.png
  docs/detections/images/alert-assigned-alerts.png
  docs/detections/images/alert-change-status.png
  docs/detections/images/alert-details-flyout-preview-panel.gif
  docs/detections/images/alert-details-flyout-right-panel.png
  docs/detections/images/alert-filter-assigned-alerts.png
  docs/detections/images/alert-flyout-assignees.png
  docs/detections/images/assign-alert.png
  docs/detections/images/bulk-add-alerts-to-timeline.png
  docs/detections/images/expand-details-button.png
  docs/detections/images/open-alert-details-flyout.gif
  docs/detections/images/share-alert.png
  docs/reference/alert-schema.asciidoc
Labels: Feature: Alerts, Feature: Alert Schema, Team: Detection Engine, Priority: High, Effort: Small, Docset: ESS, v8.12.0

#4569 [8.10] Backport query rule alert suppression to API docs (#4496)
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: backport

#4570 [8.9] Backport query rule alert suppression to API docs (#4496)
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: backport

#4571 [8.8] Backport query rule alert suppression to API docs (#4496)
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: backport

#4572 [8.7] Backport query rule alert suppression to API docs (#4496)
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: backport

#4573 [8.6] Backport query rule alert suppression to API docs (#4496)
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/detections/api/rules/rules-api-update.asciidoc
Labels: backport

#4581 Fixes data type inconsitency in Apply alert tags API
  docs/detections/api/rules/signals-api-overview.asciidoc
Labels: bug, Team: Detections/Response, API, Feature: Alerts, v8.9.0, v8.10.0, v8.11.0, v8.12.0

#4580 [Cases] Copy file hashes
  docs/cases/cases-manage.asciidoc
  docs/cases/images/cases-files.png
Labels: v8.12.0

#4530 Cloud security posture dashboard 8.12 updates
  docs/cloud-native-security/cspm-cloud-posture-dashboard.asciidoc
  docs/cloud-native-security/kspm-cloud-posture-dashboard.asciidoc
  docs/dashboards/cloud-posture.asciidoc
  docs/dashboards/images/cloud-sec-dashboard-individual-row.png
  docs/dashboards/images/cloud-sec-dashboard.png
Labels: Team: Cloud Security, v8.12.0

#4552 [Request] [8.11.4 & 8.12][ESS] Document feature flag for the ES|QL Timeline tab
  docs/events/timeline-ui-overview.asciidoc
Labels: Team: Threat Hunting, Feature: Timeline, Priority: High, Priority: Low, v8.11.0, v8.12.0

#4547 8.11.4 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.11.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.11.0, v8.12.0, v8.11.4

#4578 [Request] [8.11.4 & 8.12][ESS] Remove mention of default query in the ES|QL tab docs
  docs/events/timeline-ui-overview.asciidoc
Labels: Team: Threat Hunting, Feature: Timeline, v8.11.0, v8.12.0, v8.11.4

#4558 Removes list of default index patterns
  docs/getting-started/advanced-setting.asciidoc
Labels: Priority: Medium, Effort: Small, v8.12.0

#4597 [ESS][BUG][8.14.11]Fixes minor typos in the 8.11.4 release notes
  docs/release-notes/8.11.asciidoc
Labels: release-notes, v8.11.0, v8.12.0, v8.11.4

#4532 Updates CSPM / KSPM Findings page
  docs/cloud-native-security/cspm-findings.asciidoc
  docs/cloud-native-security/images/findings-page.png
  docs/cloud-native-security/kspm-findings.asciidoc
Labels: Team: Cloud Security, v8.12.0

#4557 [Cases] Add new sub feature privilege to prevent access to case settings
  docs/getting-started/cases-req.asciidoc
Labels: Feature: Cases, v8.12.0

#4575 Fix indentation typo
  docs/cloud-native-security/kspm-get-started.asciidoc
Labels: v8.12.0

#4611 [8.12][ESS] Document Osquery Timeout setting
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/osquery/alerts-run-osquery.asciidoc
  docs/osquery/images/setup-single-query.png
  docs/osquery/invest-guide-run-osquery.asciidoc
  docs/osquery/osquery-response-action.asciidoc
Labels: Team: EDR Workflows, Feature: Osquery, Priority: High, Effort: Small, Docset: ESS, v8.12.0

#4612 What's new 8.12
  docs/whats-new.asciidoc
  docs/whats-new/images/8.12/alert-assigned-alerts.png
  docs/whats-new/images/8.12/exclude-cold-frozen-tiers.png
  docs/whats-new/images/8.12/osquery-timeout-setting.png
  docs/whats-new/images/8.12/prebuilt-rules-update-diff.png
  docs/whats-new/images/8.12/timeline-ui-updated.png
Labels: highlights, v8.12.0

#4469 8.12 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/8.12.asciidoc
Labels: release-notes, v8.12.0

#4613 [Cases] Refresh automated screenshot
  docs/cases/images/cases-home-page.png
Labels: Feature: Cases, v8.12.0, v8.13.0

#4593 Bidirectional integration response actions (SentinelOne) — Classic docs
  docs/getting-started/install-endpoint.asciidoc
  docs/management/admin/response-actions-config.asciidoc
Labels: Team: EDR Workflows, Feature: Response actions, Docset: ESS, v8.12.0

#4602 Add `matches` capabilities to event filter creation (classic docs)
  docs/management/admin/event-filters.asciidoc
Labels: Team: EDR Workflows, Docset: ESS, v8.12.0

#4637 [BUGS] Fix various bugs in 8.12.0 (Classic)
  docs/dashboards/images/rule-monitoring-overview.png
  docs/detections/images/add-alert-to-existing-case.png
  docs/whats-new.asciidoc
Labels: bug, Docset: ESS, v8.12.0

#4639 [BUG] Remove outdated note in ML docs
  docs/advanced-entity-analytics/machine-learning.asciidoc
Labels: bug, v8.10.0, v8.11.0, Docset: ESS, v8.12.0

#4617 7.17.17 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v7.17.17

#4641 [ESS][8.13] Improvements to event analyzer panel
  docs/detections/images/event-details.png
Labels: Team: Threat Hunting, Priority: Medium, Effort: Small, Docset: ESS, v8.13.0

#4236 [EDR Workflows] Correct bugs in Execute action API docs
  docs/management/api/execute-api.asciidoc
Labels: Team: EDR Workflows, API, v8.11.0, v8.12.0, v8.13.0

#4656 [8.12] Correct bugs in Execute action API docs (backport #4236)
  docs/management/api/execute-api.asciidoc
Labels: v8.11.0, v8.12.0

#4658 [BUG][ESS] Outdated information mentioned in the step 5 for Osquery
  docs/osquery/alerts-run-osquery.asciidoc
Labels: Team: EDR Workflows, Feature: Osquery, Priority: Low, Effort: Small, v8.12.0

#4662 [BUG][ESS] The screenshot needs to be updated for the timeline tab
  docs/detections/images/analyze-event-timeline.png
Labels: Team: Threat Hunting, Feature: Timeline, Priority: Low, Effort: Small, v8.12.0

#4661 [BUG][ESS] es|ql tab is missing in timeline investigation screen-shot
  docs/detections/images/ig-timeline.png
Labels: Team: Threat Hunting, Feature: Timeline, Priority: Low, Effort: Small, v8.12.0

#4660 [BUG][ESS] Timeline Result more action list incorrect
  docs/getting-started/images/timeline-accessiblity-tab-keys.gif
  docs/getting-started/images/timeline-ui-accessiblity-drag-n-drop.gif
Labels: Team: Threat Hunting, Feature: Timeline, Priority: Low, Effort: Small, v8.12.0

#4657 [BUG][ESS]Old Inspect modal options for Alert Trend
  docs/getting-started/images/viz-options-menu-open.png
Labels: Team: Threat Hunting, Feature: Dashboards, Priority: Low, v8.10.0, Effort: Small, v8.11.0, v8.12.0

#4640 [BUG] Endpoint Trusted Applications docs need to mention that process events will always be generated (Classic docs)
  docs/management/admin/endpoint-artifacts.asciidoc
  docs/management/admin/trusted-apps.asciidoc
Labels: bug, Feature: Elastic Defend, Docset: ESS, v8.12.0

#4651 Adds tip about how to get custom dashboards to appear
  docs/dashboards/dashboards-overview.asciidoc
Labels: v8.10.0, v8.11.0, v8.12.0

#4663 [Request][ESS] Expand requirements for Osquery actions
  docs/osquery/osquery-response-action.asciidoc
Labels: Team: EDR Workflows, Feature: Osquery, v8.5.0, v8.6.0, v8.7.0, v8.8.0, v8.9.0, Priority: Medium, v8.10.0, Effort: Small, v8.11.0, v8.12.0

#4683 Documents that nested fields aren't supported for Theshold rules "Group by" operations
  docs/detections/rules-ui-create.asciidoc
Labels: v8.11.0, v8.12.0

#4643 [ESS][8.13] Alert flyout summary design change
  docs/advanced-entity-analytics/images/alerts-flyout-rs.png
  docs/detections/images/alert-details-flyout-preview-panel.gif
  docs/detections/images/alert-details-flyout-right-panel.png
  docs/detections/images/alert-flyout-assignees.png
  docs/detections/images/expand-details-button.png
  docs/detections/images/open-alert-details-flyout.gif
  docs/detections/images/suppressed-alerts-details.png
  docs/experimental-features/images/score-in-flyout.png
  docs/experimental-features/images/urs-score-flyout.png
Labels: Team: Threat Hunting, Priority: High, Effort: Small, Docset: ESS, v8.13.0

#4524 [Request][8.11-8.13] Doc privs required to create and manage the `.lists` data stream
  docs/detections/api/exceptions/exceptions-api-overview.asciidoc
  docs/detections/api/exceptions/lists-index-api-overview.asciidoc
  docs/detections/api/lists/lists-api-overview.asciidoc
  docs/getting-started/detections-req.asciidoc
Labels: Feature: Rules, Team: Detection Engine, v8.11.0, Docset: ESS, v8.12.0

#4692 AI "Magic Wand" button -> "Chat"
  docs/assistant/security-assistant.asciidoc
Labels: v8.12.0

#4695 Documents how to change the default security index
  docs/getting-started/data-views-in-sec.asciidoc
Labels: enhancement, v8.0.0, v8.1.0, v8.2.0, v8.3.0, v8.4.0, v8.5.0, v8.6.0, v8.7.0, v8.8.0, v8.9.0, v8.10.0, v8.12.0, v8.13.0

#4734 Removes beta tags from terminal output doc
  docs/cloud-native-security/session-view.asciidoc
Labels: Team: Cloud Security, v8.10.0, v8.11.0, v8.12.0
