Repository elastic/security-docs, pull requests merged in 2024-12, with the labels that each got.

#6221 [Serverless] Document impact of using logsDB for security users
  docs/serverless/index.asciidoc
  docs/serverless/rules/detection-engine-overview.asciidoc
  docs/serverless/rules/detections-logsdb-impact.asciidoc
Labels: backport-skip, Feature: Alerts, Feature: Rules, Team: Detection Engine, Effort: Medium, Priority: Urgent, Docset: Serverless

#6264 7.17.26 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v7.17.26

#6216 [Serverless bug bash] Removes content not applicable to serverless
  docs/serverless/edr-install-config/deploy-endpoint-macos-cat-mont.asciidoc
  docs/serverless/edr-install-config/deploy-endpoint-macos-ven.asciidoc
Labels: bug, backport-skip, Docset: Serverless

#6265 [Serverless] Fixes attributes
  docs/serverless/advanced-entity-analytics/turn-on-risk-engine.asciidoc
  docs/serverless/index.asciidoc
  docs/serverless/projects-create/create-project.asciidoc
  docs/serverless/settings/advanced-settings.asciidoc
  docs/serverless/what-is-security-serverless.asciidoc
Labels: bug, backport-skip, Docset: Serverless

#6268 Updates LLM performance matrix
  docs/AI-for-security/llm-performance-matrix.asciidoc
  docs/serverless/AI-for-security/llm-performance-matrix.asciidoc
Labels: v8.16.0, v8.17.0, v8.18.0

#6267 [Serverless]: Security - Visual event analyzer and CCS warning advanced settings not in serverless
  docs/serverless/alerts/visual-event-analyzer.asciidoc
  docs/serverless/settings/advanced-settings.asciidoc
Labels: backport-skip, Priority: High, Effort: Small, Docset: Serverless

#6274 [ESS][9.0] Create breaking changes and deprecations placeholder for 9.0
  docs/release-notes.asciidoc
  docs/release-notes/9.0.asciidoc
Labels: release-notes, backport-skip, Priority: High, Effort: Small, Docset: ESS

#6283 [Serverless]: Security - Cases nav steps are slightly incorrect
  docs/serverless/investigate/case-permissions.asciidoc
  docs/serverless/investigate/cases-open-manage.asciidoc
Labels: bug, backport-skip, Priority: High, Effort: Small, Docset: Serverless

#6224 8.17.0 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.17.asciidoc
Labels: release-notes, Priority: High, Effort: Large, v8.17.0, v8.18.0

#6286 What's new in 8.17
  docs/whats-new.asciidoc
Labels: highlights, Priority: High, Effort: Small, Docset: ESS, v8.17.0, v8.18.0

#6310 Update .mergify.yml
  .mergify.yml
Labels: backport-skip

#6307 [8.17] 8.17.0 Release notes (#6224)
  docs/release-notes.asciidoc
  docs/release-notes/8.17.asciidoc
Labels: backport

#6280 [Known issue][Detection Engine][8.16.0 & 8.16.1] Exception item comment validation on newline chars
  docs/release-notes/8.16.asciidoc
Labels: release-notes, known-issue, Priority: High, Effort: Small, v8.16.0, v8.17.0, v8.18.0, v8.16.1

#6313 Removes alert suppression line from RN and highlights
  docs/release-notes/8.17.asciidoc
  docs/whats-new.asciidoc
Labels: release-notes, highlights, Priority: High, Docset: ESS, v8.17.0, v8.18.0

#6298 [serverless][ESS][bugfix] Fixes outdated image on env var capture page
  docs/cloud-native-security/environment-variable-capture.asciidoc
  docs/cloud-native-security/images/env-var-capture.png
  docs/serverless/cloud-native-security/environment-variable-capture.asciidoc
  docs/serverless/images/environment-variable-capture/-cloud-native-security-env-var-capture.png
Labels: v8.16.0, v8.17.0, v8.18.0

#6269 Creates CSPM privileges standalone page
  docs/cloud-native-security/cloud-native-security-index.asciidoc
  docs/cloud-native-security/cspm-get-started-aws.asciidoc
  docs/cloud-native-security/cspm-get-started-azure.asciidoc
  docs/cloud-native-security/cspm-get-started-gcp.asciidoc
  docs/cloud-native-security/cspm-permissions.asciidoc
  docs/serverless/cloud-native-security/cspm-get-started-azure.asciidoc
  docs/serverless/cloud-native-security/cspm-get-started-gcp.asciidoc
  docs/serverless/cloud-native-security/cspm-get-started.asciidoc
  docs/serverless/cloud-native-security/cspm-permissions.asciidoc
  docs/serverless/index.asciidoc
Labels: v8.16.0, v8.17.0, v8.18.0

#6297 Adds legend to LLM perf matrix
  docs/AI-for-security/llm-performance-matrix.asciidoc
  docs/serverless/AI-for-security/llm-performance-matrix.asciidoc
Labels: v8.16.0, v8.17.0, v8.18.0

#6327 Update detections-logsdb-impact.asciidoc
  docs/detections/detections-logsdb-impact.asciidoc
Labels: Team: Detection Engine, Docset: ESS, v8.18.0, backport-main

#6328 Updates conditions for the 8.0 branch
  .mergify.yml
Labels: backport-skip

#6290 8.16.2 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.16.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.16.0, v8.17.0, v8.16.1, v8.16.2

#6300 Document ways to provide multiple Agent uninstall tokens
  docs/getting-started/agent-tamper-protection.asciidoc
  docs/getting-started/uninstall-agent.asciidoc
  docs/serverless/edr-install-config/agent-tamper-protection.asciidoc
  docs/serverless/edr-install-config/uninstall-agent.asciidoc
Labels: enhancement, Team: EDR Workflows, Feature: Elastic Defend, Docset: Serverless, v8.11.0, Docset: ESS, v8.12.0, v8.13.0, v8.14.0, v8.15.0, v8.16.0, v8.17.0, v8.18.0

#6288 [Serverless][8.17] Cases subfeatures
  docs/cases/cases-req.asciidoc
  docs/serverless/investigate/case-permissions.asciidoc
Labels: Team: Threat Hunting, Feature: Cases, Priority: High, v8.17.0, v8.18.0

#6358 Changes dropdown ESS release field to free-text in docs issue template
  .github/ISSUE_TEMPLATE/docs-request-internal.yaml
Labels: backport-skip

#6326 [ESS] [Serverless] Updates BYO LLM page
  docs/AI-for-security/connect-to-byo.asciidoc
  docs/AI-for-security/images/lms-cli-welcome.png
  docs/AI-for-security/images/lms-model-select.png
  docs/AI-for-security/images/lms-ps-command.png
  docs/AI-for-security/images/lms-studio-model-loaded-msg.png
  docs/serverless/AI-for-security/connect-to-byo-llm.asciidoc
  docs/serverless/AI-for-security/images/lms-cli-welcome.png
  docs/serverless/AI-for-security/images/lms-model-select.png
  docs/serverless/AI-for-security/images/lms-ps-command.png
  docs/serverless/AI-for-security/images/lms-studio-model-loaded-msg.png
  docs/serverless/AI-for-security/llm-connector-guides.asciidoc
Labels: v8.16.0, v8.17.0, v8.18.0

#6271 Risk score calculation for closed alerts
  docs/advanced-entity-analytics/entity-risk-scoring.asciidoc
  docs/advanced-entity-analytics/images/preview-risky-entities.png
  docs/advanced-entity-analytics/images/turn-on-risk-engine.png
  docs/advanced-entity-analytics/turn-on-risk-engine.asciidoc
  docs/serverless/advanced-entity-analytics/entity-risk-scoring.asciidoc
  docs/serverless/advanced-entity-analytics/turn-on-risk-engine.asciidoc
  docs/serverless/images/turn-on-risk-engine/preview-risky-entities.png
  docs/serverless/images/turn-on-risk-engine/turn-on-risk-engine.png
Labels: Feature: Entity Analytics, Docset: Serverless, Docset: ESS, Team: Entity Analytics, v8.18.0

#6299 Removes leftover instances of the known AI Assistant issue in the 8.x branch
  docs/release-notes/8.15.asciidoc
  docs/release-notes/8.16.asciidoc
Labels: release-notes, backport-skip

#6240 [Serverless][8.17][8.16]: Security – Alerts section bugs
  docs/detections/alerts-reduce.asciidoc
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/alerts-view-details.asciidoc
  docs/detections/images/about-section-rp.png
  docs/serverless/alerts/alerts-ui-manage.asciidoc
  docs/serverless/alerts/reduce-notifications-alerts.asciidoc
  docs/serverless/alerts/view-alert-details.asciidoc
  docs/serverless/images/view-alert-details/-detections-about-section-rp.png
Labels: Feature: Alerts, Priority: High, Effort: Small, v8.16.0, v8.17.0, v8.18.0

#6369 [BUG][8.12-8.15] Removes the docs for the Last Alert Status Change field and updates the "About" section screenshot
  docs/detections/alerts-view-details.asciidoc
  docs/detections/images/about-section-rp.png
Labels: Team: Threat Hunting, Feature: Alerts, v8.12.0, v8.13.0, v8.14.0, v8.15.0

#6377 8.15 RN file cleanup in 8.x branch
  docs/release-notes/8.15.asciidoc
Labels: release-notes, v8.18.0

#6368 BYO LLM Image Update
  docs/AI-for-security/connect-to-byo.asciidoc
  docs/AI-for-security/images/lms-studio-model-loaded-msg.png
  docs/serverless/AI-for-security/connect-to-byo-llm.asciidoc
  docs/serverless/AI-for-security/images/lms-studio-model-loaded-msg.png
Labels: v8.16.0, v8.17.0, v8.18.0
