Repository elastic/security-docs, pull requests merged in 2024-08, with the labels that each got.

#5604 Add link to region docs
  docs/serverless/projects-create/create-project.mdx
Labels: backport-skip, ci:doc-build

#5639 Adds Allowlist Elastic Endpoint in third-party antivirus apps page to serverless docs
  docs/management/admin/allowlist-endpoint-3rd-party-av.asciidoc
  docs/management/admin/trusted-apps.asciidoc
  docs/serverless/edr-manage/allowlist-endpoint-3rd-party-av.mdx
  docs/serverless/edr-manage/trusted-apps-ov.mdx
  docs/serverless/serverless-security.docnav.json
Labels: v8.0.0, Team: Endpoint, v8.1.0, v8.2.0, v8.3.0, v8.4.0, v8.5.0, v8.6.0, Feature: Elastic Defend, v8.7.0, v8.8.0, v8.9.0, Priority: Medium, v8.10.0, Effort: Small, v8.11.0, v8.12.0, v8.13.0, v8.14.0, v8.15.0, ci:doc-build

#5625 [8.15] xMatters connector available for rule actions
  docs/detections/images/available-action-types.png
  docs/detections/images/available-response-actions.png
Labels: Team: Detection Engine, Priority: High, Effort: Small, Docset: ESS, v8.15.0

#5626 Process descendant filtering in event filters [ESS]
  docs/management/admin/event-filters.asciidoc
  docs/management/admin/images/event-filter.png
Labels: Team: EDR Workflows, Feature: Elastic Defend, Docset: ESS, v8.15.0

#5529 CrowdStrike bidirectional response actions (isolate & release)
  docs/management/admin/response-actions-config.asciidoc
  docs/management/admin/response-actions.asciidoc
  docs/management/admin/third-party-actions.asciidoc
  docs/serverless/endpoint-response-actions/response-actions-config.mdx
  docs/serverless/endpoint-response-actions/response-actions.mdx
  docs/serverless/endpoint-response-actions/third-party-actions.mdx
Labels: Team: EDR Workflows, Feature: Response actions, Docset: Serverless, Docset: ESS, v8.15.0, ci:doc-build

#5560 [Serverless] Adds auto import page
  docs/serverless/ingest/auto-import.mdx
  docs/serverless/ingest/images/auto-import-create-new-integration-button.png
  docs/serverless/ingest/images/auto-import-edit-pipeline.gif
  docs/serverless/ingest/images/auto-import-review-integration-page.png
  docs/serverless/ingest/images/auto-import-success-message.png
  docs/serverless/serverless-security.docnav.json
Labels: backport-skip, Feature: Integrations, Team: GenAI, Docset: Serverless, ci:doc-build

#5676 [8.15][ESS] Adds ESS automatic import page
  docs/getting-started/automatic-import.asciidoc
  docs/getting-started/images/auto-import-create-new-integration-button.png
  docs/getting-started/images/auto-import-edit-pipeline.gif
  docs/getting-started/images/auto-import-review-integration-page.png
  docs/getting-started/images/auto-import-success-message.png
  docs/getting-started/index.asciidoc
Labels: v8.15.0

#5675 Adds note about DaemonSet support
  docs/getting-started/install-endpoint.asciidoc
  docs/release-notes/8.10.asciidoc
  docs/serverless/edr-install-config/install-elastic-defend.mdx
Labels: v8.10.0, v8.11.0, v8.12.0, v8.13.0, v8.14.0, v8.15.0, ci:doc-build

#5602 8.15.0 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.15.asciidoc
Labels: release-notes, Priority: High, Effort: Large, Docset: ESS, v8.15.0

#5660 [Entity Analytics] Add Asset Criticality public API docs
  docs/advanced-entity-analytics/api/asset-criticality-api-bulk-upsert.asciidoc
  docs/advanced-entity-analytics/api/asset-criticality-api-delete.asciidoc
  docs/advanced-entity-analytics/api/asset-criticality-api-get.asciidoc
  docs/advanced-entity-analytics/api/asset-criticality-api-index.asciidoc
  docs/advanced-entity-analytics/api/asset-criticality-api-list.asciidoc
  docs/advanced-entity-analytics/api/asset-criticality-api-overview.asciidoc
  docs/advanced-entity-analytics/api/asset-criticality-api-upsert.asciidoc
  docs/advanced-entity-analytics/asset-criticality.asciidoc
  docs/siem-apis.asciidoc
Labels: API, Feature: Entity Analytics, Priority: High, Effort: Large, Team: Entity Analytics, v8.15.0

#5667 What's new 8.15
  docs/whats-new.asciidoc
  docs/whats-new/images/8.15/auto-import-success-message.png
  docs/whats-new/images/8.15/cases-add-custom-field.png
  docs/whats-new/images/8.15/cases-add-template.png
  docs/whats-new/images/8.15/event-filter-process-descendants.png
  docs/whats-new/images/8.15/max-alerts-per-run.png
  docs/whats-new/images/8.15/required-fields-related-integrations.png
  docs/whats-new/images/8.15/timeline-notes-flyout.png
  docs/whats-new/images/8.15/timeline-sidebar-and-table.png
  docs/whats-new/images/8.15/timeline-ui-renderer.png
Labels: highlights, Priority: High, Effort: Medium, Docset: ESS, v8.15.0

#5620 Security AI Assistant APIs
  docs/AI-for-security/api/ai-for-security-index.asciidoc
  docs/AI-for-security/api/assistant-api-overview.asciidoc
  docs/AI-for-security/api/chat-complete-api.asciidoc
  docs/AI-for-security/api/conversation-api-create.asciidoc
  docs/AI-for-security/api/conversation-api-delete.asciidoc
  docs/AI-for-security/api/conversation-api-find.asciidoc
  docs/AI-for-security/api/conversation-api-get.asciidoc
  docs/AI-for-security/api/conversation-api-update.asciidoc
  docs/siem-apis.asciidoc
Labels: v8.15.0

#5690 Adds AI Assistant APIs link to release highlights
  docs/whats-new.asciidoc
Labels: highlights, Priority: Low, Effort: Small, Docset: ESS, v8.15.0

#5564 (Doc+) SIEM + frozen tier compatibility
  docs/detections/detection-engine-intro.asciidoc
Labels: Team: Detection Engine, v8.14.0, v8.15.0

#5698 [Response Actions][kill-process] Update API docs for `kill-process` to include `process_name` parameter for SentinelOne
  docs/management/api/kill-process-api.asciidoc
Labels: Team: EDR Workflows, API, v8.16.0

#5700 [BUG] Refreshing outdated images and gifs that demonstrate UI accessibility options and how to investigate IoCs in Timeline
  docs/cases/images/indicator-in-timeline.png
  docs/cases/images/indicator-query-timeline.png
  docs/getting-started/images/timeline-accessiblity-directional-arrows.gif
  docs/getting-started/images/timeline-accessiblity-keyboard-focus-hotkeys.gif
  docs/getting-started/images/timeline-accessiblity-keyboard-focus.gif
  docs/getting-started/images/timeline-accessiblity-page-up-n-down.gif
  docs/getting-started/images/timeline-accessiblity-shifting-keyboard-focus.gif
  docs/getting-started/images/timeline-accessiblity-tab-keys.gif
  docs/serverless/images/es-ui-overview/-getting-started-timeline-accessiblity-directional-arrows.gif
  docs/serverless/images/es-ui-overview/-getting-started-timeline-accessiblity-keyboard-focus-hotkeys.gif
  docs/serverless/images/es-ui-overview/-getting-started-timeline-accessiblity-keyboard-focus.gif
  docs/serverless/images/es-ui-overview/-getting-started-timeline-accessiblity-page-up-n-down.gif
  docs/serverless/images/es-ui-overview/-getting-started-timeline-accessiblity-shifting-keyboard-focus.gif
  docs/serverless/images/es-ui-overview/-getting-started-timeline-accessiblity-tab-keys.gif
  docs/serverless/images/indicators-of-compromise/-cases-indicator-in-timeline.png
  docs/serverless/images/indicators-of-compromise/-cases-indicator-query-timeline.png
  docs/serverless/security-ui.mdx
Labels: bug, Team: Threat Hunting, Feature: Timeline, Priority: Low, Effort: Small, v8.15.0, ci:doc-build

#5566 Scan response action [serverless]
  docs/management/admin/images/response-console-help-panel.png
  docs/management/admin/response-actions.asciidoc
  docs/serverless/endpoint-response-actions/response-actions.mdx
  docs/serverless/images/response-actions/-management-admin-response-console-help-panel.png
Labels: Team: EDR Workflows, backport-skip, Feature: Elastic Defend, Feature: Response actions, Docset: Serverless, ci:doc-build

#5672 Process descendant filtering in event filters [serverless]
  docs/management/admin/event-filters.asciidoc
  docs/serverless/edr-manage/event-filters.mdx
  docs/serverless/images/event-filters/-management-admin-event-filter.png
Labels: Team: EDR Workflows, Feature: Elastic Defend, Docset: Serverless, v8.15.0, ci:doc-build

#5659 SentinelOne bidirectional `processes`, `kill-process`, and detection rule updates [serverless]
  docs/serverless/endpoint-response-actions/response-actions-config.mdx
  docs/serverless/endpoint-response-actions/response-actions.mdx
  docs/serverless/endpoint-response-actions/third-party-actions.mdx
Labels: Team: EDR Workflows, backport-skip, Feature: Response actions, Docset: Serverless, ci:doc-build

#5714 [Known Issue] In bulk action menu we show manual rule run, but it's not available
  docs/release-notes/8.15.asciidoc
Labels: release-notes, known-issue, Team: Detection Engine, Priority: High, Effort: Small, v8.15.0

#5704 [Security Solution Gen AI]Docs for prompts and anonymization fields
  docs/AI-for-security/api/ai-for-security-index.asciidoc
  docs/AI-for-security/api/anonymization-fields-api-find.asciidoc
  docs/AI-for-security/api/bulk-actions-anonymization-fields-api.asciidoc
  docs/AI-for-security/api/bulk-actions-prompts-api.asciidoc
  docs/AI-for-security/api/prompts-api-find.asciidoc
Labels: v8.15.0

#5707 [Docs IA][ESS] Rework the Elastic Defend and endpoint protection sections
  docs/getting-started/elastic-endpoint-reqs.asciidoc
  docs/getting-started/endgame-sensor-FDA-ven.asciidoc
  docs/getting-started/endgame-sensor-FDA.asciidoc
  docs/getting-started/endgame-sensor-reqs.asciidoc
  docs/getting-started/images/fda/allow-kernel-ext.png
  docs/getting-started/images/fda/allow_sys_ext_endgame-sen-ven.png
  docs/getting-started/images/fda/enable-fda-endgame-sensor-ven.png
  docs/getting-started/images/fda/endgame-allow-network-filter-ven.png
  docs/getting-started/images/fda/endgame-allow-sys-ext-ven.png
  docs/getting-started/images/fda/endgame-enter-login-details-to-confirm-ven.png
  docs/getting-started/images/fda/endgame-sys-ext-blocked-ven.png
  docs/getting-started/images/fda/sys-ext-blocked.png
  docs/getting-started/index.asciidoc
  docs/getting-started/install-elastic-endpoint-ven.asciidoc
  docs/getting-started/install-elastic-endpoint.asciidoc
  docs/getting-started/install-endpoint.asciidoc
  docs/getting-started/uninstall-agent.asciidoc
  docs/getting-started/uninstall-endpoint.asciidoc
  docs/index.asciidoc
  docs/management/admin/allowlist-endpoint-3rd-party-av.asciidoc
  docs/management/admin/endpoint-self-protection.asciidoc
  docs/management/admin/ts-management.asciidoc
  docs/management/endpoint-protection-index.asciidoc
  docs/management/manage-intro.asciidoc
  docs/troubleshooting/troubleshooting-intro.asciidoc
Labels: documentation, Team: Docs, Docset: ESS, v8.14.0, v8.15.0, v8.16.0

#5715 [Docs IA][serverless] Rework Elastic Defend sections [serverless]
  docs/serverless/edr-install-config/deploy-endpoint-macos-cat-mont.mdx
  docs/serverless/edr-install-config/deploy-endpoint-macos-ven.mdx
  docs/serverless/edr-install-config/deploy-endpoint-reqs.mdx
  docs/serverless/edr-install-config/endgame-sensor-full-disk-access.mdx
  docs/serverless/edr-install-config/endpoint-protection-intro.mdx
  docs/serverless/edr-install-config/install-elastic-defend.mdx
  docs/serverless/edr-install-config/uninstall-agent.mdx
  docs/serverless/edr-install-config/uninstall-endpoint.mdx
  docs/serverless/edr-manage/allowlist-endpoint-3rd-party-av.mdx
  docs/serverless/edr-manage/endpoint-self-protection.mdx
  docs/serverless/edr-manage/manage-endpoint-protection.mdx
  docs/serverless/edr-manage/troubleshoot-endpoints.mdx
  docs/serverless/images/endgame-sensor-full-disk-access/-getting-started-fda-allow-kernel-ext.png
  docs/serverless/images/endgame-sensor-full-disk-access/-getting-started-fda-endgame-allow-network-filter-ven.png
  docs/serverless/images/endgame-sensor-full-disk-access/-getting-started-fda-sec-privacy-pane.png
  docs/serverless/images/endgame-sensor-full-disk-access/-getting-started-fda-select-fda.png
  docs/serverless/images/endgame-sensor-full-disk-access/-getting-started-fda-sys-ext-blocked.png
  docs/serverless/security-overview.mdx
  docs/serverless/serverless-security.docnav.json
Labels: documentation, Team: Docs, backport-skip, Docset: Serverless, ci:doc-build

#5724 [Docs IA] Moves LLM perf matrix page
  docs/AI-for-security/ai-for-security.asciidoc
Labels: v8.14.0, v8.15.0

#5728 Adds CSPM privilege reqs
  docs/cloud-native-security/cspm-get-started-aws.asciidoc
  docs/cloud-native-security/cspm-get-started-azure.asciidoc
  docs/cloud-native-security/cspm-get-started-gcp.asciidoc
  docs/cloud-native-security/cspm.asciidoc
Labels: v8.14.0, v8.15.0

#3698 [BUG][7.17] Remove the steps for approving the Endpoint kernel extension
  docs/getting-started/sensor-full-disk-access.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: Team: Endpoint, release-notes, v7.17.0

#5737 Update response-actions.asciidoc
  docs/management/admin/response-actions.asciidoc
Labels: bug, Team: EDR Workflows, Feature: Response actions, v8.9.0, v8.10.0, Docset: Serverless, v8.11.0, Docset: ESS, v8.12.0, v8.13.0, v8.14.0, v8.15.0, v8.16.0

#5740 Update setting name in response-actions.asciidoc
  docs/management/admin/response-actions.asciidoc
  docs/serverless/endpoint-response-actions/response-actions.mdx
Labels: bug, Team: EDR Workflows, Feature: Response actions, v8.9.0, v8.10.0, Docset: Serverless, Docset: ESS, v8.12.0, v8.13.0, v8.14.0, ci:doc-build, v8.16.0

#5738 Serverless changes to rework main overview landing page
  docs/es-overview.asciidoc
  docs/serverless/rules/rules-ui-create.mdx
  docs/serverless/security-overview.mdx
  docs/serverless/serverless-security.docnav.json
Labels: enhancement, Team: Docs, backport-skip, Docset: Serverless, ci:doc-build

#5447 API key authentication for cross-cluster search & detection rules
  docs/detections/rules-cross-cluster-search.asciidoc
Labels: Feature: Rules, Team: Detection Engine, v8.10.0, v8.11.0, Docset: ESS, v8.12.0, v8.13.0, v8.14.0, v8.15.0

#5757 Add Elastic Defend troubleshooting topics to "Troubleshooting" section
  docs/management/manage-intro.asciidoc
  docs/serverless/serverless-security.docnav.json
  docs/serverless/troubleshooting/troubleshoot-endpoints.mdx
  docs/serverless/troubleshooting/troubleshooting-intro.mdx
  docs/serverless/troubleshooting/ts-detection-rules.mdx
  docs/troubleshooting/troubleshooting-intro.asciidoc
  docs/troubleshooting/ts-detection-rules.asciidoc
  docs/troubleshooting/ts-management.asciidoc
Labels: Docset: Serverless, Docset: ESS, v8.14.0, v8.15.0, ci:doc-build

#5736 [Docs IA][ESS] Create Investigation Tools section
  docs/cases/cases-index.asciidoc
  docs/cloud-native-security/cloud-native-security-index.asciidoc
  docs/cloud-native-security/session-view.asciidoc
  docs/detections/detections-index.asciidoc
  docs/detections/visual-event-analyzer.asciidoc
  docs/events/index.asciidoc
  docs/events/investigations-index.asciidoc
  docs/events/timeline-templates.asciidoc
  docs/events/timeline-ui-overview.asciidoc
  docs/index.asciidoc
Labels: Team: Docs, Docset: ESS, v8.15.0, v8.16.0
