Repository elastic/security-docs, pull requests merged in 2024-11, with the labels that each got.

#5813 Spaces in serverless
  docs/events/timeline-templates.asciidoc
  docs/events/timeline-ui-overview.asciidoc
  docs/getting-started/data-views-in-sec.asciidoc
  docs/getting-started/security-spaces.asciidoc
  docs/serverless/explore/data-views-in-sec.mdx
  docs/serverless/investigate/timeline-templates-ui.mdx
  docs/serverless/investigate/timelines-ui.mdx
  docs/serverless/sec-requirements.mdx
  docs/serverless/security-spaces.mdx
  docs/serverless/serverless-security.docnav.json
Labels: backport-skip, Docset: Serverless, Docset: ESS, ci:doc-build

#5980 Navigation changes: Upgrade Security, post-upgrade steps, endpoint pr…
  docs/advanced-entity-analytics/machine-learning.asciidoc
  docs/advanced-entity-analytics/tune-anomaly-results.asciidoc
  docs/advanced-entity-analytics/turn-on-risk-engine.asciidoc
  docs/getting-started/agent-tamper-protection.asciidoc
  docs/getting-started/artifact-control.asciidoc
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/create-defend-policy-api.asciidoc
  docs/getting-started/defend-feature-privs.asciidoc
  docs/getting-started/endpoint-diagnostic-data.asciidoc
  docs/getting-started/install-endpoint.asciidoc
  docs/getting-started/linux-file-monitoring.asciidoc
  docs/getting-started/net-map-req.asciidoc
  docs/getting-started/self-healing-rollback.asciidoc
  docs/getting-started/uninstall-agent.asciidoc
  docs/post-upgrade/post-upgrade-deprecated-sn-connector.asciidoc
  docs/post-upgrade/post-upgrade-req-cti-alerts.asciidoc
  docs/upgrade/upgrade-7.17-8.x.asciidoc
Labels: Feature: New Navigation, Priority: High, Effort: Medium, Docset: ESS, v8.16.0, v8.17.0

#6006 [Serverless][8.16] Notes docs
  docs/detections/alerts-ui-manage.asciidoc
  docs/detections/alerts-view-details.asciidoc
  docs/detections/images/add-note-icon.png
  docs/detections/images/notes-tab-lp.png
  docs/detections/notes-page-timeline-details.png
  docs/events/add-manage-notes.asciidoc
  docs/events/images/add-note-icon.png
  docs/events/images/create-note-icon.png
  docs/events/images/new-note-alert-event.png
  docs/events/images/new-note-timeline-tab.png
  docs/events/images/notes-management-page.png
  docs/events/images/notes-page-document-details.png
  docs/events/images/notes-page-timeline-details.png
  docs/events/investigations-index.asciidoc
  docs/events/timeline-ui-overview.asciidoc
  docs/getting-started/advanced-setting.asciidoc
  docs/serverless/alerts/alerts-ui-manage.asciidoc
  docs/serverless/alerts/view-alert-details.asciidoc
  docs/serverless/images/icons/timelineWithArrow.svg
  docs/serverless/images/notes/-notes-management-page.png
  docs/serverless/images/notes/-notes-new-note-alert-event.png
  docs/serverless/images/notes/-notes-new-note-timeline-tab.png
  docs/serverless/images/view-alert-details/-detections-notes-tab-lp.png
  docs/serverless/index.asciidoc
  docs/serverless/investigate/add-manage-notes.asciidoc
  docs/serverless/investigate/timelines-ui.asciidoc
  docs/serverless/settings/advanced-settings.asciidoc
Labels: Feature: Alerts, Feature: Timeline, Priority: High, Effort: Large, v8.16.0, v8.17.0

#6069 Fixes incorrect attribute
  docs/serverless/advanced-entity-analytics/turn-on-risk-engine.asciidoc
  docs/serverless/investigate/cases-settings.asciidoc
Labels: backport-skip

#5979 [Request][8.16] Update nav references for all "Detection and alerts" topics
  docs/detections/add-exceptions.asciidoc
  docs/detections/building-block-rule.asciidoc
  docs/detections/prebuilt-rules-management.asciidoc
  docs/detections/prebuilt-rules/tune-rule-signals.asciidoc
  docs/detections/rules-coverage.asciidoc
  docs/detections/rules-cross-cluster-search.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/detections/rules-ui-manage.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
  docs/detections/shared-exception-lists.asciidoc
  docs/detections/value-list-exceptions.asciidoc
  docs/getting-started/ingest-data.asciidoc
  docs/serverless/alerts/alert-suppression.asciidoc
Labels: Feature: New Navigation, Priority: High, Effort: Medium, Docset: ESS, v8.16.0, v8.17.0

#6053 [8.16] Adds entity store docs
  docs/advanced-entity-analytics/advanced-entity-analytics-overview.asciidoc
  docs/advanced-entity-analytics/analyze-risk-score-data.asciidoc
  docs/advanced-entity-analytics/asset-criticality.asciidoc
  docs/advanced-entity-analytics/entity-store.asciidoc
  docs/advanced-entity-analytics/ers-req.asciidoc
  docs/advanced-entity-analytics/turn-on-risk-engine.asciidoc
  docs/dashboards/entity-dashboard.asciidoc
  docs/dashboards/images/entities-section.png
  docs/dashboards/images/entity-dashboard.png
Labels: Feature: Entity Analytics, Priority: High, Effort: Large, Docset: ESS, Team: Entity Analytics, v8.16.0, v8.17.0

#6080 [8.16][serverless] adds Insights section to hosts and users details flyouts
  docs/getting-started/images/users/user-details-flyout.png
  docs/getting-started/users-page.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
  docs/management/hosts/images/-host-details-insights-expanded.png
  docs/management/hosts/images/host-details-flyout.png
  docs/serverless/explore/hosts-overview.asciidoc
  docs/serverless/explore/users-page.asciidoc
  docs/serverless/images/hosts-overview/-host-details-flyout.png
  docs/serverless/images/hosts-overview/-host-details-insights-expanded.png
  docs/serverless/images/users-page/-user-details-flyout.png
Labels: v8.16.0, v8.17.0

#6050 Supported rule types for automated response actions
  docs/management/admin/automated-response-actions.asciidoc
  docs/serverless/endpoint-response-actions/automated-response-actions.asciidoc
Labels: Team: EDR Workflows, Feature: Response actions, Docset: Serverless, Docset: ESS, v8.16.0, v8.17.0

#6051 New option to install and enable rules in one step
  docs/detections/images/boxesVertical.svg
  docs/detections/images/prebuilt-rules-add.png
  docs/detections/prebuilt-rules-management.asciidoc
  docs/serverless/images/prebuilt-rules-management/-detections-prebuilt-rules-add.png
  docs/serverless/rules/prebuilt-rules/prebuilt-rules-management.asciidoc
Labels: Team: Detections/Response, Feature: Rules, Feature: Prebuilt rules, Docset: Serverless, Docset: ESS, v8.16.0, v8.17.0

#6094 Fix image reference bug
  docs/detections/prebuilt-rules-management.asciidoc
Labels: bug, backport-skip

#6000 [Request][8.16] Update nav references for all "Investigation tools" topics
  docs/cases/cases-manage-settings.asciidoc
  docs/cases/cases-manage.asciidoc
  docs/cases/indicators-of-compromise.asciidoc
  docs/cloud-native-security/session-view.asciidoc
  docs/detections/visual-event-analyzer.asciidoc
  docs/events/timeline-templates.asciidoc
  docs/events/timeline-ui-overview.asciidoc
  docs/osquery/invest-guide-run-osquery.asciidoc
Labels: Feature: New Navigation, Priority: High, Effort: Medium, v8.16.0, v8.17.0

#6040 [8.16]Adds Knowledge Base page and updates AI Assistant doc
  docs/AI-for-security/ai-for-security.asciidoc
  docs/AI-for-security/ai-security-assistant.asciidoc
  docs/AI-for-security/attack-discovery.asciidoc
  docs/AI-for-security/images/assistant-anonymization-menu.png
  docs/AI-for-security/images/assistant-basic-view.png
  docs/AI-for-security/images/assistant-settings-menu.png
  docs/AI-for-security/images/assistant-settings-system-prompts.png
  docs/AI-for-security/images/knowledge-base-add-index-config.png
  docs/AI-for-security/images/knowledge-base-assistant-menu-dropdown.png
  docs/AI-for-security/images/knowledge-base-assistant-settings-kb-tab.png
  docs/AI-for-security/images/knowledge-base-assistant-setup-button.png
  docs/AI-for-security/images/knowledge-base-rbac.png
  docs/AI-for-security/images/knowledge-base-settings.png
  docs/AI-for-security/images/quick-prompts.png
  docs/AI-for-security/knowledge-base.asciidoc
Labels: v8.16.0, v8.17.0

#6108 [serverless] Automatic import serverless update
  docs/serverless/ingest/auto-import.asciidoc
Labels: backport-skip

#5863 [8.16] Updates CSPM guides to include agentless option
  docs/cloud-native-security/cloud-native-security-index.asciidoc
  docs/cloud-native-security/cspm-get-started-aws.asciidoc
  docs/cloud-native-security/cspm-get-started-azure.asciidoc
  docs/cloud-native-security/cspm-get-started-gcp.asciidoc
  docs/cloud-native-security/cspm.asciidoc
  docs/getting-started/agentless-integrations.asciidoc
  docs/getting-started/index.asciidoc
  docs/serverless/cloud-native-security/cspm-get-started-azure.asciidoc
  docs/serverless/cloud-native-security/cspm-get-started-gcp.asciidoc
  docs/serverless/cloud-native-security/cspm-get-started.asciidoc
  docs/serverless/cloud-native-security/cspm.asciidoc
  docs/serverless/index.asciidoc
  docs/serverless/ingest/agentless-integrations.asciidoc
Labels: v8.16.0, v8.17.0

#5848 Known Issues + Access requirements for Crowdstrike Connector
  docs/management/admin/response-actions-config.asciidoc
  docs/management/admin/third-party-actions.asciidoc
  docs/release-notes/8.15.asciidoc
  docs/serverless/endpoint-response-actions/response-actions-config.asciidoc
  docs/serverless/endpoint-response-actions/third-party-actions.asciidoc
Labels: bug, Team: EDR Workflows, Feature: Response actions, known-issue, Docset: Serverless, Docset: ESS, v8.15.0, v8.16.0, v8.17.0

#6046 [8.16] [Cloud Security] Third-party cloud data
  docs/cloud-native-security/aws-securityhub.asciidoc
  docs/cloud-native-security/cloud-native-security-index.asciidoc
  docs/cloud-native-security/cspm-findings.asciidoc
  docs/cloud-native-security/falco-setup.asciidoc
  docs/cloud-native-security/images/aws-config-finding-logs.png
  docs/cloud-native-security/images/falco-external-alerts-rule.gif
  docs/cloud-native-security/images/falco-kibana-setup.gif
  docs/cloud-native-security/images/wiz-config-finding-logs.png
  docs/cloud-native-security/images/wiz-config-vuln-logs.png
  docs/cloud-native-security/images/wiz-findings.png
  docs/cloud-native-security/ingest-cncf-data.asciidoc
  docs/cloud-native-security/vuln-management-findings.asciidoc
  docs/cloud-native-security/wiz.asciidoc
Labels: v8.16.0, v8.17.0

#6073 Nav changes for "Manage Elastic Defend" and "Endpoint response actions" sections
  docs/management/admin/blocklist.asciidoc
  docs/management/admin/event-filters.asciidoc
  docs/management/admin/host-isolation-exceptions.asciidoc
  docs/management/admin/host-isolation-ov.asciidoc
  docs/management/admin/response-actions-config.asciidoc
  docs/management/admin/response-actions-history.asciidoc
  docs/management/admin/trusted-apps.asciidoc
  docs/serverless/edr-manage/blocklist.asciidoc
  docs/serverless/edr-manage/event-filters.asciidoc
  docs/serverless/edr-manage/host-isolation-exceptions.asciidoc
  docs/serverless/edr-manage/trusted-apps-ov.asciidoc
  docs/serverless/endpoint-response-actions/host-isolation-ov.asciidoc
  docs/serverless/endpoint-response-actions/response-actions-config.asciidoc
  docs/serverless/endpoint-response-actions/response-actions-history.asciidoc
Labels: Docset: Serverless, Docset: ESS, v8.16.0, v8.17.0

#6062 8.15.4 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.15.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.15.0, v8.16.0, v8.17.0, v8.15.4

#6120 [serverless] 3p cloud data updates
  docs/serverless/cloud-native-security/aws-securityhub.asciidoc
  docs/serverless/cloud-native-security/cspm-findings-page.asciidoc
  docs/serverless/cloud-native-security/falco-setup.asciidoc
  docs/serverless/cloud-native-security/images/aws-config-finding-logs.png
  docs/serverless/cloud-native-security/images/wiz-config-finding-logs.png
  docs/serverless/cloud-native-security/images/wiz-config-vuln-logs.png
  docs/serverless/cloud-native-security/images/wiz-findings.png
  docs/serverless/cloud-native-security/ingest-cncf-data.asciidoc
  docs/serverless/cloud-native-security/vuln-management-findings.asciidoc
  docs/serverless/cloud-native-security/wiz.asciidoc
  docs/serverless/index.asciidoc
Labels: backport-skip, Docset: Serverless

#6077 What's new in 8.16
  docs/whats-new.asciidoc
  docs/whats-new/images/8.16/attck-disc-alerts-number-menu.png
  docs/whats-new/images/8.16/endpoint-protection-rules.png
  docs/whats-new/images/8.16/entities-section.png
  docs/whats-new/images/8.16/flyout-settings.gif
  docs/whats-new/images/8.16/install-enable-rules.png
  docs/whats-new/images/8.16/knowledge-base-add-index-config.png
  docs/whats-new/images/8.16/manual-rule-run-table.png
  docs/whats-new/images/8.16/new-note-alert-event.png
  docs/whats-new/images/8.16/recalc-ers.png
  docs/whats-new/images/8.16/visualize-tab-lp-alert-details.gif
  docs/whats-new/images/8.16/wiz-findings.png
Labels: highlights, Priority: High, Effort: Medium, Docset: ESS, v8.16.0, v8.17.0

#6126 Fixes incorrect ref in the 8.15.4 release notes
  docs/release-notes/8.15.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.15.0, v8.16.0, v8.17.0, v8.15.4

#6095 [Serverless][8.16] Push and overlay display options added to flyout
  docs/detections/alerts-view-details.asciidoc
  docs/detections/images/flyout-settings.png
  docs/serverless/alerts/view-alert-details.asciidoc
  docs/serverless/images/view-alert-details/-detections-flyout-settings.png
Labels: Team: Threat Hunting, Feature: Alerts, Priority: High, Effort: Small, v8.16.0, v8.17.0

#6135 [BUG] - Inconsistency in Elastic Defend quarantine path
  docs/getting-started/configure-integration-policy.asciidoc
  docs/serverless/edr-install-config/configure-endpoint-integration-policy.asciidoc
Labels: Feature: Elastic Defend, Docset: Serverless, Docset: ESS, v8.14.0, v8.15.0, v8.16.0, v8.17.0

#5977 8.16 Elastic Security Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/8.16.asciidoc
Labels: release-notes, Priority: High, Effort: Large, v8.16.0, v8.17.0

#6147 [ESS][Serverless] Updates nav references for Cloud Security and AI sections
  docs/AI-for-security/connect-to-azure-openai.asciidoc
  docs/AI-for-security/connect-to-bedrock.asciidoc
  docs/AI-for-security/connect-to-byo.asciidoc
  docs/AI-for-security/connect-to-openai.asciidoc
  docs/AI-for-security/connect-to-vertex.asciidoc
  docs/cloud-native-security/cspm-benchmark-rules.asciidoc
  docs/cloud-native-security/cspm-get-started-aws.asciidoc
  docs/cloud-native-security/cspm-get-started-azure.asciidoc
  docs/cloud-native-security/cspm-get-started-gcp.asciidoc
  docs/cloud-native-security/d4c-get-started.asciidoc
  docs/cloud-native-security/environment-variable-capture.asciidoc
  docs/cloud-native-security/kspm-benchmark-rules.asciidoc
  docs/cloud-native-security/kspm-get-started.asciidoc
  docs/cloud-native-security/kspm.asciidoc
  docs/cloud-native-security/security-posture-management.asciidoc
  docs/cloud-native-security/vuln-management-get-started.asciidoc
  docs/serverless/AI-for-security/connect-to-azure-openai.asciidoc
  docs/serverless/AI-for-security/connect-to-bedrock.asciidoc
  docs/serverless/AI-for-security/connect-to-byo-llm.asciidoc
  docs/serverless/AI-for-security/connect-to-openai.asciidoc
  docs/serverless/AI-for-security/connect-to-vertex.asciidoc
  docs/serverless/cloud-native-security/benchmark-rules.asciidoc
  docs/serverless/cloud-native-security/cspm-get-started-azure.asciidoc
  docs/serverless/cloud-native-security/cspm-get-started-gcp.asciidoc
  docs/serverless/cloud-native-security/cspm-get-started.asciidoc
  docs/serverless/cloud-native-security/d4c-get-started.asciidoc
  docs/serverless/cloud-native-security/environment-variable-capture.asciidoc
  docs/serverless/cloud-native-security/get-started-with-kspm.asciidoc
  docs/serverless/cloud-native-security/kspm.asciidoc
  docs/serverless/cloud-native-security/security-posture-management.asciidoc
  docs/serverless/cloud-native-security/vuln-management-get-started.asciidoc
Labels: v8.16.0, v8.17.0

#6163 [Serverless bug bash] Fixes style issue on Deploy with MDM page
  docs/management/admin/deploy-with-mdm.asciidoc
  docs/serverless/edr-install-config/deploy-with-mdm.asciidoc
Labels: bug, Docset: Serverless, Docset: ESS, v8.16.0, v8.17.0

#6162 [Serverless bug bash] Fixes style issue on Event filters page
  docs/management/admin/event-filters.asciidoc
  docs/serverless/edr-manage/event-filters.asciidoc
Labels: bug, Docset: Serverless, Docset: ESS, v8.16.0, v8.17.0

#6169 [Known Issue] Error on Alert Page when upgrading to 8.16.0
  docs/release-notes/8.16.asciidoc
Labels: Team: Threat Hunting, release-notes, known-issue, Priority: High, Effort: Small, v8.16.0, v8.17.0

#5962 [8.16] Updates docs for and related to the `excludedDataTiersForRuleExecution` advanced setting
  docs/detections/detection-engine-intro.asciidoc
  docs/detections/detections-exclude-cold-frozen-data-tiers.asciidoc
  docs/getting-started/advanced-setting.asciidoc
  docs/release-notes/8.16.asciidoc
  docs/whats-new.asciidoc
Labels: Feature: Rules, Team: Detection Engine, Priority: High, Effort: Large, v8.16.0, v8.17.0

#6180 Update serverless Discover URL
  docs/serverless/investigate/timelines-ui.asciidoc
  docs/serverless/security-ui.asciidoc
Labels: backport-skip, Docset: Serverless

#6185 Adding myself as temporary codeowner
  .github/CODEOWNERS
Labels: backport-skip

#6186 Removing acorretti from codeowners
  .github/CODEOWNERS
Labels: backport-skip

#6155 [ESS & Serverless] Adds OrganizationUnitIDs description to agentless section of AWS CSPM guide
  docs/cloud-native-security/cspm-get-started-aws.asciidoc
  docs/serverless/cloud-native-security/cspm-get-started.asciidoc
Labels: v8.16.0, v8.17.0

#6176 Adds web crawler example to Knowledge Base doc
  docs/AI-for-security/knowledge-base.asciidoc
Labels: v8.16.0, v8.17.0

#6178 8.16.1 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.16.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.16.0, v8.16.1

#6190 Remove known issue for AI Assistant from the 8.15.1-8.16.1 release notes
  docs/detections/notes-page-timeline-details.png
  docs/release-notes/8.15.asciidoc
  docs/release-notes/8.16.asciidoc
Labels: release-notes, Priority: Medium, Team: GenAI, Effort: Small, v8.15.0, v8.16.0

#6189 [Serverless bug bash] Fixes links and nav steps
  docs/serverless/rules/rules-ui-management.asciidoc
Labels: bug, backport-skip, Docset: Serverless

#6188 [Serverless bug bash] Removes outdated content
  docs/getting-started/configure-integration-policy.asciidoc
  docs/serverless/edr-install-config/configure-endpoint-integration-policy.asciidoc
Labels: bug, Docset: Serverless, Docset: ESS, v8.16.0, v8.17.0

#6161 [Serverless bug bash] Fixes atypical terminology
  docs/serverless/billing.asciidoc
Labels: bug, backport-skip, Priority: High, Effort: Small, Docset: Serverless

#6207 Removes 199791 from the 8.16.1 release notes
  docs/release-notes/8.16.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.16.0, v8.17.0, 8.16.1

#6217 [8.x] [main] Update .mergify.yml
  .mergify.yml
Labels: backport-skip

#6220 [8.x] Update .mergify.yml
  .mergify.yml
Labels: backport-skip

#6219 [8.x] Update .backportrc.json
  .backportrc.json
Labels: backport-skip

#6225 Adds missing ref to the 8.16.1 release notes
  docs/release-notes.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.17.0

#6223 8.15.5 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.15.asciidoc
Labels: Priority: High, Effort: Small, v8.15.0, v8.16.0, v8.17.0, v8.15.5

#6235 Backport updated upgrade guides to 8.0
  docs/upgrade/upgrade-7.17-8.x.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.0.0, Feature: Upgrading, Effort: Small, Effort: Medium, Docset: ESS

#6234 Backport updated upgrade guides to 8.1
  docs/upgrade/upgrade-7.17-8.x.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.1.0, Feature: Upgrading, Priority: Medium, Effort: Small, Docset: ESS

#6233 Backport updated upgrade guides to 8.2
  docs/upgrade/upgrade-7.17-8.x.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.2.0, Feature: Upgrading, Priority: Medium, Effort: Small, Docset: ESS

#6232 Backport updated upgrade guides to 8.3
  docs/upgrade/upgrade-7.17-8.x.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.3.0, Feature: Upgrading, Priority: Medium, Effort: Small, Docset: ESS

#6231 Backport updated upgrade guides to 8.4
  docs/upgrade/upgrade-7.17-8.x.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.4.0, Feature: Upgrading, Priority: Medium, Effort: Small, Docset: ESS

#6206 Backport updated upgrade guides to 8.5
  docs/upgrade/upgrade-7.17-8.x.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.5.0, Feature: Upgrading, Priority: Medium, Effort: Small, Docset: ESS

#6205 Backport updated upgrade guides to 8.6
  docs/upgrade/upgrade-7.17-8.x.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: v8.6.0, Feature: Upgrading, Priority: Medium, Effort: Small, Docset: ESS

#6204 Backport updated upgrade guides to 8.7
  docs/upgrade/upgrade-7.17-8.x.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: Feature: Upgrading, v8.7.0, Priority: Medium, Effort: Small, Docset: ESS

#6203 Backport updated upgrade guides to 8.8
  docs/upgrade/upgrade-7.17-8.x.asciidoc
  docs/upgrade/upgrade-security.asciidoc
Labels: Feature: Upgrading, v8.8.0, Priority: Medium, Effort: Small, Docset: ESS

#6247 [Serverless] Updates billing docs
  docs/serverless/billing.asciidoc
Labels: backport-skip, Docset: Serverless

#6184 Creates agentless troubleshooting page
  docs/getting-started/agentless-troubleshooting.asciidoc
  docs/getting-started/index.asciidoc
  docs/serverless/index.asciidoc
  docs/serverless/ingest/agentless-troubleshooting.asciidoc
Labels: v8.16.0, v8.17.0, v8.18.0

#6175 Updates "Cloud native security" to "Cloud security"
  docs/cloud-native-security/cloud-native-security-index.asciidoc
  docs/es-overview.asciidoc
  docs/serverless/cloud-native-security/cloud-native-security-overview.asciidoc
  docs/serverless/security-overview.asciidoc
Labels: v8.16.0, v8.17.0, v8.18.0

#6255 [Detection Rules] Adding Documents for v8.13.23 Pre-Built Detection Rules
  docs/detections/prebuilt-rules/downloadable-packages/8-13-23/prebuilt-rule-8-13-23-aws-sts-assumeroot-by-rare-user-and-member-account.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-13-23/prebuilt-rules-8-13-23-appendix.asciidoc
  docs/detections/prebuilt-rules/downloadable-packages/8-13-23/prebuilt-rules-8-13-23-summary.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-downloadable-updates.asciidoc
  docs/detections/prebuilt-rules/prebuilt-rules-reference.asciidoc
  docs/detections/prebuilt-rules/rule-desc-index.asciidoc
  docs/detections/prebuilt-rules/rule-details/aws-sts-assumeroot-by-rare-user-and-member-account.asciidoc
  docs/detections/prebuilt-rules/rule-details/first-occurrence-github-event-for-a-personal-access-token-pat.asciidoc
  docs/detections/prebuilt-rules/rule-details/first-occurrence-of-github-repo-interaction-from-a-new-ip.asciidoc
  docs/detections/prebuilt-rules/rule-details/first-occurrence-of-github-user-interaction-with-private-repo.asciidoc
  docs/detections/prebuilt-rules/rule-details/first-occurrence-of-ip-address-for-github-personal-access-token-pat.asciidoc
  docs/detections/prebuilt-rules/rule-details/first-occurrence-of-ip-address-for-github-user.asciidoc
  docs/detections/prebuilt-rules/rule-details/first-occurrence-of-personal-access-token-pat-use-for-a-github-user.asciidoc
  docs/detections/prebuilt-rules/rule-details/first-occurrence-of-private-repo-event-from-specific-github-personal-access-token-pat.asciidoc
  docs/detections/prebuilt-rules/rule-details/first-occurrence-of-user-agent-for-a-github-personal-access-token-pat.asciidoc
  docs/detections/prebuilt-rules/rule-details/first-occurrence-of-user-agent-for-a-github-user.asciidoc
  docs/detections/prebuilt-rules/rule-details/github-app-deleted.asciidoc
  docs/detections/prebuilt-rules/rule-details/github-owner-role-granted-to-user.asciidoc
  docs/detections/prebuilt-rules/rule-details/github-pat-access-revoked.asciidoc
  docs/detections/prebuilt-rules/rule-details/github-protected-branch-settings-changed.asciidoc
  docs/detections/prebuilt-rules/rule-details/github-repo-created.asciidoc
  docs/detections/prebuilt-rules/rule-details/github-repository-deleted.asciidoc
  docs/detections/prebuilt-rules/rule-details/github-user-blocked-from-organization.asciidoc
  docs/detections/prebuilt-rules/rule-details/high-number-of-cloned-github-repos-from-pat.asciidoc
  docs/detections/prebuilt-rules/rule-details/member-removed-from-github-organization.asciidoc
  docs/detections/prebuilt-rules/rule-details/new-github-app-installed.asciidoc
  docs/detections/prebuilt-rules/rule-details/new-github-owner-added.asciidoc
  docs/detections/prebuilt-rules/rule-details/new-user-added-to-github-organization.asciidoc
  docs/index.asciidoc
Labels: Feature: Prebuilt rules, v8.13.0

#6183 [Nov 26] Signature option available for macOS Trusted Apps conditions
  docs/management/admin/trusted-apps.asciidoc
  docs/serverless/edr-manage/trusted-apps-ov.asciidoc
Labels: Team: EDR Workflows, Docset: Serverless, Docset: ESS, v8.17.0, v8.18.0

#6236 [Serverless] Removes D4C documentation
  docs/serverless/billing.asciidoc
  docs/serverless/cloud-native-security/cloud-native-security-overview.asciidoc
  docs/serverless/cloud-native-security/cloud-workload-protection.asciidoc
  docs/serverless/cloud-native-security/d4c-get-started.asciidoc
  docs/serverless/cloud-native-security/d4c-kubernetes-dashboard-dash.asciidoc
  docs/serverless/cloud-native-security/d4c-overview.asciidoc
  docs/serverless/cloud-native-security/d4c-policy-guide.asciidoc
  docs/serverless/cloud-native-security/session-view.asciidoc
  docs/serverless/cloud-native-security/vuln-management-dashboard-dash.asciidoc
  docs/serverless/dashboards/kubernetes-dashboard-dash.asciidoc
  docs/serverless/dashboards/vuln-management-dashboard-dash.asciidoc
  docs/serverless/index.asciidoc
  docs/serverless/security-ui.asciidoc
Labels: backport-skip, Docset: Serverless
