Repository elastic/security-docs, pull requests merged in 2024-09, with the labels that each got.

#5718 [serverless] Updates Data Quality Dashboard UI
  docs/serverless/dashboards/data-quality-dash.mdx
  docs/serverless/images/data-quality-dash/-dashboards-data-qual-dash-detail.png
  docs/serverless/images/data-quality-dash/-dashboards-data-qual-dash.png
Labels: backport-skip, ci:doc-build

#5708 [DE Team][BUG]: Missing info in req docs for detections
  docs/detections/detections-req.asciidoc
  docs/getting-started/data-views-in-sec.asciidoc
  docs/serverless/explore/data-views-in-sec.mdx
Labels: bug, Feature: Alerts, Feature: Rules, Team: Detection Engine, Priority: Medium, v8.13.0, v8.14.0, v8.15.0, ci:doc-build

#5786 [Known Issue] Doc Elastic Defend bug that stopped security events from populating the user.name field
  docs/release-notes/8.14.asciidoc
  docs/release-notes/8.15.asciidoc
Labels: release-notes, known-issue, v8.14.0, v8.15.0, v8.14.1, v8.14.2, v8.14.3

#5790 [Docs IA][Serverless] Create Investigation Tools section
  docs/serverless/cloud-native-security/session-view.mdx
  docs/serverless/investigate/investigate-events.mdx
  docs/serverless/investigate/timeline-templates-ui.mdx
  docs/serverless/investigate/timelines-ui.mdx
  docs/serverless/osquery/use-osquery.mdx
  docs/serverless/serverless-security.docnav.json
Labels: Team: Docs, backport-skip, Effort: Small, Docset: Serverless, ci:doc-build, Project: Docs IA

#5782 7.17.24 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v7.17.24

#5774 Update rules-ui-monitor.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
Labels: Docset: ESS, v8.15.0

#5795 Update ML jobs list on rule monitoring page
  docs/detections/rules-ui-monitor.asciidoc
  docs/serverless/rules/alerts-ui-monitor.mdx
Labels: Docset: Serverless, Docset: ESS, ci:doc-build, v8.16.0

#5749 Deploy Elastic Defend with MDM
  docs/management/admin/deploy-with-mdm.asciidoc
  docs/management/admin/images/content-filtering-jamf.png
  docs/management/admin/images/fda-jamf.png
  docs/management/admin/images/notifications-jamf.png
  docs/management/admin/images/system-extension-jamf.png
  docs/management/endpoint-protection-index.asciidoc
  docs/serverless/edr-install-config/deploy-with-mdm.mdx
  docs/serverless/images/deploy-with-mdm/content-filtering-jamf.png
  docs/serverless/images/deploy-with-mdm/fda-jamf.png
  docs/serverless/images/deploy-with-mdm/notifications-jamf.png
  docs/serverless/images/deploy-with-mdm/system-extension-jamf.png
  docs/serverless/serverless-security.docnav.json
  docs/serverless/troubleshooting/troubleshoot-endpoints.mdx
  docs/troubleshooting/ts-management.asciidoc
Labels: Team: Endpoint, Team: EDR Workflows, Priority: High, Effort: Large, Docset: Serverless, Docset: ESS, v8.14.0, v8.15.0, ci:doc-build, v8.16.0

#5778 Adds Elastic Endpoint command reference
  docs/management/admin/endpoint-command-ref.asciidoc
  docs/management/manage-intro.asciidoc
  docs/serverless/edr-manage/endpoint-command-ref.mdx
  docs/serverless/serverless-security.docnav.json
Labels: enhancement, Team: Endpoint, Priority: High, Effort: Medium, Docset: Serverless, Docset: ESS, v8.13.0, v8.14.0, v8.15.0, ci:doc-build, v8.16.0

#5800 Endpoint data volume reduction mechanisms
  docs/getting-started/endpoint-data-volume.asciidoc
  docs/management/endpoint-protection-index.asciidoc
  docs/serverless/edr-install-config/endpoint-data-volume.mdx
  docs/serverless/serverless-security.docnav.json
Labels: Team: Endpoint, Team: EDR Workflows, Feature: Elastic Defend, Docset: Serverless, Docset: ESS, ci:doc-build, v8.16.0

#5805 Fixes "Enrol"/"Enroll" typo
  docs/cloud-native-security/cspm-get-started-aws.asciidoc
  docs/cloud-native-security/cspm-get-started-gcp.asciidoc
  docs/serverless/cloud-native-security/cspm-get-started-gcp.mdx
  docs/serverless/cloud-native-security/cspm-get-started.mdx
Labels: v8.10.0, v8.11.0, v8.12.0, v8.13.0, v8.14.0, v8.15.0

#5806 Updates refs to LLMs
  docs/AI-for-security/ai-security-assistant.asciidoc
  docs/AI-for-security/connect-to-azure-openai.asciidoc
  docs/serverless/AI-for-security/ai-assistant.mdx
  docs/serverless/AI-for-security/connect-to-azure-openai.mdx
Labels: v8.14.0, v8.15.0, ci:doc-build

#5820 Delete known-issue.yaml template
  .github/ISSUE_TEMPLATE/known-issue.yaml
Labels: backport-skip

#5821 LLM performance matrix Serverless IA update
  docs/serverless/AI-for-security/llm-performance-matrix.mdx
  docs/serverless/serverless-security.docnav.json
Labels: backport-skip, ci:doc-build

#5835 Update .backportrc.json
  .backportrc.json
Labels: backport-skip

#5834 Update .mergify.yml for `8.16`
  .mergify.yml
Labels: backport-skip

#5796 Update serverless billing docs with ingest & retention size calculations
  docs/serverless/billing.mdx
  docs/whats-new.asciidoc
Labels: backport-skip, Docset: Serverless, ci:doc-build

#5735 SentinelOne bidirectional `processes`, `kill-process`, and detection rule updates [ESS]
  docs/management/admin/response-actions-config.asciidoc
  docs/management/admin/response-actions.asciidoc
  docs/management/admin/third-party-actions.asciidoc
  docs/serverless/endpoint-response-actions/response-actions-config.mdx
Labels: Team: EDR Workflows, Feature: Response actions, Docset: ESS, v8.16.0

#5780 New `is` operator option for blocklist Windows signatures
  docs/management/admin/blocklist.asciidoc
  docs/management/api/blocklist-api.asciidoc
  docs/serverless/edr-manage/blocklist.mdx
Labels: enhancement, Team: EDR Workflows, Feature: Elastic Defend, Docset: Serverless, Docset: ESS, ci:doc-build, v8.16.0

#5779 Custom roles & privileges: Revise, reorder, add serverless requirements pages
  docs/advanced-entity-analytics/ers-req.asciidoc
  docs/cases/cases-req.asciidoc
  docs/cases/images/case-feature-privs.png
  docs/detections/detections-req.asciidoc
  docs/getting-started/advanced-setting.asciidoc
  docs/getting-started/defend-feature-privs.asciidoc
  docs/getting-started/images/case-feature-privs-example.png
  docs/getting-started/images/case-feature-privs.png
  docs/getting-started/images/endpoint-privileges.png
  docs/getting-started/net-map-req.asciidoc
  docs/getting-started/sec-app-requirements.asciidoc
  docs/serverless/advanced-entity-analytics/ers-req.mdx
  docs/serverless/advanced-entity-analytics/ml-requirements.mdx
  docs/serverless/edr-install-config/defend-feature-privs.mdx
  docs/serverless/endpoint-response-actions/response-actions.mdx
  docs/serverless/explore/conf-map-ui.mdx
  docs/serverless/images/case-permissions/-cases-case-feature-privs.png
  docs/serverless/images/endpoint-management-req/-getting-started-endpoint-privileges.png
  docs/serverless/investigate/case-permissions.mdx
  docs/serverless/rules/detections-permissions-section.mdx
  docs/serverless/sec-requirements.mdx
  docs/serverless/serverless-security.docnav.json
  docs/serverless/settings/advanced-settings.mdx
  docs/serverless/settings/case-permissions.mdx
  docs/serverless/settings/detections-permissions-section.mdx
  docs/serverless/settings/endpoint-management-req.mdx
  docs/serverless/settings/ers-req.mdx
  docs/serverless/settings/sec-requirements.mdx
Labels: Team: Docs, Docset: Serverless, Docset: ESS, ci:doc-build, v8.16.0

#5854 Updates ESS get started page with tutorial links
  docs/getting-started/index.asciidoc
Labels: v8.14.0, v8.15.0

#5852 Fix automated response actions requirements
  docs/management/admin/automated-response-actions.asciidoc
  docs/serverless/endpoint-response-actions/automated-response-actions.mdx
Labels: Feature: Response actions, Docset: Serverless, Docset: ESS, ci:doc-build, v8.16.0

#5858 Updates to our templates for clarification
  .github/ISSUE_TEMPLATE/docs-request-internal.yaml
  .github/ISSUE_TEMPLATE/enhancement-request.yaml
Labels: backport-skip

#5849 [8.16] Filtering out cold and frozen data tiers during rule execution
  docs/detections/detections-exclude-cold-frozen-data-tiers.asciidoc
  docs/detections/detections-index.asciidoc
  docs/detections/rules-ui-create.asciidoc
  docs/getting-started/advanced-setting.asciidoc
Labels: Feature: Rules, Team: Detection Engine, Priority: High, Effort: Small, Docset: Serverless, Docset: ESS, v8.16.0

#5843 8.15.2 Release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.15.asciidoc
Labels: release-notes, Priority: High, Effort: Medium, v8.15.0, v8.16.0, v8.15.2

#5859 Add TheHive connector for cases
  docs/cases/cases-manage-settings.asciidoc
  docs/serverless/images/cases-settings/security-cases-connectors.png
  docs/serverless/investigate/cases-settings.mdx
Labels: Feature: Cases, ci:doc-build, v8.16.0

#5867 Fixes yaml template errors
  .github/ISSUE_TEMPLATE/docs-request-internal.yaml
  .github/ISSUE_TEMPLATE/enhancement-request.yaml
Labels: backport-skip
