Repository elastic/security-docs, pull requests merged in 2025-08, with the labels that each got.

#7013 [Internal][Security]: Building block rule actions
  docs/detections/building-block-rule.asciidoc
Labels: Feature: Rules, Team: Detection Engine

#7018 [BUG][SECURITY][8.19] Docs rule gap histogram
  docs/dashboards/images/rule-monitoring-overview.png
  docs/dashboards/rule-monitoring-dashboard.asciidoc
Labels: Feature: Rules, Feature: Dashboards, Team: Detection Engine

#7017 8.19.1 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.19.asciidoc
Labels: release-notes, v8.19.0

#7021 8.17.10 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.17.asciidoc
Labels: release-notes, v8.17.0, v8.18.0, v8.19.0

#7030 Updates to Alerts summmary UI
  docs/detections/alerts-visualizations.asciidoc
  docs/detections/images/alert-page-visualizations.png
  docs/detections/images/alert-page.png
  docs/detections/images/alerts-viz-summary.png
Labels: v8.19.0

#7036 Adds links for endpoint protection rules
  docs/management/admin/endpoint-protection-rules.asciidoc
Labels: v8.18.0, v8.19.0

#7044 8.18.6 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.18.asciidoc
Labels: release-notes, v8.18.0, v8.19.0
