Repository elastic/security-docs, pull requests merged in 2025-06, with the labels that each got.

#6877 [8.18.x] Tech preview label removed from alert suppression fields for EQL rules
  docs/release-notes/8.18.asciidoc
Labels: release-notes, known-issue, v8.18.0, v8.18.1, v8.18.2

#6879 Adds required API permissions for runscript
  docs/management/admin/response-actions-config.asciidoc
Labels: Team: EDR Workflows, v8.18.0, v8.19.0

#6881 AD is GA
  docs/AI-for-security/attack-discovery.asciidoc
Labels: v8.18.0

#6895 [Security] 7.17.29 release notes
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, v7.17.0, v7.17.29

#6896 [8.19] Document external EDR script picker for CrowdStrike
  docs/management/admin/response-actions.asciidoc
Labels: Team: EDR Workflows, Feature: Response actions, v8.19.0
