Repository elastic/security-docs, pull requests merged in 2025-01, with the labels that each got.

#6361 Document how to troubleshoot Defend's self-healing feature on Windows
  docs/serverless/troubleshooting/troubleshoot-endpoints.asciidoc
  docs/troubleshooting/ts-management.asciidoc
Labels: Team: Endpoint, troubleshooting, Priority: Medium, Effort: Medium, Docset: Serverless, Docset: ESS, v8.14.0, v8.15.0, v8.16.0, v8.17.0, v8.18.0

#5881 Endpoint data volume reduction mechanisms [ESS]
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/endpoint-data-volume.asciidoc
Labels: Team: Endpoint, Team: EDR Workflows, Feature: Elastic Defend, Docset: ESS, v8.15.0, v8.16.0, v8.17.0, v8.18.0

#6239 [Serverless]: Security – About detection rules
  docs/serverless/rules/about-rules.asciidoc
Labels: bug, backport-skip, Feature: Rules, Priority: High, Effort: Small

#6384 [Serverless]: Security – Monitor and troubleshoot rule executions
  docs/serverless/rules/alerts-ui-monitor.asciidoc
Labels: bug, troubleshooting, backport-skip, Feature: Rules, Feature: Machine Learning, Priority: High, Effort: Small, Docset: Serverless

#6420 [8.15] Endpoint data volume reduction mechanisms [ESS] (backport #5881)
  docs/getting-started/configure-integration-policy.asciidoc
  docs/getting-started/endpoint-data-volume.asciidoc
  docs/management/endpoint-protection-index.asciidoc
Labels: v8.15.0

#6393 Release notes 7.17.27
  docs/release-notes.asciidoc
  docs/release-notes/7.17.asciidoc
Labels: release-notes, v7.17.0, Priority: High, Effort: Small, Docset: ESS, v7.17.27

#6415 [8.18][Serverless] Alert status information re-added to flyout
  docs/detections/alerts-view-details.asciidoc
  docs/detections/images/about-section-rp.png
  docs/serverless/alerts/view-alert-details.asciidoc
  docs/serverless/images/view-alert-details/-detections-about-section-rp.png
Labels: Team: Threat Hunting, Priority: High, Effort: Small, Docset: Serverless, v8.18.0, v9.0.0

#6429 [Request][8.15.4 & 8.16.0] Add RN summary about Defend bug fix
  docs/release-notes/8.15.asciidoc
  docs/release-notes/8.16.asciidoc
Labels: release-notes, Feature: Elastic Defend, Priority: Medium, Effort: Small, v8.15.0, v8.16.0, v8.15.4

#6392 Release notes 8.17.1
  docs/release-notes.asciidoc
  docs/release-notes/8.17.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.17.0, v8.18.0, v8.17.1

#6391 Release notes 8.16.3
  docs/release-notes.asciidoc
  docs/release-notes/8.16.asciidoc
Labels: release-notes, Priority: High, Effort: Small, Docset: ESS, v8.16.0, v8.17.0, v8.18.0, v8.16.3

#4021 [Detection Engine][Exceptions] - Update docs for single and shared exceptions
  docs/detections/api/det-api-index.asciidoc
  docs/detections/api/exceptions/api-create-exception-container.asciidoc
  docs/detections/api/exceptions/api-create-exception-item.asciidoc
  docs/detections/api/exceptions/api-update-exception-container.asciidoc
  docs/detections/api/rules/rules-api-create-rule-default-exception-list.asciidoc
  docs/detections/api/rules/rules-api-create-single-rule-exception-item.asciidoc
  docs/detections/api/rules/rules-api-overview.asciidoc
  docs/siem-apis.asciidoc
Labels: API, Feature: Exceptions, v8.7.0, v8.8.0, v8.9.0, Team: Detection Engine, Priority: Medium, v8.10.0, Effort: Medium, v8.11.0, v8.12.0, v8.13.0, v8.14.0, v8.15.0, v8.16.0, v8.17.0, v8.18.0

#6440 Re-adds known issues to 8.16.2 and 8.16.3 release notes
  docs/release-notes/8.16.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.16.0, v8.17.0

#6424 Adds LLM matrix for OSS models
  docs/AI-for-security/connect-to-byo.asciidoc
  docs/AI-for-security/llm-performance-matrix.asciidoc
  docs/serverless/AI-for-security/connect-to-byo-llm.asciidoc
  docs/serverless/AI-for-security/llm-performance-matrix.asciidoc
Labels: v8.16.0, v8.17.0, v8.18.0

#6425 Update rules-ui-create.asciidoc - fallback behavior in timestamp overrides
  docs/detections/rules-ui-create.asciidoc
  docs/serverless/rules/rules-ui-create.asciidoc
Labels: bug, documentation, Team: Docs, Feature: Rules, Team: Detection Engine, Priority: Medium, Effort: Small, v8.16.0, v8.17.0, v8.18.0

#6475 Adds 202063 to the 8.17.1 release notes
  docs/release-notes/8.17.asciidoc
Labels: release-notes, Feature: Exceptions, Team: Detection Engine, Priority: Medium, Effort: Small, v8.17.0, v8.17.1

#6470 Update custom dashboard docs
  docs/dashboards/dashboards-overview.asciidoc
Labels: v8.17.0, v8.18.0, v9.0.0

#6481 8.17.0 known issue — D4C broken
  docs/release-notes/8.17.asciidoc
Labels: v8.17.0, v8.18.0

#6477 [Request] [8.18, 9.0, and Serverless] Observables can be added to cases
  docs/cases/cases-manage-settings.asciidoc
  docs/cases/cases-manage.asciidoc
  docs/cases/images/cases-add-observables.png
  docs/cases/images/cases-add-template.png
  docs/cases/images/cases-home-page.png
  docs/cases/images/cases-manage-comments.png
  docs/cases/images/cases-observable-types.png
  docs/cases/images/cases-settings.png
  docs/cases/images/cases-summary.png
  docs/cases/images/cases-ui-open.png
  docs/serverless/images/cases-open-manage/-cases-cases-add-observables.png
  docs/serverless/images/cases-open-manage/-cases-cases-home-page.png
  docs/serverless/images/cases-open-manage/-cases-cases-manage-comments.png
  docs/serverless/images/cases-open-manage/-cases-cases-summary.png
  docs/serverless/images/cases-open-manage/-cases-cases-ui-open.png
  docs/serverless/images/cases-settings/security-cases-observable-types.png
  docs/serverless/images/cases-settings/security-cases-settings.png
  docs/serverless/images/cases-settings/security-cases-templates.png
  docs/serverless/investigate/cases-open-manage.asciidoc
  docs/serverless/investigate/cases-settings.asciidoc
Labels: Team: Threat Hunting, Feature: Cases, Priority: High, Effort: Medium, Docset: Serverless, Docset: ESS, v8.18.0, v9.0.0

#6471 [Jan 28] GA for third-party response actions
  docs/management/admin/response-actions-config.asciidoc
  docs/management/admin/third-party-actions.asciidoc
  docs/serverless/endpoint-response-actions/response-actions-config.asciidoc
  docs/serverless/endpoint-response-actions/third-party-actions.asciidoc
Labels: Team: EDR Workflows, Feature: Response actions, Priority: Medium, Effort: Small, Docset: Serverless, Docset: ESS, v8.18.0, v9.0.0

#6434 [Jan 28] Updates RBAC requirements for 3rd-party response actions
  docs/management/admin/response-actions-config.asciidoc
Labels: Team: EDR Workflows, Feature: Response actions, Priority: Medium, Effort: Small, v8.18.0, v9.0.0

#6480 Endpoint Insights feature — Serverless
  docs/serverless/edr-manage/identify-third-party-AV-products.asciidoc
  docs/serverless/edr-manage/images/endpoint-insights-results.png
  docs/serverless/index.asciidoc
Labels: backport-skip, Docset: Serverless

#6492 Automatic Import: CEL Input
  docs/getting-started/automatic-import.asciidoc
  docs/serverless/ingest/auto-import.asciidoc
Labels: v9.0.0

#6486 github-action: Add AsciiDoc freeze warning
  .github/workflows/comment-on-asciidoc-changes.yml
Labels: backport-skip
