Repository elastic/security-docs, pull requests merged in 2025-05, with the labels that each got.

#6804 Fix typo on Endpoint protection rules page
  docs/management/admin/endpoint-protection-rules.asciidoc
Labels: bug, Team: EDR Workflows, Priority: Low, Effort: Small, v8.16.0, v8.17.0, v8.18.0, v8.19.0

#6803 Mention service risk on Entity Analytics dashboard page
  docs/dashboards/entity-dashboard.asciidoc
Labels: bug, Feature: Entity Analytics, Priority: Low, Effort: Small, Team: Entity Analytics, v8.18.0, v8.19.0

#6800 Updates manual run docs
  docs/detections/images/manual-rule-run-table.png
  docs/detections/rules-ui-manage.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
Labels: Feature: Rules, Priority: High, Effort: Small, v8.16.0, v8.17.0

#6820 [BUG][8.18]History icon is missing
  docs/detections/images/alert-details-flyout-right-panel.png
Labels: bug, Feature: Alerts, v8.18.0

#6818 [BUG][8.18] Screenshot needs to be replaced as per current Kibana UI because integrations label is removed
  docs/detections/images/all-rules.png
  docs/detections/images/rules-table-related-integrations.png
Labels: bug, Feature: Rules, v8.18.0

#6813 Retroactively updates known issues for Defend and Security
  docs/release-notes/8.16.asciidoc
  docs/release-notes/8.17.asciidoc
  docs/release-notes/8.18.asciidoc
Labels: release-notes, v8.16.0, v8.17.0, v8.18.0

#6788 Update the ML requirements in the prebuilt rules reference page
  docs/detections/prebuilt-rules/prebuilt-rules-reference.asciidoc
Labels: v8.18.0

#6802 8.18.1 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.18.asciidoc
Labels: release-notes, v8.18.0, v8.18.1

#6801 8.17.6 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.16.asciidoc
  docs/release-notes/8.17.asciidoc
Labels: release-notes, v8.17.0, v8.18.0, v8.17.6

#6797 Updates MITRE docs to currently used version `v16.1`
  docs/detections/rules-coverage.asciidoc
Labels: Team: Detections/Response, Feature: Dashboards, Docset: ESS, v8.18.0, v8.18.1

#6827 [REQUEST][8.18]: Update frozen tier support wording for DE
  docs/detections/detection-engine-intro.asciidoc
Labels: Team: Detection Engine, v8.18.0

#6830 Fix URL to Microsoft page
  docs/release-notes/8.16.asciidoc
  docs/release-notes/8.17.asciidoc
  docs/release-notes/8.18.asciidoc
Labels: release-notes, v8.16.0, v8.17.0, v8.18.0

#6842 Adds known issue header to 8.18.1 release notes
  docs/release-notes/8.18.asciidoc
Labels: release-notes, v8.18.0

#6819 [8.18] Updated outdated images of Timeline
  docs/detections/images/ig-timeline-query.png
  docs/detections/images/ig-timeline.png
  docs/events/images/correlation-tab-eql-query.png
  docs/events/images/esql-tab.png
  docs/events/images/timeline-sidebar.png
  docs/events/images/timeline-ui-renderer.png
  docs/events/images/timeline-ui-updated.png
Labels: Feature: Timeline, v8.18.0

#6843 Deletes Lists APIs
  docs/detections/api/lists-api-index.asciidoc
  docs/detections/api/lists/api-create-list-container.asciidoc
  docs/detections/api/lists/api-create-list-item.asciidoc
  docs/detections/api/lists/api-delete-list-container.asciidoc
  docs/detections/api/lists/api-delete-list-item.asciidoc
  docs/detections/api/lists/api-export-list-item.asciidoc
  docs/detections/api/lists/api-find-list-containers.asciidoc
  docs/detections/api/lists/api-find-list-items.asciidoc
  docs/detections/api/lists/api-get-list-containers.asciidoc
  docs/detections/api/lists/api-get-list-items.asciidoc
  docs/detections/api/lists/api-import-list-items.asciidoc
  docs/detections/api/lists/api-update-list-container.asciidoc
  docs/detections/api/lists/api-update-list-item.asciidoc
  docs/detections/api/lists/lists-api-overview.asciidoc
  docs/detections/api/rules/rules-api-create-single-rule-exception-item.asciidoc
  docs/siem-apis.asciidoc
Labels: API, v8.16.0, v8.17.0, v8.18.0, v8.19.0

#6852 [Security] 8.17.7 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.17.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.17.7

#6858 Removes tech preview label from Automatic Import in 8.18
  docs/getting-started/automatic-import.asciidoc
Labels: v8.18.0

#6853 [Security] 8.18.2 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.18.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.18.0, v8.18.2

#6862 Deletes AI Assistant APIs
  docs/AI-for-security/api/ai-for-security-index.asciidoc
  docs/AI-for-security/api/anonymization-fields-api-find.asciidoc
  docs/AI-for-security/api/assistant-api-overview.asciidoc
  docs/AI-for-security/api/bulk-actions-anonymization-fields-api.asciidoc
  docs/AI-for-security/api/bulk-actions-prompts-api.asciidoc
  docs/AI-for-security/api/chat-complete-api.asciidoc
  docs/AI-for-security/api/conversation-api-create.asciidoc
  docs/AI-for-security/api/conversation-api-delete.asciidoc
  docs/AI-for-security/api/conversation-api-find.asciidoc
  docs/AI-for-security/api/conversation-api-get.asciidoc
  docs/AI-for-security/api/conversation-api-update.asciidoc
  docs/AI-for-security/api/prompts-api-find.asciidoc
  docs/siem-apis.asciidoc
Labels: v8.16.0, v8.17.0, v8.18.0, v8.19.0

#6866 [Release notes][8.18.x] Add known issue to release notes for "Entity Risk Score documents eventually fail to persist
  docs/release-notes/8.18.asciidoc
Labels: release-notes, v8.18.0, v8.18.1, v8.18.2
