Repository elastic/security-docs, pull requests merged in 2025-07, with the labels that each got.

#6924 [8.19][Security]: Edit highlighted fields in alert flyout
  docs/detections/alerts-view-details.asciidoc
  docs/detections/images/about-section-rp.png
  docs/detections/images/alert-details-flyout-left-panel.png
  docs/detections/images/alert-details-flyout-preview-panel.gif
  docs/detections/images/alert-details-flyout-right-panel.png
  docs/detections/images/correlations-overview.png
  docs/detections/images/entities-overview.png
  docs/detections/images/expand-details-button.png
  docs/detections/images/expanded-correlations-view.png
  docs/detections/images/expanded-entities-view.png
  docs/detections/images/expanded-prevalence-view.png
  docs/detections/images/expanded-threat-intelligence-view.png
  docs/detections/images/insights-section-rp.png
  docs/detections/images/investigation-section-rp.png
  docs/detections/images/notes-tab-lp.png
  docs/detections/images/open-alert-details-flyout.gif
  docs/detections/images/response-action-rp.png
  docs/detections/images/threat-intelligence-overview.png
  docs/detections/images/visualizations-section-rp.png
  docs/detections/images/visualize-tab-lp-alert-details.gif
  docs/detections/images/visualize-tab-lp.png
Labels: Team: Threat Hunting, backport-skip

#6929 Adds BSOD known issue to 8.17.8 RNs
  docs/release-notes/8.17.asciidoc
Labels: release-notes, v8.17.0, v8.18.0, v8.19.0

#6928 Adds BSOD known issue to 8.18.3 RNs
  docs/release-notes/8.18.asciidoc
Labels: release-notes, v8.18.0, v8.19.0

#6937 [8.19] Prebuilt rule reversion documentation
  docs/detections/rules-ui-manage.asciidoc
Labels: Team: Detections/Response, v8.19.0

#6912 [Security] 8.18.4 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.18.asciidoc
Labels: release-notes, v8.18.0, v8.19.0, v8.18.4

#6942 8.18.4 release notes fix
  docs/release-notes/8.18.asciidoc
Labels: release-notes, v8.18.0, v8.19.0

#6943 8.17.9 release notes fix
  docs/release-notes/8.17.asciidoc
Labels: release-notes, v8.17.0, v8.18.0, v8.19.0

#6951 [8.19] Attack Discovery scheduling and saved discoveries
  docs/AI-for-security/attack-discovery.asciidoc
  docs/AI-for-security/images/attck-disc-example-disc.png
  docs/AI-for-security/images/attck-disc-select-model-empty.png
  docs/AI-for-security/images/security-attack-discovery-settings.png
Labels: Team: GenAI, v8.19.0

#6935 [8.19] Improvements to the gap remediation feature
  docs/detections/images/gaps-table.png
  docs/detections/images/monitor-table.png
  docs/detections/rules-ui-manage.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
Labels: Team: Detection Engine, v8.19.0

#6952 [SECURITY][ResponseOps][Alerting][8.19] Alert Deletion Docs
  docs/detections/alerts-ui-manage.asciidoc
Labels: Feature: Alerts, Team: ResponseOps, v8.19.0

#6956 Updates Security landing page title
  docs/index.asciidoc
Labels: v8.0.0, v7.17.0, v8.1.0, v8.2.0, v8.3.0, v8.4.0, v8.5.0, v8.6.0, v8.7.0, v8.8.0, v8.9.0, v8.10.0, v8.11.0, v8.12.0, v8.13.0, v8.14.0, v8.15.0, v8.16.0, v8.17.0, v8.18.0, v8.19.0

#6953 What's new in 8.19
  docs/whats-new.asciidoc
  docs/whats-new/images/8.19/assistant-basic-view.png
  docs/whats-new/images/8.19/bulk-alert-suppression.png
  docs/whats-new/images/8.19/customize-highlighted-fields.png
  docs/whats-new/images/8.19/elastic-managed-llm.png
  docs/whats-new/images/8.19/mde-runscript.png
  docs/whats-new/images/8.19/modified-field.png
  docs/whats-new/images/8.19/monitor-table.png
  docs/whats-new/images/8.19/respond-from-events.png
  docs/whats-new/images/8.19/revert-rule.png
  docs/whats-new/images/8.19/saved-discoveries.png
  docs/whats-new/images/8.19/schedule-discoveries.png
Labels: highlights, v8.19.0

#6925 [Security] 8.19.0 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.19.asciidoc
Labels: release-notes, v8.19.0

#6989 Analyzer support for CrowdStrike and SentinelOne
  docs/detections/visual-event-analyzer.asciidoc
Labels: v8.18.0, v8.19.0
