Repository elastic/security-docs, pull requests merged in 2025-03, with the labels that each got.

#6550 8.17.3 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.17.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.17.0, v8.18.0, v8.17.3

#6562 Removes duplicate image outside of the images folder
  docs/detections/notes-page-timeline-details.png
Labels: v8.18.0

#6551 8.16.5 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.16.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.16.0, v8.17.0, v8.18.0, v8.16.5

#6570 Adds 212130 to the 8.17.3 release notes
  docs/release-notes/8.17.asciidoc
Labels: release-notes, v8.17.0, v8.18.0, v8.17.3

#6571 Adds 212130 to the 8.16.5 release notes
  docs/release-notes/8.16.asciidoc
Labels: release-notes, v8.16.0, v8.17.0, v8.18.0, v8.16.3

#6589 Deletes Entity Analytics API
  docs/advanced-entity-analytics/api/asset-criticality-api-bulk-upsert.asciidoc
  docs/advanced-entity-analytics/api/asset-criticality-api-delete.asciidoc
  docs/advanced-entity-analytics/api/asset-criticality-api-get.asciidoc
  docs/advanced-entity-analytics/api/asset-criticality-api-index.asciidoc
  docs/advanced-entity-analytics/api/asset-criticality-api-list.asciidoc
  docs/advanced-entity-analytics/api/asset-criticality-api-overview.asciidoc
  docs/advanced-entity-analytics/api/asset-criticality-api-upsert.asciidoc
  docs/advanced-entity-analytics/asset-criticality.asciidoc
  docs/siem-apis.asciidoc
Labels: API, Feature: Entity Analytics, Team: Entity Analytics, v8.16.0, v8.17.0, v8.18.0, v8.19.0

#6590 Increase maximum Osquery timeout
  docs/detections/api/rules/rules-api-create.asciidoc
  docs/osquery/alerts-run-osquery.asciidoc
  docs/osquery/invest-guide-run-osquery.asciidoc
  docs/osquery/osquery-response-action.asciidoc
Labels: Feature: Osquery, v8.16.0, v8.17.0, v8.18.0, v8.19.0

#6588 Fixes incorrect integration reference
  docs/cloud-native-security/cspm-get-started-aws.asciidoc
Labels: v8.7.0, v8.8.0, v8.9.0, v8.10.0, v8.11.0, v8.12.0, v8.13.0, v8.14.0, v8.15.0, v8.16.0, v8.17.0, v8.18.0

#6610 Removes outdated timeline reference from AI Assistant page
  docs/AI-for-security/ai-security-assistant.asciidoc
Labels: v8.8.0, v8.9.0, v8.10.0, v8.11.0, v8.12.0, v8.13.0, v8.14.0, v8.15.0, v8.16.0, v8.17.0, v8.18.0

#6623 Adds placeholder pages for in-app linking purposes
  docs/getting-started/index.asciidoc
  docs/getting-started/siem-migration.asciidoc
Labels: v8.18.0

#6622 Entity store GA in 8.18
  docs/advanced-entity-analytics/entity-store.asciidoc
  docs/dashboards/entity-dashboard.asciidoc
Labels: Feature: Entity Analytics, Team: Entity Analytics, v8.18.0, v8.19.0

#6584 Creates CNVM permissions page
  docs/cloud-native-security/cloud-native-security-index.asciidoc
  docs/cloud-native-security/vuln-management-permissions.asciidoc
Labels: v8.16.0, v8.17.0, v8.18.0

#6635 Removes outdated section
  docs/detections/detection-engine-intro.asciidoc
  docs/getting-started/configure-integration-policy.asciidoc
Labels: v8.16.0, v8.17.0, v8.18.0

#6641 [8.18] New sub-feature priv for case assignees
  docs/cases/cases-req.asciidoc
Labels: Team: Threat Hunting, Feature: Cases, Priority: High, Effort: Small, v8.18.0

#6640 [8.18] CCS and ES|QL rule reqs
  docs/detections/rules-cross-cluster-search.asciidoc
Labels: Team: Detection Engine, Priority: High, Effort: Small, v8.18.0

#6648 updates LLM performance matrix
  docs/AI-for-security/llm-performance-matrix.asciidoc
Labels: v8.16.0, v8.17.0, v8.18.0

#6634 New entity store features
  docs/AI-for-security/attack-discovery.asciidoc
  docs/advanced-entity-analytics/advanced-entity-analytics-overview.asciidoc
  docs/advanced-entity-analytics/analyze-risk-score-data.asciidoc
  docs/advanced-entity-analytics/asset-criticality.asciidoc
  docs/advanced-entity-analytics/entity-risk-scoring.asciidoc
  docs/advanced-entity-analytics/entity-store.asciidoc
  docs/advanced-entity-analytics/ers-req.asciidoc
  docs/advanced-entity-analytics/images/preview-risky-entities.png
  docs/advanced-entity-analytics/turn-on-risk-engine.asciidoc
  docs/advanced-entity-analytics/view-entity-details.asciidoc
  docs/cloud-native-security/aws-securityhub.asciidoc
  docs/cloud-native-security/ingest-cncf-data.asciidoc
  docs/cloud-native-security/wiz.asciidoc
  docs/dashboards/entity-dashboard.asciidoc
  docs/dashboards/images/entity-dashboard.png
  docs/dashboards/images/service-risk-scores.png
  docs/detections/alerts-ui-manage.asciidoc
  docs/getting-started/images/users/user-asset-criticality.png
  docs/getting-started/images/users/user-observed-data.png
  docs/getting-started/images/users/user-risk-inputs.png
  docs/getting-started/users-page.asciidoc
  docs/management/hosts/hosts-overview.asciidoc
Labels: Feature: Entity Analytics, Priority: Medium, Effort: Medium, Team: Entity Analytics, v8.18.0, v8.19.0

#6563 [ESS][8.18] Editing, exporting, and importing prebuilt rules
  docs/detections/rules-ui-manage.asciidoc
Labels: Team: Detections/Response, Priority: High, Effort: Medium, Docset: ESS, v8.18.0

#6650 8.16.6 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.16.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.16.0, v8.17.0, v8.18.0

#6651 8.17.4 release notes
  docs/release-notes.asciidoc
  docs/release-notes/8.17.asciidoc
Labels: release-notes, Priority: High, Effort: Small, v8.17.0, v8.18.0

#6568 [ESS][8.18] Updating customized prebuilt rules
  docs/detections/detections-index.asciidoc
  docs/detections/images/prebuilt-rules-update-advanced.png
  docs/detections/images/prebuilt-rules-update-diff-advanced.png
  docs/detections/images/prebuilt-rules-update-diff-basic.png
  docs/detections/images/prebuilt-rules-update-diff.png
  docs/detections/prebuilt-rules-management.asciidoc
  docs/detections/prebuilt-rules-update-modified-unmodified.asciidoc
Labels: Team: Detections/Response, Priority: High, Effort: Medium, Docset: ESS, v8.18.0

#6667 Removes 214495 from the 8.17.4 release notes
  docs/release-notes/8.17.asciidoc
Labels: release-notes, v8.17.0, v8.18.0, v8.17.4

#6672 Add temporary file to trigger rebuild
  docs/docset.yml
  docs/index.md
  docs/reference/prebuilt-rules/index.md
Labels: backport-skip

#6674 Updates risk scoring requirements
  docs/advanced-entity-analytics/ers-req.asciidoc
Labels: Feature: Entity Analytics, Team: Entity Analytics, v8.18.0, v8.19.0

#6656 [8.18] Add a docs page about Detection-as-code rules management
  docs/detections/detection-engine-intro.asciidoc
Labels: Feature: Rules, v8.18.0

#6671 [8.16-8.18] Change upper limit for max unassociated notes
  docs/getting-started/advanced-setting.asciidoc
Labels: Team: Threat Hunting, Priority: High, Effort: Small, v8.16.0, v8.17.0, v8.18.0

#6681 Deletes reference to asciidoc Osquery API page
  docs/detections/api/rules/rules-api-create.asciidoc
Labels: API, Feature: Osquery, v8.16.0, v8.17.0, v8.18.0, v8.19.0

#6680 Deletes Endpoint management API
  docs/management/api/_common-reusable-content.asciidoc
  docs/management/api/_exceptions-api-reusable-content.asciidoc
  docs/management/api/_response-actions-api-reusable-content.asciidoc
  docs/management/api/blocklist-api.asciidoc
  docs/management/api/event-filters-api.asciidoc
  docs/management/api/execute-api.asciidoc
  docs/management/api/get-action-api.asciidoc
  docs/management/api/get-endpoint-api.asciidoc
  docs/management/api/get-file-api.asciidoc
  docs/management/api/host-isolation-api.asciidoc
  docs/management/api/host-isolation-exceptions-api.asciidoc
  docs/management/api/host-isolation-release-api.asciidoc
  docs/management/api/kill-process-api.asciidoc
  docs/management/api/list-actions-api.asciidoc
  docs/management/api/list-endpoints-api.asciidoc
  docs/management/api/management-api-index.asciidoc
  docs/management/api/running-procs-api.asciidoc
  docs/management/api/scan-api.asciidoc
  docs/management/api/suspend-process-api.asciidoc
  docs/management/api/trusted-apps-api.asciidoc
  docs/management/api/upload-api.asciidoc
  docs/siem-apis.asciidoc
Labels: Team: EDR Workflows, API, v8.16.0, v8.17.0, v8.18.0, v8.19.0

#6649 [8.18] Rule gaps and manual rule runs
  docs/detections/images/gaps-table.png
  docs/detections/images/manual-rule-run-table.png
  docs/detections/images/monitor-table.png
  docs/detections/rules-ui-manage.asciidoc
  docs/detections/rules-ui-monitor.asciidoc
Labels: Feature: Rules, Team: Detection Engine, Priority: High, Effort: Medium, Docset: ESS, v8.18.0
